{{#if isFavorited}}
  <button class="button btn-danger button--small pull-sm-right" onclick={{perform destroyFavoriteTask}}>
    {{#if destroyFavoriteTask.isRunning}}
      {{t "explore.favorite-button.removing"}}
    {{else}}
      {{t "explore.favorite-button.remove"}}
    {{/if}}
  </button>
{{else}}
  <button class="button button--primary button--small pull-sm-right" onclick={{perform createFavoriteTask}}>
    {{#if createFavoriteTask.isRunning}}
      {{t "explore.favorite-button.creating"}}
    {{else}}
      {{t "explore.favorite-button.create"}}
    {{/if}}
  </button>
{{/if}}