<div class="settings-container">
  <h1>{{t "settings.account.header"}}</h1>

  <div class="settings--section-head text-danger">
    {{t "settings.account.sub-header"}}
  </div>
  <div class="container">
    <div class="form-group row">
      <button class="button btn-danger btn-lg btn-block" onclick={{action (toggle "showConfirmModal" this)}}>
        {{#if deleteAccount.isRunning}}
          {{loading-spinner}}
        {{else}}
          {{t "settings.account.delete"}}
        {{/if}}
      </button>

      {{#if showConfirmModal}}
        {{to-elsewhere named="modal" send=(component "modals/confirm-action"
          title=(t "settings.account.confirm-title")
          text=(t "settings.account.confirm-text")
          onConfirm=(perform deleteAccount)
          onClose=(toggle-action "showConfirmModal" this))}}
      {{/if}}
    </div>
  </div>
</div>
