<div class="export-container settings-container">
  <header>
    <h1>Export</h1>

    <div class="settings--section-head">
      Automatically sync your library updates from Kitsu to MyAnimeList.
    </div>
    <div class="container">
      <div class="form-group row">
        {{#if model.taskInstance.isRunning}}
          <div class="text-xs-center w-100 m-t-1 m-b-1">
            {{loading-spinner size="large"}}
            <p>Loading Exports...</p>
          </div>
        {{else if model.taskInstance.error}}
          <div class="text-xs-center w-100 m-t-1 m-b-1">
            {{t "errors.load"}}
          </div>
        {{else if model.taskInstance.value}}
          <div class="mal-connected">
            {{!-- Need to store avatar src on server --}}
            {{!-- <a href={{concat "https://myanimelist.net/profile/" model.taskInstance.value.externalUserId}}>
              <img src="https://media.kitsu.io/users/avatars/2/large.jpeg?1444332940">
            </a> --}}
            <a href={{concat "https://myanimelist.net/profile/" model.taskInstance.value.externalUserId}} class="connected-user">{{model.taskInstance.value.externalUserId}}</a>
            <span class="export-remove">
              <a class="hint--left hint--bounce hint--rounded" aria-label="Remove exporter" {{action "removeExport" model.taskInstance.value}}>
                {{svg-jar "cancel"}}
              </a>
            </span>
          </div>
        {{else}}
          <button class="import-option" onclick={{action (toggle "exportModal" this)}}>
            <span class="import-logo">
              <img src="/images/mal.png">
            </span>
            <span class="import-title">
              Setup Export to MyAnimeList Account
            </span>
          </button>
        {{/if}}

        {{#if exportModal}}
          {{to-elsewhere named="modal" send=(component "application/progressing-modal"
            modalId="export-modal"
            modalBase="settings/export"
            component="export-basicauth"
            componentData=(hash siteName="MyAnimeList")
            onClose=(queue (toggle-action "exportModal" this) (route-action "refresh")))}}
        {{/if}}
      </div>
    </div>
  </header>

  {{#if model.taskInstance.value}}
    <div class="settings--section-head">
      Recent Sync Activity
    </div>
    {{#if model.taskInstance.value.libraryEntryLogs}}
      <div class="container">
        <div class="form-group row">
          {{settings/export/export-log export=model.taskInstance.value}}
        </div>
      </div>
    {{else}}
      <div class="text-xs-center w-100 m-t-1 m-b-1">
        {{t "errors.contentEmpty"}}
      </div>
    {{/if}}
  {{/if}}
</div>
