<div class="export-container settings-container">
  <header>
    <h1>Export</h1>

    <div class="settings--section-head">
      Automatically sync your library updates from Kitsu to Myanimelist.
    </div>
    <div class="container">
      <div class="form-group row">
        {{#if model.taskInstance.isRunning}}
          <div class="text-xs-center w-100 m-t-1 m-b-1">
            {{loading-spinner size="large"}}
            <p>Loading Exports...</p>
          </div>
        {{else if model.taskInstance.error}}
          <div class="text-xs-center w-100 m-t-1 m-b-1">
            {{t "errors.load"}}
          </div>
        {{else if taskValue}}
          <!-- Show if a user has connected their MAL -->
          <div class="mal-connected">
            <a href="https://myanimelist.net/profile/SrslyNotJosh">
              <img src="https://media.kitsu.io/users/avatars/2/large.jpeg?1444332940">
            </a>
              <a href="https://myanimelist.net/profile/SrslyNotJosh" class="connected-user">SrslyNotJosh</a>
            <span class="export-remove">
                <a class="hint--left hint--bounce hint--rounded" aria-label="Remove exporter" {{action "removeExport" export}}>
                {{svg-jar "cancel"}}
              </a>
            </span>
          </div>
        {{else}}
          <!-- Show if a user hasn't connected their MAL -->
          <button class="import-option" onclick={{action (toggle "exportModal" this)}}>
            <span class="import-logo">
              <img src="/images/mal.png">
            </span>
            <span class="import-title">
              Setup Export to MyAnimeList Account
            </span>
          </button>
        {{/if}}

        {{#if exportModal}}
          {{to-elsewhere named="modal" send=(component "application/progressing-modal"
            modalId="export-modal"
            modalBase="settings/export"
            component="export-basicauth"
            componentData=(hash siteName="MyAnimeList")
            onClose=(toggle-action "exportModal" this))}}
        {{/if}}
      </div>
    </div>
  </header>

  {{#if taskValue}}
    <div class="settings--section-head">
      Recent Sync Activity
    </div>
    {{#if taskValue.libraryEntryLogs}}
      <div class="container">
        <div class="form-group row">
          {{settings/export/export-log export=taskValue}}
        </div>
      </div>
    {{else}}
      <div class="text-xs-center w-100 m-t-1 m-b-1">
        {{t "errors.contentEmpty"}}
      </div>
    {{/if}}
  {{/if}}
</div>
