<div class="settings-container">
  <h1>{{t "settings.imports.header"}}</h1>

  <div class="settings--section-head">
    {{t "settings.imports.sub-header"}}
  </div>
  <div class="container">
    <div class="form-group row">
      <button class="button button--primary btn-lg btn-block" onclick={{action (toggle "importModal" this)}}>
        {{t "settings.imports.button"}}
      </button>

      {{#if importModal}}
        {{to-elsewhere named="modal" send=(component "application/auth-onboarding"
          modalId="auth-modal"
          component="import-select"
          componentData=(hash justImport=true)
          onClose=(toggle-action "importModal" this))}}
      {{/if}}
    </div>
  </div>

  <div class="settings--section-head">
    {{t "settings.imports.past-imports"}}
  </div>
  <div class="container">
    <div class="form-group row">
      {{#if model.taskInstance.isRunning}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{loading-spinner size="large"}}
          <p>{{t "settings.imports.loading"}}</p>
        </div>
      {{else if model.taskInstance.error}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{t "errors.load"}}
        </div>
      {{else if taskValue}}
        <div id="accordian" class="w-100">
          {{#each taskValue as |import index|}}
            <div class="card">
              <div class="card-header" role="tab">
                <h6 class="m-b-0">
                  <a data-toggle="collapse" data-parent="#accordian" href="#import-tab-{{index}}">
                    {{classify import.kind}} - {{moment-format import.createdAt "MMM, YYYY"}}
                  </a>
                </h6>
              </div>

              <div id="import-tab-{{index}}" class="collapse" role="tabpanel">
                <div class="card-block">
                  <p class="card-text">
                    <span class="font-weight-bold">{{t "settings.imports.status"}}</span> {{import.status}}<br>
                    {{#unless (eq import.status "queued")}}
                      <span class="font-weight-bold">{{t "settings.imports.entries"}}</span> {{import.total}}<br>
                      {{#if (eq import.status "failed")}}
                        <br>
                        <small>
                          {{t "settings.imports.error-part1"}} <a href="mailto:help@kitsu.io">{{t "settings.imports.error-part2"}}</a>{{t "settings.imports.error-part3"}}
                        </small>
                      {{/if}}
                    {{/unless}}
                  </p>
                </div>
              </div>
            </div>
          {{/each}}

          {{#if hasNextPage}}
            <div class="text-xs-center w-100">
              <button class="button button--primary btn-block" disabled={{if isLoading "disabled"}} {{action (route-action "onPagination")}}>
                {{t "settings.imports.more"}}
              </button>
            </div>
          {{/if}}
        </div>
      {{else}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{t "errors.contentEmpty"}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
