<div class="settings-container">
  <h1>{{t "settings.index.header"}}</h1>

  <div class="settings--section-head">
    {{t "settings.index.sub-header"}}
  </div>
  <div class="container">
    {{! name }}
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.index.name"}}</label>
      <div class="col-xs-8">
        {{one-way-text name
          update=(action (mut name))
          class="form-control"
        }}
      </div>
    </div>
    {{! slug }}
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.index.url"}}</label>
      <div class="col-xs-8">
        {{one-way-text slug
          update=(action (mut slug))
          class="form-control"
        }}
        <small>https://kitsu.io/users/{{slug}}</small>
      </div>
    </div>
    {{! email }}
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.index.email"}}</label>
      <div class="col-xs-8">
        {{one-way-email user.email
          update=(action (mut user.email))
          class="form-control"
        }}
        <small>{{t "settings.index.email-message"}}</small>
      </div>
    </div>
    {{! language }}
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.index.language"}}</label>
      <div class="col-xs-8">
        {{#power-select
          renderInPlace=true
          selected=(or selectedLanguage currentLanguage)
          searchField="text"
          options=languages
          onchange=(action "changeLanguage") as |language|
        }}
          {{language.text}}
        {{/power-select}}
        <small>{{t "settings.index.translate-help" htmlSafe=true}}</small>
      </div>
    </div>
    {{! timezone }}
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.index.time-zone"}}</label>
      <div class="col-xs-8">
        {{#power-select
          renderInPlace=true
          selected=(or user.timeZone timezoneGuess)
          options=timezones
          onchange=(action (mut user.timeZone)) as |timezone|
        }}
          {{timezone}}
        {{/power-select}}
      </div>
    </div>
  </div>

  <div class="settings--section-head">
    {{t "settings.index.content"}}
  </div>
  <div class="container">
    {{! themes }}
    {{!--
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.index.theme"}}</label>
      <div class="col-xs-8">
        {{#power-select
          renderInPlace=true
          options=themes
          selected=selectedTheme
          searchEnabled=false
          onchange=(action "changeTheme") as |theme|
        }}
          {{theme.text}}
        {{/power-select}}
      </div>
    </div>
    --}}

    {{! country }}
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.index.country"}}</label>
      <div class="col-xs-8">
        {{#power-select
          renderInPlace=true
          options=countries
          selected=selectedCountry
          searchField="text"
          placeholder="Worldwide"
          onchange=(action "changeCountry") as |country|
        }}
          {{country.text}}
        {{/power-select}}
      </div>
    </div>

    {{! titles }}
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.index.titles"}}</label>
      <div class="col-xs-8">
        {{#power-select
          renderInPlace=true
          options=titles
          selected=selectedTitle
          searchEnabled=false
          onchange=(action "changeTitle") as |title|
        }}
          {{title.text}}
        {{/power-select}}
        <small>{{t "settings.index.titles-message"}}</small>
      </div>
    </div>

    {{! rating type }}
    <div class="form-group row rating-type">
      <label class="col-xs-4 col-form-label">{{t "settings.index.rating"}}</label>
      <div class="col-xs-8">
        {{#power-select
          renderInPlace=true
          options=ratings
          selected=selectedRating
          searchEnabled=false
          onchange=(action "changeRating") as |rating|
        }}
          {{rating.text}}
        {{/power-select}}
        <small>{{t "settings.index.rating-message"}}</small>
      </div>
    </div>

    {{! adult filter }}
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.index.adult"}}</label>
      <div class="col-xs-8">
        {{#power-select
          renderInPlace=true
          options=filters
          selected=selectedFilter
          searchEnabled=false
          onchange=(action "changeFilter") as |filter|
        }}
          {{filter.text}}
        {{/power-select}}
        <small>{{t "settings.index.adult-message"}}</small>
      </div>
    </div>

    <div class="form-group row">
      <button class="button button--primary btn-lg btn-block" disabled={{unless isValid "disabled"}} onclick={{perform updateProfile}}>
        {{#if updateProfile.isRunning}}
          {{loading-spinner size="small"}}
        {{else}}
          {{t "settings.index.update"}}
        {{/if}}
      </button>
    </div>
  </div>
</div>
