<div class="settings-container">
  <h1>{{t "settings.linked-accounts.header"}}</h1>

  <div class="settings--section-head">
    {{t "settings.linked-accounts.sub-header"}}
  </div>
  <div class="container">
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.linked-accounts.facebook"}}</label>
      <div class="col-xs-8">
        <label class="form-check-label">
          {{#if session.account.facebookId}}
            {{facebook-button text=(t "settings.linked-accounts.disconnect")
              disabled=facebookTasks.isRunning
              onclick=(perform disconnectFacebook)}}
          {{else}}
            {{facebook-button text=(t "settings.linked-accounts.connect")
              disabled=facebookTasks.isRunning
              onclick=(perform connectFacebook)}}
          {{/if}}
        </label>
      </div>
    </div>
  </div>
</div>
