<div class="notification-settings-container settings-container">
  <h1>{{t "settings.notifications.header"}}</h1>

  <div class="settings--section-head">
    {{t "settings.notifications.sub-header"}}
  </div>
  <div class="container">
    {{#if model.taskInstance.isRunning}}
      <div class="text-xs-center w-100 m-t-1 m-b-1">
        {{loading-spinner size="large"}}
        <p>{{t "settings.notifications.loading"}}</p>
      </div>
    {{else if model.taskInstance.error}}
      <div class="text-xs-center w-100 m-t-1 m-b-1">
        {{t "errors.load"}}
      </div>
    {{else if settings}}
      <div class="row">
        <ul class="notification-settings--table">
          <li class="notification-settings--headers">
            <div class="notification-settings--right">
              <div class="settings-column">
                {{t "settings.notifications.contexts.web"}}
              </div>
              <!--
              <div class="settings-column">
                {{t "settings.notifications.contexts.email"}}
              </div>
              -->
              <div class="settings-column">
                {{t "settings.notifications.contexts.mobile"}}
              </div>
            </div>
          </li>
          {{#each settings as |setting|}}
            <li class="notification-settings--item">
              <label class="settings-column">
                {{t (concat "settings.notifications.descriptions." setting.settingType) htmlSafe=true}}
              </label>
              <div class="notification-settings--right">
                <div class="settings-column">
                  <label class="checkbox-label">
                    {{one-way-checkbox setting.webEnabled
                      update=(action (mut setting.webEnabled))
                    }}
                  </label>
                </div>
                <!--
                <div class="settings-column">
                  <label class="checkbox-label">
                    {{one-way-checkbox setting.emailEnabled
                      update=(action (mut setting.emailEnabled))
                    }}
                  </label>
                </div>
                -->
                <div class="settings-column">
                  <label class="checkbox-label">
                    {{one-way-checkbox setting.mobileEnabled
                      update=(action (mut setting.mobileEnabled))
                    }}
                  </label>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="form-group row">
        <label class="col-xs-4 col-form-label">{{t "settings.notifications.newsletter.newsletter"}}</label>
        <div class="col-xs-8">
          <label class="form-check-label">
            {{one-way-checkbox session.account.subscribedToNewsletter
              update=(action (mut session.account.subscribedToNewsletter))
              class="form-check-input"
            }}
            {{t "settings.notifications.newsletter.subscribed"}}
          </label>
          <small>{{t "settings.notifications.newsletter.message"}}</small>
        </div>
      </div>
      <div class="notification-settings-button">
        <button class="button button--primary btn-lg notification-settings-button" disabled={{unless isValid "disabled"}} onclick={{perform updateSettingsTask}}>
          {{#if updateSettingsTask.isRunning}}
            {{loading-spinner size="small"}}
          {{else}}
            {{t "settings.notifications.update"}}
          {{/if}}
        </button>
      </div>
    {{/if}}
  </div>
</div>
