<div class="settings-container">
  <h1>{{t "settings.password.header"}}</h1>

  <div class="settings--section-head">
    {{t "settings.password.sub-header"}}
  </div>
  <div class="container">
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.password.new-pswd"}}</label>
      <div class="col-xs-8">
        {{one-way-password
          class="form-control"
          update=(action (mut user.password))
        }}
      </div>
    </div>

    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.password.confirm-pswd"}}</label>
      <div class="col-xs-8">
        {{one-way-password passwordConfirm
          class="form-control"
          update=(action (mut passwordConfirm))
        }}
      </div>
    </div>

    <div class="form-group row">
      <button class="button button--primary btn-lg btn-block" disabled={{unless isValid "disabled"}} onclick={{perform updatePassword}}>
        {{#if updatePassword.isRunning}}
          {{loading-spinner size="small"}}
        {{else}}
          {{t "settings.password.update-pswd"}}
        {{/if}}
      </button>
    </div>
  </div>
</div>
