<h1>Password</h1>

<div class="settings--section-head">
  Change your password
</div>
<div class="container">
  <div class="form-group row">
    <label class="col-xs-4 col-form-label">New Password</label>
    <div class="col-xs-8">
      {{one-way-password
        class="form-control"
        update=(action (mut user.password))
      }}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-4 col-form-label">Confirm Password</label>
    <div class="col-xs-8">
      {{one-way-password passwordConfirm
        class="form-control"
        update=(action (mut passwordConfirm))
      }}
    </div>
  </div>

  <div class="form-group row">
    <button class="button button--primary btn-lg btn-block" disabled={{unless isValid "disabled"}} onclick={{perform updatePassword}}>
      {{#if updatePassword.isRunning}}
        {{loading-spinner size="small"}}
      {{else}}
        Update Password
      {{/if}}
    </button>
  </div>
</div>
