<h1>Privacy</h1>

<div class="settings--section-head">
  Adjust others ability to view your content
</div>
<div class="container">
  <div class="form-group row">
    <label for="example-email-input" class="col-xs-4 col-form-label">Discoverability</label>
    <div class="col-xs-8">
      <label class="form-check-label">
        {{one-way-checkbox user.shareToGlobal
          update=(action (mut user.shareToGlobal))
          class="form-check-input"
        }}
        Show in Global Feed
      </label>
      <small>If disabled, your posts will only be available to your followers and guests to your profile.</small>
    </div>
  </div>

  <div class="form-group row">
    <button class="button button--primary btn-lg btn-block" disabled={{unless user.hasDirtyAttributes "disabled"}} onclick={{perform updateProfile}}>
      {{#if updateProfile.isRunning}}
        {{loading-spinner size="small"}}
      {{else}}
        Update Profile
      {{/if}}
    </button>
  </div>
</div>
