<div class="settings-container">
  <h1>{{t "settings.privacy.header"}}</h1>

  <div class="settings--section-head">
    {{t "settings.privacy.sub-header"}}
  </div>
  <div class="container">
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">{{t "settings.privacy.discover"}}</label>
      <div class="col-xs-8">
        <label class="form-check-label">
          {{one-way-checkbox user.shareToGlobal
            update=(action (mut user.shareToGlobal))
            class="form-check-input"
          }}
          {{t "settings.privacy.checkbox"}}
        </label>
        <small>{{t "settings.privacy.message"}}</small>
      </div>
    </div>

    <div class="form-group row">
      <button class="button button--primary btn-lg btn-block" disabled={{unless user.hasDirtyAttributes "disabled"}} onclick={{perform updateProfile}}>
        {{#if updateProfile.isRunning}}
          {{loading-spinner size="small"}}
        {{else}}
          {{t "settings.privacy.update"}}
        {{/if}}
      </button>
    </div>
  </div>
</div>
