<span class="button-label" data-test-follow-button>
  {{#if (or (or getFollowStatus.isRunning loading) toggleFollow.isRunning)}}
    {{loading-spinner}}
  {{else}}
    {{#if isFollowing}}
      {{t "follow-button.unfollow"}}
    {{else}}
      {{t "follow-button.follow"}}
    {{/if}}
  {{/if}}
</span>