<div class="card image-card" {{action "triggerFileSelect"}}>
  <div class="card-block">
    {{#if image}}
      <img src={{image image}}>
    {{else}}
      {{svg-jar "image"}}
      <p>{{t "image-form.help-text"}}</p>
    {{/if}}
  </div>
</div>

{{! hidden file input }}
{{file-select update=(action "selectedImage")}}

{{! cropperjs }}
{{#if showCropperModal}}
  {{to-elsewhere named="modal" send=(component "modals/image-cropper"
    image=dataURI
    aspectRatio=aspectRatio
    update=(action "updateImage")
    onClose=(action "closeModal")
  )}}
{{/if}}