{{#if (or getLikes.isRunning getLocalLike.isRunning)}}
  {{loading-spinner size="small"}}
{{else}}
  <a href="#" class="like-stream-item {{if isLiked "is-liked"}}" {{action "toggleLike"}}>
    <span class="heart-wrapper"></span>
  </a>
  {{#if showUsers}}
    {{#if likes}}
      <ul class="stream-item-participants">
        {{#each (take 4 likes) as |liker|}}
          <li class="stream-like {{if liker.isNew "new-like"}} {{if liker.isDeleted "removed-like"}}">
            <a class="like-avatar" href={{href-to "users.index" liker.user}}>
              <img src={{image liker.user.avatar}}>
            </a>
          </li>
        {{/each}}
        {{#if (gt likesCount 4)}}
          <li class="stream-like-count" {{action (toggle "modalOpen" this)}}>
            <a>{{likesCount}}</a>
          </li>
        {{/if}}
      </ul>
    {{/if}}
  {{else}}
    <span class="sm-comment-count" {{action (toggle "modalOpen" this)}}>{{likesCount}}</span>
  {{/if}}
{{/if}}

{{! modal }}
{{#if (and modalOpen (gt likesCount 0))}}
  {{to-elsewhere named="modal" send=(component "likeable-resource/modal"
    likes=likes
    updateLikes=(action (mut likes))
    modalId="likeable-resource-modal"
    onClose=(toggle-action "modalOpen" this)
  )}}
{{/if}}