{{! TODO - @Josh - Reviews }}
<div class="media-left">
  {{! Show either the user's avatar or media poster image on the left side }}
  {{#if isUserFocused}}
    <a href={{href-to "users.index" review.user}} style="height: 100%;">
      {{lazy-image url=(image review.user.avatar "small")}}
    </a>
  {{else}}
    <a href={{href-to (concat (model-type review.media) ".show") review.media}}>
      {{lazy-image url=(image review.media.posterImage "large")}}
    </a>
  {{/if}}
</div>
<div class="media-body">
  <small class="media-heading">
    {{! Show media title if we aren't user focused }}
    {{#unless isUserFocused}}
      <h4>
        <a href={{href-to (concat (model-type review.media) ".show") review.media}}>
          {{review.media.canonicalTitle}}
        </a>
      </h4>
    {{/unless}}

    {{! review i18n title }}
    {{i18nTitle}}

    {{! TODO - @Josh - Review rating stars }}
    {{star-rating review.rating readOnly=true}}
  </small>

  {{! review content }}
  <div class="comment-body">
    {{! legacy reviews are from Hummingbird }}
    {{#if isExpanded}}
      {{#if review.legacy}}
        {{{review.content}}}
      {{else}}
        {{{review.contentFormatted}}}
      {{/if}}
    {{else}}
      {{#if review.legacy}}
        {{text-clipper review.content length=400 options=(hash html=true imageWeight=220)}}
      {{else}}
        {{text-clipper review.contentFormatted length=400 options=(hash html=true)}}
      {{/if}}
    {{/if}}
  </div>

  {{! review likes }}
  <div class="stream-item-activity">
    {{likeable-resource
      resource=review
      likesCount=review.likesCount
      likesCountUpdate=(action (mut review.likesCount))
      showUsers=true
    }}
  </div>

  {{! review actions }}
  <div class="review-action pull-sm-right">
    {{! edit review }}
    {{#if (can-mutate review.user review)}}
      <a data-toggle="modal" data-target="#{{elementId}}-review-modal" href="#" {{action (toggle "reviewOpen" this)}}>edit</a>
      {{#if reviewOpen}}
        {{to-elsewhere named="modal" send=(component "modals/media-review"
          modalId=(concat elementId "-review-modal")
          onClose=(toggle-action "reviewOpen" this)
          review=review
          updateEntry=(action "updateEntry")
        )}}
      {{/if}}
    {{/if}}
  </div>
</div>