{{yield}}

{{! Tethered Tooltip }}
{{#if showTooltip}}
  <div>
    {{#ember-tether
      class=(concat class " media-tooltip")
      target=(concat "#" elementId)
      attachment=(or attachment "middle left")
      targetAttachment=(or targetAttachment "middle right")
      offset="0px 0px"
      constraints=(array (hash
        to="scrollParent"
        attachment="together"
      ))
    }}
      <div>
        <div>
          <span class="media-title">{{media.yearlessTitle}}</span>
          <span class="media-year">{{media.year}}</span>
        </div>
        {{#if media.averageRating}}<div class="media-ratings {{percentageClass}}">{{media.averageRating}}%</div>{{/if}}
        {{media/media-rankings media=media length="short"}}
        <div class="media-synopsis">{{media.synopsis}}</div>
      </div>
    {{/ember-tether}}
  </div>
{{/if}}
