{{search-input
  text=value
  showIcon=showIcon
  inputClass="form-control"
  update=(action "update")
  disabled=disabled
  placeholder=placeholder}}

{{#if request.isRunning}}
  <div class="text-xs-center">
    {{loading-spinner size="small"}}
  </div>
{{else}}
  {{#if (and items isOpened)}}
    <ul class="typeahead-items-container nav">
      {{#each items as |item|}}
        <li class="typeahead-item-container" {{action "close"}}>
          {{yield item}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}
