<div class="footer-social">
  <a href="https://github.com/hummingbird-me/hummingbird" class="kitsu-social">
    {{svg-jar "l-github"}}
  </a>
  {{! TODO(@Josh) - Twitter/Facebook links }}
  <a href="https://twitter.com/HeyKitsu" class="kitsu-social">
    {{svg-jar "l-twitter"}}
  </a>
  <a href="#" class="kitsu-social">
    {{svg-jar "l-facebook"}}
  </a>
</div>

<div class="footer-links">
  <a href="mailto:josh@kitsu.io" class="site-link">Contact</a>
  <a href={{href-to "privacy"}} class="site-link">Privacy</a>
  <a href={{href-to "terms"}} class="site-link">Terms</a>
  <a href={{href-to "about"}} class="site-link">About</a>
</div>