<div class="footer-applinks">
  <a href="https://play.google.com/store/apps/details?id=com.everfox.animetrackerandroid">
    {{svg-jar "google-play"}}
  </a>
  <a href="https://itunes.apple.com/us/app/kitsu-anime/id590452826">
    {{svg-jar "app-store"}}
  </a>
</div>

<div class="footer-s0cial">
  <a href="https://github.com/hummingbird-me/kitsu-tools" class="kitsu-social">
    {{svg-jar "l-github"}}
  </a>
  <a href="https://invite.gg/kitsu" class="kitsu-social">
    {{svg-jar "l-discord"}}
  </a>
  <a href="https://twitter.com/HeyKitsu" class="kitsu-social">
    {{svg-jar "l-twitter"}}
  </a>
  <a href="https://www.facebook.com/kitsu" class="kitsu-social">
    {{svg-jar "l-facebook"}}
  </a>
</div>

<div class="footer-links">
  <a href="mailto:josh@kitsu.io" class="site-link">{{t "components.sidebar-footer.contact"}}</a>
  <a href={{href-to "terms"}} class="site-link">{{t "components.sidebar-footer.terms"}}</a>
  <a href={{href-to "privacy"}} class="site-link">{{t "components.sidebar-footer.privacy"}}</a>
</div>
