<div class="section-head" data-test-selector="library-entries">
  <span class="section-title">{{statusName}}</span>
  <span class="section-stats" data-test-selector="library-entries-stats">{{stats}}</span>
</div>

{{#each entries as |entry|}}
  {{users/library/library-layout-list/entry
    entry=entry
    save=save
    delete=delete
  }}
{{else}}
  <div class="empty-wrapper">
    <div class="library-section-empty">
      <span>
        {{#if (can-mutate user)}}
          {{t "users.library.emptyOwner" link=(create-link (t "users.library.browse" type=(capitalize mediaType)) (concat mediaType ".index"))}}
        {{else}}
          {{t "users.library.emptyGuest" user=user.name}}
        {{/if}}
      </span>
    </div>
  </div>
{{/each}}
