{{! Sorting Header }}
<div class="library-sorting">
  <div class="col-md-12 col-lg-7 library-sort-left">
    <div class="library-sort library-sort-title" {{action "sort" "title"}}>
      Title
      {{users/library/library-layout-list/sorting-arrow sort=active sortKey="title"}}
    </div>
  </div>
  <div class="col-md-12 col-lg-5 library-sort-right">
    <div class="library-sort library-sort-progress" {{action "sort" "progress"}}>
      Progress
      {{users/library/library-layout-list/sorting-arrow sort=active sortKey="progress"}}
    </div>
    <div class="library-sort library-sort-rating" {{action "sort" "rating" "desc"}}>
      Rating
      {{users/library/library-layout-list/sorting-arrow sort=active sortKey="rating"}}
    </div>
    <div class="library-sort library-sort-type" {{action "sort" "type"}}>
      Type
      {{users/library/library-layout-list/sorting-arrow sort=active sortKey="type"}}
    </div>
  </div>
</div>