<div class="quick-update-media-wrapper">
  <div class="overlay-panel">
    {{! Update actions }}
    <div class="quick-update-actions">
      <div class="action-wrapper">
        {{#unless isCompleted}}
          {{#if canComplete}}
            <button class="button button--quick-update" {{action (perform updateEntryTask)}}>
              {{t "dashboard.quick-update.overlay.button.complete"}}
            </button>
          {{else}}
            <button class="button button--quick-update" onclick={{perform updateEntryTask}}>
              {{#if updateEntryTask.isRunning}}
                {{loading-spinner}}
              {{else unless canComplete}}
                {{t "dashboard.quick-update.overlay.button.html"
                  type=entry.media.modelType
                  num=nextProgress
                  class="progress-count"
                  htmlSafe=true
                }}
              {{/if}}
            </button>
          {{/if}}
        {{else}}
          {{! Rating }}
          <div class="quick-update--rate">
            {{library-entry/state
              libraryEntry=entry
              media=entry.media
              showHeader=false
              hideProgress=true
              hideRemove=true
            }}
          </div>
        {{/unless}}
      </div>
    </div>
    {{! Media information }}
    <div class="quick-update-title-block">
      <h6 class="series-title">
        <a class="update--entry-title" href={{href-to (concat entry.media.modelType ".show") entry.media.slug}}>
          {{entry.media.computedTitle}}
        </a>
      </h6>
      <small class="series-progress">
        {{unitText}}
      </small>
    </div>
  </div>

  {{! Media Poster }}
  {{lazy-image src=(image entry.media.posterImage "medium")}}
</div>

{{! Progress }}
{{#if entry.media.unitCount}}
  <div class="progress">
    <span class="progress-bar">
      <span role="presentation" class="progress-completed" style={{completedPercent}}></span>
    </span>
  </div>
{{/if}}
