<div class="quick-update-media-wrapper">
  <div class="overlay-panel">
    {{! Update actions }}
    <div class="quick-update-actions">
      <div class="action-wrapper">
        {{#unless isCompleted}}
          {{#if canComplete}}
            {{#library-entry/state/rating-button class="button button--quick-update" onClick=(perform updateEntryTask)}}
              {{t "dashboard.quick-update.overlay.button.complete"}}
            {{/library-entry/state/rating-button}}
          {{else}}
            <button class="button button--quick-update" onclick={{perform updateEntryTask}}>
              {{#if updateEntryTask.isRunning}}
                {{loading-spinner}}
              {{else unless canComplete}}
                {{t-html "dashboard.quick-update.overlay.button.html"
                  type=entry.media.modelType
                  num=nextProgress
                  class="progress-count"
                }}
              {{/if}}
            </button>
          {{/if}}
        {{else}}
          {{! Rating }}
          <div class="quick-update--rate">
            {{library-entry/state libraryEntry=entry media=entry.media showHeader=false}}
          </div>

          {{! Review }}
          <button class="button button--quick-update review-button" onclick={{action (toggle "showModal" this)}}>
            {{#if entry.review.isNew}}
              {{t "dashboard.quick-update.overlay.review.write"}}
            {{else}}
              {{t "dashboard.quick-update.overlay.review.edit"}}
            {{/if}}
          </button>
          {{#if showModal}}
            {{to-elsewhere named="modal" send=(component "modals/media-review"
              onClose=(toggle-action "showModal" this)
              review=entry.review.content
            )}}
          {{/if}}
        {{/unless}}
      </div>
    </div>
    {{! Media information }}
    <div class="quick-update-title-block">
      <h6 class="series-title">
        <a class="update--entry-title" href={{href-to (concat entry.media.modelType ".show") entry.media.slug}}>
          {{entry.media.computedTitle}}
        </a>
      </h6>
      <small class="series-progress">
        {{episodeText}}
      </small>
    </div>
  </div>

  {{! Media Poster }}
  {{lazy-image src=(image entry.media.posterImage "medium")}}
</div>

{{! Progress }}
{{#if entry.media.unitCount}}
  <div class="progress">
    <span class="progress-bar">
      <span role="presentation" class="progress-completed" style={{completedPercent}}></span>
    </span>
  </div>
{{/if}}
