<div class="quick-update-media-wrapper">
  <div class="overlay-panel">
    <div class="quick-update-actions">
      <div class="action-wrapper">
        {{#if (not isCompleted)}}
          <button class="button button--quick-update" {{action (perform updateEntryTask)}}>
            {{#if updateEntryTask.isRunning}}
              {{t "dashboard.quickUpdate.mark"}}
              <span class="loading loading--small"></span>
              {{t "dashboard.quickUpdate.complete"}}
            {{else}}
              {{#if canComplete}}
                {{t "dashboard.quickUpdate.complete"}}
              {{else}}
                {{t "dashboard.quickUpdate.mark"}}
                <span class="progress-count">
                  {{t (concat "dashboard.quickUpdate." unitType) num=nextProgress}}
                </span>
                {{t "dashboard.quickUpdate.complete"}}
              {{/if}}
            {{/if}}
          </button>
        {{else}}

          <div class="quick-update--rate">
            {{star-rating entry.rating
              onClick=(action "rateEntry")
            }}
          </div>

          {{#if (and entry.review.content (not entry.review.isNew))}}
            <button class="button button--quick-update review-button" onclick={{action (toggle "editReviewModal" this)}}>
              Edit Review
            </button>
            {{#if editReviewModal}}
              {{to-elsewhere named="modal" send=(component "modals/media-review"
                modalId="review-modal"
                onClose=(toggle-action "editReviewModal" this)
                media=entry.media
                entry=entry
                review=entry.review.content
                updateEntry=updateEntry
              )}}
            {{/if}}
          {{else}}
            <button class="button button--quick-update review-button" onclick={{action (toggle "reviewModal" this)}}>
              Write Review
            </button>
            {{#if reviewModal}}
              {{to-elsewhere named="modal" send=(component "modals/media-review"
                modalId="review-modal"
                onClose=(toggle-action "reviewModal" this)
                media=entry.media
                entry=entry
                updateEntry=updateEntry
              )}}
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="quick-update-title-block">
      <h6 class="series-title">
        <a class="update--entry-title" href={{href-to (concat (model-type entry.media) ".show") entry.media}}>
          {{entry.media.computedTitle}}
        </a>
      </h6>
      <small class="series-progress">
        {{episodeText}}
      </small>
    </div>
  </div>

  {{! Media Poster }}
  {{lazy-image url=(image entry.media.posterImage "medium")}}
</div>

<div class="progress">
  <span class="progress-bar">
    <span role="presentation" class="progress-completed" style="width: 12%;"></span>
  </span>
</div>
