<div class="quick-update-media-wrapper">
  <div class="overlay-panel">
    <div class="quick-update-actions">
      <div class="action-wrapper">
        {{#if (not isCompleted)}}
          <a class="update--entry-title" href={{href-to (concat (model-type entry.media) ".show") entry.media}}>
            {{entry.media.computedTitle}}
          </a>
          <button class="button button--quick-update" {{action (perform updateEntryTask)}}>
            {{#if updateEntryTask.isRunning}}
              {{t "dashboard.quickUpdate.mark"}}
              <span class="loading loading--small"></span>
              {{t "dashboard.quickUpdate.complete"}}
            {{else}}
              {{#if canComplete}}
                {{t "dashboard.quickUpdate.complete"}}
              {{else}}
                {{t "dashboard.quickUpdate.mark"}}
                <span class="progress-count">
                  {{t (concat "dashboard.quickUpdate." unitType) num=nextProgress}}
                </span>
                {{t "dashboard.quickUpdate.complete"}}
              {{/if}}
            {{/if}}
          </button>
        {{else}}

          <div class="quick-update--rate">
            {{star-rating entry.rating
              onClick=(action "rateEntry")
            }}
          </div>

          <button class="button button--quick-update" onclick={{action (toggle "reviewModal" this)}}>
            Write Review
          </button>
          {{#if reviewModal}}
            {{#unless (and entry.review (not entry.review.isNew))}}
              {{to-elsewhere named="modal" send=(component "modals/media-review"
                modalId="review-modal"
                onClose=(toggle-action "reviewModal" this)
                media=entry.media
                entry=entry
                updateEntry=updateEntry
              )}}
            {{else}}
              {{to-elsewhere named="modal" send=(component "modals/media-review"
                modalId="review-modal"
                onClose=(toggle-action "reviewModal" this)
                review=entry.review.content
                updateEntry=updateEntry
              )}}
            {{/unless}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="quick-update-title-block">
      <h6 class="series-title">
        {{entry.media.computedTitle}}
      </h6>
      <small class="series-progress">
        {{episodeText}}
      </small>
    </div>
  </div>

  {{! Episode Thumbnail / Media Poster }}
  {{#if entry.nextUnit}}
    {{lazy-image url=(image entry.nextUnit.thumbnail) fallback=(image entry.media.posterImage "medium")}}
  {{else}}
    {{lazy-image url=(image entry.media.posterImage "medium")}}
  {{/if}}
</div>
