<div class="media-unit--block {{if (gte libraryEntry.progress unit.number) "complete"}}">
  <div class="thumbnail-wrapper">
    <span class="completion-status">{{t "media.show.units.completed" type=unit.modelType}}</span>
    {{#if (is-object-empty unit.thumbnail)}}
      {{lazy-image src=(image media.posterImage "medium")}}
    {{else}}
      {{lazy-image src=(image unit.thumbnail)}}
    {{/if}}
  </div>

  <div class="thumbnail-description">
    <h6>
      <span class="unit-number">
        {{t "media.show.units.unit" type=unit.modelType}}
        {{unit.number}}
      </span>
      {{#if (not (eq unit.canonicalTitle (concat (capitalize unit.modelType) " " unit.number)))}}
        <span class="info-emphasis thumb-caption">{{unit.canonicalTitle}}</span>
      {{/if}}
    </h6>
  </div>
</div>
