{{#if videos}}
  <div class="col-sm row">
    <div class="episode-list">
      {{! Language Selector }}
      {{episodes/video-picker/language-selector
        videos=videos
        onChange=onChange
        selectedVideo=selectedVideo
      }}

      {{! Episode Shortcut Bar }}
      <ul class="row">
        {{#each (take 9 episodes) as |ep|}}
          {{#if (eq ep episode)}}
            <li class="col-sm active {{if isPlaying "playing" "paused"}}">
              <a href="#" {{action onClickCurrent}}>
                {{t "components.episodes.shortcut-bar.episode-number" number=ep.number}}
              </a>
            </li>
          {{else}}
            <li class="col-sm">
              <a href={{href-to "anime.show.episodes.show" ep}}>
                {{t "components.episodes.shortcut-bar.episode-number" number=ep.number}}
              </a>
            </li>
          {{/if}}
        {{/each}}
        <li class="col-sm more">
          <a href={{href-to "anime.show.episodes" media}}>
            <svg class="icon">
              <circle r="2" cy="8" cx="2"></circle>
              <circle r="2" cy="8" cx="8"></circle>
              <circle r="2" cy="8" cx="14"></circle>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  {{! Streamer Plug }}
  {{to-elsewhere named="streamer-plug" send=(component "episodes/streamer-plug" streamer="hulu")}}
{{/if}}
