{{#if didUndo}}
  Undone!
{{/if}}

{{#if didUpdate}}
  Episode {{episode.number}} marked done.
  {{#if undoLibraryEntryUpdate.isRunning}}
    {{loading-spinner size="small"}}
  {{else}}
    <button {{action (perform undoLibraryEntryUpdate)}}>Undo</button>
  {{/if}}
{{/if}}

{{#if showUpdatePrompt}}
  {{#if updateLibraryEntry.isRunning}}
    {{loading-spinner size="small"}}
  {{else}}
    <button {{action (perform updateLibraryEntry true)}}>
      Mark Watched
    </button>
  {{/if}}
{{/if}}

{{#if showJoinPrompt}}
  <a {{action (toggle "authOpened" this)}}>
    Join Kitsu to track this show
  </a>
  to track this show
{{/if}}

{{! Authentication Modal }}
{{#if authOpened}}
  {{to-elsewhere named="modal" send=(component "application/auth-onboarding"
    modalId="auth-modal"
    component="social-auth"
    onClose=(toggle-action "authOpened" this))}}
{{/if}}
