{{#if didUndo}}
  Undone!
{{/if}}

{{#if didUpdate}}
  <div class="mark-watched-prompt">
    {{t "components.episodes.fast-forward" number=episode.number}}
    {{#if undoLibraryEntryUpdate.isRunning}}
      {{loading-spinner size="small"}}
    {{else}}
      <a {{action (perform undoLibraryEntryUpdate)}} class="prompt-cta" href="#">{{t "components.episodes.undo-update"}}</a>
    {{/if}}
  </div>
{{/if}}

{{#if showUpdatePrompt}}
  <div class="mark-watched-prompt">
    {{t "components.episodes.update-progress" number=episode.number}}
    {{#if updateLibraryEntry.isRunning}}
      {{loading-spinner size="small"}}
    {{else}}
      <a {{action (perform updateLibraryEntry true)}} class="prompt-cta" href="#">
        {{t "components.episodes.watched"}}
      </a>
    {{/if}}
  </div>
{{/if}}

{{#if showJoinPrompt}}
  <div class="join-prompt">
    {{t "components.episodes.join-prompt.pitch"}}
    <a {{action (toggle "authOpened" this)}}>
      {{t "components.episodes.join-prompt.register"}}
    </a>
  </div>
{{/if}}

{{! Authentication Modal }}
{{#if authOpened}}
  {{to-elsewhere named="modal" send=(component "application/auth-onboarding"
    modalId="auth-modal"
    component="social-auth"
    onClose=(toggle-action "authOpened" this))}}
{{/if}}
