<div class="filter-header">
  <label class="filter-title">
    {{t "media.index.filters.categories"}}
  </label>
  <span class="filter-values">
    <span {{action "resetCategories"}}>All</span>
  </span>
</div>

{{#if getCategoriesTask.isRunning}}
  {{#each (repeat 6) as |_|}}
    {{#skeleton-container class="category-filter-skeleton"}}
      {{skeleton-loader class="category-filter-skeleton-item"}}
    {{/skeleton-container}}
  {{/each}}
{{else}}
  <ul>
    {{#each sortedCategories as |category|}}
      {{media/filter-widgets/category-item
        category=category
        selection=selection
        updateCategories=(action "updateCategories")
        class="media-category-filter"
        tagName="li"
        data-test-filter-category="true"}}
    {{/each}}
  </ul>
{{/if}}