{{#if includeAll}}
  <li class={{if (is-empty selected) "active"}} aria-label="All" {{action "clear"}}>
    {{yield "All"}}
  </li>
{{/if}}

{{#each selection as |option|}}
  <li class="{{if (contains option selected) "active"}} {{if tooltip tooltipClasses}}" aria-label={{option}} {{action "toggle" option}}>
    {{yield option}}
  </li>
{{/each}}