<div class="modal-wrapper">
  <h4 class="edit-heading">{{t 'users.edit.linkedProfiles'}}</h4>
  <!-- Nav tabs -->
  <ul class="linked-profiles nav" role="tablist">
    {{#each availableProfiles as |profile|}}
      <li class="profile-item nav-item">
        <!-- DEVNOTE: For already filled out, add class "filled" to link -->
        <!-- DEVNOTE: For first active, add class "active" to link -->
        <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="{{t (concat 'users.edit.availableProfiles.' profile)}}" data-toggle="tab" href="#{{profile}}" role="tab">
          {{svg-jar profile}}
          <span class="fill-mark">{{svg-jar "success"}}</span>
        </a>
      </li>
    {{/each}}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content profile-forms">
    <div class="tab-pane active" id="website" role="tabpanel">
      <h6>Website</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Website URL'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="https://yourwebsite.com" id="example-url-input">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="facebook" role="tabpanel">
      <h6>Facebook</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toCrosspost'}}</label>
        </div>
        <div class="col-xs-12">
          <button class="">{{t 'users.edit.linkProfile.connect' profile='Facebook'}}</button>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="twitter" role="tabpanel">
      <h6>Twitter</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toCrosspost'}}</label>
        </div>
        <div class="col-xs-12">
          <button class="">{{t 'users.edit.linkProfile.connect' profile='Twitter'}}</button>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="twitch" role="tabpanel">
      <h6>Twitch</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toShowStreamAndLink'}}</label>
        </div>
        <div class="col-xs-12">
          <button class="">{{t 'users.edit.linkProfile.connect' profile='Twitch'}}</button>
          <ul class="profile-settings nav">
            <li>
              <span class="switch">
                <input type="checkbox" checked="checked" id="twitch-toggle1" />
                <label for="twitch-toggle1"></label>
              </span>
              <label for="twitch-toggle1" class="setting-info">{{t 'users.edit.linkProfile.toShowLink' profile='Twitch'}}</label>
            </li>
            <li>
              <span class="switch">
                <input type="checkbox" checked="checked" id="twitch-toggle2" />
                <label for="twitch-toggle2"></label>
              </span>
              <label for="twitch-toggle2" class="setting-info">{{t 'users.edit.linkProfile.toShowStreaming'}}</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="youtube" role="tabpanel">
      <h6>Youtube</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toShowContentAndLink'}}</label>
        </div>
        <div class="col-xs-12">
          <button class="">{{t 'users.edit.linkProfile.connect' profile='Youtube'}}</button>
          <ul class="profile-settings nav">
            <li>
              <span class="switch">
                <input type="checkbox" id="youtube-toggle1" />
                <label for="youtube-toggle1"></label>
              </span>
              <label for="youtube-toggle1" class="setting-info">{{t 'users.edit.linkProfile.toShowNewUploads'}}</label>
            </li>
            <li>
              <span class="switch">
                <input type="checkbox" checked="checked" id="youtube-toggle2" />
                <label for="youtube-toggle2"></label>
              </span>
              <label for="youtube-toggle2" class="setting-info">{{t 'users.edit.linkProfile.toShowLink' profile='Youtube'}}</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="gplus" role="tabpanel">
      <h6>Google+</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Connect to find your friends add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <button class="">{{t 'users.edit.linkProfile.connect' profile='Google+'}}</button>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="steam" role="tabpanel">
      <h6>Steam</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Connect to find your friends and add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <button class="">{{t 'users.edit.linkProfile.connect' profile='Steam'}}</button>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="patreon" role="tabpanel">
      <h6>Patreon</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Patreon URL'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="{{t 'users.edit.linkProfile.placeholderProfile' profile='Patreon'}}">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tumblr" role="tabpanel">
      <h6>Tumblr</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Tumblr URL'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="{{t 'users.edit.linkProfile.placeholderProfile' profile='Tumblr'}}">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="github" role="tabpanel">
      <h6>Github</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Github URL'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="{{t 'users.edit.linkProfile.placeholderProfile' profile='Github'}}">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="instagram" role="tabpanel">
      <h6>Instagram</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Instagram URL'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="{{t 'users.edit.linkProfile.placeholderProfile' profile='Instagram'}}">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="mobcrush" role="tabpanel">
      <h6>Mobcrush</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Mobcrush URL'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="{{t 'users.edit.linkProfile.placeholderProfile' profile='Mobcrush'}}">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="raptr" role="tabpanel">
      <h6>Raptr</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Raptr URL'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="{{t 'users.edit.linkProfile.placeholderProfile' profile='Raptr'}}">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="soundcloud" role="tabpanel">
      <h6>Soundcloud</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Soundcloud URL'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="{{t 'users.edit.linkProfile.placeholderProfile' profile='Soundcloud'}}">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="discord" role="tabpanel">
      <h6>Discord</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Discord Invite URL or DiscordTag'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="Cruecial#8650" placeholder="{{t 'users.edit.linkProfile.placeholderDiscord'}}">
          <ul class="profile-settings nav">
            <li>
              <span class="switch">
                <input type="checkbox" checked="checked" id="discord-toggle1" />
                <label for="discord-toggle1"></label>
              </span>
              <label for="discord-toggle1" class="setting-info">{{t 'users.edit.linkProfile.toShowLink' profile='Discord'}}</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="vimeo" role="tabpanel">
      <h6>Vimeo</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Vimeo URL'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="{{t 'users.edit.linkProfile.placeholderChannel' profile='Viemo'}}">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="dailymotion" role="tabpanel">
      <h6>Dailymotion</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Dailymotion URL'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="{{t 'users.edit.linkProfile.placeholderChannel' profile='Dailymotion'}}">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="osu" role="tabpanel">
      <h6>Osu!</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">{{t 'users.edit.linkProfile.toAddLink' profile='Osu! URL'}}</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="{{t 'users.edit.linkProfile.placeholderProfile' profile='Osu!'}}">
        </div>
      </div>
    </div>
  </div>
</div>