{{! Rate This }}
{{#library-entry/rating-button class="button button--secondary"
  rating=libraryEntry.rating
  swapToDropdown=true
  onClick=onRatingChange
}}
  {{t "library-entry.state.rate-this"}}
{{/library-entry/rating-button}}

<<<<<<< HEAD
{{#unless rateOnly}}
  {{! Write Review }}
  <button class="review-button button button--secondary button--muted" {{action onReview}}>
    {{#if (and libraryEntry.review (not libraryEntry.review.isNew))}}
      {{t "library-entry.state.edit-review"}}
    {{else}}
      {{t "library-entry.state.write-review"}}
    {{/if}}
  </button>

  {{! Remove }}
  {{#unless hideRemove}}
    <button class="remove-button button button--secondary button--muted" {{action onRemove}}>
      {{t "library-entry.state.remove-from-library"}}
    </button>
  {{/unless}}
{{/unless}}
