{{! Rate This }}
{{#library-entry/rating-button class="button button--secondary"
  rating=libraryEntry.rating
  swapToDropdown=true
  onClick=onRatingChange
}}
  {{t "library-entry.state.rate-this"}}
{{/library-entry/rating-button}}

{{! Write Review }}
<button class="button button--secondary button--muted" {{action onReview}}>
  {{t "library-entry.state.review"}}
</button>

{{! Remove }}
{{#unless hideRemove}}
  <button class="button button--secondary button--muted" {{action onRemove}}>
    {{t "library-entry.state.remove-from-library"}}
  </button>
{{/unless}}