{{! I've Finished This }}
<button class="completed-button button button--secondary" {{action onStatusChange "completed"}}>
  {{t "library-entry.state.finished-this"}}
</button>

{{! Rate This }}
{{#library-entry/rating-button class="rating-button button button--secondary button--muted"
  rating=libraryEntry.rating
  swapToDropdown=true
  onClick=onRatingChange
}}
  {{t "library-entry.state.rate-this"}}
{{/library-entry/rating-button}}

{{! Edit Library }}
<button class="button button--secondary button--muted" {{action (toggle "showEditModal" this)}}>
  {{t "library-entry.state.edit-library"}}
</button>

{{#if showEditModal}}
  {{to-elsewhere named="modal" send=(component "modals/library-edit"
    libraryEntry=libraryEntry
    saveEntry=onSave
    removeEntry=onRemove
    onClose=(toggle-action "showEditModal" this))}}
{{/if}}
