{{! Progress - If the user has progress }}
{{#if (and (gt libraryEntry.progress 0) (not hideProgress))}}
  {{library-entry/progress
    libraryEntry=libraryEntry
    onProgressChange=onProgressChange
  }}
{{/if}}

{{! I've Started This }}
<button class="started-button button button--secondary" {{action onStatusChange "current"}}>
  {{t "library-entry.state.watching-this"}}
</button>

{{! I've Finished This }}
<button class="completed-button button button--secondary button--muted" {{action onStatusChange "completed"}}>
  {{t "library-entry.state.finished-this"}}
</button>

{{#if (eq libraryEntry.status "planned")}}
  {{! Place On Hold }}
  <button class="hold-button button button--secondary button--muted" {{action onStatusChange "on_hold"}}>
    {{t "library-entry.state.place-on-hold"}}
  </button>

  {{! Drop This }}
  <button class="drop-button button button--secondary button--muted" {{action onStatusChange "dropped"}}>
    {{t "library-entry.state.drop-this"}}
  </button>
{{else if (eq libraryEntry.status "dropped")}}
  {{! Want to Watch }}
  <button class="planned-button button button--secondary button--muted" {{action onStatusChange "planned"}}>
    {{t "library-entry.state.want-to-watch" type=libraryEntry.media.modelType}}
  </button>

  {{! Place On Hold }}
  <button class="hold-button button button--secondary button--muted" {{action onStatusChange "on_hold"}}>
    {{t "library-entry.state.place-on-hold"}}
  </button>
{{else}}
  {{! Want to Watch }}
  <button class="planned-button button button--secondary button--muted" {{action onStatusChange "planned"}}>
    {{t "library-entry.state.want-to-watch" type=libraryEntry.media.modelType}}
  </button>

  {{! Drop This }}
  <button class="drop-button button button--secondary button--muted" {{action onStatusChange "dropped"}}>
    {{t "library-entry.state.drop-this"}}
  </button>
{{/if}}

{{! Remove }}
<button class="remove-button button button--secondary button--muted" {{action onRemove}}>
  {{t "library-entry.state.remove-from-library"}}
</button>
