{{! I've Started This }}
<button class="started-button button button--secondary" {{action onStatusChange "current"}}>
  {{t "library-entry.state.watching-this"}}
</button>

{{! I've Finished This }}
<button class="completed-button button button--secondary button--muted" {{action onStatusChange "completed"}}>
  {{t "library-entry.state.finished-this"}}
</button>

{{! Edit Library }}
<button class="edit-button button button--secondary button--muted" {{action (toggle "showEditModal" this)}}>
  {{t "library-entry.state.edit-library"}}
</button>

{{#if showEditModal}}
  {{to-elsewhere named="modal" send=(component "modals/library-edit"
    libraryEntry=libraryEntry
    saveEntry=onSave
    removeEntry=onRemove
    onClose=(toggle-action "showEditModal" this))}}
{{/if}}