{{#basic-dropdown disabled=updateTask.isRunning as |dd|}}
  {{#dd.trigger tagName="button" class="button button--primary w-100"}}
    {{#if isLoading}}
      {{loading-spinner}}
    {{else if libraryEntry}}
      {{t (concat "library-shared." libraryEntry.status) type=mediaType}}
    {{else}}
      {{t "library-entry.state.add-to-library"}}
    {{/if}}
  {{/dd.trigger}}

  {{#dd.content}}
    <ul class="list-unstyled">
      {{! Statuses }}
      {{#each statuses as |status|}}
        <li class="dropdown-item" {{action (queue
          (action dd.actions.toggle)
          (action "updateLibraryEntry" status))}}>
          {{t (concat "library-shared." status) type=mediaType}}
          {{#if (eq libraryEntry.status status)}}
            <span class="dropdown-checkmark">{{svg-jar "checkmark"}}</span>
          {{/if}}
        </li>
      {{/each}}

      {{! Remove }}
      {{#if libraryEntry}}
        <li class="dropdown-item" {{action (queue
          (action dd.actions.toggle)
          (action "removeLibraryEntry"))}}>
          {{t "library-entry.state.remove-from-library"}}
        </li>
      {{/if}}
    </ul>
  {{/dd.content}}
{{/basic-dropdown}}