<h6 class="panel-heading">{{t "groups.activity.neighbors"}}</h6>
{{#if getNeighborsTask.isRunning}}
  <div class="w-100 text-xs-center m-t-1 m-b-1">
    {{loading-spinner size="large"}}
  </div>
{{else if getNeighborsTask.last.error}}
  <p>{{t "errors.load"}}</p>
{{else if getNeighborsTask.last.value}}
  {{#each getNeighborsTask.last.value as |neighbor|}}
    <div class="card group-neighbor-item">
      <div class="media">
        {{lazy-image src=(image neighbor.destination.avatar "small") imgClass="avatar-image--small"}}
        <div class="media-body">
          <h5 class="m-t-0">{{neighbor.destination.name}}</h5>
          {{neighbor.destination.tagline}}
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>{{t "errors.contentEmpty"}}</p>
{{/if}}