<h6 class="panel-heading">{{t "groups.activity.members"}}</h6>
{{#if getMembersTask.isRunning}}
  <div class="w-100 text-xs-center m-t-1 m-b-1">
    {{loading-spinner size="large"}}
  </div>
{{else if getMembersTask.last.error}}
  <p>{{t "errors.load"}}</p>
{{else if getMembersTask.last.value}}
  <div class="group-member-avatars">
    {{#each getMembersTask.last.value as |member|}}
      {{#if member.user}}
        <a href={{href-to "users.index" member.user}} class="hint--top hint--bounce hint--rounded" aria-label={{member.user.name}}>
          {{lazy-image src=(image member.user.avatar "small")}}
        </a>
      {{/if}}
    {{/each}}
  </div>
  {{#if (gt getMembersTask.last.value.meta.count 14)}}
    <a href={{href-to "groups.group.group-page.members"}}>{{t "button.view-all"}}</a>
  {{/if}}
{{/if}}
