{{#bootstrap/bs-modal id=modalId onClose=onClose as |modal|}}
  {{#modal.body}}
    <h6 class="modal--header-title">Post Reactions</h6>
    {{#each likes as |liker|}}
      <a href={{href-to "users.index" liker.user}} class="hint--bottom hint--bounce hint--rounded user-avatar" aria-label={{liker.user.name}} {{action "transitionToUser" liker.user}}>
        <img src={{image liker.user.avatar "small"}} style="width:35px; height:35px;">
      </a>
    {{/each}}
  {{/modal.body}}

  {{#modal.footer}}
    <button class="button button--primary btn-lg btn-block" disabled={{if isDisabled "disabled"}} {{action "onPagination"}}>
      {{#if isLoading}}
        Loading...
      {{else}}
        Load More
      {{/if}}
    </button>
  {{/modal.footer}}
{{/bootstrap/bs-modal}}
