{{#bootstrap/bs-modal id=modalId onClose=onClose as |modal|}}
  {{#modal.body}}
    {{! TODO - @Josh - people who like things }}
    {{#each likes as |liker|}}
      <a href={{href-to "users.index" liker.user}} class="hint--bottom hint--bounce hint--rounded" aria-label={{liker.user.name}} {{action "transitionToUser" liker.user}}>
        <img src={{image liker.user.avatar "medium"}} style="width:35px;height:35px;">
      </a>
    {{/each}}

    {{#paginated-resource/manual
      model=likes
      limit=limit
      update=(action "updateNextPage") as |active isLoading|
    }}
      <button class="button button--primary btn-block m-t-1" disabled={{unless active "disabled"}}>
        {{#if (or getNextData.isRunning isLoading)}}
          {{loading-spinner size="small"}}
        {{else}}
          Load More
        {{/if}}
      </button>
    {{/paginated-resource/manual}}
  {{/modal.body}}
{{/bootstrap/bs-modal}}