{{! User cover }}
<div class="modal-cover-photo" style={{coverImageStyle}}>
  <a class="modal-overlay-button" {{action "triggerClick" "cover-input"}}>
    <span class="overlay-text">
      {{svg-jar "picture"}}
      <h6>{{t 'users.edit-modal.cover'}}</h6>
    </span>
  </a>
  {{file-select id="cover-input" update=(action "updateImage" "user.coverImage")}}
</div>

{{! User avatar }}
<div class="modal-user-avatar">
  <div class="modal-avatar-wrapper">
    <a class="modal-overlay-button" {{action "triggerClick" "avatar-input"}}>
      <span class="overlay-text">
        {{svg-jar "picture"}}
      </span>
    </a>
    <img src={{image user.avatar "medium"}} class="avatar-image avatar-image--medium">
    {{file-select id="avatar-input" update=(action "updateImage" "user.avatar")}}
  </div>
</div>

{{! nav bars }}
<nav class="cover-nav edit-nav navbar navbar-light">
  <div class="container">
    <div class="row">
      <div class="nav navbar-nav">
        <a href="#about-me" class="nav-item nav-link {{if (eq tab "about-me") "active"}}" data-toggle="tab" {{action "changeTab" "about-me"}}>
          {{t 'users.edit-modal.navigation.about'}}
        </a>
        <a href="#profile-links" class="nav-item nav-link {{if (eq tab "profile-links") "active"}}" data-toggle="tab" {{action "changeTab" "profile-links"}}>
          {{t 'users.edit-modal.navigation.profile-links'}}
        </a>
        <a href="#favorites" class="nav-item nav-link {{if (eq tab "favorites") "active"}}" data-toggle="tab" {{action "changeTab" "favorites"}}>
          {{t 'users.edit-modal.navigation.favorites'}}
        </a>
      </div>
    </div>
  </div>
</nav>