{{#if follow}}
  <div class="stream-item-wrapper col-sm-12">
    <div class="stream-item--title-block">
      <span class="avatar-block">
        <a href={{href-to "users.index" activity.actor}} class="author-avatar" onclick={{action "trackEngagement" "click"}}>
          {{lazy-image src=(image activity.actor.avatar "medium")}}
        </a>
        <a href={{href-to "users.index" follow.followed}} class="author-avatar recipient-avatar" onclick={{action "trackEngagement" "click"}}>
          {{lazy-image src=(image follow.followed.avatar "medium")}}
        </a>
      </span>
      <div class="author-info">
        <a class="author-name" href={{href-to "users.index" activity.actor}} onclick={{action "trackEngagement" "click"}}>
          {{activity.actor.name}}
        </a>
        {{user-badge activity.actor}}
        <span class="recipient-info">
          <small>{{t "components.stream-feed.followed"}}</small>
          <a href={{href-to "users.index" follow.followed}} class="author-name" onclick={{action "trackEngagement" "click"}}>
            {{follow.followed.name}}
          </a>
          {{user-badge follow.followed}}
        </span>
      </div>
    </div>

    {{! Dropdown }}
    {{#if (is-self activity.actor)}}
      <div class="stream-item-options m-b-1">
        <span class="more-wrapper">
          <a href="#" class="more-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{svg-jar "more"}}
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            {{! delete activity }}
            <a class="dropdown-item" href="#" {{action "deleteActivity"}}>
              {{t "components.stream-feed.delete"}}
            </a>
          </div>
        </span>
      </div>
    {{/if}}
  </div>
{{/if}}
