{{! We have to check `post` here due to Stream & development environments }}
{{#if post}}
  <div class="stream-item-wrapper col-sm-12">
    {{! Post Header }}
    <div class="stream-item--title-block">
      {{! Pinned Post Indicator }}
      {{#if isPinnedPost}}
        <span class="pinned-indicator pull-xs-right">
          {{svg-jar "pin"}}
          Pinned Post
        </span>
      {{/if}}

      {{! Avatar(s) }}
      <span class="avatar-block">
        <a href={{href-to "users.index" post.user}} class="author-avatar" onclick={{action "trackEngagement" "click"}}>
          {{lazy-image src=(image post.user.avatar "medium")}}
        </a>
        {{#if post.targetUser}}
          {{#unless (eq post.targetUser.id userId)}}
            <a href={{href-to "users.index" post.targetUser}} class="author-avatar recipient-avatar" onclick={{action "trackEngagement" "click"}}>
              {{lazy-image src=(image post.targetUser.avatar "medium")}}
            </a>
          {{/unless}}
        {{/if}}
        {{#if post.targetGroup}}
          {{#unless kitsuGroup}}
            <a href={{href-to "groups.group.group-page.index" post.targetGroup.slug}} class="author-group-avatar recipient-avatar" onclick={{action "trackEngagement" "click"}}>
              {{lazy-image src=(image post.targetGroup.avatar "medium")}}
            </a>
          {{/unless}}
        {{/if}}
      </span>

      {{! Author(s) }}
      <div class="author-info">
        <a class="author-name" href={{href-to "users.index" post.user}} onclick={{action "trackEngagement" "click"}}>
          {{post.user.name}}
        </a>
        {{user-badge post.user}}

        {{#if post.targetUser}}
          {{#unless (eq post.targetUser.id userId)}}
            <span class="recipient-info">
              <small>to</small>
              <a href={{href-to "users.index" post.targetUser}} class="author-name" onclick={{action "trackEngagement" "click"}}>
                {{post.targetUser.name}}
              </a>
              {{user-badge post.targetUser}}
            </span>
          {{/unless}}
        {{/if}}

        {{#if post.targetGroup}}
          {{#unless kitsuGroup}}
            <span class="recipient-info">
              <small>to</small>
              <a href={{href-to "groups.group.group-page.index" post.targetGroup.slug}} class="author-name" onclick={{action "trackEngagement" "click"}}>
                {{post.targetGroup.name}}
              </a>
              <span class="tag tag-default role-tag">Group</span>
            </span>
          {{/unless}}
        {{/if}}

        {{! Timestamp }}
        <a href={{href-to "posts" post.id}} onclick={{action "trackEngagement" "click"}}>
          <small class="secondary-text">
            {{moment-from-now post.createdAt interval=60000}}
            {{#if postEdited}}
              &middot; edited {{moment-from-now post.editedAt interval=60000}}
            {{/if}}
          </small>
        </a>
      </div>
    </div>

    {{! Post Content }}
    <div class="stream-content">
      {{#if isHidden}}
        {{#if (and post.spoiler post.nsfw)}}
          <div class="combo-gate">
              <a href="#" {{action "toggleHidden"}}>
                <div class="gate--label">
                  Contains spoilers and NSFW.
                  {{#if post.spoiledUnit}}
                    <small>{{t "feeds.post.spoilers" type=post.media.modelType num=post.spoiledUnit.number}} {{postEpisodeText}}</small>
                  {{/if}}
                </div>
                <div class="gate--hover">
                  My body is ready!
                  {{#if post.spoiledUnit}}
                    <small>{{t "feeds.post.spoilers" type=post.media.modelType num=post.spoiledUnit.number}} {{postEpisodeText}}</small>
                  {{/if}}
                </div>
              </a>
            </div>
        {{else}}
          {{#if post.nsfw}}
            <div class="nsfw-gate">
              <a href="#" {{action "toggleHidden"}}>
                <div class="gate--label">This post contains NSFW content.</div>
                <div class="gate--hover">My body is ready!</div>
              </a>
            </div>
          {{/if}}
          {{#if post.spoiler}}
            <div class="spoiler-gate">
              <a href="#" {{action "toggleHidden"}}>
                <div class="gate--label">
                  This post contains spoilers.
                  {{#if post.spoiledUnit}}
                    <small>{{t "feeds.post.spoilers" type=post.media.modelType num=post.spoiledUnit.number}} {{postEpisodeText}}</small>
                  {{/if}}
                </div>
                <div class="gate--hover">
                  I can handle the truth!
                  {{#if post.spoiledUnit}}
                    <small>{{t "feeds.post.spoilers" type=post.media.modelType num=post.spoiledUnit.number}} {{postEpisodeText}}</small>
                  {{/if}}
                </div>
              </a>
            </div>
          {{/if}}
        {{/if}}
      {{else}}
        <span class="stream-content-post {{if isExpanded "full-post"}}">
          {{emojify post.contentFormatted}}
        </span>

        {{#if isOverflowed}}
          <div class="text-xs-center view-more">
            <a href="#" {{action (toggle "isExpanded" this)}}>
              {{#if isExpanded}}
                View Less
              {{else}}
                View More
              {{/if}}
            </a>
          </div>
        {{/if}}
      {{/if}}

      {{! Tagged Media  }}
      {{#if (and post.media (or (and post.spoiler (not post.nsfw)) (not isHidden)))}}
        <div class="tagged-media--wrapper">
          <div class="tagged-media row">
            <div class="stream-item--media col-xs-1">
              <a href={{href-to (concat post.media.modelType ".show") post.media}}>
                {{lazy-image src=(image post.media.posterImage "small")}}
              </a>
            </div>
            <div class="col-sm no-padding-left">
              <div class="stream-item--title-block">
                <div class="author-info">
                  <a class="author-name" href={{href-to (concat post.media.modelType ".show") post.media}}>
                    {{post.media.computedTitle}}
                  </a>
                  <small class="secondary-text">
                    <div class="media-tag-synopsis">
                      {{truncate post.media.synopsis 150}}
                    </div>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>

    {{! Post Likes -- Don't load until we have entered viewport }}
    <div class="stream-item-activity">
      {{likeable-resource
        resource=post
        likesCount=post.postLikesCount
        likesCountUpdate=(action (mut post.postLikesCount))
        onCreate=(action "likeCreated")
        showUsers=true
      }}
    </div>

    {{! Post Actions }}
    <div class="stream-item-options">
      {{! Share Links }}
      <!-- <a href={{tweetLink}} target="_blank" {{action "trackEngagement" "click" preventDefault=false}}>
        {{svg-jar "l-twitter"}}
        Tweet
      </a>
      <a href={{facebookLink}} target="_blank" {{action "trackEngagement" "click" preventDefault=false}}>
        {{svg-jar "l-facebook"}}
        Share
      </a> -->

      {{! Dropdown }}
      <span class="more-wrapper">
        <a href="#" class="more-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{svg-jar "more"}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          {{! Copy Permalink }}
          <a class="dropdown-item" href="#" data-clipboard-text={{concat host (href-to "posts" post.id)}} {{action "trackEngagement" "click"}}>
            Copy Link to Post
          </a>

          {{! Re-hide the post }}
          {{#if (or post.spoiler post.nsfw)}}
            {{#if isHidden}}
              <a class="dropdown-item" href="#" {{action "toggleHidden"}}>Show Post Content</a>
            {{else}}
              <a class="dropdown-item" href="#" {{action "toggleHidden"}}>Hide Post Content</a>
            {{/if}}
          {{/if}}

          {{! Editing/Deleting Options }}
          {{#if canEditPost}}
            {{#if isEditable}}
              <a class="dropdown-item" href="#" {{action (toggle "editModalOpened" this)}}>Edit Post</a>
              {{#if editModalOpened}}
                {{to-elsewhere named="modal" send=(component "stream-feed/edit-post"
                  post=post
                  isEditable=isEditable
                  onClose=(toggle-action "editModalOpened" this)
                )}}
              {{/if}}
            {{/if}}

            <a class="dropdown-item" href="#" {{action (toggle "deleteModalOpened" this)}}>Delete Post</a>
            {{#if deleteModalOpened}}
              {{to-elsewhere named="modal" send=(component "modals/confirm-action"
                onConfirm=(action "deletePost")
                onClose=(toggle-action "deleteModalOpened" this)
              )}}
            {{/if}}

            {{! Pin Post }}
            {{#if (is-self post.user)}}
              {{#if (eq session.account.pinnedPost.id post.id)}}
                <a class="dropdown-item" href="#" {{action (toggle "unpinModalOpened" this)}}>
                  Unpin Post from Profile
                </a>
                {{#if unpinModalOpened}}
                  {{to-elsewhere named="modal" send=(component "modals/confirm-action"
                    onConfirm=(queue (action "pinOrUnpinPost" null) (toggle-action "unpinModalOpened" this))
                    onClose=(toggle-action "unpinModalOpened" this)
                    title="Unpin Post from Profile"
                    text="Do you really want to unpin this post from your profile?"
                  )}}
                {{/if}}
              {{else}}
                <a class="dropdown-item" href="#" {{action (toggle "pinModalOpened" this)}}>
                  Pin Post to Profile
                </a>
                {{#if pinModalOpened}}
                  {{to-elsewhere named="modal" send=(component "modals/confirm-action"
                    onConfirm=(queue (action "pinOrUnpinPost" post) (toggle-action "pinModalOpened" this))
                    onClose=(toggle-action "pinModalOpened" this)
                    title="Pin Post to Profile"
                    text="Do you really want to pin this post to your profile?"
                  )}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}

          {{! Reporting/Blocking Options }}
          {{#if (and session.hasUser (not (is-self post.user)))}}
            <a class="dropdown-item" href="#" {{action (toggle "reportingPost" this)}}>Report Post</a>
            {{#if reportingPost}}
              {{to-elsewhere named="modal" send=(component "modals/report-content"
                content=post
                group=post.targetGroup
                onClose=(toggle-action "reportingPost" this)
              )}}
            {{/if}}

            <a class="dropdown-item" href="#" {{action (toggle "blockUserModal" this)}}>Block @{{post.user.name}}</a>
            {{#if blockUserModal}}
              {{to-elsewhere named="modal" send=(component "modals/block-user"
                user=post.user
                onClose=(toggle-action "blockUserModal" this)
              )}}
            {{/if}}
          {{/if}}
        </div>
      </span>
    </div>
  </div>

  {{! Post Comments }}
  {{#unless isHidden}}
    {{stream-feed/items/post/comments
      post=post
      comment=comment
      isReply=isReply
      readOnly=readOnly
      kitsuGroupMembership=kitsuGroupMembership
      countUpdate=(action (mut post.topLevelCommentsCount))
      trackEngagement=(action "trackEngagement")
    }}
  {{/unless}}
{{else}}
  <div class="stream-error-wrapper col-sm-12">
    {{t "errors.load"}}
  </div>
{{/if}}
