{{! We have to check `post` here due to Stream & development environments }}
{{#if post}}
  <div class="stream-item-wrapper col-sm-12">
    {{! Post Header }}
    <div class="stream-item--title-block">
      {{! Pinned Post Indicator }}
      {{#if isPinnedPost}}
        <span class="pinned-indicator pull-xs-right">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
              <path d="M 20.46875 2.5625 L 19.75 3.3125 C 18.705223 4.4617546 18.207776 5.9178358 18.09375 7.375 L 14.03125 11.4375 C 11.55925 10.99868 8.9027667 11.690983 7 13.59375 L 6.28125 14.3125 L 7 15 L 11.3125 19.3125 L 3 27.59375 L 3 29 L 4.40625 29 L 12.6875 20.6875 L 16.90625 24.90625 L 17.59375 25.625 L 18.3125 24.90625 C 20.408241 22.810509 21.003462 19.931711 20.375 17.34375 L 23.9375 13.78125 C 25.674951 13.987658 27.450979 13.486521 28.71875 12.21875 L 29.40625 11.5 L 28.71875 10.78125 L 21.21875 3.28125 L 20.46875 2.5625 z M 20.6875 5.625 L 26.375 11.3125 C 25.549553 11.779487 24.659282 12.071071 23.75 11.84375 L 23.1875 11.6875 L 22.78125 12.09375 L 18.59375 16.28125 L 18.15625 16.71875 L 18.34375 17.3125 C 18.931368 19.075355 18.659114 21.06291 17.5 22.6875 L 9.3125 14.5 C 10.766836 13.500434 12.517698 13.041302 14.15625 13.46875 L 14.6875 13.625 L 15.09375 13.21875 L 19.71875 8.59375 L 20 8.3125 L 20 7.90625 C 20 7.1033608 20.292757 6.3428686 20.6875 5.625 z"></path>
          </svg>
          Pinned Post
        </span>
      {{/if}}

      {{! Avatar(s) }}
      <span class="avatar-block">
        <a href={{href-to "users.index" post.user}} class="author-avatar" onclick={{action "trackEngagement" "click"}}>
          <img src={{image post.user.avatar "medium"}}>
        </a>
        {{#if post.targetUser}}
          {{#unless (eq post.targetUser.id userId)}}
            <a href={{href-to "users.index" post.targetUser}} class="author-avatar recipient-avatar" onclick={{action "trackEngagement" "click"}}>
              <img src={{image post.targetUser.avatar "medium"}}>
            </a>
          {{/unless}}
        {{/if}}
      </span>

      {{! Author(s) }}
      <div class="author-info">
        <a class="author-name" href={{href-to "users.index" post.user}} onclick={{action "trackEngagement" "click"}}>
          {{post.user.name}}
        </a>
        {{user-badge post.user}}

        {{#if post.targetUser}}
          {{#unless (eq post.targetUser.id userId)}}
            <span class="recipient-info">
              <small>to</small>
              <a href={{href-to "users.index" post.targetUser}} class="author-name" onclick={{action "trackEngagement" "click"}}>
                {{post.targetUser.name}}
              </a>
              {{user-badge post.targetUser}}
            </span>
          {{/unless}}
        {{/if}}

        <a href={{href-to "posts" post}} onclick={{action "trackEngagement" "click"}}>
          <small class="author-secondary">
            {{moment-from-now post.createdAt interval=60000}}
            {{#if postEdited}}
              &middot; edited {{moment-from-now post.editedAt interval=60000}}
            {{/if}}
          </small>
        </a>
      </div>
    </div>

    {{! Post Content }}
    <div class="stream-content">
      {{#if isHidden}}
        {{#if (and post.spoiler post.nsfw)}}
          <div class="combo-gate">
              <a href="#" {{action "toggleHidden"}}>
                <div class="gate--label">Contains spoilers and NSFW.</div>
                <div class="gate--hover">My body is ready!</div>
              </a>
            </div>
        {{else}}
          {{#if post.nsfw}}
            <div class="nsfw-gate">
              <a href="#" {{action "toggleHidden"}}>
                <div class="gate--label">This post contains NSFW content.</div>
                <div class="gate--hover">My body is ready!</div>
              </a>
            </div>
          {{/if}}
          {{#if post.spoiler}}
            <div class="spoiler-gate">
              <a href="#" {{action "toggleHidden"}}>
                <div class="gate--label">
                  This post contains spoilers.
                  {{#if post.spoiledUnit}}
                    {{t (concat "feeds.spoilers." (model-type post.media)) num=post.spoiledUnit.number}}
                  {{/if}}
                </div>
                <div class="gate--hover">
                  I can handle the truth!
                  {{#if post.spoiledUnit}}
                    {{t (concat "feeds.spoilers." (model-type post.media)) num=post.spoiledUnit.number}}
                  {{/if}}
                </div>
              </a>
            </div>
          {{/if}}
        {{/if}}
      {{else}}
        <span class="stream-content-post {{if isExpanded "full-post"}}">
          {{{post.contentFormatted}}}
        </span>

        {{#if isOverflowed}}
          <div class="text-xs-center view-more">
            <a href="#" {{action (toggle "isExpanded" this)}}>
              {{#if isExpanded}}
                View Less
              {{else}}
                View More
              {{/if}}
            </a>
          </div>
        {{/if}}
      {{/if}}

      {{! Tagged Media  }}
      {{#if post.media}}
        <div class="tagged-media--wrapper">
          <div class="tagged-media row">
            <div class="stream-item--media col-xs-1">
              {{lazy-image url=(image post.media.posterImage "small")}}
            </div>
            <div class="col-sm no-padding-left">
              <div class="stream-item--title-block">
                <div class="author-info">
                  <a class="author-name" href={{href-to (concat (model-type post.media) ".show") post.media}}>
                    {{post.media.computedTitle}}
                  </a>
                  <small class="author-secondary">
                    <div class="media-tag-synopsis">
                      {{truncate post.media.length 150}}
                    </div>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>

    {{! Post Likes -- Don't load until we have entered viewport }}
    <div class="stream-item-activity">
      {{#if viewportEntered}}
        {{likeable-resource
          resource=post
          likesCount=post.postLikesCount
          likesCountUpdate=(action (mut post.postLikesCount))
          onCreate=(action "likeCreated")
          showUsers=true
        }}
      {{/if}}
    </div>

    {{! Post Actions }}
    <div class="stream-item-options">
      {{! Share Links }}
      <a href={{tweetLink}} target="_blank" {{action "trackEngagement" "click" preventDefault=false}}>
        {{svg-jar "l-twitter"}}
        Tweet
      </a>
      <a href={{facebookLink}} target="_blank" {{action "trackEngagement" "click" preventDefault=false}}>
        {{svg-jar "l-facebook"}}
        Share
      </a>

      {{! Dropdown }}
      <span class="more-wrapper">
        <a href="#" class="more-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{svg-jar "more"}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          {{! Copy Permalink }}
          <a class="dropdown-item" href="#" data-clipboard-text={{concat host (href-to "posts" post.id)}} {{action "trackEngagement" "click"}}>
            Copy Link to Post
          </a>

          {{! Editing/Deleting Options }}
          {{#if (can-mutate post.user post)}}
            {{#if isEditable}}
              <a class="dropdown-item" href="#" {{action (toggle "editModalOpened" this)}}>Edit Post</a>
              {{#if editModalOpened}}
                {{to-elsewhere named="modal" send=(component "stream-feed/edit-post"
                  post=post
                  isEditable=isEditable
                  onClose=(toggle-action "editModalOpened" this)
                )}}
              {{/if}}
            {{/if}}

            <a class="dropdown-item" href="#" {{action (toggle "deleteModalOpened" this)}}>Delete Post</a>
            {{#if deleteModalOpened}}
              {{to-elsewhere named="modal" send=(component "modals/confirm-action"
                onConfirm=(action "deletePost")
                onClose=(toggle-action "deleteModalOpened" this)
              )}}
            {{/if}}

            {{! Pin Post }}
            {{#if (is-self post.user)}}
              {{#if (eq session.account.pinnedPost.id post.id)}}
                <a class="dropdown-item" href="#" {{action (toggle "unpinModalOpened" this)}}>
                  Unpin Post from Profile
                </a>
                {{#if unpinModalOpened}}
                  {{to-elsewhere named="modal" send=(component "modals/confirm-action"
                    onConfirm=(queue (action "pinOrUnpinPost" null) (toggle-action "unpinModalOpened" this))
                    onClose=(toggle-action "unpinModalOpened" this)
                    title="Unpin Post from Profile"
                    text="Do you really want to unpin this post from your profile?"
                  )}}
                {{/if}}
              {{else}}
                <a class="dropdown-item" href="#" {{action (toggle "pinModalOpened" this)}}>
                  Pin Post to Profile
                </a>
                {{#if pinModalOpened}}
                  {{to-elsewhere named="modal" send=(component "modals/confirm-action"
                    onConfirm=(queue (action "pinOrUnpinPost" post) (toggle-action "pinModalOpened" this))
                    onClose=(toggle-action "pinModalOpened" this)
                    title="Pin Post to Profile"
                    text="Do you really want to pin this post to your profile?"
                  )}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}

          {{! Reporting/Blocking Options }}
          {{#if (and session.hasUser (not (is-self post.user)))}}
            <a class="dropdown-item" href="#" {{action (toggle "reportingPost" this)}}>Report Post</a>
            {{#if reportingPost}}
              {{to-elsewhere named="modal" send=(component "modals/report-content"
                content=post
                onClose=(toggle-action "reportingPost" this)
              )}}
            {{/if}}

            <a class="dropdown-item" href="#" {{action (toggle "blockUserModal" this)}}>Block @{{post.user.name}}</a>
            {{#if blockUserModal}}
              {{to-elsewhere named="modal" send=(component "modals/block-user"
                user=post.user
                onClose=(toggle-action "blockUserModal" this)
              )}}
            {{/if}}
          {{/if}}
        </div>
      </span>
    </div>
  </div>

  {{! Post Comments }}
  {{#unless isHidden}}
    {{#if viewportEntered}}
      {{stream-feed/items/post/comments
        post=post
        comment=comment
        isReply=isReply
        readOnly=readOnly
        countUpdate=(action (mut post.topLevelCommentsCount))
        trackEngagement=(action "trackEngagement")
      }}
    {{/if}}
  {{/unless}}
{{else}}
  <div class="stream-error-wrapper col-sm-12">
    {{t "errors.load"}}
  </div>
{{/if}}
