    <div class="container">
      <div class="row">
        <div class="trending-row--header">
          <h3 class="trending-row--title">{{capitalize currentTab}} Anime of 2017</h3>
          <nav class="nav nav-simple">
            <a class="nav-link {{if (eq currentTab "winter") "active"}}" href="#" {{action "changeTab" "winter"}}>Winter 2017</a>
            <a class="nav-link {{if (eq currentTab "fall") "active"}}" href="#" {{action "changeTab" "fall"}}>Fall 2016</a>
            <a class="nav-link {{if (eq currentTab "summer") "active"}}" href="#" {{action "changeTab" "summer"}}>Summer 2016</a>
            <a class="nav-link {{if (eq currentTab "spring") "active"}}" href="#" {{action "changeTab" "spring"}}>Spring 2016</a>
          </nav>
        </div>
        {{#if getDataTask.isRunning}}
          <div class="text-xs-center w-100 m-t-3 m-b-3">
            {{loading-spinner size="large"}}
          </div>
        {{else if isSwitchingTab}}
          {{! ---- see trending/-base.js ---- }}
        {{else}}
          {{#em-flickity class="trending-media" showSlides=(gt currentItems.length 0)}}
            {{#each currentItems as |item|}}
              <div class="trending-cell">
                <a href={{href-to "anime.show" item.slug}} class="media-poster">
                  {{lazy-image url=(image item.posterImage "large")}}
                </a>
                <div class="ellipsis">
                  <a href={{href-to "anime.show" item.slug}} class="media-title">
                    {{item.computedTitle}}
                  </a>
                </div>
              </div>
            {{/each}}
          {{/em-flickity}}
        {{/if}}
      </div>
    </div>