<div class="container">
  <div class="row">
    {{! Trending Media (Related) }}
    <div class="trending-banner--titles col-md-7">
      <div class="row">
        <div class="trending-banner--header col-sm-12">
          <h5 class="trending-row--title">Trending in your Network</h5>
          {{#bootstrap/bs-dropdown class="trending-filter" as |dropdown|}}
            {{#dropdown.button}}
              {{capitalize filterType}}
            {{/dropdown.button}}
            {{#dropdown.menu}}
              {{#each filterOptions as |option|}}
                {{#dropdown.menu-item onClick=(action "changeFilter" option)}}
                  {{capitalize option}}
                  {{#if (eq filterType option)}}
                    <span class="selected">{{svg-jar "checkmark"}}</span>
                  {{/if}}
                {{/dropdown.menu-item}}
              {{/each}}
            {{/dropdown.menu}}
          {{/bootstrap/bs-dropdown}}
        </div>

        {{#if taskInstance.isRunning}} {{! Loading State }}
          <div class="text-xs-center w-100 m-t-3">
            {{loading-spinner size="large" class="white"}}
          </div>
        {{else if taskInstance.error}} {{! Error during AJAX request }}
          <div class="text-xs-center m-t-3">
            <p>{{t "errors.load"}}</p>
          </div>
        {{else if taskInstance.value}} {{! Recent stories }}
          {{#each taskInstance.value as |item|}}
            <div class="trending-poster col-xs-6 col-sm-4 col-lg-3">
              <a href={{href-to (concat item.modelType ".show") item.slug}} class="media-poster">
                {{lazy-image url=(image item.posterImage "large")}}
              </a>

              {{! Users }}
              {{trending/trending-banner/participants
                item=item
                itemType=item.modelType
                class="participating-following"
                tagName="ul"}}
            </div>
          {{/each}}
        {{else}} {{! No recent media stories }}
          <div class="text-xs-center m-t-3">
            <p>{{t "errors.contentEmpty"}}</p>
          </div>
        {{/if}}
      </div>
    </div>

    {{! Recent Activity }}
    {{trending/trending-banner/recent-activity class="trending-banner--activity col-md-5"}}
  </div>
</div>
