{{! TODO: Move to CSS class that can be applied }}
<style>
  .global-container {
    max-width: 100%;
  }
</style>

{{#if session.hasUser}}
  {{trending/trending-banner}}
{{else}}
  {{trending/guest-banner}}
{{/if}}

<div class="trending-sections {{if session.hasUser "logged-in"}}">
  {{! Trending Media }}
  {{trending/trending-media}}

  {{! Kitsu Media Trending 1 }}
  {{ad-unit slot="2443861064"}}

  {{! Recently Reviewed Media }}
  {{trending/recently-reviewed}}

  {{! Popular Reviews }}
  {{trending/popular-reviews}}

  {{! Kitsu Media Trending 2 }}
  {{ad-unit slot="3920594268"}}

  {{! Seasonal Anime }}
  {{trending/seasonal-series}}

  {{! Highest Rated }}
  {{trending/highest-rated}}

  {{! Kitsu Media Trending 3 }}
  {{ad-unit slot="6874060669"}}

  {{! Popular Media }}
  {{trending/popular-media}}
</div>
