{{! TODO: Move to CSS class that can be applied }}
<style>
  .global-container {
    max-width: 100%;
  }
</style>

{{#if session.hasUser}}
  {{trending/trending-banner}}
{{else}}
  {{trending/guest-banner}}
{{/if}}

<div class="trending-sections {{if session.hasUser "logged-in"}}">
  {{! Trending Media }}
  {{trending/trending-media}}

  {{! Kitsu Media Trending Top }}
  {{ad-unit unit="kitsu.trending.top"
    targeting=(hash section="trending")
    sizes=(hash
      mobile=(array (array 336 280) (array 300 250) (array 320 100) (array 320 50))
      tablet=(array 728 90)
      desktop=(array (array 970 90) (array 728 90))
    )}}

  {{! Recently Reviewed Media }}
  {{trending/recently-reviewed}}

  {{! Popular Reviews }}
  {{trending/popular-reviews}}

  {{! Kitsu Media Trending Middle }}
  {{ad-unit unit="kitsu.trending.middle"
    targeting=(hash section="trending")
    sizes=(hash
      mobile=(array (array 336 280) (array 300 250) (array 320 100) (array 320 50))
      tablet=(array 728 90)
      desktop=(array (array 970 90) (array 728 90))
    )}}

  {{! Seasonal Anime }}
  {{trending/seasonal-series}}

  {{! Highest Rated }}
  {{trending/highest-rated}}

  {{! Kitsu Media Trending Bottom }}
  {{ad-unit unit="kitsu.trending.bottom"
    targeting=(hash section="trending")
    sizes=(hash
      mobile=(array (array 336 280) (array 300 250) (array 320 100) (array 320 50))
      tablet=(array 728 90)
      desktop=(array (array 970 90) (array 728 90))
    )}}

  {{! Popular Media }}
  {{trending/popular-media}}
</div>
