{{#each reviews as |review|}}
  {{! TODO - @Josh - Reviews need some style love with dynamic content }}
  <li class="media">
    <div class="media-left">
      <a href={{href-to "users.index" review.user}}>
        <img src={{image review.user.avatar}}>
      </a>
    </div>
    <div class="media-body">
      <small class="media-heading">
        {{t (concat "media.routes.show.reviews.title." (model-type media)) progress=review.progress link=(create-link review.user.name "users.index" review.user)}}
        {{! TODO - @Josh - Review rating on review page }}
        {{star-rating review.rating readOnly=true}}
      </small>
      <div class="comment-body">
        {{! legacy reviews are from Hummingbird }}
        {{#if review.legacy}}
          <p>{{review.summary}}</p>
          <small>This is a legacy review.</small>
        {{else}}
          {{truncate-text review.contentFormatted max=400}}
        {{/if}}
      </div>

      {{! review likes }}
      <div class="stream-item-activity">
        {{likeable-resource
          resource=review
          likesCount=review.likesCount
          likesCountUpdate=(action (mut review.likesCount))
          showUsers=true
        }}
      </div>
    </div>
  </li>
{{/each}}