<div class="graph">
  <svg class="graph-canvas"></svg>
  <div class="graph-overlay">
    <span class="graph-overlay-number">{{mediaCount}}</span>
    <span class="graph-overlay-kind">{{kind}}</span>
  </div>
</div>
<table class="graph-legend">
  <thead>
    <tr>
      <th>Genre</th>
      <th># shows</th>
    </tr>
  </thead>
  <tbody>
    {{#each displayGenres as |genre|}}
      <tr>
        <td>
          {{genre.name}}
        </td>
        <td style="color: {{genre.color}};">
          {{genre.number}}
          <div style="width: 100px; position: relative; height: 5px;">
            <div style="height: 100%; width: {{genre.relativeSize}}%; background-color: currentColor"></div>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
