<div class="container no-padding">
  <div class="feed-container row">
    <!-- Feed Posts -->
    <div class="feed-stream col-sm-12 col-md-8">
      {{#if (and (is-self user) (not (is-object user.avatar)))}}
        {{users/components/stream-onboarding}}
      {{/if}}

      {{stream-feed
        streamType="user_aggr"
        streamId=user.id
        readOnly=(not session.hasUser)
        user=user}}
    </div>

    <div class="feed-sidebar col-sm-4">
      {{#if (is-self user)}}
        {{users/components/checklist-onboarding user=user}}
      {{/if}}

      {{! About User }}
      {{users/components/about-me user=user}}

      {{! Favorites }}
      {{users/components/favorite-series user=user}}

      {{sidebar-footer}}
    </div>
  </div>
</div>
