<div class="container no-padding">
  <div class="feed-container row">
    <!-- Feed Posts -->
    <div class="feed-stream col-sm-12 col-md-8">
      <!-- TODO: Only show if they haven't uploaded an avatar -->
      {{#if (is-self user)}}
        {{users/components/stream-onboarding}}
      {{/if}}

      {{stream-feed
        streamType="user_aggr"
        streamId=user.id
        readOnly=(not session.hasUser)}}
    </div>

    <div class="feed-sidebar col-sm-4">
      <!-- TODO: Componentize (NYI Implemented on Server) -->
      {{#if (is-self user)}}
        <div class="checklist card">
          <h4>Set-Up Your Feed</h4>
          <ul>
            <li class="step step--complete">
              <span class="step-status">
                {{svg-jar "success"}}
              </span>
              <span class="step-description">
                Visit your personal feed
              </span>
            </li>
            <li class="step step--complete">
              <span class="step-status">
                {{svg-jar "success"}}
              </span>
              <span class="step-description">
                Rate 5 anime or manga
              </span>
            </li>
            <li class="step step--complete">
              <span class="step-status">
                {{svg-jar "success"}}
              </span>
              <span class="step-description">
                Set your user avatar
              </span>
            </li>
            <li class="step">
              <span class="step-status">
                {{svg-jar "empty"}}
              </span>
              <span class="step-description">
                Set a profile cover image
              </span>
            </li>
            <li class="step">
              <span class="step-status">
                {{svg-jar "empty"}}
              </span>
              <span class="step-description">
                Complete your <i>About Me</i>
              </span>
            </li>
            <li class="step">
              <span class="step-status">
                {{svg-jar "empty"}}
              </span>
              <span class="step-description">
                Pick your favorite anime / manga
              </span>
            </li>
          </ul>
        </div>
      {{/if}}

      {{users/components/about-me user=user}}

      <!-- TODO: Componentize -->
      <div class="favorite-series-panel">
        <h6 class="panel-heading">Favorite Series</h6>
        <ul class="nav nav-inline">
          <li class="nav-item">
            <a class="nav-link active" href="#">Anime</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Manga</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Drama</a>
          </li>
        </ul>
        <div class="favorite-media-grid row">
          <div class="favorite-item col-sm-3 hint--top hint--bounce hint--rounded" aria-label="JoJo's Bizarre Adventure: Diamond Is Unbreakable">
            <a href="#">
              <img src="https://static.hummingbird.me/anime/poster_images/000/011/459/large/t_main_img.jpg?1458324630">
            </a>
          </div>
          <div class="favorite-item col-sm-3 hint--top hint--bounce hint--rounded" aria-label="JoJo's Bizarre Adventure: Diamond Is Unbreakable">
            <a href="#">
              <img src="https://static.hummingbird.me/anime/poster_images/000/011/459/large/t_main_img.jpg?1458324630">
            </a>
          </div>
          <div class="favorite-item col-sm-3 hint--top hint--bounce hint--rounded" aria-label="JoJo's Bizarre Adventure: Diamond Is Unbreakable">
            <a href="#">
              <img src="https://static.hummingbird.me/anime/poster_images/000/011/459/large/t_main_img.jpg?1458324630">
            </a>
          </div>
          <div class="favorite-item col-sm-3 hint--top hint--bounce hint--rounded" aria-label="JoJo's Bizarre Adventure: Diamond Is Unbreakable">
            <a href="#">
              <img src="https://static.hummingbird.me/anime/poster_images/000/011/459/large/t_main_img.jpg?1458324630">
            </a>
          </div>
        </div>
      </div>

      <!-- TODO: Componentize -->
      <div class="favorite-characters-panel">
        <h6 class="panel-heading">Favorite Characters</h6>

        <div class="favorite-media-grid row">
          <div class="favorite-item col-sm-3 hint--top hint--bounce hint--rounded" aria-label="JoJo's Bizarre Adventure: Diamond Is Unbreakable">
            <a href="#">
              <img src="https://myanimelist.cdn-dena.com/images/characters/2/284121.jpg">
            </a>
          </div>
          <div class="favorite-item col-sm-3 hint--top hint--bounce hint--rounded" aria-label="JoJo's Bizarre Adventure: Diamond Is Unbreakable">
            <a href="#">
              <img src="https://myanimelist.cdn-dena.com/images/characters/2/284121.jpg">
            </a>
          </div>
          <div class="favorite-item col-sm-3 hint--top hint--bounce hint--rounded" aria-label="JoJo's Bizarre Adventure: Diamond Is Unbreakable">
            <a href="#">
              <img src="https://myanimelist.cdn-dena.com/images/characters/2/284121.jpg">
            </a>
          </div>
          <div class="favorite-item col-sm-3 hint--top hint--bounce hint--rounded" aria-label="JoJo's Bizarre Adventure: Diamond Is Unbreakable">
            <a href="#">
              <img src="https://myanimelist.cdn-dena.com/images/characters/2/284121.jpg">
            </a>
          </div>
        </div>
      </div>

      {{sidebar-footer}}
    </div>
  </div>
</div>
