{{#if buildMessageTask.isRunning}}
  {{loading-spinner}}
{{else}}
  {{lazy-image src=(image item.user.avatar "tiny")}}
  <span class="audit-log-item-message">
    <a href={{href-to "users.index" item.user}}>
      {{item.user.name}}
    </a>
    {{html-safe message}}
  </span>
{{/if}}
