<div class="user-search-item">
  {{lazy-image src=(image user.avatar "small")}}
  <a href={{href-to "users.index" user.name}} target="_blank">
    {{user.name}}
  </a>
  <div class="user-search-item-actions">
    {{#unless (or isInvited (is-self user))}}
      {{#if (or inviteMemberTask.isRunning getUserState.isRunning)}}
        {{loading-spinner}}
      {{else}}
        <button class="button button--primary" onclick={{perform inviteMemberTask user}}>
          {{t "groups.dashboard.members.invites-list.invite"}}
        </button>
      {{/if}}
    {{/unless}}
  </div>
</div>