{{#if getInvitesTask.isRunning}}
  <div class="text-xs-center w-100 m-t-2">
    {{loading-spinner size="large"}}
  </div>
{{else}}
  {{#if invitees}}
    <table class="table table-sm table-hover members-list">
      <thead>
        <tr>
          <th>{{t "groups.dashboard.members.invites-list.table.users"}}</th>
          <th>{{t "groups.dashboard.members.invites-list.table.senders"}}</th>
          <th>{{t "groups.dashboard.members.invites-list.table.actions"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#infinite-pagination onPagination=(action "onPagination")}}
          {{#each invitees as |invitee|}}
            <tr class="group-member-row">
              <td>
                <span>
                  {{lazy-image src=(image invitee.user.avatar "small")}}
                  {{invitee.user.name}}
                </span>
              </td>
              <td>
                <span>
                  {{lazy-image src=(image invitee.sender.avatar "small")}}
                  {{invitee.sender.name}}
                </span>
              </td>
              <td>
                <span>
                  <button class="btn btn-sm btn-danger hint--round hint--bounce hint--top" aria-label="Remove"
                    disabled={{if removeInviteTask.isRunning "disabled"}}
                    onclick={{perform removeInviteTask invitee}}>
                    {{svg-jar "trash"}}
                  </button>
                </span>
              </td>
            </tr>
          {{/each}}
        {{/infinite-pagination}}
      </tbody>
    </table>
  {{else}}
    <div class="card">
      <div class="card-block">
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{t "errors.contentEmpty"}}
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}