{{one-way-text query
  update=(action "searchUsers")
  placeholder="Search to Invite User"
  class="form-control"
}}

<div class="user-search-list">
  {{#if searchUsersTask.isRunning}}
    <div class="w-100 text-xs-center m-t-1 m-b-1">
      {{loading-spinner}}
    </div>
  {{else}}
    {{#each searchUsersTask.lastSuccessful.value as |result|}}
      {{groups/dashboard/invite-user user=result group=group}}
    {{else}}
      <div class="w-100 text-xs-center m-t-1 m-b-1">
        <p>Search to invite users to your group.</p>
      </div>
    {{/each}}
  {{/if}}
</div>
