<div class="card">
  <div class="card-block">
    <h5 class="card-title">{{t "groups.dashboard.overview.reports"}}</h5>
    <hr>
    {{#if getLatestReportsTask.isRunning}}
      <div class="w-100 text-xs-center">
        {{loading-spinner size="small"}}
      </div>
    {{else}}
      {{#each getLatestReportsTask.last.value as |report|}}
        <div class="report-item">
          {{lazy-image src=(image report.user.avatar "small")}}
          <div class="report-meta">
            <a href={{href-to "groups.group.dashboard.reports"}}>
              {{#if report.explanation}}
                {{truncate report.explanation 50}}
              {{else}}
                {{t "groups.reports.no-explanation"}}
              {{/if}}
            </a>
            <span class="report-reason">{{report.reason}}</span>
          </div>
        </div>
      {{else}}
        <p>{{t "errors.contentEmpty"}}</p>
      {{/each}}
    {{/if}}
  </div>
</div>