<div class="card">
  <div class="card-block">
    <h5 class="card-title">{{t "groups.dashboard.overview.tickets"}}</h5>
    <hr>
    {{#if getLatestTicketsTask.isRunning}}
      <div class="w-100 text-xs-center">
        {{loading-spinner size="small"}}
      </div>
    {{else}}
      {{#each getLatestTicketsTask.last.value as |ticket|}}
        <div class="report-item">
          {{lazy-image src=(image ticket.user.avatar "small")}}
          <div class="report-meta">
            <a href={{href-to "groups.group.dashboard.tickets"}}>
              {{truncate ticket.firstMessage.content.content 50}}
            </a>
            <span class="report-timestamp">
              {{format-relative ticket.createdAt interval=1000}}
            </span>
          </div>
        </div>
      {{else}}
        <p>{{t "errors.contentEmpty"}}</p>
      {{/each}}
    {{/if}}
  </div>
</div>