{{#bootstrap/bs-modal
  id=modalId
  onClose=onClose as |modal|}}
  {{#modal.header}}
    <h3 class="text-xs-center">
      Block User
    </h3>
  {{/modal.header}}

  {{#modal.body}}
    <h6>Before you block this person, we want to let you know how blocking will work.</h6>
    <p>
      Blocking this person will make it so that their content is no longer visible to you,
      and your content will no longer be visible or interactable for them.
    </p>
  {{/modal.body}}

  {{#modal.footer}}
    <button class="button button--primary btn-lg btn-block" disabled={{if blockUser.isRunning "disabled"}} onclick={{perform blockUser}}>
      {{#if blockUser.isRunning}}
        {{loading-spinner size="small"}}
      {{else}}
        Block {{user.name}}
      {{/if}}
    </button>
  {{/modal.footer}}
{{/bootstrap/bs-modal}}