{{#bootstrap/bs-modal largeModal=true backdrop="static" keyboard="false" onClose=onClose as |modal|}}
  {{#modal.header}}
    <h4>Image Crop</h4>
  {{/modal.header}}
  {{#modal.body}}
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <img id="{{elementId}}-image" src={{image image}}>
      <span class="text-muted m-t-1">{{t "modals.image-cropper.size" width=width height=height}}</span>
    </div>
  {{/modal.body}}
  {{#modal.footer}}
    <div class="pull-sm-right">
      <button class="button" {{action "closeModal"}}>
        {{t "modals.image-cropper.close"}}
      </button>
      <button class="button btn-primary" {{action "updateImage"}}>
        {{t "modals.image-cropper.select"}}
      </button>
    </div>
  {{/modal.footer}}
{{/bootstrap/bs-modal}}
