{{#bootstrap/bs-modal id=modalId onClose=onClose as |modal|}}
  {{#modal.body}}
    {{#if (or loadReview.isRunning loadRelationships.isRunning)}}
      <div class="text-xs-center w-100">
        {{loading-spinner size="large"}}
      </div>
    {{else}}
      <div class="row">
        <div class="col-xs-4 no-padding-right">
          {{lazy-image src=(image review.media.posterImage "medium")}}
        </div>
        <div class="col-xs">
          <h3>{{review.media.computedTitle}}</h3>

          {{! errors }}
          {{#if showError}}
            <div class="alert alert-danger">
              {{errorMessage}}
            </div>
          {{/if}}

          {{! review content! }}
          {{expanding-textarea review.body
            update=(action (mut review.body))
            rows=5
            placeholder="What'd you think? ..."
          }}

          {{! media rating -- required to be set for review }}
          <div class="rating-wrapper">
            <h6>Your Rating:</h6>
            {{#library-entry/rating-button tagName="span" onClick=(action (mut rating))}}
              {{library-entry/readonly-rating rating=rating}}
            {{/library-entry/rating-button}}
          </div>

          {{! review spoiler }}
          <label class="custom-control custom-checkbox">
            {{one-way-checkbox review.spoiler update=(action (mut review.spoiler)) class="custom-control-input"}}
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Spoiler</span>
          </label>

          {{! publish review }}
          <div class="review--cta">
            <button class="button button--primary" disabled={{unless isValid "disabled"}} onclick={{perform saveReview}}>
              {{#if saveReview.isRunning}}
                {{loading-spinner size="small"}}
              {{else}}
                Save
              {{/if}}
            </button>
          </div>
        </div>
      </div>
    {{/if}}
  {{/modal.body}}
{{/bootstrap/bs-modal}}
