{{#bootstrap/bs-modal
  id=modalId
  onClose=onClose as |modal|}}
  {{#modal.body}}
    {{#if (and media entry)}}
      <div class="row">
        <div class="col-xs-4 no-padding-right">
          {{lazy-image url=(image media.posterImage "medium")}}
        </div>
        <div class="col-xs">
          <h3>{{media.canonicalTitle}}</h3>

          {{! review content! }}
          {{expanding-textarea content
            update=(action (mut content))
            rows=5
            placeholder="What'd you think? ..."
          }}

          {{! media rating -- required to be set for review }}
          <div class="rating-wrapper">
            <h6>Your Rating:</h6>
            {{star-rating entry.rating class="review-stars" onClick=(action "updateEntry" entry "rating")}}
          </div>

          {{! publish review }}
          <div class="review--cta">
            <button class="button button--primary" disabled={{unless isValid "disabled"}} {{action (perform publish)}}>
              {{#if publish.isRunning}}
                {{loading-spinner size="small"}}
              {{else}}
                {{#if (and review (not isNew))}}
                  Edit
                {{else}}
                  Publish
                {{/if}}
              {{/if}}
            </button>
          </div>
        </div>
      </div>
    {{else}}
      <div class="text-xs-center w-100">
        {{loading-spinner size="large"}}
      </div>
    {{/if}}
  {{/modal.body}}
{{/bootstrap/bs-modal}}
