<div class='explore-page'>
  <h3>
    {{t (concat "titles." more "." type)
      mediaType=mediaType
      type=(capitalize mediaType)
      category=(capitalize categoryName)
    }}
  </h3>
  {{#if (not (is-empty categoryName))}}
    {{explore/category-widget/related}}
  {{else}}
    {{explore/category-widget/index}}
  {{/if}}
  {{explore/category-widget}}
  {{explore/explore-search}}
  <div class="explore-content">
    <div class="explore-grid">
      {{#if getMediaTask.isRunning}}
        <div class="text-xs-center w-100 m-t-2 m-b-2">
          {{loading-spinner size="large"}}
        </div>
      {{else if media}}
        {{#infinite-pagination onPagination=(route-action "onPagination")}}
          {{#each media as |media|}}
            <div class="explore-poster">
              {{#media-popover media=media}}
                <a href={{href-to (concat media.modelType ".show") media.slug}} class="media-poster">
                  {{lazy-image src=(image media.posterImage "large")}}
                </a>
              {{/media-popover}}
            </div>
          {{/each}}
        {{/infinite-pagination}}
      {{else}}
        <div class="text-xs-center m-t-1 m-b-1">
          <p>{{t "errors.contentEmpty"}}</p>
        </div>
      {{/if}}
    </div>
  </div>
</div>
