<h3>{{t (concat "titles." mediaType ".index")}}</h3>
{{explore/category-widget}}
{{explore/explore-search}}
<div class="explore-content">
  {{explore/sections/highest-rated mediaType=mediaType}}
  {{explore/sections/most-popular mediaType=mediaType}}
</div>
