<h3>Explore Anime</h3>
{{explore/category-widget}}
{{explore/explore-search}}
<div class="explore-content">
  {{explore/explore-section}}
  {{explore/explore-section}}
  {{explore/explore-section}}
  {{explore/explore-section}}
  {{explore/explore-section}}
  {{explore/explore-section}}
</div>
