<h6>
  {{t (concat "titles." more "." type)
    mediaType=mediaType
    type=(capitalize mediaType)
    category=(t (category-to-i18n category.slug))
  }}
</h6>

{{#if tasks.isRunning}}
  {{#each (repeat (if (is-empty category) 1 3)) as |_|}}
    {{#skeleton-container class="explore-grid-skeleton"}}
      {{#each (repeat 5) as |_|}}
        {{skeleton-loader class="explore-grid-skeleton-break"}}
      {{/each}}
    {{/skeleton-container}}
  {{/each}}
{{else if results}}
  <div class="media-browse">
    <div class="media-grid container">
      <div class="row">
          {{#each results as |media|}}
            <div class="poster-wrapper">
              {{#media-popover media=media}}
                <div class="grid-poster">
                  {{lazy-image src=(image media.posterImage "medium")}}
                  <div class="poster-overlay">
                    <a href={{href-to (concat media.modelType ".show") media.slug}}></a>
                    {{library-entry/status-dropdown media=media}}
                  </div>
                </div>
              {{/media-popover}}
            </div>
          {{/each}}
      </div>
    </div>
  </div>
{{else}}
  <p>{{t "explore.no-data"}}</p>
{{/if}}

{{#if results}}
  <div class="explore-section-more">
    {{#if (not (is-empty category))}} {{! Category View }}
      <a href={{href-to more mediaType category.slug type}}>{{t "explore.view-more"}}</a>
    {{else}} {{! Media view }}
      <a href={{href-to more mediaType type}}>{{t "explore.view-more"}}</a>
    {{/if}}
  </div>
{{/if}}
