<section class="bulk-edit is-sticky clearfix">
  <div class="media-selected">
    <span class="descriptor">
      {{t "users.library.bulk.selected" num=selectedCount type=media}}
    </span>
    <a class="select-amount" href="#" {{action selectAll}}>{{t "users.library.bulk.select-all"}}</a>
    <span class="seperator"> · </span>
    <a class="select-amount" href="#" {{action resetSelection}}>{{t "users.library.bulk.select-none"}}</a>
  </div>

  <div class="bulk-cta">
    <a class="bulk-btn secondary" href="#" {{action "removeEntriesBulk"}}>
      {{#if isRemoveLoading}}
        {{t "users.library.bulk.remove-loading"}}
      {{else}}
        {{t "users.library.bulk.remove" num=selectedCount htmlSafe=true}}
      {{/if}}
    </a>
    {{#basic-dropdown as |dd|}}
      {{#dd.trigger class="bulk-btn dropdown-toggle"}}
        {{#if isUpdateLoading}}
          {{t "users.library.bulk.update-loading"}}
        {{else}}
          {{t "users.library.bulk.move-to" num=selectedCount htmlSafe=true}}
        {{/if}}
      {{/dd.trigger}}
      {{#dd.content}}
        <ul class="list-unstyled">
          {{#each libraryEntryStatuses as |status|}}
            <li class="dropdown-item" {{action (queue
              (action dd.actions.toggle)
              (action "updateStatusBulk" status))}}>
              {{t (concat "library-shared." status) type=media}}
            </li>
          {{/each}}
        </ul>
      {{/dd.content}}
    {{/basic-dropdown}}
  </div>
</section>