<tr>
  <td class="status status-{{libraryEntry.status}}"></td>
  <td class="checkbox-cell">
    <input type="checkbox" class="checkbox">
  </td>
  {{! Title }}
  <td class="media-cell">
    <span class="cell-poster">
      <a href={{href-to (concat libraryEntry.media.modelType ".show") libraryEntry.media.slug}}>
        {{lazy-image src=(image libraryEntry.media.posterImage "tiny")}}
      </a>
    </span>
    <span class="cell-title">
      <a href={{href-to (concat libraryEntry.media.modelType ".show") libraryEntry.media.slug}}>
        {{libraryEntry.media.computedTitle}}
      </a>
    </span>
  </td>
  {{! Rating }}
  <td class="rating-cell">
    <span class="{{if session.account.isSimpleRating "simple" (if session.hasUser "star" "simple")}}-rating-cell">
      {{#if (gt libraryEntry.rating 0)}}
        <span class="entry-rating entry-rating-{{if session.account.isSimpleRating "simple" (if session.hasUser "star" "simple")}}">
        {{library-entry/readonly-rating
          rating=libraryEntry.rating
          hideText=true
        }}
        </span>
      {{/if}}
    </span>
  </td>
  {{! Progress }}
  <td class="progress-cell">
    <span>
      <a href="#" class="link">{{libraryEntry.progress}}</a>
      /
    </span>
    <span>{{or libraryEntry.media.unitCount "-"}}</span>
    <a href="#" class="increment-episode">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
        <path d="M13.5,3.188C7.805,3.188,3.188,7.805,3.188,13.5S7.805,23.813,13.5,23.813S23.813,19.195,23.813,13.5 S19.195,3.188,13.5,3.188z M19,15h-4v4h-3v-4H8v-3h4V8h3v4h4V15z"></path>
      </svg>
    </a>
  </td>
  <td class="edit-entry">
    <a href="#" class="edit-entry-button" {{action (toggle "showEditModal" this)}}>
      {{t "users.library.list.edit"}}
    </a>
  </td>
</tr>

{{#if showEditModal}}
  {{to-elsewhere named="modal" send=(component "users/library/library-edit"
    libraryEntry=libraryEntry
    saveEntry=saveEntry
    removeEntry=removeEntry
    onClose=(toggle-action "showEditModal" this)
  )}}
{{/if}}