<tr class={{if isChecked "bulk-selected"}}>
  <td class="status status-{{libraryEntry.status}}"></td>
  {{! Checkbox }}
  {{#if (can "edit library-entry" libraryEntry)}}
    <td class="checkbox-cell">
      {{one-way-checkbox isChecked
        update=(action "checkedEntry")
        class="checkbox"
      }}
    </td>
  {{/if}}
  {{! Title }}
  <td class="media-cell">
    <span class="cell-poster">
      <a href={{href-to (concat libraryEntry.media.modelType ".show") libraryEntry.media.slug}}>
        {{lazy-image src=(image libraryEntry.media.posterImage "tiny")}}
      </a>
    </span>
    <span class="cell-title">
      <a href={{href-to (concat libraryEntry.media.modelType ".show") libraryEntry.media.slug}}>
        {{libraryEntry.media.computedTitle}}
      </a>
    </span>
  </td>
  {{! Rating }}
  <td class="rating-cell">
    <span class="{{if session.account.isSimpleRating "simple" (if session.hasUser "star" "simple")}}-rating-cell">
      {{#if (gt libraryEntry.rating 0)}}
        <span class="entry-rating entry-rating-{{if session.account.isSimpleRating "simple" (if session.hasUser "star" "simple")}}">
        {{library-entry/readonly-rating
          rating=libraryEntry.rating
          hideText=true
        }}
        </span>
        {{else}}
        <span class="entry-rating entry-rating-empty empty-rating-{{if session.account.isSimpleRating "simple" (if session.hasUser "star" "simple")}}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" enable-background="new 0 0 26 26">
            <path d="M13,2c6.065,0,11,4.935,11,11s-4.935,11-11,11S2,19.065,2,13S6.935,2,13,2 M13,0C5.82,0,0,5.82,0,13 s5.82,13,13,13s13-5.82,13-13S20.18,0,13,0L13,0z"></path>
          </svg>
        </span>
      {{/if}}
    </span>
  </td>
  {{! Progress }}
  <td class="progress-cell">
    <span>
      <a href="#" class="link">{{changeset.progress}}</a>
      /
    </span>
    <span>{{or libraryEntry.media.unitCount "-"}}</span>
    {{! Increment }}
    {{#if (can "edit library-entry" libraryEntry)}}
      {{#unless (eq libraryEntry.media.unitCount changeset.progress)}}
        <a href="#" class="increment-episode" {{action "incrementProgress"}}>
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <path d="M13.5,3.188C7.805,3.188,3.188,7.805,3.188,13.5S7.805,23.813,13.5,23.813S23.813,19.195,23.813,13.5 S19.195,3.188,13.5,3.188z M19,15h-4v4h-3v-4H8v-3h4V8h3v4h4V15z"></path>
          </svg>
        </a>
      {{/unless}}
    {{/if}}
  </td>
  {{! Edit }}
  {{#if (can "edit library-entry" libraryEntry)}}
    <td class="edit-entry">
      <a href="#" class="edit-entry-button" {{action (toggle "showEditModal" this)}}>
        {{t "users.library.list.edit"}}
      </a>
    </td>
  {{/if}}
</tr>

{{#if showEditModal}}
  {{to-elsewhere named="modal" send=(component "users/library/library-edit"
    libraryEntry=libraryEntry
    saveEntry=saveEntry
    removeEntry=removeEntry
    onClose=(toggle-action "showEditModal" this)
  )}}
{{/if}}
