<div class="user-cover no-edit">
  <div class="cover-photo" style={{coverImageStyle}}>
    <div class="container">
      <div class="row">
        <div class="cover-user-info">
          <div class="primary-info">
            <div class="cover-avatar avatar">
              <img src={{image user.avatar}} class="avatar-image avatar-image--large">
            </div>
            <div class="mini-bio">
              <h3 class="cover-username" data-test-selector="username">
                {{user.name}}
              </h3>
              <div class="cover-cta">
                {{#if (can-mutate user user)}}
                  <button class="button button--light-outline" data-toggle="modal" data-target="#edit-profile-modal" {{action (toggle "isEditing" this)}}>
                    <span class="button-label button-defaultState js-buttonLabel">Edit</span>
                  </button>
                {{/if}}
                {{#if (not (is-self user))}}
                  {{follow-button user=user}}
                {{/if}}
              </div>
            </div>
          </div>
          <div class="cover-profiles">
            <div class="about-me-profiles">
              <!-- TODO: NYI on server -->
              <a href="#" class="profile-icon hint--top hint--bounce hint--rounded" aria-label="Twitter">{{svg-jar "twitter"}}</a>
              <a href="#" class="profile-icon hint--top hint--bounce hint--rounded" aria-label="Facebook">{{svg-jar "facebook"}}</a>
              <a href="#" class="profile-icon hint--top hint--bounce hint--rounded" aria-label="Twitch">{{svg-jar "twitch"}}</a>
              <a href="#" class="profile-icon hint--top hint--bounce hint--rounded" aria-label="Youtube">{{svg-jar "youtube"}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-cover-overlay"></div>
  </div>
</div>

<nav class="cover-nav navbar navbar-light">
  <div class="container">
    <div class="row">
      <div class="nav navbar-nav">
        {{link-to (t "users.nav.activity") "users.index" class="nav-item nav-link"}}
        {{link-to (t "users.nav.library") "users.library" class="nav-item nav-link"}}
        {{link-to (t "users.nav.reviews") "users.reviews" class="nav-item nav-link"}}
        {{#link-to "users.followers" class="nav-item nav-link"}}
          {{t "users.nav.followers"}}
          <span class="tag tag-default">{{user.followersCount}}</span>
        {{/link-to}}
        {{#link-to "users.following" class="nav-item nav-link"}}
          {{t "users.nav.following"}}
          <span class="tag tag-default">{{user.followingCount}}</span>
        {{/link-to}}
      </div>
    </div>
  </div>
</nav>

{{! users/* templates rendered here }}
{{outlet}}

{{#if isEditing}}
  {{#ember-wormhole to="wormhole"}}
    {{users/components/edit-profile
      modalId="edit-profile-modal"
      onClose=(toggle-action "isEditing" this)}}
  {{/ember-wormhole}}
{{/if}}
