<ul class="group-category-list">
  {{#if getCategoriesTask.isRunning}}
    <div class="text-xs-center m-t-2">
      {{loading-spinner size="large"}}
    </div>
  {{else}}
    {{#each (sort-by "slug" filteredCategories) as |category|}}
      <li class="group-category-wrapper {{if (eq currentCategory category.slug) "active"}}">
        <a href="#" {{action "switchCategory" category}}>
          <span class="group-category-icon">{{svg-jar category.slug}}</span>
          <span class="group-category-title">{{category.name}}</span>
        </a>
      </li>
    {{/each}}
  {{/if}}
</ul>
