<div class="stream-item-options">
  {{! Dropdown }}
  <span class="more-wrapper">
    <a href="#" class="more-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{svg-jar "more"}}
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      {{! Hide/Show Posts }}
      <a class="dropdown-item" href="#" {{action "editHidden" (not membership.hidden)}}>
        {{#if membership.hidden}}
          <div>{{t "groups.show-posts.text" group=group.name}}</div>
          <div class="option-info">{{t "groups.show-posts.info"}}</div>
        {{else}}
          <div>{{t "groups.hide-posts.text" group=group.name}}</div>
          <div class="option-info">{{t "groups.hide-posts.info"}}</div>
        {{/if}}
      </a>
    </div>
  </span>
</div>