<span class="button-label">
  {{#if groupTasks.isRunning}}
    {{loading-spinner size="small"}}
  {{else}}
    {{#if isMemberOfGroup}}
      {{t "groups.leave-group"}}
    {{else}}
      {{t "groups.join-group"}}
    {{/if}}
  {{/if}}
</span>