<h6>{{link.site.name}}</h6>
<div class="form-group row">
  <div class="col-xs-12">
    <label class="col-form-label">
      {{t (concat "users.edit-modal.profile-links.sites." (profile-link-to-svg link.site.name) ".about")}}
    </label>
  </div>
  <div class="col-xs-12">
    {{one-way-text link.url
      update=(action "update")
      class="form-control"
      placeholder=(t
        (concat "users.edit-modal.profile-links.sites." (profile-link-to-svg link.site.name) ".placeholder")
      )}}
    {{#if isSaved}}
      <div class="profile-link-remove">
        <a href="#" onclick={{action "remove"}}>{{t "users.edit-modal.profile-links.remove"}}</a>
      </div>
    {{/if}}
  </div>
</div>
