{{! Loader @ Top }}
{{#if isTop}}
  {{#if (and isLoading showLoader)}}
    <div class="w-100 text-xs-center m-t-2 m-b-2">
      {{loading-spinner size=loaderSize}}
    </div>
  {{/if}}

  {{! Viewport Sentinel }}
  <div id={{viewportDivId}}
      style="width: 100%; height: 1px; background-color: transparent">
  </div>
{{/if}}

{{! Content }}
{{yield isLoading}}

{{! Loader @ Bottom }}
{{#unless isTop}}
  {{! Viewport Sentinel }}
  <div id={{viewportDivId}}
      style="width: 100%; height: 1px; background-color: transparent">
  </div>

  {{#if (and isLoading showLoader)}}
    <div class="w-100 text-xs-center m-t-2 m-b-2">
      {{loading-spinner size=loaderSize}}
    </div>
  {{/if}}
{{/unless}}