<div class="message-data {{if isLeader "align-right"}}">
  <span class="message-data-name">
    <a href={{href-to "users.index" message.user}}>{{message.user.name}}</a>
  </span>
  <span class="message-data-time">
    {{format-relative message.createdAt interval=1000}},
    {{format-date message.createdAt hour="numeric" minute="numeric" timeZone="UTC"}}
  </span>
</div>

<div class="message {{messageClass}} {{if isLeader "float-right"}}">
  {{message.content}}
</div>
