{{#each (reject-by "isNew" true user.profileLinks) as |profile|}}
  {{#if profile.isURL}}
    <a href={{profile.url}} target="_blank" rel="noopener noreferrer" class="profile-icon hint--top hint--bounce hint--rounded" aria-label={{profile.site.name}}>
      {{svg-jar (profile-link-to-svg profile.site.name)}}
    </a>
  {{else}}
    <a href="javascript:void();" class="profile-icon hint--top hint--bounce hint--rounded" aria-label={{concat profile.site.name ": " profile.url}} data-clipboard-text={{profile.url}} onclick={{action "copyNotification" profile.url}}>
      {{svg-jar (profile-link-to-svg profile.site.name)}}
    </a>
  {{/if}}
{{/each}}