{{! anime / manga }}
<div class="favorite-series-panel">
  <h6 class="panel-heading">{{t "users.activity.favorite.header"}}</h6>
  {{! TODO: @Josh -- Style tab headings here }}
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#favorite-anime" data-toggle="tab" role="tab">
        {{t "users.activity.favorite.anime.anime"}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#favorite-manga" data-toggle="tab" role="tab">
        {{t "users.activity.favorite.manga.manga"}}
      </a>
    </li>
  </ul>

  <div class="tab-content">
    {{! anime }}
    <div class="tab-pane active" id="favorite-anime" role="tabpanel">
      {{#if animeFavorites}}
        {{users/user-favorites/list
            items=animeFavorites user=user count=animeCount
            class="favorite-media-grid row"}}
        {{#if (is-self user)}}
          <a href="#" class="button button--secondary" {{action (queue (action (mut activeTab) "anime") (toggle-action "isManaging" this))}}>{{t "users.activity.favorite.anime.edit"}}</a>
        {{/if}}
      {{else}}
        <span class="favorite-placeholder">
          {{#if (is-self user)}}
            <p>{{t "users.activity.favorite.anime.not-listed"}}</p>
            <a href="#" class="button button--primary" {{action (queue (action (mut activeTab) "anime") (toggle-action "isManaging" this))}}>{{t "users.activity.favorite.anime.choose"}}</a>
          {{else}}
            {{t "users.activity.favorite.anime.empty"}}
          {{/if}}
        </span>
      {{/if}}
    </div>

    {{! manga }}
    <div class="tab-pane" id="favorite-manga" role="tabpanel">
      {{#if mangaFavorites}}
        {{users/user-favorites/list
          items=mangaFavorites user=user count=mangaCount
          class="favorite-media-grid row"}}
        {{#if (is-self user)}}
          <a href="#" class="button button--secondary" {{action (queue (action (mut activeTab) "manga") (toggle-action "isManaging" this))}}>{{t "users.activity.favorite.manga.edit"}}</a>
        {{/if}}
      {{else}}
        <span class="favorite-placeholder">
          {{#if (is-self user)}}
            <p>{{t "users.activity.favorite.manga.not-listed"}}</p>
            <a href="#" class="button button--primary" {{action (queue (action (mut activeTab) "manga") (toggle-action "isManaging" this))}}>{{t "users.activity.favorite.manga.choose"}}</a>
          {{else}}
            {{t "users.activity.favorite.manga.empty"}}
          {{/if}}
        </span>
      {{/if}}
    </div>
  </div>
</div>

{{! characters }}
<div class="favorite-characters-panel">
  <h6 class="panel-heading">{{t "users.activity.favorite.characters.title"}}</h6>
  {{! list / manage }}
  {{#if characterFavorites}}
    {{users/user-favorites/list
      items=characterFavorites user=user count=characterCount
        class="favorite-media-grid row"}}
    {{#if (is-self user)}}
      <a href="#" class="button button--secondary" {{action (queue (action (mut activeTab) "characters") (toggle-action "isManaging" this))}}>{{t "users.activity.favorite.characters.edit"}}</a>
    {{/if}}
  {{else}}
    <span class="favorite-placeholder">
      {{#if (is-self user)}}
        <p>{{t "users.activity.favorite.characters.not-listed"}}</p>
        <a href="#" class="button button--primary" {{action (queue (action (mut activeTab) "characters") (toggle-action "isManaging" this))}}>{{t "users.activity.favorite.characters.choose"}}</a>
      {{else}}
        {{t "users.activity.favorite.characters.empty"}}
      {{/if}}
    </span>
  {{/if}}
</div>

{{! edit modal }}
{{#if isManaging}}
  {{to-elsewhere named="modal" send=(component "users/edit-profile"
    tab="favorites"
    externalData=(hash tab=activeTab)
    user=user
    modalId="edit-profile-modal"
    onClose=(toggle-action "isManaging" this))}}
{{/if}}
