<div class="favorite-series-panel">
  <h6 class="panel-heading">
    Favorite Series
    {{! manage series favorites }}
    {{#if (is-self user)}}
      <a href="#" class="panel-btn" {{action (toggle-action "isManagingSeries" this)}}>Manage</a>
      {{#if isManagingSeries}}
        {{to-elsewhere named="modal" send=(component "users/edit-profile"
          component="favorites"
          componentData=(hash tab=activeTab)
          user=user
          modalId="edit-profile-modal"
          onClose=(toggle-action "isManagingSeries" this))}}
      {{/if}}
    {{/if}}
  </h6>
  {{#if getAllFavorites.isRunning}}
    <div class="text-xs-center">
      {{loading-spinner size="large"}}
    </div>
  {{else}}
    {{! TODO: @Josh -- Style tab headings here }}
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#favorite-anime" data-toggle="tab" role="tab" {{action (mut activeTab) "anime"}}>
          Anime
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#favorite-manga" data-toggle="tab" role="tab" {{action (mut activeTab) "manga"}}>
          Manga
        </a>
      </li>
    </ul>

    <div class="tab-content">
      {{! anime }}
      <div class="tab-pane active" id="favorite-anime" role="tabpanel">
        {{#if animeFavorites}}
          {{users/user-favorites/list
            items=animeFavorites
            user=user
            updateNextPage=(action "updateNextPage" "anime")
            type="anime" class="favorite-media-grid row"}}
        {{else}}
          {{! TODO(@Josh) - Improve look/messages of empty favorites on profile }}
          <span class="favorite-placeholder">
            {{#if (is-self user)}}
              Add some Favorites.
            {{else}}
              User has no favorites.
            {{/if}}
          </span>
        {{/if}}
      </div>

      {{! manga }}
      <div class="tab-pane" id="favorite-manga" role="tabpanel">
        {{#if mangaFavorites}}
          {{users/user-favorites/list
            items=mangaFavorites
            user=user
            updateNextPage=(action "updateNextPage" "manga")
            type="manga" class="favorite-media-grid row"}}
        {{else}}
          <span class="favorite-placeholder">
            {{#if (is-self user)}}
              Add some Favorites.
            {{else}}
              User has no favorites.
            {{/if}}
          </span>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>

<div class="favorite-characters-panel">
  <h6 class="panel-heading">
    Favorite Characters
    {{! manage character favorites }}
    {{#if (is-self user)}}
      <a href="#" class="panel-btn" {{action (toggle-action "isManagingChars" this)}}>Manage</a>
      {{#if isManagingChars}}
        {{to-elsewhere named="modal" send=(component "users/edit-profile"
          component="favorites"
          componentData=(hash tab="characters")
          user=user
          modalId="edit-profile-modal"
          onClose=(toggle-action "isManagingChars" this))}}
      {{/if}}
    {{/if}}
  </h6>
  {{#if getAllFavorites.isRunning}}
    <div class="text-xs-center">
      {{loading-spinner size="large"}}
    </div>
  {{else}}
    {{#if characterFavorites}}
      {{users/user-favorites/list
        items=characterFavorites
        user=user
        updateNextPage=(action "updateNextPage" "character")
        type="character" class="favorite-media-grid row"}}
    {{else}}
      <span class="favorite-placeholder">
        {{#if (is-self user)}}
          Add some Favorites.
        {{else}}
          User has no favorites.
        {{/if}}
      </span>
    {{/if}}
  {{/if}}
</div>
