<a href={{href-to "users.index" user}}>
  <img class="card-img-top" src={{image user.coverImage (if short "original" "tiny")}}>
</a>
<div class="card-block">
  <a href={{href-to "users.index" user}}>
    <img class="card-img-avatar" src={{image user.avatar (if short "large" "small")}}>
  </a>
  <a href={{href-to "users.index" user}}>
    <h4 class="card-title">{{user.name}}</h4>
  </a>

  {{#if (not (is-self user))}}
    <div class="card-actions">
      {{follow-button user=user relationship=follow}}
      {{#if follow}}
        {{users/user-actions user=user follow=follow}}
      {{/if}}
    </div>
  {{else}}
    <div class="card-actions">
      <button class="button button--primary" disabled="disabled">
        {{t "components.users.you"}}
      </button>
    </div>
  {{/if}}
</div>
