{{! anime }}
{{#if normStats.animeAmountConsumed}}
  <div class="user-stats-panel">
    <div class="user-stats-heading">
      {{t "users.activity.stats.headings.anime"}}
    </div>
    {{#if normStats.animeCategoryBreakdown}}
      {{stats/category-breakdown-graph stat=normStats.animeCategoryBreakdown.statsData}}
    {{/if}}
    {{stats/time-spent stat=normStats.animeAmountConsumed.statsData kind='anime'}}
  </div>
{{/if}}

{{! manga }}
{{#if normStats.mangaAmountConsumed}}
  <div class="user-stats-panel">
    <div class="user-stats-heading">
      {{t "users.activity.stats.headings.manga"}}
    </div>
    {{#if normStats.mangaCategoryBreakdown}}
      {{stats/category-breakdown-graph stat=normStats.mangaCategoryBreakdown.statsData}}
    {{else}}
      <div class="user-stats-empty">
        {{#if (is-self user)}}
          {{t "users.activity.stats.empty.header"}}
        {{else}}
          {{t "users.activity.stats.empty.guest-header" user=user.name}}
        {{/if}}
      </div>
    {{/if}}
    {{stats/time-spent stat=normStats.mangaAmountConsumed.statsData kind='manga'}}
  </div>
{{/if}}
