{{! Activity Page }}
<div class="container no-padding">
  <div class="feed-container row">
    {{! Feed Aside }}
    <div class="feed-aside col-sm">
      <div class="is-sticky">
        {{dashboard/unread-groups class="sidebar-item"}}
      </div>
    </div>

    {{! Group Feed }}
    <div class="feed-stream feed-narrow">
      {{#stream-feed/list
        subject=group.name
        streamType="group_aggr"
        streamId=group.id
        kitsuGroup=group
        kitsuGroupMembership=membership
        showNsfw=(or group.nsfw (eq group.category.slug "nsfw"))
        hidePostEditor=(not (can "write post in group" group membership=membership))
        readOnly=(not (can "write post"))}}
        <span>{{t "groups.activity.feed-header"}}</span>
      {{/stream-feed/list}}
    </div>

    {{! Sidebar }}
    <div class="feed-sidebar col-sm">
      <div class="group-about-me-panel sidebar-item">
        <h6 class="panel-heading">{{t "groups.activity.about" group=group.name}}</h6>
        <p>
          {{~#if group.about}}
            {{~group.about}}
          {{~else}}
            {{~t "errors.contentEmpty"}}
          {{~/if~}}
        </p>
      </div>

      {{! Group Members }}
      {{groups/activity/group-members group=group class="sidebar-item"}}

      {{! Group Neighbors }}
      {{#if (gt group.neighborsCount 0)}}
        {{groups/group-neighbors group=group class="sidebar-item"}}
      {{/if}}
    </div>
  </div>
</div>
