<nav class="navbar navbar-fixed-top navbar-light primary-nav" role="navigation">
  <div class="container">
    <div class="row">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <div class="nav-item">
          <a href={{href-to "dashboard"}} class="navbar-brand nav-link">
            <span class="logo">
              {{svg-jar "kitsu-full"}}
            </span>
          </a>
    	  </div>
        <ul class="nav navbar-nav">
          {{#if session.hasUser}}
            <li class="nav-item">
              {{link-to (t "header.library") "users.library" session.account.name class="nav-link"}}
            </li>
          {{/if}}
          <li class="nav-item">
            {{link-to (t "header.anime") "anime.index" class="nav-link"}}
          </li>
          <li class="nav-item">
            {{link-to (t "header.manga") "manga.index" class="nav-link"}}
          </li>
        </ul>

      <ul class="nav navbar-nav pull-sm-right navbar-buttons">
        {{#if session.hasUser}}
          <li class="nav-item">
            <form class="site-search" action="/searchresults.asp" method="get" name="SearchBoxForm">
    				    <input id="search" class="site-search__input" type="text" name="Search" value="" placeholder="Search...">
    				    <label for="search" class="site-search__icon">
    				    	<span class="icon">
                    {{svg-jar "search"}}
                  </span>
    				    </label>
    				    <button class="site-search__submit" type="submit" name="Submit" value=""></button>
    				</form>

            <span style="display: none">
              <svg xmlns="http://www.w3.org/2000/svg">
              <symbol viewBox="0 0 512 512" id="icon-search">
                <title>search</title>
                <path id="search-magnifier-2-icon" d="M460.355,421.59L353.844,315.078c20.041-27.553,31.885-61.437,31.885-98.037	C385.729,124.934,310.793,50,218.686,50C126.58,50,51.645,124.934,51.645,217.041c0,92.106,74.936,167.041,167.041,167.041
                	c34.912,0,67.352-10.773,94.184-29.158L419.945,462L460.355,421.59z M100.631,217.041c0-65.096,52.959-118.056,118.055-118.056
                	c65.098,0,118.057,52.959,118.057,118.056c0,65.096-52.959,118.056-118.057,118.056C153.59,335.097,100.631,282.137,100.631,217.041 	z" /> </symbol>
              </svg>
            </span>
          </li>

          {{! Notifications }}
          {{application/user-notifications tagName="li" class="nav-item"}}

          {{! User Menu }}
          <li class="nav-item">
            <a href="#" class="nav-link avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src={{image session.account.avatar}} class="avatar-image avatar-image--small">
            </a>
            <div class="dropdown-menu user-menu-drop">
              <a href={{href-to "users.index" session.account}} class="dropdown-item">
                {{t "header.user.profile"}}
              </a>
              <a href={{href-to "settings"}} class="dropdown-item">
                {{t "header.user.settings"}}
              </a>
              {{#if (has-role "admin")}}
                <a href={{href-to "admin"}} class="dropdown-item">
                  {{t "header.user.admin"}}
                </a>
              {{/if}}
              <a href="#" {{action "invalidateSession"}} class="dropdown-item">
                {{t "header.user.logout"}}
              </a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="#" id="sign-up-button" class="nav-link" data-test-selector="sign-up-header"
              {{action (queue
                (action (mut authComponent) "social-auth")
                (toggle "authOpened" this)
              )}}>
              {{t "header.signUp"}}
            </a>
          </li>
          <li class="nav-item">
            <a href="#" id="sign-in-button" class="nav-link" data-test-selector="sign-in-header"
              {{action (queue
                (action (mut authComponent) "sign-in")
                (toggle "authOpened" this)
              )}}>
              {{t "header.signIn"}}
            </a>
          </li>
        {{/if}}
      </ul>
      </div>
    </div>
  </div>
</nav>

{{#if authOpened}}
  {{to-elsewhere named="modal" send=(component "application/auth-onboarding"
    modalId="auth-modal" component=authComponent onClose=(toggle-action "authOpened" this))}}
{{/if}}
