<a class="nav-link notifications {{if (gt count 0) "notifications--present"}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{action "markSeen" preventDefault=false}}>
  {{#if getNotifications.isRunning}}
    {{loading-spinner}}
  {{else}}
    {{#if (gt count 0)}}
      <span>{{count}}</span>
    {{else}}
      {{svg-jar "bell"}}
    {{/if}}
  {{/if}}
</a>

<div class="dropdown-menu notification-drop">
  <header>
    <a href={{href-to "notifications"}} class="see-all-notifications">See All Notifications</a>
    {{#if hasUnread}}
      <a href="#" class="mark-as-read" {{action "markRead"}}>Mark all as Read</a>
    {{/if}}
  </header>
  {{#if (eq groups.length 0)}}
    <p class="notifications-empty">You don't have any notifications yet!</p>
  {{else}}
    <ul class="notification-list">
      {{#each groups as |group|}}
        {{application/user-notifications/item
          tagName="li"
          class="notification-item"
          group=group
          followNotification=(action "followNotification")}}
      {{/each}}
    </ul>
  {{/if}}
</div>
