<div class="modal-wrapper">
  <h4 class="edit-heading">
    {{t "users.edit.favorites"}}
  </h4>
  {{#if getAllFavorites.isRunning}}
    <div class="text-xs-center">
      {{loading-spinner size="large"}}
    </div>
  {{else}}
    <ul class="nav nav-tabs soft-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link {{if (eq initialTab "anime") "active"}}" data-toggle="tab" href="#edit-favorite-anime" role="tab">
          {{t "users.edit.favorite.anime"}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{if (eq initialTab "manga") "active"}}" data-toggle="tab" href="#edit-favorite-manga" role="tab">
          {{t "users.edit.favorite.manga"}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{if (eq initialTab "characters") "active"}}" data-toggle="tab" href="#edit-favorite-characters" role="tab">
          {{t "users.edit.favorite.characters"}}
        </a>
      </li>
    </ul>

    <div class="tab-content edit-favorite-content">
      {{! Anime }}
      <div id="edit-favorite-anime" class="tab-pane {{if (eq initialTab "anime") "active"}}" role="tabpanel">
        {{users/edit-profile/favorites/list items=animeFavorites type="anime"
          search=(perform search "anime")
          reorderItems=(action "reorderItems" "anime")
          addItem=(action "addItem")
          removeItem=(action "removeItem")
          updateNextPage=(action "updateNextPage" "anime")}}
      </div>

      {{! Manga }}
      <div id="edit-favorite-manga" class="tab-pane {{if (eq initialTab "manga") "active"}}" role="tabpanel">
        {{users/edit-profile/favorites/list items=mangaFavorites type="manga"
          search=(perform search "manga")
          reorderItems=(action "reorderItems" "manga")
          addItem=(action "addItem")
          removeItem=(action "removeItem")
          updateNextPage=(action "updateNextPage" "manga")}}
      </div>

      {{! Characters }}
      <div id="edit-favorite-characters" class="tab-pane {{if (eq initialTab "characters") "active"}}" role="tabpanel">
        {{users/edit-profile/favorites/list items=characterFavorites type="character"
          search=(perform search "character")
          reorderItems=(action "reorderItems" "character")
          addItem=(action "addItem")
          removeItem=(action "removeItem")
          updateNextPage=(action "updateNextPage" "character")}}
      </div>
    </div>
  {{/if}}
</div>
