{{#if errorMessage}}
  <div class="alert alert-danger" data-test-error-message>
    {{errorMessage}}
  </div>
{{/if}}

<p class="link-note">
  Visit your <a href={{href-to "settings"}} onclick={{transition}}>settings page</a> to change your username, email, notification settings, and more.
</p>
<button class="button button--save-edit button--primary"
        disabled={{if (or updateTask.isRunning (is-empty isDirty)) "disabled"}}
        onclick={{action "updateProfile"}}>
  {{#if updateTask.isRunning}}
    Updating...
  {{else}}
    Update Profile
  {{/if}}
</button>