{{! We have to check `post` here due to Stream & development environments }}
{{#if post}}
  <div class="stream-item-wrapper col-sm-12">
    <div class="stream-item--title-block">
      <a href={{href-to "users.index" post.user}} class="author-avatar">
        <img src={{image post.user.avatar}}>
      </a>
      <div class="author-info">
        <a class="author-name" href={{href-to "users.index" post.user}}>{{post.user.name}}</a>
        {{! @Josh/Stying -- Targeted post }}
        {{#if post.targetUser}}
          ->
          <a href={{href-to "users.index" post.targetUser}} class="author-name">
            {{post.targetUser.name}}
          </a>
        {{/if}}
        <small class="author-secondary">
          {{moment-from-now post.createdAt}}
        </small>
      </div>
    </div>

    <div class="stream-content">
      {{#if isHidden}}
        {{! @Josh/Styling -- NSFW Toggle }}
        {{#if post.nsfw}}
          <a href="#" {{action (toggle "isHidden" this)}}>NSFW content -- click here</a>
        {{/if}}
        {{! TODO (@vevix): Show spoiler information such as what episode this relates to }}
        {{#if post.spoiler}}
          <a href="#" {{action (toggle "isHidden" this)}}>Spoiled content -- click here</a>
        {{/if}}
      {{else}}
        {{#if post.isNew}}
          {{post.content.content}}
        {{else}}
          {{{post.contentFormatted}}}
        {{/if}}
      {{/if}}

      {{#if post.media}}
        <a href={{href-to (concat (media-type post.media) ".show") post.media}} onclick={{action "trackMedia"}}>
          Tagged with {{post.media.canonicalTitle}}
        </a>
      {{/if}}
    </div>

    {{! post likes }}
    {{#if viewportEntered}}
      {{stream-feed/items/post/post-likes
        post=post
        likesCountUpdate=(action (mut post.likesCount))
        trackStream=(action "trackStream")
      }}
    {{/if}}

    <div class="stream-item-options">
      <a href={{tweetLink}} target="_blank" {{action "trackShare" preventDefault=false}}>
        {{svg-jar "l-twitter"}}
        Tweet
      </a>
      <a href={{facebookLink}} target="_blank" {{action "trackShare"  preventDefault=false}}>
        {{svg-jar "l-facebook"}}
        Share
      </a>
      <span class="more-wrapper">
        <a href="#" class="more-drop" id="moreDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{svg-jar "more"}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="moreDrop">
          <a class="dropdown-item" href="#" data-clipboard-text={{concat host (href-to "posts" post.id)}} {{action "trackShare"}}>
            Copy Link to Post
          </a>
          {{#if (not (is-self post.user))}}
            <a class="dropdown-item" href="#">Report Post</a>
            <a class="dropdown-item" href="#" {{action "blockUser"}}>Block @{{post.user.name}}</a>
          {{/if}}
        </div>
      </span>
    </div>
  </div>

  {{! comments }}
  {{#if isHidden}}
    {{! @Josh/Styling -- Comments hidden due to NSFW/Spoiler }}
    <span>Comments Hidden</span>
  {{else}}
    {{#if viewportEntered}}
      {{stream-feed/items/post/comments
        post=post
        readOnly=readOnly
        countUpdate=(action (mut post.commentsCount))
        trackStream=(action "trackStream")
      }}
    {{/if}}
  {{/if}}
{{else}}
  <div class="stream-error-wrapper col-sm-12">
    {{t "errors.load"}}
  </div>
{{/if}}
