{{#if post}}
  <div class="stream-item-wrapper col-sm-12">
    <div class="stream-item--title-block">
      <a href={{href-to "users.index" post.user.name}} class="author-avatar">
        <img src={{image post.user.avatar}}>
      </a>
      <div class="author-info">
        <a class="author-name" href={{href-to "users.index" post.user.name}}>{{post.user.name}}</a>
        <!-- TODO @Josh - style targeted posts -->
        {{#if post.targetUser}}
          ->
          <a href={{href-to "users.index" post.targetUser.name}} class="author-name">
            {{post.targetUser.name}}
          </a>
        {{/if}}
        <small class="author-secondary">
          {{moment-from-now post.createdAt}}
        </small>
      </div>
    </div>

    <div class="stream-content">
      {{#if post.isNew}}
        {{! proxy content }}
        {{post.content.content}}
      {{else}}
        {{{post.contentFormatted}}}
      {{/if}}
    </div>

    <div class="stream-item-activity">
      <a href="#" class="like-stream-item {{if isLiked "is-liked"}}" {{action (perform toggleLike)}}>
        <span class="heart-wrapper"></span>
      </a>
      {{#if post.postLikes}}
        <ul class="stream-item-participants">
          {{#each (take 4 post.postLikes) as |liker|}}
            <li class="stream-like {{if liker.isNew "new-like"}} {{if liker.isDeleted "removed-like"}}">
              <a class="like-avatar" href={{href-to "users.index" liker.user.name}}>
                <img src={{image liker.user.avatar}}>
              </a>
            </li>
          {{/each}}
          {{#if (gt post.postLikesCount 4)}}
            <li class="stream-like-count">
              <a href="#">{{post.postLikesCount}}</a>
            </li>
          {{/if}}
        </ul>
      {{/if}}
    </div>

    <div class="stream-item-options">
      <a href={{tweetLink}} target="_blank" onclick={{action "trackClick" "share"}}>
        {{svg-jar "l-twitter"}}
        Tweet
      </a>
      <a href={{facebookLink}} target="_blank" onclick={{action "trackClick" "share"}}>
        {{svg-jar "l-facebook"}}
        Share
      </a>
      <span class="more-wrapper">
        <a href="#" class="more-drop" id="moreDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{svg-jar "more"}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="moreDrop">
          <a class="dropdown-item" href="#" data-clipboard-text={{concat host (href-to "posts" post.id)}} {{action "trackClick" "permalink"}}>
            Copy Link to Post
          </a>
          <a class="dropdown-item" href="#">Report Post</a>
          <a class="dropdown-item" href="#">Mute @{{post.user.name}}</a>
          <a class="dropdown-item" href="#">Block @{{post.user.name}}</a>
        </div>
      </span>
    </div>
  </div>

  {{stream-feed/items/post/comments
    comments=post.comments
    count=post.commentsCount
    readOnly=readOnly
    onCreate=(perform createComment)
  }}
{{else}}
  {{t "errors.load"}}
{{/if}}
