<div class="container">
  <div class="row">
    {{#each model as |follow|}}
      {{#if follow.follower}}
        <div class="card user-card col-sm-3">
          <a href={{href-to "users.index" follow.follower}}>
            <img class="card-img-top" src={{image follow.follower.coverImage}}>
          </a>
          <div class="card-block">
            <a href={{href-to "users.index" follow.follower}}>
              <img class="card-img-avatar" src={{image follow.follower.avatar "medium"}}>
            </a>
            <a href={{href-to "users.index" follow.follower}}>
              <h4 class="card-title">{{follow.follower.name}}</h4>
            </a>

            {{#if (not (is-self follow.follower))}}
              {{follow-button user=follow.follower}}
            {{else}}
              <button class="button button--primary" disabled="disabled">
                Hey, that's you!
              </button>
            {{/if}}
          </div>
        </div>
      {{/if}}
    {{else}}
      {{! @Josh -- Followers empty state }}
      <p>No one is following this person.</p>
    {{/each}}

    <div class="m-t-1 text-xs-center w-100">
      {{paginated-resource/infinite
        model=model
        loadingSize="large"
        update=(route-action "updateNextPage")
      }}
    </div>
  </div>
</div>
