<div class="container">
  <div class="row">
    {{#if model.taskInstance.isRunning}}
      <div class="text-xs-center w-100 m-t-1 m-b-1">
        {{loading-spinner size="large"}}
        <p>{{t "users.followers.loading"}}</p>
      </div>
    {{else if model.taskInstance.error}}
      <div class="text-xs-center w-100 m-t-1 m-b-1">
        {{t "errors.load"}}
      </div>
    {{else if taskValue}}
      {{#infinite-pagination onPagination=(route-action "onPagination")}}
        {{#each taskValue as |follow|}}
          {{#if follow.followed}}
            {{users/user-card user=follow.followed}}
          {{/if}}
        {{/each}}
      {{/infinite-pagination}}
    {{else}}
      <div class="text-xs-center w-100 m-t-1 m-b-1">
        {{t "users.followers.not-found"}}
      </div>
    {{/if}}
  </div>
</div>
