<div class="container no-padding">
  <div class="feed-container row">
    {{! Feed Posts }}
    <div class="feed-stream col-sm-12 col-md-8">
      {{#if (and (is-self user) (not (is-object user.avatar)))}}
        {{users/onboarding/feed-notice}}
      {{/if}}

      {{stream-feed/list
        streamType="user_aggr"
        streamId=user.id
        readOnly=(cannot "write post")
        user=user
        pinned=user.pinnedPost}}
    </div>

    <div class="feed-sidebar col-sm-4">
      {{#if (and (is-self user) (not user.profileCompleted))}}
        {{users/onboarding/checklist-progress user=user}}
      {{/if}}

      {{! About User }}
      {{users/about-me user=user}}

      {{! Kitsu Profile Sidebar Top }}
      {{ad-unit unit="kitsu.profile.sidebar.top" sizes=(hash
        mobile=(array 300 250)
        tablet=(array (array 336 280) (array 300 250))
      )}}

      {{! Favorites }}
      {{users/user-favorites user=user}}

      {{! Kitsu Profile Sidebar Bottom }}
      {{ad-unit unit="kitsu.profile.sidebar.bottom" sizes=(hash
        mobile=(array 300 250)
        tablet=(array (array 336 280) (array 300 250))
      )}}

      {{! Footer }}
      {{sidebar-footer}}
    </div>
  </div>
</div>
