<div class="container no-padding">
  <div class="feed-container row">
    {{! Feed Aside }}
    <div class="feed-aside col-sm">
      <div class="is-sticky">
        {{dashboard/unread-groups class="sidebar-item"}}
      </div>
    </div>

    {{! Feed Posts }}
    <div class="feed-stream feed-narrow">
      {{#if (and (is-self user) (not (is-object user.avatar)))}}
        {{users/onboarding/feed-notice}}
      {{/if}}

      {{stream-feed/list
        subject=user.name
        streamType="user_aggr"
        streamId=user.id
        readOnly=(not (can "write post"))
        user=user
        pinned=user.pinnedPost}}
    </div>

    <div class="feed-sidebar col-sm">
      {{#if (and (is-self user) (not user.profileCompleted))}}
        {{users/onboarding/checklist-progress user=user}}
      {{/if}}

      {{! About User }}
      {{users/about-me user=user}}

      {{! Stats }}
      {{#if (has-feature "profile_stats")}}
        {{users/user-stats user=user}}
      {{/if}}

      {{! Kitsu Profile Sidebar Top }}
      {{! Hidden on mobile }}
      {{ad-unit unit="kitsu.profile.sidebar.top"
        targeting=(hash section="users")
        sizes=(hash
          tablet=(array 300 250)
          desktop=(array (array 336 280) (array 300 250)))
      }}

      {{! Favorites }}
      {{users/user-favorites user=user}}

      {{! Kitsu Profile Sidebar Bottom }}
      {{! Hidden on mobile }}
      {{ad-unit unit="kitsu.profile.sidebar.bottom"
        targeting=(hash section="users")
        sizes=(hash
          tablet=(array 300 250)
          desktop=(array (array 336 280) (array 300 250)))
      }}

      {{! Footer }}
      {{sidebar-footer}}
    </div>
  </div>
</div>
