<div class="container no-padding">
  <div class="feed-container row">
    {{! Feed Aside }}
    <div class="feed-aside col-sm">
      {{#if (responsive "isSidebarRightCollapse")}}
        {{#if (and (is-self user) (not user.profileCompleted))}}
          {{users/onboarding/checklist-progress user=user class="onboarding-mobile"}}
        {{/if}}
      {{/if}}
      <div class="is-sticky">
        {{dashboard/unread-groups class="sidebar-item"}}
        {{! About Me }}
        {{#if (responsive "isSidebarRightCollapse")}}
          {{users/about-me user=user}}
        {{/if}}
      </div>
    </div>

    {{! Feed Posts }}
    <div class="feed-stream feed-narrow">
      {{! Stats }}
      {{#if (responsive "isSidebarLeftRightCollapse")}}
        {{#if (has-feature "profile_stats")}}
          {{users/user-stats user=user}}
        {{/if}}

        {{! Favorites }}
        {{users/user-favorites user=user}}
      {{/if}}

      {{#if (and (is-self user) (not (is-object user.avatar)))}}
        {{users/onboarding/feed-notice}}
      {{/if}}

      {{stream-feed/list
        subject=user.name
        streamType="user_aggr"
        streamId=user.id
        readOnly=(not (can "write post"))
        user=user
        pinned=user.pinnedPost}}
    </div>

    <div class="feed-sidebar col-sm">
      {{#unless (responsive "isSidebarRightCollapse")}}
        {{#if (and (is-self user) (not user.profileCompleted))}}
          {{users/onboarding/checklist-progress user=user class="onboarding-mobile"}}
        {{/if}}

        {{! About User }}
        {{users/about-me user=user}}
      {{/unless}}

      {{! Stats }}
      {{#unless (responsive "isSidebarLeftRightCollapse")}}
        {{#if (has-feature "profile_stats")}}
          {{users/user-stats user=user}}
        {{/if}}

        {{! Kitsu Profile Sidebar Top }}
        {{! Hidden on mobile }}
        {{ad-unit unit="kitsu.profile.sidebar.top"
          targeting=(hash section="users")
          sizes=(hash
            tablet=(array 300 250)
            desktop=(array (array 336 280) (array 300 250)))
        }}

        {{! Favorites }}
        {{users/user-favorites user=user}}

        {{! Kitsu Profile Sidebar Bottom }}
        {{! Hidden on mobile }}
        {{ad-unit unit="kitsu.profile.sidebar.bottom"
          targeting=(hash section="users")
          sizes=(hash
            tablet=(array 300 250)
            desktop=(array (array 336 280) (array 300 250)))
        }}

        {{! Footer }}
        {{sidebar-footer}}
      {{/unless}}
    </div>
  </div>
</div>
