<div class="container">
  <div class="row">
    <div class="library-list col-sm-12">
      <div class="nav-wrapper">
        {{! Library type dropdown }}
        {{#bootstrap/bs-dropdown class="library-type" as |dropdown|}}
          {{#dropdown.button class="button--dark-outline button--small"}}
            {{t "users.library.library" type=(t (concat "media." media ".name"))}}
          {{/dropdown.button}}
          {{#dropdown.menu}}
            {{#each mediaList as |_media|}}
              {{#dropdown.menu-item onClick=(action (mut media) _media)}}
                {{t "users.library.library" type=(t (concat "media." _media ".name"))}}
              {{/dropdown.menu-item}}
            {{/each}}
          {{/dropdown.menu}}
        {{/bootstrap/bs-dropdown}}

        {{! Library status selection }}
        <div class="library-status">
          <div class="btn-group" role="group" aria-label="Library Status">
            {{#each statuses as |_status|}}
              {{users/library/library-status
                status=_status
                mediaType=media
                isActive=(eq _status status)
                onClick=(action (mut status))
              }}
            {{/each}}
          </div>
        </div>
      </div>

      {{! Filter Search }}
      {{! @TODO: API is not yet searchable }}
      <!-- <div class="search-library">
        {{one-way-search
            class="search-input"
            placeholder=(t "users.library.search")}}
      </div> -->

      {{! Library Entries }}
      {{#if model.taskInstance.isRunning}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{loading-spinner size="large"}}
          <p>Loading Library...</p>
        </div>
      {{else if model.taskInstance.error}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{t "errors.load"}}
        </div>
      {{else}}
        {{#if (eq status 'all')}} {{! all status is selected }}
          {{#each-in sections as |status entries|}}
            {{users/library/library-entries
              status=status
              entries=entries
              mediaType=media
              user=user
              save=(route-action "saveEntry")
              delete=(route-action "deleteEntry")
            }}
          {{/each-in}}
        {{else}} {{! active tab entires }}
          {{users/library/library-entries
            status=status
            entries=entries
            mediaType=media
            user=user
            save=(route-action "saveEntry")
            delete=(route-action "deleteEntry")
          }}
        {{/if}}

        {{! pagination }}
        <div class="text-xs-center">
          {{paginated-resource/infinite
            model=entries
            ratio=-4
            update=(route-action "updateNextPage" "taskValue")
          }}
        </div>
      {{/if}}
    </div>
  </div>
</div>
