<div class="container">
  <div class="row">
    {{! Kitsu Library Content Ad }}
    {{#unless session.account.isPro}}
      <div class="library-ad col-sm-12 no-padding">
        {{ad-unit unit="kitsu.library.top"
          targeting=(hash section="library")
          sizes=(hash
            mobile=(array (array 320 100) (array 320 50))
            tablet=(array 728 90)
            desktop=(array (array 970 90) (array 728 90))
          )
        }}
      </div>
    {{/unless}}

    <div class="library-content col-sm no-padding-left">
      {{! Search }}
      {{users/library/library-search
        query=title
        user=user
        update=(perform searchTask)
        tagName="section"
        class="library-search"
      }}

      {{! Library Actions }}
      <section class="library-result-header clearfix">
        {{! Library Layout Buttons }}
        <span class="list-type">
          <a href="#" class={{if (eq layoutStyle "grid") "active"}} {{action "updateLayout" "grid"}}>
            {{~svg-jar "grid"~}}
          </a>
          <a href="#" class={{if (eq layoutStyle "list") "active"}} {{action "updateLayout" "list"}}>
            {{~svg-jar "list"~}}
          </a>
        </span>

        {{! Library Sort }}
        {{users/library/library-sorting
          sort=sort
          direction=direction
          update=(action (mut sort))
          class="library-filters"
        }}
      </section>

      {{! Library Entries }}
      {{#infinite-pagination
        showLoader=false
        onPagination=(route-action "onPagination") as |isLoading|}}
        {{component (concat "users/library/library-" layoutStyle)
          isSearching=(not (is-empty title))
          media=media
          user=user
          libraryEntries=filteredLibraryEntries
          isLoading=model.taskInstance.isRunning
          saveEntry=(route-action "saveEntry")
          removeEntry=(route-action "removeEntry")
          removeEntriesBulk=(route-action "removeEntriesBulk")
          updateStatusBulk=(route-action "updateStatusBulk")
        }}

        {{#if isLoading}}
          <div class="m-b-2 library-list-pagination">
            {{component (concat "users/library/library-" layoutStyle "/loader")}}
          </div>
        {{/if}}
      {{/infinite-pagination}}
    </div>

    {{! Sidebar }}
    {{users/library/library-sidebar
      user=user
      media=media
      status=status
      counts=model.taskInstance.value.meta.statusCounts
      updateMedia=(action (mut media))
      updateStatus=(action (mut status))
      resetLibrary=(route-action "resetLibrary")
      class="library-sidebar col-sm"
    }}
  </div>
</div>
