<div class="container">
  <div class="row">
    {{! Kitsu Library Content Ad }}
    {{! @TODO(Vevix): Hookup top ad }}
    <div class="library-ad col-sm-12 no-padding-right">
      {{#unless session.account.isPro}}
        {{ad-unit}}
      {{/unless}}
    </div>

    <div class="library-content col-sm">
      {{! Search }}
      {{users/library/library-search title
        user=user
        update=(perform searchTask)
        tagName="section"
        class="library-search"
      }}

      {{! Library Actions }}
      <section class="library-result-header clearfix">
        {{! Library Layout Buttons }}
        <span class="list-type">
          <a href="#" class={{if (eq layoutStyle "grid") "active"}} {{action "updateLayout" "grid"}}>
            {{~svg-jar "grid"~}}
          </a>
          <a href="#" class={{if (eq layoutStyle "list") "active"}} {{action "updateLayout" "list"}}>
            {{~svg-jar "list"~}}
          </a>
        </span>

        {{! Library Sort }}
        {{users/library/library-sorting
          sort=sort
          update=(action (mut sort))
          class="library-filters"
        }}
      </section>

      {{! Library Entries }}
      {{#infinite-pagination onPagination=(route-action "onPagination")}}
        {{component (concat "users/library/library-" layoutStyle)
          media=media
          libraryEntries=libraryEntries
          saveEntry=(route-action "saveEntry")
          removeEntry=(route-action "removeEntry")
        }}
      {{/infinite-pagination}}
    </div>

    {{! Sidebar }}
    {{users/library/library-sidebar
      user=user
      media=media
      status=status
      updateMedia=(action (mut media))
      updateStatus=(action (mut status))
      class="library-sidebar col-sm"
    }}
  </div>
</div>
