<div class="container">
  <div class="row">
    {{! Kitsu Library Content Ad }}
    {{! @TODO(Vevix): Hookup top ad }}
    <div class="library-ad col-sm-12 no-padding-right">
      {{#unless session.account.isPro}}
        {{ad-unit}}
      {{/unless}}
    </div>

    <div class="library-content col-sm-12 col-md-8">
      {{! Search }}
      {{! @TODO(Vevix): Hookup `update` action }}
      {{users/library/library-search
        user=user
        tagName="section"
        class="library-search"
      }}

      {{! Library Actions }}
      <section class="library-result-header clearfix">
        {{! Library Layout Buttons }}
        <span class="list-type">
          <a href="#" class={{if (eq layoutStyle "grid") "active"}} {{action (mut layoutStyle) "grid"}}>
            {{~svg-jar "grid"~}}
          </a>
          <a href="#" class={{if (eq layoutStyle "list") "active"}} {{action (mut layoutStyle) "list"}}>
            {{~svg-jar "list"~}}
          </a>
        </span>

        {{! Library Sort }}
        {{! @TODO(Vevix): Hookup `update` action }}
        {{users/library/library-sorting
          sort=sort
          update=(action (mut sort))
          class="library-filters"
        }}
      </section>

      {{! Library Entries }}
      {{component (concat "users/library/library-" layoutStyle)
        libraryEntries=libraryEntries
      }}
    </div>

    {{! Sidebar }}
    <div class="library-sidebar card col-sm-12 col-md-4">
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
        <option selected>Josh's Anime</option>
        <option value="1">Josh's Manga</option>
      </select>
      <ul class="library-sections">
        <li class="active">
          <a href="#">
            All Anime
            <span class="library-section--count">325</span>
          </a>
        </li>
        <li>
          <a href="#">
            Currently Watching
            <span class="library-section--count">325</span>
          </a>
        </li>
        <li>
          <a href="#">
            Plan to Watch
            <span class="library-section--count">325</span>
          </a>
        </li>
        <li>
          <a href="#">
            Completed
            <span class="library-section--count">325</span>
          </a>
        </li>
        <li>
          <a href="#">
            On Hold
            <span class="library-section--count">325</span>
          </a>
        </li>
        <li>
          <a href="#">
            Dropped
            <span class="library-section--count">325</span>
          </a>
        </li>
      </ul>
      <h6>Tools</h6>
      <ul class="library-tools">
        <li>
          <a href="#">Stats</a>
        </li>
        <li>
          <a href="#">Import Library</a>
        </li>
        <li>
          <a href="#">Export Library</a>
        </li>
      </ul>
      {{! Kitsu Library Sidebar Ad }}
      {{#unless session.account.isPro}}
        {{ad-unit}}
      {{/unless}}
    </div>
  </div>
</div>
