<div class="container">
  <div class="row">
    {{! @josh: We need a way to switch between anime/manga }}

    {{! Content }}
    <div class="library-content col-sm-12 col-md-8">
      <h4>{{t "users.library.library" type=(t (concat "media." media ".name"))}}</h4>

      {{! @TODO: need to do svgs here}}
      {{! @TODO: List layout implemented }}
      <span class="list-type">
        <a href="#" {{action (mut layoutType) "grid"}}>Grid</a>
        <a href="#" {{action (mut layoutType) "list"}}>List</a>
      </span>

      {{! @TODO: Hookup with API when available }}
      <section id="library-search" class="library-search">
        <div class="container">
          <div class="row">
            <div class="library-search--wrapper">
              <span class="icon">
                {{svg-jar "search"}}
              </span>
              {{one-way-search query
                update=(action (mut query))
                class="library-search-input"
                placeholder="Search Josh's Library..."
              }}
            </div>
          </div>
        </div>
      </section>

      {{! Kitsu Library Content Ad }}
      {{#unless session.account.isPro}}
        {{ad-unit slot="8096455061"}}
      {{/unless}}

      {{! Layout }}
      {{component (concat "users/library/library-layout-" layoutType)
        entries=entries
        media=media
        status=status
        sort=sort
        limit=limit
        user=user
        isLoading=model.taskInstance.isRunning
        onLimitChange=(action (mut limit))
        onSortChange=(route-action "changeSort")
        onPagination=(route-action "updateNextPage" "taskValue")
        saveEntry=(route-action "saveEntry")
        deleteEntry=(route-action "deleteEntry")}}
    </div>

    {{! Sidebar }}
    {{users/library/library-sidebar class="library-sidebar card col-sm-12 col-md-4"
      status=status
      media=media
      onStatusChange=(action (mut status))}}
  </div>
</div>