<div class="container">
  <div class="feed-actions reaction-sorting">
    <span class="reaction-filter">
      {{#bootstrap/bs-dropdown as |dropdown|}}
        {{#dropdown.button}}
          {{t (concat "users.reactions.filters." filter)}}
        {{/dropdown.button}}
        {{#dropdown.menu}}
          {{#each filterOptions as |option|}}
            {{#dropdown.menu-item onClick=(action (mut filter) option)}}
              {{t (concat "users.reactions.filters." option)}}
              {{#if (eq option filter)}}
                <span class="dropdown-checkmark">{{svg-jar "checkmark"}}</span>
              {{/if}}
            {{/dropdown.menu-item}}
          {{/each}}
        {{/dropdown.menu}}
      {{/bootstrap/bs-dropdown}}
    </span>

    <span class="reaction-filter">
      {{#bootstrap/bs-dropdown as |dropdown|}}
        {{#dropdown.button}}
          {{t (concat "users.reactions.sorts." sort)}}
        {{/dropdown.button}}
        {{#dropdown.menu}}
          {{#each sortOptions as |option|}}
            {{#dropdown.menu-item onClick=(action (mut sort) option)}}
              {{t (concat "users.reactions.sorts." option)}}
              {{#if (eq option sort)}}
                <span class="dropdown-checkmark">{{svg-jar "checkmark"}}</span>
              {{/if}}
            {{/dropdown.menu-item}}
          {{/each}}
        {{/dropdown.menu}}
      {{/bootstrap/bs-dropdown}}
    </span>
  </div>

  <div class="reaction-thumbs row">
    {{#if model.reactionsTaskInstance.isRunning}}
      {{! @TODO(Reactions): Loader }}
      <div class="text-xs-center w-100 m-t-1">
        {{loading-spinner size="large"}}
      </div>
    {{else if reactions}}
      {{#infinite-pagination onPagination=(route-action "onPagination")}}
        {{#each reactions as |reaction|}}
          <div class="reaction-wrapper col-sm-4">
            {{media/media-reaction-card reaction=reaction media=reaction.media}}
          </div>
        {{/each}}
      {{/infinite-pagination}}
    {{else}}
      <div class="text-xs-center w-100 m-t-1">
        {{t "users.reactions.empty"}}
      </div>
    {{/if}}
  </div>
</div>
