<div class="container">
  {{#if model.taskInstance.isRunning}}
    <div class="text-xs-center w-100 m-t-1">
      {{loading-spinner size="large"}}
      <p>{{t "users.reviews.loading"}}</p>
    </div>
  {{else if model.taskInstance.error}}
    <div class="text-xs-center w-100 m-t-1">
      {{t "errors.load"}}
    </div>
  {{else if taskValue}}
    {{#infinite-pagination onPagination=(route-action "onPagination")}}
      <ul class="media-list w-100">
        {{! TODO @Josh - Reviews on the users page `/users/Josh/reviews` }}
        {{#each taskValue as |review|}}
          <div class="col-xs-11 centered">
            {{stream-feed/items/review review=review}}
          </div>
        {{/each}}
      </ul>
    {{/infinite-pagination}}
  {{else}}
    <div class="text-xs-center w-100 m-t-1">
      {{t "users.reviews.not-found"}}
    </div>
  {{/if}}
</div>
