{{#media-popover class="library-grid-popover" media=libraryEntry.media}}
  <div class="grid-poster">
    {{lazy-image src=(image libraryEntry.media.posterImage "medium")}}
    <div class="poster-overlay">
      <a href={{href-to (concat libraryEntry.media.modelType ".show") libraryEntry.media.slug}}></a>

      {{! Reaction }}
      <div class="grid-reaction">
        <p>
          I really felt this show was pretty boring. Too many silly scenes not enough about the world and interactions with the supernatural.
        </p>
      </div>
      
      {{! Edit }}
      <div class="grid-edit-wrapper">
        {{#if (can "edit library-entry" libraryEntry)}}
          <a href="#" class="grid-edit" {{action (toggle "showEditModal" this)}}>
            {{t "users.library.list.edit"}}
          </a>
        {{else}}
          <a href="#" class="grid-edit" {{action (queue
            (action (mut readOnlyModal) true)
            (toggle-action "showEditModal" this))}}>
            {{t "users.library.list.more"}}
          </a>
        {{/if}}

        <!-- This should open in a new tab -->
        <a class="grid-poster-link hint--left hint--bounce hint--rounded" aria-label="View Anime" href={{href-to (concat libraryEntry.media.modelType ".show") libraryEntry.media.slug}}>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" d="M 21.1875 9.28125 L 19.78125 10.71875 L 24.0625 15 L 4 15 L 4 17 L 24.0625 17 L 19.78125 21.28125 L 21.1875 22.71875 L 27.1875 16.71875 L 27.90625 16 L 27.1875 15.28125 L 21.1875 9.28125 z" overflow="visible" font-family="Bitstream Vera Sans"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="progress">
      <span class="progress-bar">
        <span role="presentation" style={{progressPercent}} class="progress-completed"></span>
      </span>
    </div>
  </div>
{{/media-popover}}

<div class="entry-stats">
  {{! Progress }}
  <span class="entry-unit">
    {{#if (eq changeset.progress 0)}}
      {{t "users.library.list.unstarted"}}
    {{else}}
      {{t "users.library.list.progress"
        type=libraryEntry.media.modelType
        progress=changeset.progress
      }}
    {{/if}}
  </span>

  {{! Rating }}
  <span class="entry-rating entry-rating-{{if session.account.isSimpleRating "simple" (if session.hasUser "star" "simple")}}">
    {{#if (gt changeset.rating 0)}}
      {{#if (can "edit library-entry" libraryEntry)}}
        {{#library-entry/rating-button
          rating=changeset.rating
          showDropdown=true
          simpleDropdown=true
          onClick=(action "changeRating")
          class="is-owner"
        }}
          {{library-entry/readonly-rating
            rating=changeset.rating
            hideText=true
          }}
        {{/library-entry/rating-button}}
      {{else}}
        {{library-entry/readonly-rating
          rating=changeset.rating
          hideText=true
        }}
      {{/if}}
    {{else}}
      {{#if (can "edit library-entry" libraryEntry)}}
        {{#library-entry/rating-button
          rating=changeset.rating
          onClick=(action "changeRating")
          class="no-rating is-owner"
        }}
          {{t "users.library.list.unrated"}}
        {{/library-entry/rating-button}}
      {{else}}
        <span class="no-rating">{{t "users.library.list.unrated"}}</span>
      {{/if}}
    {{/if}}
  </span>
</div>

{{#if showEditModal}}
  {{to-elsewhere named="modal" send=(component "modals/library-edit"
    isReadOnly=readOnlyModal
    libraryEntry=libraryEntry
    saveEntry=(action "saveEntry")
    removeEntry=removeEntry
    onClose=(toggle-action "showEditModal" this)
  )}}
{{/if}}
