<div class="add-content-header" {{action (toggle "isExpanded" this)}}>
  {{! avatar }}
  <div style="display: inline-block; margin-right: 10px;">
    <img style="width: 36px; height: 36px; border-radius: 100%;" src={{image session.account.avatar}}>
  </div>

  {{! placeholder/name }}
  <div style="display: inline-block; font-size: 16px; color: #999; vertical-align: middle;">
    {{#if isExpanded}}
      <span style="color: #ee2e24;">{{session.account.name}}</span>
    {{else}}
      {{placeholder}}
    {{/if}}
  </div>
</div>

{{#if isExpanded}}
  <div class="add-content-expanded">
    {{! editor }}
    <!-- TODO: Keybinds (Cmd+Enter should POST) -->
    {{content-editable
      value=content
      type="text"
      spellcheck=true
      autofocus=true
      class="stream-content-editor"
    }}



    {{! @vevix only show the tagged media OR the tagging input
    If a user removes tagged media, input should appear again. }}
    <div class="tag-media">
      <div class="tagged-media--wrapper">
        <div class="tagged-media row">
          <div class="stream-item--media col-sm-2">
            <img src="/system/anime/poster_images/245/original.jpeg?1478002857">
          </div>
          <div class="col-sm no-padding-left">
            <div class="stream-item--title-block">
              <div class="author-info">
                <a class="author-name" href="/anime/hellsing">
                  Hellsing
                </a>
                <small class="author-secondary">
                  <div id="ember1552" class="ember-view">  Hellsing follows the antiheroic vampire, Alucard, and a police girl-turned-vampire, Seras Victoria, two vampires employed by the vampire-extermination group of England, the Hellsing Organization. Slowly but surely, through their active duty, they ...
                      <a href="#" data-ember-action="1553">more</a>
                  </div>
                </small>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="tagged-media--remove">remove tag</a>
      </div>

      {{! media tagging input }}
      {{#search-typeahead
        value=media.canonicalTitle
        search=(perform search)
        disabled=mediaReadOnly
        placeholder="Type to tag a show or manga" as |_media|
      }}
        <div {{action (queue (action (mut media) _media) (action (mut spoiler) true))}}>
          <span class="tag-poster"><img src="/system/anime/poster_images/245/original.jpeg?1478002857"></span>
          <span class="tag tag-primary">{{capitalize (media-type _media)}}</span>
          <span>{{_media.canonicalTitle}}</span>
        </div>
      {{/search-typeahead}}
    </div>

    {{! post actions }}
    <div class="add-content-footer">
      <button type="button" class="button button--primary" {{action "create"}}>
        Post
      </button>

      <label class="custom-control custom-checkbox">
        {{one-way-checkbox nsfw update=(action (mut nsfw)) class="custom-control-input"}}
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">NSFW</span>
      </label>

      <label class="custom-control custom-checkbox">
        {{one-way-checkbox spoiler update=(action (mut spoiler)) class="custom-control-input"}}
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Spoiler</span>
      </label>
    </div>
  </div>
{{/if}}
