<div style="background-color: #fff; padding: 15px;" {{action (toggle "isExpanded" this)}}>
  <!-- avatar -->
  <div style="display: inline-block; margin-right: 10px;">
    <img style="width: 36px; height: 36px; border-radius: 100%;" src={{image session.account.avatar}}>
  </div>

  <!-- Placeholder -->
  <div style="display: inline-block; font-size: 16px; color: #999; vertical-align: middle;">
    {{#if isExpanded}}
      <span style="color: #ee2e24;">{{session.account.name}}</span>
    {{else}}
      {{placeholder}}
    {{/if}}
  </div>
</div>

{{#if isExpanded}}
  <!-- Expanded Editor -->
  <div style="background-color: #fff; padding: 15px;">
    <!-- editor -->
    <!-- TODO: Keybinds -->
    {{content-editable
      value=content
      type="text"
      spellcheck=true
      autofocus=true
      class="stream-content-editor"
    }}

    <!-- TODO: Allow tagging of single media -->

    <!-- actions -->
    <div>
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">NSFW</span>
      </label>

      <button type="button" class="button button--primary" {{action "create"}}>
        Post
      </button>
    </div>
  </div>
{{/if}}