{{#if media}}
  <div class="stream-item--media col-sm-3">
    <img src={{image media.posterImage}}>
  </div>
  <div class="stream-item--media-timeline col-sm">
    <div class="stream-item--title-block">
      <div class="author-info">
        <a class="author-name" href={{href-to (concat (media-type media) ".show") media.slug}}>
          {{media.canonicalTitle}}
        </a>
        <small class="author-secondary">
          {{truncate-text media.synopsis max=250}}
        </small>
      </div>
    </div>
    <div class="aggregate-wrapper">
      <span class="hr"></span>
      {{#each groupByTime as |timeGroup|}}
        <div class="aggregate-date-block">
          <div class="aggregate-date">
            <div class="date-wrapper">
              <span class="date-heading">{{timeGroup.calendar}}</span>
              <span>{{timeGroup.date}}</span>
            </div>
          </div>
          {{stream-feed/items/library-entry/activities
            activities=timeGroup.activities
            feedId=feedId
            media=media
            class="aggregate-items"
            tagName="ul"
          }}
      </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <div class="stream-error-wrapper col-sm-12">
    {{t "errors.load"}}
  </div>
{{/if}}
