<div class="add-content-header" {{action (toggle "isExpanded" this)}}>
  {{! avatar }}
  <div style="display: inline-block; margin-right: 10px;">
    <img style="width: 36px; height: 36px; border-radius: 100%;" src={{image author.avatar "small"}}>
  </div>

  {{! placeholder/name }}
  <div style="display: inline-block; font-size: 16px; color: #999; vertical-align: middle;">
    {{#if isExpanded}}
      <span style="color: #ee2e24;">{{author.name}}</span>
    {{else}}
      {{placeholder}}
    {{/if}}
  </div>
</div>

{{#if isExpanded}}
  <div class="add-content-expanded">
    {{! editor }}
    {{content-editable
      value=content
      type="text"
      spellcheck=true
      autofocus=true
      key-down=(action "keyDown")
      maxlength=maxLength
      class="stream-content-editor"
    }}

    <div class="tag-media">
      {{#if media}}
        <div class="tagged-media--wrapper">
          <div class="tagged-media row">
            <div class="stream-item--media col-xs-1">
              {{lazy-image src=(image media.posterImage "small")}}
            </div>
            <div class="col-sm no-padding-left">
              <div class="stream-item--title-block">
                <div class="author-info">
                  <a class="author-name" href="/anime/hellsing">
                    {{media.canonicalTitle}}
                  </a>
                  <small class="author-secondary">
                    <div class="media-tag-synopsis">
                      {{text-clipper media.synopsis length=150}}
                    </div>
                  </small>
                </div>
              </div>
            </div>
          </div>
          {{#unless mediaReadOnly}}
            <a href="#" class="tagged-media--remove" {{action (queue (action (mut media) undefined) (action (mut spoiler) false))}}>
              remove tag
            </a>
          {{/unless}}
        </div>
      {{else}}
        {{! media tagging input }}
        {{#search-typeahead
          value=media.canonicalTitle
          search=(perform search)
          disabled=mediaReadOnly
          placeholder="Type to tag a show or manga" as |_media|
        }}
          <div {{action (queue (action (mut media) _media) (action (mut spoiler) true))}}>
            <span class="tag-poster">{{lazy-image src=(image _media.posterImage "tiny")}}</span>
            <span class="tag tag-primary">{{capitalize (model-type _media)}}</span>
            <span>{{_media.canonicalTitle}}</span>
          </div>
        {{/search-typeahead}}
      {{/if}}
    </div>

    {{! post actions }}
    <div class="add-content-footer">
      <button type="button" class="button button--primary" disabled={{if (not canPost) "disabled"}} {{action (perform createPost)}}>
        {{#if createPost.isRunning}}
          {{loading-spinner size="small"}}
        {{else}}
          {{#if post}}
            Edit
          {{else}}
            Post
          {{/if}}
        {{/if}}
      </button>

      <label class="custom-control custom-checkbox">
        {{one-way-checkbox nsfw update=(action (mut nsfw)) class="custom-control-input"}}
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">NSFW</span>
      </label>

      <label class="custom-control custom-checkbox">
        {{one-way-checkbox spoiler update=(action (mut spoiler)) class="custom-control-input"}}
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Spoiler</span>
      </label>
    </div>
  </div>
{{/if}}
