{{#if (not readOnly)}}
  {{stream-feed/create-post
    placeholder="Write here..."
    media=media
    user=user
    onCreate=(perform createPost)
  }}
{{/if}}

<div class="feed-actions clearfix">
  {{! TODO - @Josh -- new feed items block }}
  {{#if (gte newItems.length 0)}}
    <div class="card text-xs-center p-t-1 p-b-1" {{action "newActivities"}}>
      {{#if realtimeLoading}}
        {{loading-spinner size="small"}}
      {{else}}
        {{newItems.length}} new activities
      {{/if}}
    </div>
  {{/if}}

  {{#if hasBlock}}
    {{yield}}
  {{/if}}

  <div class="pull-sm-right">
    {{#bootstrap/bs-dropdown as |dropdown|}}
      {{#dropdown.button}}
        {{t (concat "feeds.filter." filter)}}
      {{/dropdown.button}}
      {{#dropdown.menu}}
        {{#each filterOptions as |option|}}
          {{#dropdown.menu-item onClick=(action (mut filter) option)}}
            {{t (concat "feeds.filter." option)}}
          {{/dropdown.menu-item}}
        {{/each}}
      {{/dropdown.menu}}
    {{/bootstrap/bs-dropdown}}
  </div>
</div>

{{#if (and getFeedData.isRunning (not realtimeLoading))}}
  {{#each (repeat 2) as |empty|}}
    <div class="stream-item stream-item--loading row">
      <div class="stream-item-wrapper col-sm-12">
        <div class='panel-effect'>
          <div class='fake-effect fe-0'></div>
          <div class='fake-effect fe-1'></div>
          <div class='fake-effect fe-2'></div>
          <div class='fake-effect fe-3'></div>
          <div class='fake-effect fe-4'></div>
          <div class='fake-effect fe-5'></div>
          <div class='fake-effect fe-6'></div>
          <div class='fake-effect fe-7'></div>
          <div class='fake-effect fe-8'></div>
          <div class='fake-effect fe-9'></div>
          <div class='fake-effect fe-10'></div>
          <div class='fake-effect fe-11'></div>
          <div class='fake-effect fe-12'></div>
          <div class='fake-effect fe-13'></div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  {{#each filteredFeed as |group index|}}
    {{component (concat "stream-feed/items/" (feed-type group.activities))
      group=group
      feedId=feedId
      positionInFeed=index
      readOnly=readOnly
    }}

    {{! ads inserted }}
    {{#if (is-multiple-of (inc index) 10)}}
      {{ad-unit slot="TODO-SLOT-HERE" class="rectangle in-feed"}}
      {{ad-unit slot="TODO-SLOT-HERE" class="rectangle in-feed"}}
    {{/if}}
  {{else}}
    <div class="stream-error-wrapper col-sm-12">
      {{t "errors.contentEmpty"}}
    </div>
  {{/each}}

  <div class="w-100 text-xs-center">
    {{paginated-resource/infinite
      model=feed
      modelName="feed"
      loadingSize="large"
      options=(hash type=streamType id=streamId)
      update=(action "updateNextPage")
    }}
  </div>
{{/if}}
