<div class="grid-poster" data-test-selector="media-poster">
  {{! Media Poster }}
  {{lazy-image src=(image media.posterImage)}}

  <div class="poster-overlay">
    <a href={{href-to (concat (model-type media) ".show") media}}></a>
    {{!-- TODO/@vevix: Friends (Server needed for this)
    <div class="shared-friends">
      <a href="#" class="friend-avatar"><img src="https://static.hummingbird.me/users/avatars/000/044/425/thumb_small/tumblr_mjf1jtHNm61s7110mo1_250.jpg?1440141803"></a>
      <a href="#" class="friend-count">03</a>
    </div>
    --}}

    {{! Trailer }}
    {{#if media.youtubeVideoId}}
      <div class="trailer" data-test-selector="media-poster-trailer">
        <a data-toggle="modal" data-target="#{{elementId}}-trailer" {{action "openTrailer"}}>
          {{svg-jar "play"}}
        </a>
        {{#if trailerOpen}}
         {{#ember-wormhole to="wormhole"}}
            {{#bootstrap/bs-modal
              id=(concat elementId "-trailer")
              class="trailer-modal"
              onClose=(action "closeTrailer") as |modal|
            }}
              {{#modal.body}}
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{media.youtubeVideoId}}?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="trailer-info">
                  <div class="info-header">
                    <h4>{{media.canonicalTitle}}</h4>
                    <ul class="type-tags">
                      <li>{{capitalize media.mediaType}}</li>
                      <li>{{media.ageRating}}</li>
                      <!-- <li class="average-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                      </li> -->
                    </ul>
                  </div>
                  <p>{{media.synopsis}}</p>
                </div>
              {{/modal.body}}
            {{/bootstrap/bs-modal}}
          {{/ember-wormhole}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>

<div class="ellipsis">
  <a href={{href-to (concat (model-type media) ".show") media}} class="media-title">
    {{media.canonicalTitle}}
  </a>
</div>

{{! tooltip }}
{{#if hasHovered}}
  {{! TODO @josh -- make epic }}
  {{#epic-tooltip target=(concat "#" elementId " .grid-poster") closeDelay=250 singleInstance=true}}
    <div class="p-a-1" style="background-color: #4B5360; color: #fff; width: 350px">
      <span class="media-title" style="font-weight: bold; font-size: 14px">{{media.canonicalTitle}}</span>
      <div class="media-ratings">
        {{star-rating media.averageRating readOnly=true}}
      </div>
      <div class="media-synopsis" style="font-size: 12px">
        {{text-clipper media.synopsis length=200}}
      </div>
      {{#if session.hasUser}}
        {{library-dropdown
          entry=entry
          type=(model-type media)
          methods=(hash
            create=(action "createEntry")
            update=(action "updateEntry")
            delete=(action "deleteEntry")
          )}}
      {{/if}}
    </div>
  {{/epic-tooltip}}
{{/if}}