<div class="container">
  <div class="row">
    <div class="library-list col-sm-12">
      <div class="nav-wrapper">
        {{! Library type dropdown }}
        {{#bootstrap/bs-dropdown class="library-type" as |dropdown|}}
          {{#dropdown.button class="button--dark-outline button--small"}}
            {{t "users.library.library" type=(t (concat "media." media ".name"))}}
          {{/dropdown.button}}
          {{#dropdown.menu}}
            {{#each mediaList as |_media|}}
              {{#dropdown.menu-item onClick=(action (mut media) _media)}}
                {{t "users.library.library" type=(t (concat "media." _media ".name"))}}
              {{/dropdown.menu-item}}
            {{/each}}
          {{/dropdown.menu}}
        {{/bootstrap/bs-dropdown}}

        {{! Library status selection }}
        <div class="library-status">
          <div class="btn-group" role="group" aria-label="Library Status">
            {{#each statuses as |_status|}}
              {{users/components/library-select
                status=_status
                mediaType=media
                isActive=(eq _status status)
                onClick=(action (mut status))
              }}
            {{/each}}
          </div>
        </div>
      </div>

      {{! Filter Search }}
      {{! @TODO: API is not yet searchable }}
      <!-- <div class="search-library">
        {{one-way-search
            class="search-input"
            placeholder=(t "users.library.search")}}
      </div> -->

      {{! Library Entries }}
      {{#if (eq status 'all')}} {{! all status is selected }}
        {{#each-in sections as |status entries|}}
          {{#if entries}}
            {{users/components/library-entries
              status=status
              entries=entries
              mediaType=media
              user=user
              isLoading=isLoading
              save=(route-action "saveEntry")
              delete=(route-action "deleteEntry")
            }}
          {{/if}}
        {{/each-in}}
      {{else}} {{! active tab entires }}
        {{users/components/library-entries
          status=status
          entries=entries
          mediaType=media
          user=user
          isLoading=isLoading
          save=(route-action "saveEntry")
          delete=(route-action "deleteEntry")
        }}
      {{/if}}

      {{! pagination }}
      {{#if (not isLoading)}}
        <div class="text-xs-center">
          {{pagination-scrolling
            model=entries
            update=(route-action "updateNextPage")
            tolerance=(hash top=0 left=0 bottom=1000 right=0)
          }}
        </div>
      {{/if}}
    </div>
  </div>
</div>
