<th scope="row">{{lazy-image src=(image invite.user.avatar "small")}}</th>
<td class="leader-name">
  <a href={{href-to "users.index" invite.user}}>
    {{invite.user.name}}
  </a>
</td>
<td class="invite-time">
  {{t "groups.dashboard.members.invites.invited"}}
  {{format-relative invite.createdAt interval=1000}}
</td>
<td class="edit-leader">
  <a href="#" {{action (perform revokeInviteTask)}}>
    {{#if revokeInviteTask.isRunning}}
      {{loading-spinner size="small"}}
    {{else}}
      {{t "groups.dashboard.members.invites.revoke"}}
    {{/if}}
  </a>
</td>
