<td>
  <span>
    {{lazy-image src=(image member.user.avatar "small")}}
    <a href={{href-to "users.index" member.user}}>
      {{member.user.name}}
    </a>
  </span>
</td>
<td><span>{{capitalize member.rank}}</span></td>
<td><span>{{format-date member.createdAt timeZone="UTC"}}</span></td>
<td>
  <span>
    {{#unless (is-self member.user)}}
      <button class="btn btn-sm btn-danger"
        disabled={{if actionsTaskGroup.isRunning "disabled"}}
        onclick={{perform removeMemberTask}}>
        {{#if removeMemberTask.isRunning}}
          {{loading-spinner size="small"}}
        {{else}}
          {{t "groups.dashboard.members.members.remove"}}
        {{/if}}
      </button>
    {{/unless}}

    <button class="btn btn-sm btn-primary"
      disabled={{if actionsTaskGroup.isRunning "disabled"}}
      onclick={{action (toggle "permissionsModal" this)}}>
      Leader
    </button>
  </span>
</td>

{{#if permissionsModal}}
  {{to-elsewhere named="modal" send=(component "groups/dashboard/leaders/leader-permissions-modal"
    leader=member
    onClose=(toggle-action "permissionsModal" this)
  )}}
{{/if}}
