{{#if session.isAuthenticated}}
  {{dashboard/components/quick-update}}
{{/if}}

<div class="feed-container">
  <div class="feed-stream">
    <div class="stream-item">
      <div class="stream-item-wrapper">
        <div class="stream-item--author-block">
          <a href="#" class="author-avatar">
            <img src="https://static.hummingbird.me/users/avatars/000/000/002/thumb/IMG_5499_%281%29.jpeg?1444332940">
          </a>
          <div class="author-info">
            <a class="author-username" href="#">Josh</a>
            <small class="author-timestamp">5 minutes ago</small>
          </div>
        </div>

        <div class="stream-content">
          <p>Watching this all day!</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tI2Aa12ZUWg" allowfullscreen></iframe>
          </div>
        </div>

        <div class="stream-item-activity">
          <a href="#" class="like-stream-item">
            {{svg-jar "heart-filled"}}
            <!-- <span class="like-label">Like</span>  -->
            <!-- Only show if nobody has liked stream item yet -->
          </a>
          <ul class="stream-item-participants">
            <li class="stream-like">
              <a class="like-avatar" href="#">
                <img src="https://static.hummingbird.me/users/avatars/000/057/971/thumb_small/1703378.jpg?1411577096">
              </a>
            </li>
            <li class="stream-like">
              <a class="like-avatar" href="#">
                <img src="https://static.hummingbird.me/users/avatars/000/069/952/thumb_small/tdMacaroniMan.jpg?1472678681">
              </a>
            </li>
            <li class="stream-like">
              <a class="like-avatar" href="#">
                <img src="https://static.hummingbird.me/users/avatars/000/044/628/thumb_small/3765987.jpg?1433807380">
              </a>
            </li>
            <li class="stream-like-count">
              <a href="#">9</a>
            </li>
          </ul>
        </div>

        <div class="stream-item-options">
          <a href="#">
            {{svg-jar "l-twitter"}}
            Tweet
          </a>
          <a href="#">
            {{svg-jar "l-facebook"}}
            Share
          </a>
          <span class="more-wrapper">
            <a href="#" class="more-drop" id="moreDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{svg-jar "more"}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="moreDrop">
              <a class="dropdown-item" href="#">Copy Link to Post</a>
              <a class="dropdown-item" href="#">Report Post</a>
              <a class="dropdown-item" href="#">Mute @Josh</a>
              <a class="dropdown-item" href="#">Block @Josh</a>
            </div>
          </span>
        </div>
      </div>

      <div class="stream-item-comments">
        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="https://static.hummingbird.me/users/avatars/000/013/673/thumb_small/13335859_1189320507774829_7047452774197641321_n.jpg?1466081241" alt="Generic placeholder image">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                Zelgadiss
                <small class="comment-time">1 hour ago</small>
              </h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
              <div class="stream-item-activity">
                <a href="#" class="like-stream-item">
                  {{svg-jar "heart-filled"}}
                  <span class="sm-comment-count">3</span>
                </a>
                <span class="more-wrapper">
                  <a href="#" class="more-drop" id="moreDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{svg-jar "more"}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="moreDrop">
                    <a class="dropdown-item" href="#">Report Post</a>
                    <a class="dropdown-item" href="#">Mute @Josh</a>
                    <a class="dropdown-item" href="#">Block @Josh</a>
                  </div>
                </span>
              </div>
            </div>
          </li>
        </ul>
        <input class="form-control add-comment" type="text" value="" placeholder="leave a comment" id="example-text-input">
      </div>


    </div>
  </div>
  <div class="feed-sidebar">
    <h2>Sidebar</h2>
  </div>
</div>
