{{#if session.isAuthenticated}}
  {{dashboard/components/quick-update}}
{{/if}}

<div class="feed-container row {{if session.isAuthenticated "quick-update-enabled"}}">
  <!-- Feed Posts -->
  <div class="feed-stream col-sm-8">
    <!-- TODO: also check if they haven't made a post -->
    {{#if session.isAuthenticated}}
      {{dashboard/components/stream-onboarding}}

      <!-- TODO: Remove from authentication block when global feed is built -->
      {{stream-feed
        streamType=streamType
        streamId=session.account.id
        readOnly=(not session.isAuthenticated)}}
    {{/if}}
  </div>

  <div class="feed-sidebar col-sm-4">
    <!-- TODO: Componentize the checklist -->
    {{#if session.isAuthenticated}}
      <div class="checklist card">
        <h4>Set-Up Your Feed</h4>
        <ul>
          <li class="step step--complete">
            <span class="step-status">
              {{svg-jar "success"}}
            </span>
            <span class="step-description">
              Visit your feed
            </span>
          </li>
          <li class="step step--complete">
            <span class="step-status">
              {{svg-jar "success"}}
            </span>
            <span class="step-description">
              Rate 5 anime or manga
            </span>
          </li>
          <li class="step step--complete">
            <span class="step-status">
              {{svg-jar "success"}}
            </span>
            <span class="step-description">
              Follow 5 users
            </span>
          </li>
          <li class="step">
            <span class="step-status">
              {{svg-jar "empty"}}
            </span>
            <span class="step-description">
              Comment on 2 feed posts
            </span>
          </li>
          <li class="step">
            <span class="step-status">
              {{svg-jar "empty"}}
            </span>
            <span class="step-description">
              Like 3 feed posts
            </span>
          </li>
        </ul>
      </div>
    {{/if}}

    {{sidebar-footer}}
  </div>
</div>
