<a href={{link}} class="media {{if (not group.isRead) "new"}}">
  <span class="media-left" href="#">
    <img class="avatar-image avatar-image--small" src={{image activity.actor.avatar}}>
  </span>
  <div class="media-body">
    <p class="media-heading">
      <strong>{{activity.actor.name}}</strong>
      {{! more than one? }}
      {{#if (gt otherCount 0)}}
        and <strong>{{pluralize otherCount "other"}}</strong>
      {{/if}}
      {{! type }}
      {{#if (eq activity.verb "follow")}}
        followed you.
      {{/if}}
      {{#if (eq activity.verb "post")}}
        mentioned you in a post.
      {{/if}}
    </p>
    <small class="media-secondary">{{moment-from-now activity.time}}</small>
  </div>
</a>