<div class="search--group-header">
  <p class="d-inline-block" style="margin-bottom: 0px">{{group}}</p>
  <div class="pull-sm-right">
    {{#if items}}
      {{#if moreLink}}
        <a href="#" {{action "transitionTo" moreLink}}>more</a>
      {{else}}
        {{#if hasNextPage}}
          <a href="#" {{action "onPagination"}}>more</a>
        {{/if}}
      {{/if}}
    {{else}}
      {{#unless isLoading}}
        <small>no results</small>
      {{/unless}}
    {{/if}}
  </div>
</div>

<ul class="nav">
  {{#if isLoading}}
    <div class="text-xs-center w-100 m-t-1 m-b-1">
      {{loading-spinner size="small"}}
    </div>
  {{else if items}}
    <ul class="media-list search--results">
      {{#each items as |item|}}
        <li class="media col-sm-12" {{action "transitionTo" item}}>
          <div class="media-left col-sm-2 no-padding-left">
            {{#if (or (eq item.kind "user") (eq item.kind "group"))}}
              {{lazy-image src=(image item.avatar "small") imgClass=(concat "is-avatar-" group)}}
            {{else}}
              {{lazy-image src=(image item.posterImage "small")}}
            {{/if}}
          </div>
          <div class="media-body col-sm no-padding-left">
            {{#if (or (eq item.kind "user") (eq item.kind "group"))}}
              <p>{{item.name}}</p>
            {{else}}
              <p>{{item.canonicalTitle}}</p>
            {{/if}}
          </div>
          {{#if (eq group "media")}}
            <span class="tag tag-default">{{item.subtype}}</span>
          {{/if}}
          {{#if (and (eq item.kind "group") item.nsfw)}}
            <span class="tag tag-default">{{t "groups.nsfw"}}</span>
          {{/if}}
        </li>
      {{/each}}

      {{#if isLoadingMore}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{loading-spinner size="small"}}
        </div>
      {{/if}}
    </ul>
  {{/if}}
</ul>
