<div class="search--group-header">
  <p class="d-inline-block" style="margin-bottom: 0px">{{group}}</p>
  <div class="pull-sm-right">
    {{#if items}}
      {{#if moreLink}}
        <a href="#" {{action "transitionTo" moreLink}}>{{t "components.search.view"}}</a>
      {{else}}
        {{#if hasNextPage}}
          <a href="#" {{action "onPagination"}}>{{t "components.search.load"}}</a>
        {{/if}}
      {{/if}}
    {{else}}
      {{#unless isLoading}}
        <small>{{t "components.search.none"}}</small>
      {{/unless}}
    {{/if}}
  </div>
</div>

<ul class="nav">
  {{#if (and isLoading (not isLoadingMore))}}
    <div class="text-xs-center w-100 m-t-1 m-b-1">
      {{loading-spinner size="small"}}
    </div>
  {{else if items}}
    <div class="media-list search--results">
      {{#each items as |item|}}
        {{search-results/row item=item}}
      {{/each}}

      {{#if isLoadingMore}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{loading-spinner size="small"}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</ul>
