<div class="leader-chat--header">
  <h6>{{t "groups.dashboard.members.bans.header"}}</h6>
</div>
<div class="leader-table-wrapper">
  <table class="leader-table">
    <tbody>
      {{#if getBansTask.isRunning}}
        <div class="text-xs-center m-t-2">
          {{loading-spinner size="large"}}
        </div>
      {{else if bans}}
        {{#infinite-pagination onPagination=(action "onPagination")}}
          {{#each (reject-by "isDeleted" true bans) as |ban|}}
            {{groups/dashboard/members/ban-list-user ban=ban tagName="tr"}}
          {{/each}}
        {{/infinite-pagination}}
      {{else}}
        <div class="text-xs-center m-t-2">
          {{t "groups.dashboard.members.bans.empty"}}
        </div>
      {{/if}}
    </tbody>
  </table>
</div>

<div class="leader-chat--footer add-leader">
  {{#power-select searchEnabled=true selected=banUser allowClear=true search=(perform searchUsersTask) onChange=(action (mut banUser)) placeholder=(t "groups.dashboard.members.bans.placeholder") triggerClass="leader-input" as |user|}}
    <strong>{{user.name}}</strong>
  {{/power-select}}

  <button class="btn btn-primary" disabled={{unless canBan "disabled"}} onclick={{perform banUserTask}}>
    {{t "groups.dashboard.members.bans.ban"}}
  </button>
</div>
