<th scope="row">{{lazy-image src=(image ban.user.avatar "small")}}</th>
<td class="leader-name">{{ban.user.name}}</td>
<td class="edit-leader">
  <a href="#" {{action (perform unbanUserTask)}}>
    {{#if unbanUserTask.isRunning}}
      {{loading-spinner size="small"}}
    {{else}}
      {{t "groups.dashboard.members.bans.unban"}}
    {{/if}}
  </a>
</td>