<div class="card">
  <div class="leader-chat--header">
    <h6>{{t "groups.dashboard.members.invites.header"}}</h6>
  </div>

  <div class="leader-table-wrapper">
    <table class="leader-table">
      <tbody>
        {{#if getInvitesTask.isRunning}}
          <div class="text-xs-center m-t-2">
            {{loading-spinner size="large"}}
          </div>
        {{else if invites}}
          {{#infinite-pagination onPagination=(action "onPagination")}}
            {{#each (reject-by "revokedAt" invites) as |invite|}}
              {{groups/dashboard/members/invite-list-user invite=invite tagName="tr"}}
            {{/each}}
          {{/infinite-pagination}}
        {{else}}
          <div class="text-xs-center m-t-2">
            {{t "groups.dashboard.members.invites.empty"}}
          </div>
        {{/if}}
      </tbody>
    </table>
  </div>

  <div class="leader-chat--footer">
    {{#power-select searchEnabled=true selected=inviteUser allowClear=true search=(perform searchUsersTask) onChange=(action (mut inviteUser)) placeholder=(t "groups.dashboard.members.invites.placeholder") triggerClass="leader-input" as |user|}}
      <strong>{{user.name}}</strong>
    {{/power-select}}

    <button class="btn btn-primary" disabled={{unless canInvite "disabled"}} onclick={{perform inviteUserTask}}>
      {{t "groups.dashboard.members.invites.invite"}}
    </button>
  </div>
</div>
