<div class="card">
  <div class="card-block">
    <h5 class="card-title">{{t "groups.dashboard.members.members.header"}}</h5>
    <hr>
    {{#if getMembersTask.isRunning}}
      <div class="text-xs-center w-100 m-t-2">
        {{loading-spinner size="large"}}
      </div>
    {{else}}
      {{#infinite-pagination onPagination=(action "onPagination")}}
        <table class="table table-sm table-hover members-list">
          <thead>
            <tr>
              <th>{{t "groups.dashboard.members.members.table.users"}}</th>
              <th>{{t "groups.dashboard.members.members.table.permissions"}}</th>
              <th>{{t "groups.dashboard.members.members.table.joined"}}</th>
              <th>{{t "groups.dashboard.members.members.table.actions"}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each members as |member|}}
              {{groups/dashboard/members/member-list-user
                member=member group=group
                tagName="tr" class="group-member-row"}}
            {{/each}}
          </tbody>
        </table>
      {{/infinite-pagination}}
    {{/if}}
  </div>
</div>
