<td>
  <span>
    {{lazy-image src=(image member.user.avatar "small")}}
    {{member.user.name}}
  </span>
</td>
<td><span>{{capitalize member.rank}}</span></td>
<td><span>{{format-date member.createdAt timeZone="UTC"}}</span></td>
<td>
  <span>
    {{#unless (is-self member.user)}}
      <button class="btn btn-sm btn-danger hint--rounded hint--bounce hint--top" aria-label={{t "groups.dashboard.members.members.remove"}}
        disabled={{if actionsTaskGroup.isRunning "disabled"}}
        onclick={{perform removeMemberTask}}>
        {{#if removeMemberTask.isRunning}}
          {{loading-spinner size="small"}}
        {{else}}
          {{t "groups.dashboard.members.members.remove"}}
        {{/if}}
      </button>
    {{/unless}}
  </span>
</td>