<div class="quick-update--header container">
  <div class="row">
    <h6>Quick Update</h6>
    {{#bootstrap/bs-dropdown as |dropdown|}}
      {{#dropdown.button}}
        {{t (concat "dashboard.quickUpdate.filter." filter)}}
      {{/dropdown.button}}
      {{#dropdown.menu}}
        {{#each filterOptions as |option|}}
          {{#dropdown.menu-item onClick=(action (mut filter) option)}}
            {{t (concat "dashboard.quickUpdate.filter." option)}}
          {{/dropdown.menu-item}}
        {{/each}}
      {{/dropdown.menu}}
    {{/bootstrap/bs-dropdown}}
  </div>
</div>

{{#if getEntriesTask.isRunning}}
{{else}}
  <div class="carousel">
    {{#each initialEntries as |entry|}}
      {{dashboard/quick-update/item entry updateEntry=(action "updateEntry") class="quick-update-item"}}
    {{/each}}

    {{#if (lt initialEntries.length 4)}}
      <div class="quick-update-item hint-panel">
        {{t "dashboard.quickUpdate.hint.text" link=(create-link (t "dashboard.quickUpdate.hint.library") 'users.library' session.account.name)}}
        <a href={{href-to "anime.index"}} class="button button--primary">
          {{t "dashboard.quickUpdate.hint.discover"}}
        </a>
      </div>


      {{#each (repeat remaining) as |_|}}
        <div class="quick-update-item empty-panel">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50">
            <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 24 14 L 24 24 L 14 24 L 14 26 L 24 26 L 24 36 L 26 36 L 26 26 L 36 26 L 36 24 L 26 24 L 26 14 L 24 14 z" color="#000" overflow="visible" enable-background="accumulate" font-family="Bitstream Vera Sans"></path>
          </svg>
        </div>
      {{/each}}
    {{/if}}

    {{! don't add the pagination component as a cell if we have less than the initial request length }}
    {{#if (gte initialEntries.length pageLimit)}}
      {{paginated-resource/infinite
        model=initialEntries
        update=(action "updateNextPage")
      }}
    {{/if}}
  </div>

  {{! Temporary storage for paginated entries }}
  <div class="new-entries" style="display: none">
    {{#each newEntries as |entry|}}
      {{dashboard/quick-update/item entry updateEntry=(action "updateEntry") class="quick-update-item"}}
    {{/each}}
  </div>
{{/if}}
