{{#if (and activity (not activity.isRead))}}
  <div class="user-blotter card">
    <h6>{{announcement.title}}</h6>
    <p>{{announcement.description}}</p>
    {{#if announcement.imageUrl}}
      <div class="featured-image">
        <img src={{announcement.imageUrl}} alt={{announcement.title}}>
      </div>
    {{/if}}
    {{#if announcement.link}}
      <a href={{announcement.link}} class="button button--primary">
        <span class="button-label">{{t "dashboard.announcements.button"}}</span>
      </a>
    {{/if}}
    <span class="dismiss-blotter" {{action "dismissAnnouncement"}}>
      {{svg-jar "close"}}
    </span>
  </div>
{{/if}}