<h6 class="panel-heading">{{t "dashboard.groups.header"}}</h6>
{{#if getGroupsTask.isRunning}}
  <div class="w-100 text-xs-center m-t-1 m-b-1">
    {{loading-spinner size="large"}}
  </div>
{{else if getGroupsTask.last.error}}
  <p>{{t "errors.load"}}</p>
{{else if getGroupsTask.last.value}}
  <ul class="my-groups-widget">
    {{#each getGroupsTask.last.value as |group|}}
      {{! Show 8 most recently updated groups, along with count of updates they've missed }}
      <li class="joined-group">
        <a href="#">
          <span class="group-avatar">
            {{lazy-image src=(image group.avatar "small") imgClass="avatar-image--small"}}
          </span>
          <span class="group-name">{{group.name}}</span>
          {{! Max value should display as 99+ }}
          <span class="unread-counter">12</span>
        </a>
      </li>

    {{/each}}
    {{! @vevix - Only show view all link if user is in more than 8 groups }}
    <li class="joined-group view-more">
      <a href="#">view all</a>
    </li>
  </ul>
{{else}}
  <p>{{t "errors.contentEmpty"}}</p>
{{/if}}
