{{#if getLikes.isRunning}}
  {{loading-spinner size="small"}}
{{else}}
  <a href="#" class="like-stream-item {{if isLiked "is-liked"}}" {{action (action "toggleLike")}}>
    <span class="heart-wrapper"></span>
  </a>
  {{#if likes}}
    <ul class="stream-item-participants">
      {{#each (take 4 likes) as |liker|}}
        <li class="stream-like {{if liker.isNew "new-like"}} {{if liker.isDeleted "removed-like"}}">
          <a class="like-avatar" href={{href-to "users.index" liker.user}}>
            <img src={{image liker.user.avatar}}>
          </a>
        </li>
      {{/each}}
      {{#if (gt post.postLikesCount 4)}}
        <li class="stream-like-count">
          <a>{{post.postLikesCount}}</a>
        </li>
      {{/if}}
    </ul>
  {{/if}}
{{/if}}