{{! TODO: Needs way to hide checklist if completed. }}
<div class="checklist card">
  <h4>Set-Up Your Feed</h4>
  <ul>
    {{! default checked }}
    <li class="step step--complete">
      <span class="step-status">{{svg-jar "success"}}
      </span>
      <span class="step-description">Visit your personal feed</span>
    </li>

    {{! NYI on server }}
    <li class="step">
      <span class="step-status">{{svg-jar "empty"}}</span>
      <span class="step-description">Rate 5 anime or manga</span>
    </li>

    <li class="step {{if (is-object user.avatar) "step--complete"}}">
      <span class="step-status">
        {{#if (is-object user.avatar)}}
          {{svg-jar "success"}}
        {{else}}
          {{svg-jar "empty"}}
        {{/if}}
      </span>
      <span class="step-description">Set your user avatar</span>
    </li>

    <li class="step {{if (is-object user.coverImage) "step--complete"}}">
      <span class="step-status">
        {{#if (is-object user.coverImage)}}
          {{svg-jar "success"}}
        {{else}}
          {{svg-jar "empty"}}
        {{/if}}
      </span>
      <span class="step-description">Set a profile cover image</span>
    </li>

    <li class="step {{if user.about "step--complete"}}">
      <span class="step-status">
        {{#if user.about}}
          {{svg-jar "success"}}
        {{else}}
          {{svg-jar "empty"}}
        {{/if}}
      </span>
      <span class="step-description">Complete your <i>About Me</i></span>
    </li>

    {{! NYI on server }}
    <li class="step">
      <span class="step-status">{{svg-jar "empty"}}</span>
      <span class="step-description">Pick your favorite anime / manga</span>
    </li>
  </ul>
</div>