{{#each groupedActivities as |group|}}
  {{#with group.activity as |activity|}}
    <li class="agg-item">
      <span class="agg-avatar">
        <img src={{image activity.actor.avatar}}>
      </span>
      <span class="agg-action">
        <a href={{href-to "users.index" activity.actor}}>{{activity.actor.name}}</a>

        {{! others doing this activity }}
        {{#if (gt group.others 0)}}
          and <strong>{{pluralize group.others "other"}}</strong>
        {{/if}}

        {{! TODO: Possible to refactor into something less gross? }}
        {{#if (eq activity.verb "updated")}}
          {{t "feeds.library.updated" status=(t (concat "library.statuses." (media-type media) "." activity.status))}}
        {{/if}}
        {{#if (eq activity.verb "rated")}}
          {{t "feeds.library.rated"}}
          {{star-rating activity.rating readOnly=true class="rating-container"}}
        {{/if}}
        {{#if (eq activity.verb "progressed")}}
          {{t (concat "feeds.library.progressed." (media-type media)) progress=activity.progress}}
          <!-- TODO/FEED: Handle "unit" -->
        {{/if}}
        {{#if (eq activity.verb "reviewed")}}
          <!-- TODO/FEED: Link when reviews exist -->
          {{t "feeds.library.reviewed" link=(t "feeds.library.review")}}
        {{/if}}
      </span>
    </li>
  {{/with}}
{{/each}}