{{#if taskInstance.isRunning}}
  {{loading-spinner size="small" class="white"}}
{{else if taskInstance.value}}
  {{#each taskInstance.value as |entry|}}
    {{#with entry.user as |user|}}
      <li class="hint--top hint--bounce hint--rounded stream-like" aria-label={{user.name}}>
        <a href={{href-to "users.index" user.name}} class="like-avatar">
          {{lazy-image src=(image user.avatar "tiny")}}
        </a>
      </li>
    {{/with}}
  {{/each}}
{{/if}}