<div class="trending-activity--header">
  <h5>Recent Activity</h5>
</div>

{{#if taskInstance.isRunning}} {{! Loading State }}
  <div class="text-xs-center w-100 m-t-3">
    {{loading-spinner size="large" class="white"}}
  </div>
{{else if taskInstance.error}} {{! Error during AJAX request }}
  <div class="text-xs-center m-t-3">
    <p>{{t "errors.load"}}</p>
  </div>
{{else if taskInstance.value}} {{! Recent stories }}
  <ul class="following-activity">
    {{#each taskInstance.value as |activityGroup|}}
      {{trending/trending-banner/recent-activity/activity
        group=activityGroup
        class="activity-item"
        tagName="li"}}
    {{/each}}
  </ul>
{{else}} {{! No recent media stories }}
  <div class="text-xs-center m-t-3">
    <p>{{t "errors.contentEmpty"}}</p>
  </div>
{{/if}}