{{#if didUndo}}
  Undone!
{{/if}}

{{#if didUpdate}}
  <div class="mark-watched-prompt">
    Library progress fast-forwarded to episode {{episode.number}}!
    {{#if undoLibraryEntryUpdate.isRunning}}
      {{loading-spinner size="small"}}
    {{else}}
      <a {{action (perform undoLibraryEntryUpdate)}} class="prompt-cta" href="#">Undo</a>
    {{/if}}
  </div>
{{/if}}

{{#if showUpdatePrompt}}
  <div class="mark-watched-prompt">
    Update library progress to episode {{episode.number}}?
    {{#if updateLibraryEntry.isRunning}}
      {{loading-spinner size="small"}}
    {{else}}
      <a {{action (perform updateLibraryEntry true)}} class="prompt-cta" href="#">
        Mark Watched
      </a>
    {{/if}}
  </div>
{{/if}}

{{#if showJoinPrompt}}
  <div class="join-prompt">
    Track your progress and join the discussion!
    <a {{action (toggle "authOpened" this)}}>
      Create Kitsu Account
    </a>
  </div>
{{/if}}

{{! Authentication Modal }}
{{#if authOpened}}
  {{to-elsewhere named="modal" send=(component "application/auth-onboarding"
    modalId="auth-modal"
    component="social-auth"
    onClose=(toggle-action "authOpened" this))}}
{{/if}}
