<div class="card is-sticky related-categories">
  <h5 class="text-uppercase">{{t "explore.widget.related"}}</h5>
  {{#if getRelatedCategoriesTask.isRunning}}
    {{#skeleton-container class="category-skeleton"}}
      {{#each (repeat 6) as |_|}}
        {{skeleton-loader class="category-skeleton-horizontal"}}
      {{/each}}
      {{skeleton-loader class="category-skeleton-vertical"}}
    {{/skeleton-container}}
  {{else}}
    {{explore/category-sidebar/category-list categories=categories}}
  {{/if}}
</div>
