{{#search-typeahead
  closeOnClick=false
  search=(action "search")
  class="media-sort-search"
  placeholder=(t "users.edit.favorite.search") as |item|
}}
  {{! TODO/@vevix -- Will require logic here to handle characters }}
  {{! TODO/@josh -- Styling for search items }}
  <div class="media-sort-item card">
    <a href={{href-to (concat type ".show") item}} class="media-sort-thumb-wrapper">
      <img class="media-sort-thumb" src={{image item.posterImage}}>
    </a>
    <span class="media-sort-title">
      {{item.canonicalTitle}}
    </span>
    <span class="media-sort-action">
      <a class="hint--left hint--bounce hint--rounded" aria-label={{t "users.edit.favorite.add"}} {{action "addItem" item}}>
        {{! TODO/@josh -- Need SVG for adding an item }}
        {{svg-jar "success"}}
      </a>
    </span>
  </div>
{{/search-typeahead}}

{{#if items}}
  {{#sortable-group
    onChange=(action "reorderItems")
    tagName="ul"
    class="media-sortable nav" as |group|}}
    {{#each items as |item|}}
      {{#sortable-item model=item group=group tagName="li" class="media-sort-item card"}}
        {{! TODO/@vevix -- will require logic for characters }}
        <a class="media-sort-thumb-wrapper" href="#">
          <img class="media-sort-thumb" src={{image item.item.posterImage}}>
        </a>
        <span class="media-sort-title">{{item.item.canonicalTitle}}</span>
        <span class="media-sort-action">
          <a class="hint--left hint--bounce hint--rounded" aria-label={{t "users.edit.favorite.remove"}} {{action "removeItem" item}}>
            {{svg-jar "cancel"}}
          </a>
        </span>
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}

  <div class="text-xs-center">
    {{pagination-scrolling model=items update=(action "updateNextPage")}}
  </div>
{{else}}
  {{#if isError}}
    {{! TODO/@Josh -- Case when there is an error loading the data }}
    <p>Error</p>
  {{else}}
    {{! TODO/@Josh -- Case when user has no anime favorites }}
    <p>You don't have any favorites! add them now!</p>
  {{/if}}
{{/if}}