<button class="button button--primary" data-test-selector="follow-button" onclick={{perform toggle}}>
  {{#if toggle.isRunning}}
    {{loading-spinner}}
  {{/if}}

  {{#if prepare.isRunning}}
      {{loading-spinner}}
  {{else}}
    {{#if following}}
      <span class="button-label">{{t "users.unfollow"}}</span>
    {{else}}
      <span class="button-label">{{t "users.follow"}}</span>
    {{/if}}
  {{/if}}
</button>
