<span class="button-label" data-test-selector="follow-button">
  {{#if (or getFollowStatus.isRunning toggleFollow.isRunning)}}
    {{loading-spinner}}
  {{else}}
    {{#if isFollowing}}
      {{t "users.unfollow"}}
    {{else}}
      {{t "users.follow"}}
    {{/if}}
  {{/if}}
</span>