{{#if isLinkable}}
  <a class="category-modal-title" href={{href-to "explore.category" category.slug}} {{action handleTransition category.slug}}>{{t (category-to-i18n category.slug)}}</a>
{{else}}
  <span class="category-modal-title">{{t (category-to-i18n category.slug)}}</span>
{{/if}}
{{#if (gt category.childCount 0)}}
  <span class="category-modal-expand-btn" {{action "toggleExpansion"}}>
    {{#if isExpanded}}
      {{svg-jar "minus"}}
    {{else}}
      {{svg-jar "plus"}}
    {{/if}}
  </span>

  {{#if isExpanded}}
    {{#if getChildCategoriesTask.isRunning}}
      {{#each (repeat category.childCount) as |_|}}
        {{#skeleton-container class="category-modal-skeleton"}}
          {{skeleton-loader class="category-modal-skeleton-item"}}
        {{/skeleton-container}}
      {{/each}}
    {{else}}
      {{#each sortedChildren as |child|}}
        {{explore/category-sidebar/category-modal/category-item
          category=child
          handleTransition=handleTransition
          isLinkable=true
          class="category-modal-child"
        }}
      {{/each}}
    {{/if}}
  {{/if}}
{{/if}}
