{{! Library Bulk Edit }}
{{#if hasSelectedMedia}}
  <section class="bulk-edit is-sticky clearfix">
    <div class="media-selected">
      <span class="descriptor">
        {{t "users.library.bulk.selected" num=selectedLibraryEntries.length type=media}}
      </span>
      <a class="select-amount" href="#" {{action "selectAll"}}>{{t "users.library.bulk.select-all"}}</a>
      <span class="seperator"> · </span>
      <a class="select-amount" href="#" {{action "resetSelection"}}>{{t "users.library.bulk.select-none"}}</a>
    </div>

    <div class="bulk-cta">
      <a class="bulk-btn secondary" href="#" {{action "removeEntries"}}>{{t "users.library.bulk.remove" num=selectedLibraryEntries.length htmlSafe=true}}</a>
      {{#basic-dropdown as |dd|}}
        {{#dd.trigger class="bulk-btn dropdown-toggle"}}
          {{t "users.library.bulk.move-to" num=selectedLibraryEntries.length htmlSafe=true}}
        {{/dd.trigger}}
        {{#dd.content}}
          {{#each libraryEntryStatuses as |status|}}
            <a class="dropdown-item" href="#" {{action "updateStatus" status}}>{{t (concat "library-shared." status) type=media}}</a>
          {{/each}}
        {{/dd.content}}
      {{/basic-dropdown}}
    </div>
  </section>
{{/if}}

<table class="table table-responsive library-list">
  <thead>
    <tr>
      <th class="status"></th>
      {{#if (can "edit library-entry" libraryEntries.firstObject)}}
        <th></th>
      {{/if}}
      <th class="media-cell">{{t "users.library.list.table-header.title" type=media}}</th>
      <th class="rating-cell">{{t "users.library.list.table-header.rating"}}</th>
      <th class="progress-cell">{{t "users.library.list.table-header.progress"}}</th>
      {{#if (can "edit library-entry" libraryEntries.firstObject)}}
        <th class="edit-entry"></th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each libraryEntries as |libraryEntry|}}
      {{#occludable-area rootMargin=(hash bottom=1000) bufferClass="library-occlusion-buffer-list"}}
        {{users/library/library-list/library-entry
          libraryEntry=libraryEntry
          isChecked=(contains libraryEntry selectedLibraryEntries)
          saveEntry=saveEntry
          removeEntry=removeEntry
          checkedEntry=(action "checkedEntry")
        }}
      {{/occludable-area}}
    {{/each}}
  </tbody>
</table>