<div class="section-head" data-test-selector="library-entries">
  <span class="section-title">{{statusName}}</span>
  <span class="section-stats" data-test-selector="library-entries-stats">{{stats}}</span>
</div>

{{#each entries as |entry|}}
  {{#occlusion-culling rootMargin=(hash bottom=1000) bufferClass="library-occlusion-buffer"}}
    {{users/library/library-entry
      entry=entry
      save=save
      delete=delete
    }}
  {{/occlusion-culling}}
{{else}}
  <div class="empty-wrapper">
    <div class="library-section-empty">
      <span>
        {{#if (can "edit user" user)}}
          {{t-html "users.library.empty.owner" link=(href-to (concat mediaType ".index")) type=(capitalize mediaType)}}
        {{else}}
          {{t "users.library.empty.guest" user=user.name}}
        {{/if}}
      </span>
    </div>
  </div>
{{/each}}
