<div class="media-grid container">
  <div class="row">
    <div class="poster-wrapper">
      <div class="grid-poster">
        <div class="ember-view">
          <img src="https://media.kitsu.io/anime/poster_images/7442/medium.jpg?1418580054">
          <div class="poster-overlay">
            <a href="/anime/attack-on-titan"></a>
          </div>
        </div>
        <div class="progress">
          <span class="progress-bar">
            <span role="presentation" style="width: 16.00%;" class="progress-completed"></span>
          </span>
        </div>
      </div>
      <div class="entry-stats">
        <span class="entry-episode">Ep. 5</span>
        <span class="entry-rating entry-rating-simple">{{svg-jar "good"}}</span>
      </div>
    </div>

    <div class="poster-wrapper">
      <div class="grid-poster">
        <div class="ember-view">
          <img src="https://media.kitsu.io/anime/poster_images/7442/medium.jpg?1418580054">
          <div class="poster-overlay">
            <a href="/anime/attack-on-titan"></a>
          </div>
        </div>
        <div class="progress">
          <span class="progress-bar">
            <span role="presentation" style="width: 45.00%;" class="progress-completed"></span>
          </span>
        </div>
      </div>
      <div class="entry-stats">
        <span class="entry-episode">Ep. 5</span>
        <span class="entry-rating entry-rating-simple">{{svg-jar "great"}}</span>
      </div>
    </div>

    <div class="poster-wrapper">
      <div class="grid-poster">
        <div class="ember-view">
          <img src="https://media.kitsu.io/anime/poster_images/7442/medium.jpg?1418580054">
          <div class="poster-overlay">
            <a href="/anime/attack-on-titan"></a>
          </div>
        </div>
        <div class="progress">
          <span class="progress-bar">
            <span role="presentation" style="width: 23.00%;" class="progress-completed"></span>
          </span>
        </div>
      </div>
      <div class="entry-stats">
        <span class="entry-episode">Ep. 5</span>
        <span class="entry-rating entry-rating-simple">{{svg-jar "meh"}}</span>
      </div>
    </div>

    <div class="poster-wrapper">
      <div class="grid-poster">
        <div class="ember-view">
          <img src="https://media.kitsu.io/anime/poster_images/7442/medium.jpg?1418580054">
          <div class="poster-overlay">
            <a href="/anime/attack-on-titan"></a>
          </div>
        </div>
        <div class="progress">
          <span class="progress-bar">
            <span role="presentation" style="width: 90.00%;" class="progress-completed"></span>
          </span>
        </div>
      </div>
      <div class="entry-stats">
        <span class="entry-episode">Ep. 5</span>
        <span class="entry-rating entry-rating-star">{{svg-jar "star"}} 3.5</span>
      </div>
    </div>

    <div class="poster-wrapper">
      <div class="grid-poster">
        <div class="ember-view">
          <img src="https://media.kitsu.io/anime/poster_images/7442/medium.jpg?1418580054">
          <div class="poster-overlay">
            <a href="/anime/attack-on-titan"></a>
          </div>
        </div>
        <div class="progress">
          <span class="progress-bar">
            <span role="presentation" style="width: 74.00%;" class="progress-completed"></span>
          </span>
        </div>
      </div>
      <div class="entry-stats">
        <span class="entry-episode">Ep. 5</span>
        <span class="entry-rating entry-rating-star">{{svg-jar "star"}} 9.0</span>
      </div>
    </div>
  </div>
</div>
