<table class="table table-responsive library-list">
  <thead>
    <tr>
      <th class="status"></th>
      <th></th>
      <th class="media-cell">Anime Title</th>
      <th class="rating-cell">Score</th>
      <th class="progress-cell">Progress</th>
      <th class="edit-entry"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="status status-watching"></td>
      <td class="checkbox-cell">
        <input type="checkbox" class="checkbox">
      </td>
      <td class="media-cell">
        <span class="cell-poster">
          <a href="#"><img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387"></a>
        </span>
        <span class="cell-title">
          <a href="#">Fullmetal Alchemist: Brotherhood</a>
        </span>
      </td>
      <td class="rating-cell">
        <span class="simple-rating-cell">
          {{svg-jar "great"}}
        </span>
      </td>
      <td class="progress-cell">
        <span>
          <a href="#" class="link">4</a>
            /
        </span>
        <span>25</span>
        <a href="#" class="increment-episode">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <path d="M13.5,3.188C7.805,3.188,3.188,7.805,3.188,13.5S7.805,23.813,13.5,23.813S23.813,19.195,23.813,13.5 S19.195,3.188,13.5,3.188z M19,15h-4v4h-3v-4H8v-3h4V8h3v4h4V15z"></path>
          </svg>
        </a>
      </td>
      <td class="edit-entry">
        <a href="#" class="edit-entry-button" {{action (toggle "isEditing" this)}}>Edit</a>
      </td>
    </tr>

    <tr>
      <td class="status status-completed"></td>
      <td class="checkbox-cell">
        <input type="checkbox" class="checkbox">
      </td>
      <td class="media-cell">
        <span class="cell-poster">
          <a href="#"><img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387"></a>
        </span>
        <span class="cell-title">
          <a href="#">Fullmetal Alchemist: Brotherhood</a>
        </span>
      </td>
      <td class="rating-cell">
        <span class="star-rating-cell">
          <span class="entry-rating entry-rating-star">{{svg-jar "star"}} 9.0</span>
        </span>
      </td>
      <td class="progress-cell">
        <span>
          <a href="#" class="link">4</a>
            /
        </span>
        <span>25</span>
        <a href="#" class="increment-episode">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <path d="M13.5,3.188C7.805,3.188,3.188,7.805,3.188,13.5S7.805,23.813,13.5,23.813S23.813,19.195,23.813,13.5 S19.195,3.188,13.5,3.188z M19,15h-4v4h-3v-4H8v-3h4V8h3v4h4V15z"></path>
          </svg>
        </a>
      </td>
      <td class="edit-entry">
        <a href="#" class="edit-entry-button">Edit</a>
      </td>
    </tr>

    <tr>
      <td class="status status-hold"></td>
      <td class="checkbox-cell">
        <input type="checkbox" class="checkbox">
      </td>
      <td class="media-cell">
        <span class="cell-poster">
          <a href="#"><img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387"></a>
        </span>
        <span class="cell-title">
          <a href="#">Fullmetal Alchemist: Brotherhood</a>
        </span>
      </td>
      <td class="rating-cell">
        <span class="simple-rating-cell">
          {{svg-jar "great"}}
        </span>
      </td>
      <td class="progress-cell">
        <span>
          <a href="#" class="link">4</a>
            /
        </span>
        <span>25</span>
        <a href="#" class="increment-episode">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <path d="M13.5,3.188C7.805,3.188,3.188,7.805,3.188,13.5S7.805,23.813,13.5,23.813S23.813,19.195,23.813,13.5 S19.195,3.188,13.5,3.188z M19,15h-4v4h-3v-4H8v-3h4V8h3v4h4V15z"></path>
          </svg>
        </a>
      </td>
      <td class="edit-entry">
        <a href="#" class="edit-entry-button">Edit</a>
      </td>
    </tr>

    <tr>
      <td class="status status-dropped"></td>
      <td class="checkbox-cell">
        <input type="checkbox" class="checkbox">
      </td>
      <td class="media-cell">
        <span class="cell-poster">
          <a href="#"><img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387"></a>
        </span>
        <span class="cell-title">
          <a href="#">Fullmetal Alchemist: Brotherhood</a>
        </span>
      </td>
      <td class="rating-cell">
        <span class="simple-rating-cell">
          {{svg-jar "great"}}
        </span>
      </td>
      <td class="progress-cell">
        <span>
          <a href="#" class="link">4</a>
            /
        </span>
        <span>25</span>
        <a href="#" class="increment-episode">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <path d="M13.5,3.188C7.805,3.188,3.188,7.805,3.188,13.5S7.805,23.813,13.5,23.813S23.813,19.195,23.813,13.5 S19.195,3.188,13.5,3.188z M19,15h-4v4h-3v-4H8v-3h4V8h3v4h4V15z"></path>
          </svg>
        </a>
      </td>
      <td class="edit-entry">
        <a href="#" class="edit-entry-button">Edit</a>
      </td>
    </tr>

    <tr>
      <td class="status status-planned"></td>
      <td class="checkbox-cell">
        <input type="checkbox" class="checkbox">
      </td>
      <td class="media-cell">
        <span class="cell-poster">
          <a href="#"><img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387"></a>
        </span>
        <span class="cell-title">
          <a href="#">Fullmetal Alchemist: Brotherhood</a>
        </span>
      </td>
      <td class="rating-cell">
        <span class="simple-rating-cell">
          {{svg-jar "great"}}
        </span>
      </td>
      <td class="progress-cell">
        <span>
          <a href="#" class="link">4</a>
            /
        </span>
        <span>25</span>
        <a href="#" class="increment-episode">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <path d="M13.5,3.188C7.805,3.188,3.188,7.805,3.188,13.5S7.805,23.813,13.5,23.813S23.813,19.195,23.813,13.5 S19.195,3.188,13.5,3.188z M19,15h-4v4h-3v-4H8v-3h4V8h3v4h4V15z"></path>
          </svg>
        </a>
      </td>
      <td class="edit-entry">
        <a href="#" class="edit-entry-button">Edit</a>
      </td>
    </tr>
  </tbody>
</table>

{{! Edit Modal }}
{{#if isEditing}}
  {{to-elsewhere named="modal" send=(component "users/library/library-edit"
    onClose=(toggle-action "isEditing" this)
  )}}
{{/if}}