<div class="library-entry container" data-test-selector="library-entry">
  <div class="entry-wrapper row">
    {{! Entry Title }}
    <div class="col-md-12 col-lg-6 entry-left">
      <div class="entry-poster">
        {{lazy-image src=(image media.posterImage "tiny") class="drop-thumb"}}
      </div>
      <div class="entry-title" data-test-selector="library-entry-title">
        <span>{{media.computedTitle}}</span>
      </div>
    </div>

    <div class="col-md-12 col-lg-6 entry-right">
      {{! Entry Indicators }}
      <div class="entry-indicators">
        {{! Saving Activity }}
        {{#if (or saveEntry.isRunning saveEntryDebounced.isRunning)}}
          <div class="entry-indicator-saving d-inline-block">
            <span class="hint--top hint--bounce hint--rounded" aria-label="Saving...">
              {{loading-spinner size="small"}}
            </span>
          </div>
        {{/if}}

        {{! Entry Airing Status}}
        {{#if (not (eq media.airingStatus "finished"))}}
          <div class="entry-indicator-airing-status d-inline-block">
            <span class="tag">
              {{t (concat "media-shared.statuses." media.modelType "." media.airingStatus)}}
            </span>
          </div>
        {{/if}}

        {{! Rewatching }}
        {{#if (and (gt entry.reconsumeCount 0) (eq entry.status "current"))}}
          <div class="entry-indicator-rewatching d-inline-block">
            <span class="hint--top hint--bounce hint--rounded" aria-label="{{t (concat "users.library.reconsuming." media.modelType)}}">
              {{! @Josh -- Rewatching SVG }}
            </span>
          </div>
        {{/if}}

        {{! Notes }}
        {{#if entry.notes}}
          <div class="entry-indicator-notes d-inline-block">
            <span class="hint--top hint--bounce hint--rounded" aria-label="{{truncate entry.notes 60}}">
              {{! @Josh -- Notes SVG }}
            </span>
          </div>
        {{/if}}
      </div>

      {{! Entry Progress }}
      <div class="entry-progress">
        {{#if (can "edit library-entry" entry user=user)}}
          {{library-entry/progress
            libraryEntry=entry
            hideText=true
            onProgressChange=(action "onProgressChanged")}}
        {{else}}
          <span>
            {{entry.progress}} / {{totalProgressText}}
          </span>
        {{/if}}
      </div>

      {{! Entry Rating }}
      <div class="entry-rating">
        {{#if entry.rating}}
          {{library-entry/readonly-rating rating=entry.rating
            hideText=true
            width="26" height="26"
            tagName=""}}
        {{else}}
          -
        {{/if}}
      </div>

      {{! Entry Type }}
      <div class="entry-type">
        <span>{{typeText}}</span>
      </div>
    </div>
  </div>

  {{! Expanded Info }}
  {{#if isExpanded}}
    <div class="library-dropdown row">
      <div class="col-sm-12 arrow-wrapper">
        <div class="drop-arrow"></div>
      </div>

      {{! Poster Image }}
      <div class="col-lg-1 hidden-md-down columns no-padding-right">
        {{lazy-image src=(image media.posterImage "medium") class="drop-thumb"}}
      </div>

      {{! Media Info }}
      <div class="col-md-12 col-lg-7 columns">
        <h4 class="drop-title">
          <a href={{href-to (concat media.modelType ".show") media}}>
            {{media.computedTitle}}
          </a>
        </h4>
        <p class="drop-description">
          {{text-clipper media.synopsis length=350 options=(hash maxLines=3)}}
        </p>
        <div class="entry-notes">
          {{#if (can "edit library-entry" entry user=user)}}
            {{one-way-textarea entry.notes
              update=(queue
                (action (mut entry.notes))
                (perform saveEntryDebounced)
              )
              placeholder=(t "users.library.notes" title=media.computedTitle)
              class="personal-notes"
            }}
          {{else}} {{! Only show if the user has notes }}
            {{#if entry.notes}}
              {{one-way-text entry.notes
                  class="personal-notes"
                  readonly=true}}
            {{/if}}
          {{/if}}
        </div>
      </div>

      {{! Options }}
      <div class="col-md-12 col-lg-4 columns">
        <div class="drop-options">
          {{! Library Status }}
          {{#if (can "edit library-entry" entry user=user)}}
            {{library-entry/state
              libraryEntry=entry
              media=media
              showHeader=false
              hideProgress=true
              class="status-select"}}
          {{/if}}

          {{#if (can "edit library-entry" entry user=user)}}
            <div class="dropdown-rating">
              {{! Privacy }}
                {{#bootstrap/bs-dropdown as |dropdown|}}
                  {{#dropdown.button}}
                    {{if entry.private (t "users.library.private") (t "users.library.public")}}
                  {{/dropdown.button}}
                  {{#dropdown.menu}}
                    {{#each (w "public" "private") as |key|}}
                      {{#dropdown.menu-item onClick=(queue
                        (action (mut entry.private) (not entry.private))
                        (perform saveEntry))}}
                          {{t (concat "users.library." key)}}
                          {{#if (and entry.private (eq key "private"))}}
                            <span class="dropdown-checkmark">{{svg-jar "checkmark"}}</span>
                          {{else if (and (not entry.private) (eq key "public"))}}
                            <span class="dropdown-checkmark">{{svg-jar "checkmark"}}</span>
                          {{/if}}
                      {{/dropdown.menu-item}}
                    {{/each}}
                  {{/dropdown.menu}}
                {{/bootstrap/bs-dropdown}}
            </div>
          {{/if}}

          {{! Rewatch }}
          <div class="rewatch">
            {{#if (can "edit library-entry" entry user=user)}}
              <button type="button" class="button" {{action (queue
                (action (mut entry.reconsumeCount) (inc entry.reconsumeCount))
                (action (mut entry.progress) 0)
                (action (mut entry.status) "current")
                (perform saveEntry))}}>
                {{t (concat "users.library.reconsume." media.modelType)}}
              </button>
            {{/if}}

            <label>
              <span>{{t (concat "users.library.reconsumed." media.modelType)}}</span>
              {{#if (can "edit library-entry" entry user=user)}}
                {{ui/selectable-input entry.reconsumeCount
                  update=(queue
                    (pipe-action (action "sanitizeNumber") (action (mut entry.reconsumeCount)))
                    (perform saveEntryDebounced)
                  )
                }}
              {{else}}
                <span>{{entry.reconsumeCount}}</span>
              {{/if}}
              <span>{{t "users.library.times"}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>
