<section class="media-browse">
  <div class="media-grid container">
    <div class="row">
      {{#if isLoading}}
        {{users/library/library-grid/loader tagName=""}}
      {{else}}
        {{#each libraryEntries as |libraryEntry|}}
          {{#occludable-area rootMargin=(hash top=600) class="poster-wrapper" bufferClass="library-occlusion-buffer-grid"}}
            {{users/library/library-grid/library-entry
              libraryEntry=libraryEntry
              saveEntry=saveEntry
              removeEntry=removeEntry
            }}
          {{/occludable-area}}
        {{else}}
          {{users/library/library-empty media=media user=user isSearching=isSearching class="w-100"}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</section>
