<div class="library-empty-block text-xs-center m-t-2 m-b-2 text-muted">
  {{#if isSearching}}
    <h5>{{t "users.library.list.empty.search"}}</h5>
  {{else if (is-self user)}}
    <h5>{{t "users.library.list.empty.header" type=media}}</h5>
    <a href={{href-to "anime.index"}} class="button button--primary m-t-1">
      {{t "users.library.list.empty.button" type=(capitalize media)}}
    </a>
  {{else}}
    <h5>{{t "users.library.list.empty.guest-header" user=user.name}}</h5>
  {{/if}}
</div>