<h6 class="panel-heading">About Me</h6>
<p>{{user.about}}</p>
<ul class="about-me-stats">
  <li class="about-stat">
    <span class="stat-icon">
      {{svg-jar "sm-heart"}}
    </span>
    <strong>Waifu:</strong>
    <span>
      {{! TODO/@Josh -- Style Waifu image }}
      {{#if user.waifu}}
        <img src={{image user.waifu.image}}>
        {{user.waifu.name}}
      {{else}}
        None
      {{/if}}
    </span>
  </li>
  <li class="about-stat about--gender">
    <span class="stat-icon">
      {{svg-jar "gender"}}
    </span>
    <strong>Gender:</strong>
    <span>{{gender}}</span>
  </li>
  <li class="about-stat about--location">
    <span class="stat-icon">
      {{svg-jar "location"}}
    </span>
    <strong>Location:</strong>
    <span>
      {{#if user.location}}
        {{user.location}}
      {{else}}
        {{t "users.about.empty"}}
      {{/if}}
    </span>
  </li>
  <li class="about-stat about--birthday">
    <span class="stat-icon">
      {{svg-jar "cake"}}
    </span>
    <strong>Birthday:</strong>
    <span>
      {{#if user.birthday}}
        {{moment-format (moment-utc user.birthday) "MMMM Do"}}
      {{else}}
        {{t "users.about.empty"}}
      {{/if}}
    </span>
  </li>
  <li class="about-stat about--cal">
    <span class="stat-icon">
      {{svg-jar "cal"}}
    </span>
    <strong>Join Date:</strong>
    <span>{{moment-format user.createdAt "MMMM Do, YYYY"}} ({{moment-from-now user.createdAt}})</span>
  </li>
</ul>
