<a class="group-link-wrapper" href={{href-to "groups.group.group-page.index" group.slug}} {{action "handleGroupClick"}}>
  <div class="group-result-thumb">
    {{lazy-image src=(image group.avatar "medium")}}
  </div>
  <div class="group-result-content">
    <h2 class="group-result-title">{{group.name}}</h2>
    <div class="group-result-description">{{group.tagline}}</div>
  </div>
  <div class="group-result-meta">
    <div class="group-result-category">
      {{groups/member-button group=group membership=membership class="join-button" tagName="a" href="#"}}
      <a class="category-button" href={{href-to categoryRoute (query-params category=group.category.slug)}}>
        <div class="button-wrapper">{{group.category.name}}</div>
      </a>
    </div>
    <div class="group-result-stats">
      <a class="member-button" href={{href-to "groups.group.group-page.members" group.slug}}>
        <div class="button-wrapper">
          {{svg-jar "gender"}}
          {{format-number group.membersCount fallback="0"}}
        </div>
      </a>
    </div>
  </div>
</a>
{{#if membership}}
  {{groups/group-actions group=group membership=membership}}
{{/if}}
