<div class="explore-page col-sm no-padding-left">
  <h3>{{t (concat "titles." mediaType ".index")}}</h3>

  {{#if (responsive 'isMobile')}}
    <div class="explore-sidebar col-sm">
      {{explore/category-sidebar/general-categories
        getUserFavoritesTask=model.userFavoritesTask
      }}
    </div>
  {{/if}}

  {{explore/explore-search mediaType=mediaType}}

  {{! Trending Week }}
  {{explore/explore-section
    type="trending"
    mediaType=mediaType
    sort="explore.more.trending"
  }}

  {{! Top Airing }}
  {{explore/explore-section
    type="top-current"
    mediaType=mediaType
    sort="-user_count"
    filters="status:current"
  }}

  {{! Top Upcomming }}
  {{explore/explore-section
    type="top-upcoming"
    mediaType=mediaType
    sort="-user_count"
    filters="status:upcoming"
  }}

  {{! Sampled 2 Favorite Categories }}
  {{#if (and session.hasUser model.userFavoritesTask.value)}}
    {{#each (take 2 (shuffle model.userFavoritesTask.value)) as |favorite|}}
      {{explore/explore-section
        type="trending"
        mediaType=mediaType
        category=favorite.category
        more="explore.category.more"
      }}
    {{/each}}
  {{/if}}

  {{! Highest Rated }}
  {{explore/explore-section
    type="highest-rated"
    mediaType=mediaType
    sort="-average_rating"
  }}

  {{! Most Popular }}
  {{explore/explore-section
    type="most-popular"
    mediaType=mediaType
    sort="-user_count"
  }}
</div>

{{#unless (responsive 'isMobile')}}
  <div class="explore-sidebar col-sm">
    {{explore/category-sidebar/general-categories
      getUserFavoritesTask=model.userFavoritesTask
    }}
  </div>
{{/unless}}
