<div class="settings--header">
  <div class="container">
    <div class="row">
      <div class="settings--avatar">
        {{lazy-image src=(image group.avatar "small") imgClass="avatar-image avatar-image--small"}}
      </div>
      <h2>{{group.name}}</h2>
      <ul class="settings--navigation">
        {{#link-to "groups.group.dashboard.index" tagName="li" class="list-item"}}
          <a href={{href-to "groups.group.dashboard.index"}}>{{t "groups.dashboard.navigation.overview"}}</a>
        {{/link-to}}
        {{! Should only be viewable to members with permission }}
        {{#if (can "manage reports for group" membership=membership)}}
          {{#link-to "groups.group.dashboard.reports" tagName="li" class="list-item"}}
            <a href={{href-to "groups.group.dashboard.reports"}}>{{t "groups.dashboard.navigation.reports"}}</a>
          {{/link-to}}
        {{/if}}
        {{#if (can "manage tickets for group" membership=membership)}}
          {{#link-to "groups.group.dashboard.tickets" tagName="li" class="list-item"}}
            <a href={{href-to "groups.group.dashboard.tickets"}}>{{t "groups.dashboard.navigation.tickets"}}</a>
          {{/link-to}}
        {{/if}}
        {{! Should only be viewable to members with permission }}
        {{#if (can "manage members for group" membership=membership)}}
          {{#link-to "groups.group.dashboard.members" tagName="li" class="list-item"}}
            <a href={{href-to "groups.group.dashboard.members"}}>{{t "groups.dashboard.navigation.members"}}</a>
          {{/link-to}}
        {{/if}}
        {{! Should only be viewable to members with permission }}
        {{#if (can "manage leaders for group" membership=membership)}}
          {{#link-to "groups.group.dashboard.leaders" tagName="li" class="list-item"}}
            <a href={{href-to "groups.group.dashboard.leaders"}}>{{t "groups.dashboard.navigation.leaders"}}</a>
          {{/link-to}}
        {{/if}}
        {{! Should only be viewable to members with permission }}
        {{#if (can "manage settings for group" membership=membership)}}
          {{#link-to "groups.group.dashboard.settings" tagName="li" class="list-item"}}
            <a href={{href-to "groups.group.dashboard.settings"}}>{{t "groups.dashboard.navigation.settings"}}</a>
          {{/link-to}}
        {{/if}}
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row group-dashboard">
    <div>
      <a href={{href-to "groups.group.group-page.index"}}>
        &lt; {{t "groups.dashboard.back" group=group.name}}
      </a>
    </div>

    {{outlet}}
  </div>
</div>