{{! Ratings }}
<section>
  {{media/components/media-rating
    entry=entry
    media=media
    update=(route-action "updateEntry" entry "rating")
  }}
</section>

{{! Synopsis }}
<section>
  <h5>Synopsis</h5>
  <p>{{text-clipper media.synopsis length=400}}</p>
</section>

{{! Reviews }}
<section>
  <h5>Popular Reviews</h5>
  {{#if model}}
    {{user-reviews model media=media}}
  {{else}}
    {{! TODO @Josh -- empty state for no reviews on media page }}
    <p>No Reviews</p>
  {{/if}}
</section>

{{! Feed }}
<section>
  <h5>Community Feed</h5>
  {{stream-feed
    streamType="media_aggr"
    streamId=(concat (capitalize (model-type media)) "-" media.id)
    readOnly=(not session.hasUser)
    media=media
  }}
</section>
