<!-- Placeholder Template -->
<h4>Rate the content you've seen</h4>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#anime" role="tab" {{action "updateTab" "anime"}}>
      Anime
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#manga" role="tab" {{action "updateTab" "manga"}}>
      Manga
    </a>
  </li>
  <li>
    {{one-way-search
      update=(action "updateContent")
      placeholder="Search by media title..."}}
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="anime" role="tabpanel">
    {{#if query.isRunning}}
      {{fa-icon "spinner" spin=true}}
    {{else}}
      {{#each media as |anime|}}
        <img src={{image anime.posterImage}}>
        {{star-rating
          options=(hash halfStar=true)
          onSet=(action "createLibraryEntry" anime)}}
      {{/each}}
    {{/if}}
  </div>

  <div class="tab-pane" id="manga" role="tabpanel">
    {{#if query.isRunning}}
      {{fa-icon "spinner" spin=true}}
    {{else}}
      {{#each media as |manga|}}
        <img src={{image manga.posterImage}}>
        {{star-rating
          options=(hash halfStar=true)
          onSet=(action "createLibraryEntry" manga)}}
      {{/each}}
    {{/if}}
  </div>
</div>

<progress class="progress progress-success" value={{numRated}} max="5"></progress>
<button type="button" class="btn btn-primary" disabled={{if (not-eq numRatedLeft 0) "disabled"}} {{action "changeComponent" "find-friends"}}>
  {{#if (not-eq numRatedLeft 0)}}
    Rate {{numRatedLeft}} more to continue
  {{else}}
    Continue
  {{/if}}
</button>