{{! Simple }}
{{#if (or (not session.hasUser) session.account.isSimpleRating)}}
  {{#if (gt rating 0)}}
    {{svg-jar simpleTag width=width height=height}}
    {{#unless hideText}}
      <span class="current-rating {{simpleTag}} text-uppercase font-weight-bold">{{simpleTag}}</span>
    {{/unless}}
  {{else}}
    <span class="not-rated">{{t "library-entry.state.not-rated"}}</span>
  {{/if}}
{{! Advanced/Regular }}
{{else}}
  {{#if (gt rating 0)}}
    {{svg-jar "star" width=width height=height class=(concat "current-rating " simpleTag)}}
    <span class="current-rating {{simpleTag}} font-weight-bold">
      {{#if (eq session.account.ratingSystem "regular")}}
        {{regularRating}}
      {{else}}
        {{rating}}
      {{/if}}
    </span>
    {{#unless hideText}}
      <span class="font-weight-bold">/</span>
      <span class="font-weight-bold">
        {{#if (eq session.account.ratingSystem "regular")}}
          5
        {{else}}
          10
        {{/if}}
      </span>
    {{/unless}}
  {{else}}
    <span class="not-rated">{{t "library-entry.state.not-rated"}}</span>
  {{/if}}
{{/if}}