{{#if (or (not session.hasUser) session.account.isSimpleRating)}}
  {{#if (gt rating 0)}}
    {{svg-jar simpleTag width=width height=height}}
    {{#unless hideText}}
      <span class="current-rating {{simpleTag}} text-uppercase font-weight-bold">{{simpleTag}}</span>
    {{/unless}}
  {{else}}
    <span class="not-rated">{{t "library-entry.state.not-rated"}}</span>
  {{/if}}
{{else}}
  {{#if (gt rating 0)}}
    {{svg-jar "star" width=width height=height class=(concat "current-rating " simpleTag)}}
    <span class="current-rating {{simpleTag}} font-weight-bold">{{rating}}</span>
    {{#unless hideText}}
      <span class="font-weight-bold">/</span>
      <span class="font-weight-bold">10</span>
    {{/unless}}
  {{else}}
    <span class="not-rated">{{t "library-entry.state.not-rated"}}</span>
  {{/if}}
{{/if}}