{{#if getLibraryEntryTask.isRunning}}
  <div class="text-xs-center">
    {{loading-spinner size="small"}}
  </div>
{{else}}
  {{! Header }}
  {{#if showHeader}}
    <span class="entry-state-header">
      <span>{{t "library-entry.state.header" state=hasLibraryEntry}}</span>
    </span>
  {{/if}}

  <div class="entry-state-status">
    {{#unless hasLibraryEntry}} {{! Doesn't have a library entry }}
      {{library-entry/state/new-entry
        media=media
        createOnly=createOnly
        onCreate=(perform createLibraryEntryTask)}}
    {{else}} {{! Has a library entry }}
      {{#unless hideProgress}}
        <span class="state-helper">
          {{t "library-entry.state.saved-in"
            link=(href-to "users.library" session.account (query-params status=libraryEntry.status media=mediaType))
            status=(t (concat "library-shared." libraryEntry.status) type=mediaType)
            htmlSafe=true
          }}
        </span>
      {{/unless}}

      {{#if (or (eq libraryEntry.status "completed") (eq libraryEntry.status "dropped"))}}
        {{! completed/dropped state }}
        {{library-entry/state/completed
          libraryEntry=libraryEntry
          hideRemove=hideRemove
          rateOnly=rateOnly
          onRatingChange=(action "updateAttribute" "rating")
          onReaction=(toggle-action "reactionOpen" this)
          onRewatch=(queue
            (action (mut libraryEntry.reconsumeCount) (inc libraryEntry.reconsumeCount))
            (action (mut libraryEntry.progress) 0)
            (action "updateAttribute" "status" "current")
          )
          onSave=(perform updateLibraryEntryTask)
          onRemove=(perform removeLibraryEntryTask)
        }}
      {{else if (eq libraryEntry.status "current")}}
        {{! current status }}
        {{library-entry/state/current
          hideProgress=hideProgress
          libraryEntry=libraryEntry
          onRatingChange=(action "updateAttribute" "rating")
          onStatusChange=(action "updateAttribute" "status")
          onSave=(perform updateLibraryEntryTask)
          onRemove=(perform removeLibraryEntryTask)
        }}
      {{else}}
        {{! fallback for planned/on_hold/dropped }}
        {{library-entry/state/planned
          hideProgress=hideProgress
          libraryEntry=libraryEntry
          onStatusChange=(action "updateAttribute" "status")
          onSave=(perform updateLibraryEntryTask)
          onRemove=(perform removeLibraryEntryTask)
        }}
      {{/if}}

      {{! Edit Library }}
      {{#unless hideRemove}}
        <button class="edit-button button button--secondary button--muted" {{action (toggle "showEditModal" this)}}>
          {{t "library-entry.state.edit-library"}}
        </button>
      {{/unless}}

      {{! Reaction Modal }}
      {{#if reactionOpen}}
        {{to-elsewhere named="modal" send=(component "modals/media-reaction"
          media=media
          libraryEntry=libraryEntry
          modalId="reaction-modal"
          onClose=(toggle-action "reactionOpen" this)
        )}}
      {{/if}}

      {{! Edit Modal }}
      {{#if showEditModal}}
        {{to-elsewhere named="modal" send=(component "modals/library-edit"
          libraryEntry=libraryEntry
          saveEntry=(perform updateLibraryEntryTask)
          removeEntry=(perform removeLibraryEntryTask)
          onClose=(toggle-action "showEditModal" this))}}
      {{/if}}
    {{/unless}}
  </div>
{{/if}}
