{{#if getLibraryEntryTask.isRunning}}
  <div class="text-xs-center">
    {{loading-spinner size="large"}}
  </div>
{{else}}
  {{! Header }}
  <span class="entry-state-header">
    <span>{{t "library-entry.state.header" state=hasLibraryEntry}}</span>
  </span>

  <span class="entry-state-status">
    {{#unless hasLibraryEntry}} {{! Doesn't have a library entry }}
      {{library-entry/state/new-entry
        media=media
        onCreate=(action "createLibraryEntry")}}
    {{else}} {{! Has a library entry }}
      {{#if (eq libraryEntry.status "completed")}}
        {{! completed state }}
      {{else if (eq libraryEntry.status "current")}}
        {{! current status }}
        {{library-entry/state/current
          libraryEntry=libraryEntry
          onProgressChange=(action "updateAttribute" "progress")
          onComplete=(queue
            (action (mut libraryEntry.status) "completed")
            (action "updateAttribute" "rating")
          )
          onRemove=(action "removeLibraryEntry")
        }}
      {{else}}
        {{! fallback for planned/on_hold/dropped }}
        {{library-entry/state/planned
          libraryEntry=libraryEntry
          onProgressChange=(action "updateAttribute" "progress")
          onStatusChange=(action "updateAttribute" "status")
          onRemove=(action "removeLibraryEntry")
        }}
      {{/if}}
    {{/unless}}
  </span>
{{/if}}
