{{#if shouldRender}}
  <section class="media--main-characters">
    <div class="favorite-characters-panel">
      <h5>{{t "media.show.summary.characters.header"}}</h5>
      <div class="favorite-media-grid row">
        {{#if taskInstance.isRunning}}
          {{! @TODO: Custom Loader }}
          <div class="text-xs-center w-100 m-t-1 m-b-1">
            {{loading-spinner size="large"}}
          </div>
        {{else if taskInstance.value}}
          {{#each taskInstance.value as |casting|}}
            <div aria-label={{casting.character.name}} class="favorite-item col-sm-3 hint--top hint--bounce hint--rounded">
              <a href="javascript:void(0);">
                {{lazy-image src=(image casting.character.image)}}
              </a>
            </div>
          {{/each}}
        {{/if}}
      </div>
      {{#if taskInstance.value}}
        <a class="more-link" href={{href-to (concat media.modelType ".show.characters")}}>
          {{t "media.show.summary.characters.more"}}
        </a>
      {{/if}}
    </div>
  </section>
{{/if}}