<div class="grid-poster" data-test-media-poster>
  {{#media-popover media=media}}
    {{! Media Poster }}
    {{lazy-image src=(image media.posterImage "medium")}}

    {{! Overlay }}
    <div class="poster-overlay">
      <a href={{href-to (concat media.modelType ".show") media}}></a>
      {{library-entry/status-dropdown media=media}}
    </div>
  {{/media-popover}}
</div>

{{! Title }}
<div class="ellipsis">
  <a href={{href-to (concat media.modelType ".show") media}} class="media-title">
    {{media.computedTitle}}
  </a>
</div>