{{#if media.popularityRank}}
  <a href={{href-to "explore.more" media.modelType "most-popular"}} class="ranking ranking-popularity">
    {{svg-jar "heart-filled"}}
    {{t (concat "media.show.summary.ranking." length ".popularity") type=media.modelType rank=media.popularityRank}}
  </a>
{{/if}}

{{#if media.ratingRank}}
  <a href={{href-to "explore.more" media.modelType "highest-rated"}} class="ranking ranking-rating">
    {{svg-jar "star"}}
    {{t (concat "media.show.summary.ranking." length ".rating") type=media.modelType rank=media.ratingRank}}
  </a>
{{/if}}
