<div class="reaction">
  {{#if (is-self reaction.user)}}
    <a href="javascript:void(0)" class="reaction-votes {{if isUpvoted "upvoted"}} hint--rounded hint--top hint--bounce" aria-label={{t "media-reaction.self-vote"}}>
      {{svg-jar "upvote"}}
      {{reaction.upVotesCount}}
    </a>
  {{else}}
    <a href="#" {{action "toggleVote"}} class="reaction-votes {{if isUpvoted "upvoted"}}">
      {{svg-jar "upvote"}}
      {{reaction.upVotesCount}}
    </a>
  {{/if}}
  <div>
    <div class="reaction-user">{{reaction.user.name}}</div>
    <div class="reaction-content">{{reaction.reaction}}</div>
  </div>
</div>