<h5>{{t "media.show.summary.information.header" type=media.modelType}}</h5>
<ul>
  {{! Titles }}
  {{#each-in media.titles as |key value|}}
    {{#if value}}
      <li>
        <strong>{{t (concat "media.show.summary.titles." key)}}:</strong>
        {{value}}
      </li>
    {{/if}}
  {{/each-in}}

  {{#if media.abbreviatedTitles}}
    <li>
      <strong>{{t "media.show.summary.titles.synonyms"}}:</strong>
      {{join ", " media.abbreviatedTitles}}
    </li>
  {{/if}}

  {{! Type }}
  {{#if media.subtype}}
    <li>
      <strong>{{t "media.show.summary.information.type"}}:</strong>
      {{t (concat "media-shared.types." media.modelType "." (to-lower media.subtype))}}
    </li>
  {{/if}}

  {{! Volumes }}
  {{#if (and isManga media.volumeCount)}}
    <li>
      <strong>{{t "media.show.summary.information.volumes"}}:</strong>
      {{media.volumeCount}}
    </li>
  {{/if}}

  {{! Episodes / Chapters }}
  {{#if media.unitCount}}
    <li>
      <strong>{{t "media.show.summary.information.unit" type=media.modelType}}:</strong>
      {{media.unitCount}}
    </li>
  {{/if}}

  {{! Status }}
  <li>
    <strong>{{t "media.show.summary.information.status"}}:</strong>
    {{t (concat "media-shared.statuses." media.modelType "." media.status)}}
  </li>

  {{! Airing / Status }}
  {{#if media.tba}}
    <li>
      <strong>{{t "media.show.summary.information.tba"}}:</strong>
      {{media.tba}}
    </li>
  {{else if media.startDate}}
    <li>
      <strong>{{t "media.show.summary.information.start" type=media.modelType}}:</strong>
      {{moment-format media.startDate "MMM D, YYYY" timeZone="UTC"}}
      {{#if (and media.endDate airedLongerThanOneDay)}}
        to {{moment-format media.endDate "MMM D, YYYY" timeZone="UTC"}}
      {{/if}}
    </li>
    {{#if isAnime}}
      <li>
        <strong>{{t "media.show.summary.information.season"}}:</strong>
        <a href={{href-to (concat media.modelType ".index") (query-params
          season=season
          year=(concat seasonYear ".." seasonYear)
        )}}>
          {{capitalize season}} {{seasonYear}}
        </a>
      </li>
    {{/if}}
  {{/if}}

  {{#if isExpanded}}
    {{! Age Rating }}
    {{#if media.ageRating}}
      <li>
        <strong>{{t "media.show.summary.information.rating"}}:</strong>
        {{media.ageRating}}
        {{#if media.ageRatingGuide}}
          - {{media.ageRatingGuide}}
        {{/if}}
      </li>
    {{/if}}

    {{! Productions}}
    {{#if (and isAnime media.animeProductions)}}
      {{#if producers}}
        <li>
          <strong>{{t "media.show.summary.information.producers"}}:</strong>
          {{producers}}
        </li>
      {{/if}}
      {{#if licensors}}
        <li>
          <strong>{{t "media.show.summary.information.licensors"}}:</strong>
          {{licensors}}
        </li>
      {{/if}}
      {{#if studios}}
        <li>
          <strong>{{t "media.show.summary.information.studios"}}:</strong>
          {{studios}}
        </li>
      {{/if}}
    {{/if}}

    {{! Serialization }}
    {{#if (and isManga media.serialization)}}
      <li>
        <strong>{{t "media.show.summary.information.serialization"}}:</strong>
        {{media.serialization}}
      </li>
    {{/if}}

    {{! Duration }}
    {{#if (and isAnime media.episodeLength)}}
      <li>
        <strong>{{t "media.show.summary.information.duration"}}:</strong>
        {{#if (and media.unitCount media.episodeLength (gt media.unitCount 1))}}
          {{t "media.show.summary.information.total" total=totalTime}}
          ({{t "media.show.summary.information.length" count=media.unitCount length=media.episodeLength}})
        {{else}}
          {{t "media.show.summary.information.length" count=media.unitCount length=media.episodeLength}}
        {{/if}}
      </li>
    {{/if}}
  {{/if}}

  <a class="more-link" href="#" {{action (toggle "isExpanded" this)}}>
    {{t (concat "media.show.summary.information.expand." isExpanded)}}
  </a>
</ul>
