<div class="stream-item-options">
  {{! Dropdown }}
  <span class="more-wrapper">
    <a href="#" class="more-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{svg-jar "more"}}
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      {{! Hide/Show Posts }}
      <a class="dropdown-item" href="#" {{action "toggleIgnore"}}>
        {{#if isIgnoring}}
          <div>{{t "media.show-posts.text" media=media.computedTitle}}</div>
          <div class="option-info">{{t "media.show-posts.info" type=(capitalize media.modelType)}}</div>
        {{else}}
          <div>{{t "media.hide-posts.text" media=media.computedTitle}}</div>
          <div class="option-info">{{t "media.hide-posts.info" type=(capitalize media.modelType)}}</div>
        {{/if}}
      </a>
    </div>
  </span>
</div>