{{! poster }}
<span class="media-poster">
  <a href="#" class="media-favorite {{if isFavorite "is-favorite"}}" {{action "toggleFavorite"}}>
    <span class="heart-wrapper"></span>
  </a>
  {{lazy-image src=(image media.posterImage "large")}}
</span>

{{! Library State }}
{{library-entry/state media=media}}

{{! Streamers }}
{{#if media.streamingLinks}}
  <div class="where-to-watch-widget">
    <span class="where-to-watch-header">
      <span>{{t "media.show.sidebar.watch"}}</span>
    </span>
    {{#if getStreamersTask.isRunning}}
      <div class="text-xs-center w-100 m-t-1">
        {{loading-spinner size="small"}}
      </div>
    {{else if getStreamersTask.last.value}}
      <ul class="nav">
        {{#each media.streamingLinks as |link|}}
          <li>
            <a href={{link.url}} target="_blank" rel="noopener noreferrer" class="hint--top hint--bounce hint--rounded" aria-label={{link.streamer.siteName}}>
              {{svg-jar (to-lower link.streamer.siteName)}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/if}}
