<section class="media--reactions m-b-1">
  <div class='reactions-header'>
    <h5>{{t "media.show.summary.reactions.header"}}</h5>
     · <span class="result-sort-wrapper">
      {{#bootstrap/bs-dropdown as |dropdown|}}
        {{#dropdown.button type="button--dark-outline" class="button--small"}}
          {{t (concat "media.show.summary.reactions.sorts." sort)}}
        {{/dropdown.button}}
        {{#dropdown.menu}}
          {{#each sortOptions as |sortKey|}}
            {{#dropdown.menu-item onClick=(action "changeSort" sortKey)}}
              {{t (concat "media.show.summary.reactions.sorts." sortKey)}}
              {{#if (eq sort sortKey)}}
                <span class="dropdown-checkmark">
                  {{svg-jar "checkmark"}}
                </span>
              {{/if}}
            {{/dropdown.menu-item}}
          {{/each}}
        {{/dropdown.menu}}
      {{/bootstrap/bs-dropdown}}
    </span>
    <span class="reaction-button">
        {{#if getLibraryEntryTask.isrunning}}
          {{loading-spinner size="small"}}
        {{else}}
          {{#if libraryEntry}}
            <a href="#" {{action (toggle "isModalOpen" this)}}>
              {{t (concat "media.show.summary.reactions." (if libraryEntry.mediaReaction "edit" "new"))}}
            </a>
          {{/if}}
        {{/if}}
    </span>
  </div>
  {{#if getReactionsTask.isRunning}}
    {{! @TODO: Replace with feed loader }}
    <div class="text-xs-center w-100 m-t-1 m-b-1">
      {{loading-spinner size="large"}}
    </div>
  {{else if getReactionsTask.error}}
    <div class="text-xs-center w-100 m-t-1 m-b-1">
      {{t "errors.load"}}
    </div>
  {{else if getReactionsTask.last.value}}
    <div class="reactions-list w-100">
      {{#each getReactionsTask.last.value as |reaction|}}
        {{media/media-reaction reaction=reaction}}
      {{/each}}
      <div class="reactions-more">
        <a href={{href-to (concat media.modelType ".show.reactions") media}}>
          {{t "media.show.summary.reactions.more"}}
        </a>
      </div>
    </div>
  {{else}}
    <div class="text-xs-center w-100 m-t-1 m-b-1">
      {{t "errors.contentEmpty"}}
    </div>
  {{/if}}
</section>

{{#if isModalOpen}}
  {{to-elsewhere named="modal" send=(component "modals/media-reaction"
    media=media
    libraryEntry=libraryEntry
    modalId="reaction-modal"
    onClose=(toggle-action "isModalOpen" this)
  )}}
{{/if}}