<h5>Information</h5>
<ul>
  {{! Type }}
  {{#if media.subtype}}
    <li>
      <strong>{{t "media.routes.show.information.type"}}:</strong>
      {{t (concat "media." (model-type media) ".type." media.subtype)}}
    </li>
  {{/if}}

  {{! Volumes }}
  {{#if (and isManga media.volumeCount)}}
    <li>
      <strong>{{t "media.routes.show.information.volumes"}}:</strong>
      {{media.volumeCount}}
    </li>
  {{/if}}

  {{! Episodes / Chapters }}
  {{#if media.unitCount}}
    <li>
      <strong>{{t (concat "media.routes.show.information.unit." (model-type media))}}:</strong>
      {{media.unitCount}}
    </li>
  {{/if}}

  {{! Status }}
  <li>
    <strong>{{t "media.routes.show.information.status"}}:</strong>
    {{t (concat "media.routes.show.information.statuses." (model-type media) "." airingStatus)}}
  </li>

  {{! Airing / Status }}
  {{#if media.startDate}}
    <li>
      <strong>{{t (concat "media.routes.show.information.start." (model-type media))}}:</strong>
      {{moment-format media.startDate "MMM D, YYYY"}}
      {{#if (and media.endDate airedLongerThanOneDay)}}
        to {{moment-format media.endDate "MMM D, YYYY"}}
      {{/if}}
    </li>
    {{#if isAnime}}
      <li>
        <strong>{{t "media.routes.show.information.season"}}:</strong>
        <a href={{href-to (concat (model-type media) ".index") (query-params season=season year=seasonYear)}}>
          {{capitalize season}} {{seasonYear}}
        </a>
      </li>
    {{/if}}
  {{/if}}

  {{! Serialization }}
  {{#if (and isManga media.serialization)}}
    <li>
      <strong>{{t "media.routes.show.information.serialization"}}:</strong>
      {{media.serialization}}
    </li>
  {{/if}}

  {{! Duration }}
  {{#if (and isAnime media.episodeLength)}}
    <li>
      <strong>{{t "media.routes.show.information.duration"}}:</strong>
      {{t "media.routes.show.meta.unit.length" total=totalTime length=media.episodeLength count=media.unitCount}}
    </li>
  {{/if}}

  {{! Age Rating }}
  {{#if media.ageRating}}
    <li>
      <strong>{{t "media.routes.show.information.rating"}}:</strong>
      {{media.ageRating}}
      {{#if media.ageRatingGuide}}
        - {{media.ageRatingGuide}}
      {{/if}}
    </li>
  {{/if}}
</ul>