{{! poster }}
<span class="media-poster">
  {{lazy-image src=(image media.posterImage "large")}}
</span>

{{! Library State }}
{{library-entry/state media=media}}

{{! Streamers }}
{{#if media.streamingLinks}}
  <div class="where-to-watch-widget">
    <h6>{{t "media.show.sidebar.watch"}}</h6>
    {{#if getStreamersTask.isRunning}}
      <div class="text-xs-center w-100 m-t-1">
        {{loading-spinner size="small"}}
      </div>
    {{else if getStreamersTask.last.value}}
      <ul class="nav">
        {{#each media.streamingLinks as |link|}}
          <li>
            <a href={{link.url}} class="hint--top hint--bounce hint--rounded" aria-label={{link.streamer.siteName}}>
              {{svg-jar (to-lower link.streamer.siteName)}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/if}}