<div class="grid-poster" data-test-selector="media-poster">
  {{#media-popover media=media}}
    {{! Media Poster }}
    {{lazy-image src=(image media.posterImage "medium")}}

    {{! Overlay }}
    <div class="poster-overlay">
      <a href={{href-to (concat media.modelType ".show") media}}></a>
      {{library-entry/state media=media showHeader=false}}
    </div>
  {{/media-popover}}
</div>

{{! Title }}
<div class="ellipsis">
  <a href={{href-to (concat media.modelType ".show") media}} class="media-title">
    {{media.computedTitle}}
  </a>
</div>