{{! TODO/@Josh -- Rating area above synopsis }}

{{! community rating }}
{{percentageLiked}}
<span>Liked it</span>
{{decimal-number media.averageRating}}
{{! TODO/@vevix: Support any % on readonly }}
{{star-rating media.averageRating readOnly=true}}

{{! user rating }}
{{#if (and entry (not (is-promise entry)))}}
  {{decimal-number entry.rating}}
  <span>Your rating</span>
  {{star-rating entry.rating onClick=(action "update")}}
{{/if}}