{{! Group Filter }}
{{groups/group-categories-list
  currentCategory=category
  onChange=(action (mut category))}}

{{! Group Results }}
{{groups/group-list
  sort=sort
  query=query
  groups=groups
  isLoading=model.taskInstance.isRunning
  onPagination=(route-action "onPagination")
  updateQueryParam=(action "updateQueryParam")
  class="group-result-list"}}

{{! Group Action }}
<div class="group-result-secondary">
  <div class="card">
    {{t "groups.index.call-to-action"}}
    <button class="button button--primary" {{action "handleCreateClick"}}>
      {{t "groups.index.create-btn"}}
    </button>
  </div>

  {{! Groups }}
  {{#if session.hasUser}}
    {{dashboard/unread-groups class="sidebar-item"}}
  {{/if}}
</div>
