<div class="group-create-wrapper">
  <div class="group-create-header">
    <h3>{{t "groups.create.header"}}</h3>
  </div>
  <div class="card">
    {{! Group Name }}
    <label class="field-wrapper">
      <span class="field-title">{{t "groups.create.form.name"}}</span>
      <div class="field-input-wrapper">
        {{one-way-text
          update=(action (mut group.name))
          minlength=4
          maxlength=50
          class="form-control"
        }}
      </div>
      <span class="field-notice">{{t "groups.create.form.required"}}</span>
      <hr class="ruler">
    </label>

    {{! Group Tagline }}
    <label class="field-wrapper">
      <span class="field-title">{{t "groups.create.form.tagline"}}</span>
      <div class="field-input-wrapper">
        {{one-way-text
          update=(action (mut group.tagline))
          maxlength=60
          class="form-control"
        }}
      </div>
      <span class="field-notice">{{t "groups.create.form.required"}}</span>
      <hr class="ruler">
    </label>

    {{! Group Privacy }}
    <label class="field-wrapper">
      <span class="field-title">{{t "groups.create.form.privacy"}}</span>
      <div class="field-input-wrapper">
        <fieldset>
          <div class="radio-card-group">
            {{#each privacyOptions as |option|}}
              <div class="radio-card">
                {{one-way-radio
                  id=(concat "radio-" option)
                  value=group.privacy
                  option=option
                  update=(action (mut group.privacy))}}
                <label for="radio-{{option}}">
                  <span class="card-title">{{t (concat "groups.create.form.privacy-options." option)}}</span>
                  <ul class="card-desc">
                    {{t-html (concat "groups.create.form.privacy-features." option)}}
                  </ul>
                </label>
              </div>
            {{/each}}
          </div>
        </fieldset>
      </div>
      <hr class="ruler">
    </label>

    {{! Category }}
    <label class="field-wrapper">
      <span class="field-title">{{t "groups.create.form.category"}}</span>
      <div class="field-input-wrapper">
        {{#power-select
          selected=selectedCategory
          options=categories
          onchange=(action "selectCategory")
          renderInPlace=true
          searchEnabled=false
          placeholder=(t "groups.create.form.category-placeholder")
          triggerClass="form-control"
          as |category|
        }}
          <span class="icon">{{svg-jar category.slug}}</span>
          {{category.name}}
        {{/power-select}}
      </div>
      <span class="field-notice">{{t "groups.create.form.required"}}</span>
      <hr class="ruler">
    </label>

    {{! Submit }}
    <div class="form-group clearfix">
      <button class="button button--primary group-create-cta" disabled={{unless isValid "disabled"}} {{action (route-action "createGroup")}}>
        {{#if isSaving}}
          {{loading-spinner size="small"}}
        {{else}}
          {{t "groups.create.form.create-btn"}}
        {{/if}}
      </button>
    </div>

    <div class="group-create-helper">
      <!-- @vevix, when a user hovers over a diffrent section of the create group form,
      this helper should change it's title and text to provide context. The changed text
      should persist until the user hovers over a new section. -->
      <div class="group-create-helper--title">
        Tagline
      </div>
      <span class="group-create-helper--description">
        <span>
          <p>Summarize the purpose and content of your community in 60 characters or less. Try to avoid overly clever or vague descriptions.</p>
        </span>
      </span>
    </div>
  </div>
</div>