<div class="group-create-wrapper">
  <div class="group-create-header">
    <h3>Create a Group</h3>
  </div>
  <div class="card">

    {{! Group Name }}
    <label class="field-wrapper">
      <span class="field-title">
        Name
      </span>
      <div class="field-input-wrapper">
        {{one-way-text
          update=(action (mut group.name))
          minlength=4
          class="form-control"
        }}
      </div>
      <span class="field-notice">
        required
      </span>
      <hr class="ruler">
    </label>

    {{! Group Tagline }}
    <label class="field-wrapper">
      <span class="field-title">
        Tagline
      </span>
      <div class="field-input-wrapper">
        {{one-way-text
          update=(action (mut group.name))
          minlength=4
          maxlength=60
          class="form-control"
        }}
      </div>
      <span class="field-notice">
        required
      </span>
      <hr class="ruler">
    </label>

    {{! Privacy }}
    <label class="field-wrapper">
      <span class="field-title">
        Privacy
      </span>
      <div class="field-input-wrapper">
        <fieldset>
          <div class="radio-card-group">
            <div class="radio-card">
              <input type="radio" name="privacy" value="public" id="public" checked="checked">
              <label for="public" id="radio-label1">
                <span class="card-title">Public</span>
                <ul class="card-desc">
                  <li>Anyone can view</li>
                  <li>Anyone can join</li>
                  <li>Anyone can post or comment</li>
                </ul>
              </label>
            </div>

            <div class="radio-card">
              <input type="radio" name="privacy" value="private" id="private"/>
              <label for="private" id="radio-label2">
                <span class="card-title">Private</span>
                <ul class="card-desc">
                  <li>Hidden from public</li>
                  <li>Users may only join via invitation</li>
                  <li>Can't be made public</li>
                </ul>
              </label>
            </div>

            <div class="radio-card">
              <input type="radio" name="privacy" value="restricted" id="restricted"/>
              <label for="restricted" id="radio-label3">
                <span class="card-title">Restricted</span>
                <ul class="card-desc">
                  <li>Anyone can view</li>
                  <li>Anyone can join</li>
                  <li>Only leaders can create new posts.</li>
                </ul>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <hr class="ruler">
    </label>

    {{! Category }}
    <label class="field-wrapper">
      <span class="field-title">
        Category
      </span>
      <div class="field-input-wrapper">
        <select name="category_id"><option value="1">Tech</option><option value="2">Games</option><option value="3">Podcasts</option><option value="4">Books</option></select>
      </div>
      <span class="field-notice">
        required
      </span>
      <hr class="ruler">
    </label>

    {{! Submit }}
    <div class="form-group clearfix">
      <button class="button button--primary group-create-cta" disabled={{unless isValid "disabled"}} {{action (route-action "createGroup")}}>
        {{#if isSaving}}
          Creating... {{loading-spinner size="small"}}
        {{else}}
          Create your Group!
        {{/if}}
      </button>
    </div>

    <div class="group-create-helper">
      <!-- @vevix, when a user hovers over a diffrent section of the create group form,
      this helper should change it's title and text to provide context. The changed text
      should persist until the user hovers over a new section. -->
      <div class="group-create-helper--title">
        Tagline
      </div>
      <span class="group-create-helper--description">
        <span>
          <p>Summarize the purpose and content of your community in 60 characters or less. Try to avoid overly clever or vague descriptions.</p>
        </span>
      </span>
    </div>
  </div>
</div>

<!-- @vevix old stuff that can be deleted if you no longer need it -->

{{! Tags }}
<!-- <div class="form-group">
  <label>Group Tags</label>
  {{#power-select-multiple
    options=addedTags
    selected=group.tags
    onchange=(action (mut group.tags))
    onkeydown=(action "createTag")
    renderInPlace=true
    noMatchesMessage="Type a tag and hit enter."
    as |tag|
  }}
    {{tag}}
  {{/power-select-multiple}}
  <small class="form-text text-muted">Users can use tags to discover new groups.</small>
</div> -->

{{! NSFW }}
<!-- <div class="form-group">
  <label class="custom-control custom-checkbox">
    {{one-way-checkbox update=(action (mut group.nsfw)) class="custom-control-input"}}
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">NSFW?</span>
  </label>
  <small class="form-text text-muted">Does your group contain NSFW (Not Safe For Work) content?</small>
</div> -->

<!-- <div class="form-group">
  <label>Privacy Setting <span class="form-required">*</span></label>
  {{#power-select
    selected=(capitalize group.privacy)
    options=(w "open" "closed" "restricted")
    onchange=(action (mut group.privacy))
    renderInPlace=true
    searchEnabled=false
    as |privacyOption|
  }}
    {{capitalize privacyOption}}
  {{/power-select}}
  <small class="form-text text-muted">Select the privacy option for your group. Hover the `?` icon for more information.</small>
</div> -->

<!-- {{! Rules }}
<div class="form-group">
  <label>Group Rules</label>
  {{expanding-textarea
    update=(action (mut group.rules))
    class="form-control"
  }}
  <small class="form-text text-muted">Rules for your group members to follow. Supports Markdown (No HTML).</small>
</div> -->

<!-- {{! Group Bio }}
<label class="field-wrapper">
  <span class="field-title">
    About
  </span>
  <div class="field-input-wrapper">
    {{expanding-textarea
      update=(action (mut group.about))
      rows=1
      class="form-control"
    }}
  </div>
  <hr class="ruler">
</label> -->


<!-- {{! Images }}
<div class="form-group">
  <label>Group Image</label>
  {{image-form
    image=group.avatar
    width=200
    height=200
    update=(action (mut group.avatar))}}
  <small class="form-text text-muted">Your groups recognizable avatar that will be used throughout the site and on social media links. Your avatar will be resized to 200x200.</small>
</div>

<div class="form-group">
  <label>Group Cover Image</label>
  {{image-form
    image=group.coverImage
    width=3360
    height=300
    update=(action (mut group.coverImage))}}
  <small class="form-text text-muted">Your groups cover image will be shown on your group page. Your cover image will be resized to 3360x800.</small>
</div> -->
