<div class="modal-cover-photo" style="background-image: url(&quot;/images/default_cover.png&quot;)">
  <a class="modal-overlay-button">
    <span class="overlay-text">
      {{svg-jar "picture"}}
      <h6>{{t 'users.edit.editCover'}}</h6>
    </span>
  </a>
</div>
<div class="modal-user-avatar">
  <div class="modal-avatar-wrapper">
    <a class="modal-overlay-button">
      <span class="overlay-text">
        {{svg-jar "picture"}}
      </span>
    </a>
    <img src="http://localhost:32768/images/default_avatar.png" class="avatar-image avatar-image--medium">
  </div>
</div>
<nav class="cover-nav edit-nav navbar navbar-light">
  <div class="container">
    <div class="row">
      <div class="nav navbar-nav">
        <a class="nav-item nav-link" {{action "changeComponent" "about-me"}}>
          {{t 'users.edit.aboutMe'}}
        </a>
        <a class="nav-item nav-link" {{action "changeComponent" "linked-profiles"}}>
          {{t 'users.edit.linkedProfiles'}}
        </a>
        <a class="nav-item nav-link" {{action "changeComponent" "favorites"}}>
          {{t 'users.edit.favorites'}}
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="modal-wrapper">
  <h4 class="edit-heading">Linked Profiles</h4>
  <!-- Nav tabs -->
  <ul class="linked-profiles nav" role="tablist">
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded active" aria-label="Website" data-toggle="tab" href="#website" role="tab">
        {{svg-jar "web"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Facebook" data-toggle="tab" href="#facebook" role="tab">
        {{svg-jar "facebook"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Twitter" data-toggle="tab" href="#twitter" role="tab">
        {{svg-jar "twitter"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded filled" aria-label="Twitch" data-toggle="tab" href="#twitch" role="tab">
        {{svg-jar "twitch"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded filled" aria-label="Youtube" data-toggle="tab" href="#youtube" role="tab">
        {{svg-jar "youtube"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Google+" data-toggle="tab" href="#google" role="tab">
        {{svg-jar "gplus"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Steam" data-toggle="tab" href="#steam" role="tab">
        {{svg-jar "steam"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Patreon" data-toggle="tab" href="#patreon" role="tab">
        {{svg-jar "patreon"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Tumblr" data-toggle="tab" href="#tumblr" role="tab">
        {{svg-jar "tumblr"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Github" data-toggle="tab" href="#github" role="tab">
        {{svg-jar "github"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Instagram" data-toggle="tab" href="#instagram" role="tab">
        {{svg-jar "instagram"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Mobcrush" data-toggle="tab" href="#mobcrush" role="tab">
        {{svg-jar "mobcrush"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Raptr" data-toggle="tab" href="#raptr" role="tab">
        {{svg-jar "raptr"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Soundcloud" data-toggle="tab" href="#soundcloud" role="tab">
        {{svg-jar "soundcloud"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded filled" aria-label="Discord" data-toggle="tab" href="#discord" role="tab">
        {{svg-jar "discord"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Vimeo" data-toggle="tab" href="#vimeo" role="tab">
        {{svg-jar "vimeo"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Dailymotion" data-toggle="tab" href="#dailymotion" role="tab">
        {{svg-jar "dailymotion"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
    <li class="profile-item nav-item">
      <a class="nav-link hint--top hint--bounce hint--rounded" aria-label="Osu" data-toggle="tab" href="#osu" role="tab">
        {{svg-jar "osu"}}
        <span class="fill-mark">{{svg-jar "success"}}</span>
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content profile-forms">
    <div class="tab-pane active" id="website" role="tabpanel">
      <h6>Website</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Website URL to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="https://yourwebsite.com" id="example-url-input">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="facebook" role="tabpanel">
      <h6>Facebook</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Connect to cross-post, find your friends and link to your profile.</label>
        </div>
        <div class="col-xs-12">
          <button class="">Connect to Facebook</button>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="twitter" role="tabpanel">
      <h6>Twitter</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Connect to cross-post, find your friends and link to your profile.</label>
        </div>
        <div class="col-xs-12">
          <button class="">Connect to Twitter</button>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="twitch" role="tabpanel">
      <h6>Twitch</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Connect to show when you're streaming and add a link to your profile.</label>
        </div>
        <div class="col-xs-12">
          <button class="">Disconnect from Twitch</button>
          <ul class="profile-settings nav">
            <li>
              <span class="switch">
                <input type="checkbox" checked="checked" id="twitch-toggle1" />
                <label for="twitch-toggle1"></label>
              </span>
              <label for="twitch-toggle1" class="setting-info">Link to your Twitch from your profile.</label>
            </li>
            <li>
              <span class="switch">
                <input type="checkbox" checked="checked" id="twitch-toggle2" />
                <label for="twitch-toggle2"></label>
              </span>
              <label for="twitch-toggle2" class="setting-info">Show my followers when I'm streaming.</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="youtube" role="tabpanel">
      <h6>Youtube</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Connect to automatically share your content and link to your account.</label>
        </div>
        <div class="col-xs-12">
          <button class="">Disconnect from Youtube</button>
          <ul class="profile-settings nav">
            <li>
              <span class="switch">
                <input type="checkbox" id="youtube-toggle1" />
                <label for="youtube-toggle1"></label>
              </span>
              <label for="youtube-toggle1" class="setting-info">Share new content with your followers automatically.</label>
            </li>
            <li>
              <span class="switch">
                <input type="checkbox" checked="checked" id="youtube-toggle2" />
                <label for="youtube-toggle2"></label>
              </span>
              <label for="youtube-toggle2" class="setting-info">Link to your Youtube from your profile.</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="google" role="tabpanel">
      <h6>Google+</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Connect to find your friends add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <button class="">Connect to Google+</button>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="steam" role="tabpanel">
      <h6>Steam</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Connect to find your friends and add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <button class="">Connect to Steam</button>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="patreon" role="tabpanel">
      <h6>Patreon</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Patreon URL to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="Patreon Profile URL">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tumblr" role="tabpanel">
      <h6>Tumblr</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Tumblr URL to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="Tumblr Profile URL">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="github" role="tabpanel">
      <h6>Github</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Github URL to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="Github Profile URL">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="instagram" role="tabpanel">
      <h6>Instagram</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Instagram URL to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="Instagram Profile URL">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="mobcrush" role="tabpanel">
      <h6>Mobcrush</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Mobcrush URL to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="Mobcrush Profile URL">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="raptr" role="tabpanel">
      <h6>Raptr</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Raptr URL to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="Raptr Profile URL">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="soundcloud" role="tabpanel">
      <h6>Soundcloud</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Soundcloud URL to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="Soundcloud Profile URL">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="discord" role="tabpanel">
      <h6>Discord</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Discord Invite URL or DiscordTag to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="Cruecial#8650" placeholder="Discord Invite URL or DiscordTag#000">
          <ul class="profile-settings nav">
            <li>
              <span class="switch">
                <input type="checkbox" checked="checked" id="discord-toggle1" />
                <label for="discord-toggle1"></label>
              </span>
              <label for="discord-toggle1" class="setting-info">Link to your Discord from your profile.</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="vimeo" role="tabpanel">
      <h6>Vimeo</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Vimeo URL to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="Vimeo Channel URL">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="dailymotion" role="tabpanel">
      <h6>Dailymotion</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Dailymotion URL to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="Dailymotion Channel URL">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="osu" role="tabpanel">
      <h6>Osu!</h6>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="example-url-input" class="col-form-label">Enter your Osu! URL to add a link on your profile.</label>
        </div>
        <div class="col-xs-12">
          <input class="form-control" type="url" value="" placeholder="Osu! Profile URL">
        </div>
      </div>
    </div>
  </div>

</div>

<section class="modal-footer">
  <p class="link-note">
    Visit your <a href="#">settings page</a> to change your username, email, notification settings, and more.
  </p>
  <button href="#" class="button button--save-edit button--primary">Update Profile</button>
</section>
