<div class="card">
  <div class="card-block">
    <h5 class="card-title">{{t "groups.dashboard.overview.log"}}</h5>
    <hr>
    <div class="audit-log-items">
      {{#if getLogItemsTask.isRunning}}
        <div class="w-100 text-xs-center m-t-2">
          {{loading-spinner size="small"}}
        </div>
      {{else}}
        {{#each getLogItemsTask.last.value as |item|}}
          {{groups/dashboard/audit-log-item item=item}}
        {{else}}
          <p>{{t "errors.contentEmpty"}}</p>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>