{{! members card }}
<div class="card">
  <div class="card-block">
    <h5 class="card-title">{{t "groups.dashboard.overview.members.header"}}</h5>
    <hr>
    <div class="card-stats">
      <div class="card-stat card-stat--members-today">
        <span class="card-stat-title">{{t "groups.dashboard.overview.members.today"}}</span>
        <span class="card-stat-value">
          {{format-number membersToday fallback="-"}}
        </span>
      </div>
      <div class="card-stat card-stat--members-total">
        <span class="card-stat-title">{{t "groups.dashboard.overview.members.total"}}</span>
        <span class="card-stat-value">
          {{format-number membersTotal fallback="-"}}
        </span>
      </div>
    </div>
  </div>
</div>

{{! activity card }}
<div class="card">
  <div class="card-block">
    <h5 class="card-title">{{t "groups.dashboard.overview.activity.header"}}</h5>
    <hr>
    <div class="card-stats">
      <div class="card-stat card-stat--posts">
        <span class="card-stat-title">{{t "groups.dashboard.overview.activity.posts"}}</span>
        <span class="card-stat-value">
          {{format-number postsToday fallback="-"}}
        </span>
      </div>
      <div class="card-stat card-stat--comments">
        <span class="card-stat-title">{{t "groups.dashboard.overview.activity.comments"}}</span>
        <span class="card-stat-value">
          {{format-number commentsToday fallback="-"}}
        </span>
      </div>
    </div>
  </div>
</div>

{{! help desk card }}
<div class="card">
  <div class="card-block">
    <h5 class="card-title">{{t "groups.dashboard.overview.help-desk.header"}}</h5>
    <hr>
    <div class="card-stats">
      <div class="card-stat card-stat--tickets">
        <span class="card-stat-title">{{t "groups.dashboard.overview.help-desk.tickets"}}</span>
        <span class="card-stat-value">
          {{format-number ticketsTotal fallback="-"}}
        </span>
      </div>
      <div class="card-stat card-stat--reports">
        <span class="card-stat-title">{{t "groups.dashboard.overview.help-desk.reports"}}</span>
        <span class="card-stat-value">
          {{format-number reportsTotal fallback="-"}}
        </span>
      </div>
    </div>
  </div>
</div>