{{#if post.commentsCount}}
    {{#if getComments.isRunning}}
      <div class="p-t-1 text-xs-center">
        {{loading-spinner size="small"}}
      </div>
    {{else}}
      <!-- TODO: @Josh - Needs Styling -->
      <div class="comment-actions">
        <!-- Pagination -->
        <div class="d-inline-block">
          <!-- TODO: i18n -->
          {{#pagination-manual
            model=comments
            limit=5
            update=(action "loadComments") as |active|
          }}
            <a href="#" class={{if (not active) "is-disabled"}}>
              Load Previous Comments
            </a>
          {{/pagination-manual}}
        </div>
        <!-- Current Comments / Max -->
        <div class="pull-sm-right">
          <!-- TODO: i18n / pad left -->
          {{comments.length}} of {{post.commentsCount}}
        </div>
      </div>

      <ul class="media-list">
        {{#each comments as |comment|}}
          {{stream-feed/items/post/comment
            comment=comment
            tagName="li"
            class="media"}}
        {{/each}}
      </ul>
    {{/if}}
{{/if}}

<div class="add-comment-wrapper">
  {{one-way-text
    keyEvents=(hash 13=(perform createComment))
    placeholder="Leave a comment..."
    class="form-control add-comment"
  }}
</div>