{{#if model.taskInstance.isRunning}}
  <div class="text-xs-center w-100 m-t-1">
    {{loading-spinner size="large"}}
    <p>{{t "admin.reports.loading"}}</p>
  </div>
{{else if model.taskInstance.error}}
  <div class="text-xs-center w-100 m-t-1">
    {{t "errors.load"}}
  </div>
{{else}}
  {{#infinite-pagination onPagination=(route-action "onPagination")}}
    {{admin/report-list reports=(filter-by "status" "reported" taskValue)}}
  {{/infinite-pagination}}
{{/if}}
