{{! guard due to development environments hitting shared stream }}
{{#if activity.actor}}
  <a href={{link}} class="media {{if (not group.isRead) "new"}}">
    <span class="media-left" href="#">
      {{#if isUser}}
        <img class="avatar-image avatar-image--small" src={{image activity.actor.avatar "small"}}>
      {{else}}
        <img class="poster-image" src={{image activity.actor.posterImage "small"}}>
      {{/if}}
    </span>
    <div class="media-body">
      <p class="media-heading">
        {{#if isUser}}
          <a href={{href-to "users.index" activity.actor}}>{{activity.actor.name}}</a>
          {{! more than one? }}
          {{#if (gt others.length 0)}}
            {{#if (eq others.length 1)}}
              {{#with (get others "firstObject") as |other|}}
                {{#if other.actor}}
                  {{t "user-notifications.item.other-actor" href-to=(href-to "users.index" other.actor) name=other.actor.name htmlSafe=true}}
                {{else}}
                  {{t "user-notifications.item.unknown"}}
                {{/if}}
              {{/with}}
            {{else}}
              {{t "user-notifications.item.other-actors" count=otherCount htmlSafe=true}}
            {{/if}}
          {{/if}}
        {{/if}}

        {{! type }}
        {{! TODO(@vevix): Refactor to be better }}
        {{#if (eq activity.verb "follow")}}
          {{t "user-notifications.item.followed"}}
        {{else if (eq activity.verb "post")}}
          {{t "user-notifications.item.mentioned-post"}}
        {{else if (eq activity.verb "comment")}}
          {{#if (eq session.account.id (split-stream-id activity.replyToUser))}}
            {{t "user-notifications.item.replied"}}
            {{#if (eq activity.replyToType "comment")}}
              {{t "user-notifications.item.comment"}}
            {{else}}
              {{t "user-notifications.item.post"}}
            {{/if}}
          {{else if isMentioned}}
            {{t "user-notifications.item.mentioned-comment"}}
          {{else}}
            {{t "user-notifications.item.reply.reply"}}
            {{#if (and activity.target activity.target.user)}}
              {{#if (eq activity.target.user.id activity.actor.id)}}
                {{t "user-notifications.item.reply.their"}}
              {{else if (eq activity.target.user.id session.account.id)}}
                {{t "user-notifications.item.reply.your"}}
              {{else}}
                <a href={{href-to "users.index" activity.target.user}}>{{t "user-notifications.item.reply.else" name=activity.target.user.name}}</a>
              {{/if}}
            {{else}}
              {{t "user-notifications.item.reply.a"}}
            {{/if}}
            {{t "user-notifications.item.reply.post"}}
          {{/if}}
        {{else if (eq activity.verb "post_like")}}
          {{t "user-notifications.item.liked-post"}}
        {{else if (eq activity.verb "comment_like")}}
          {{t "user-notifications.item.liked-comment"}}
        {{else if (eq activity.verb "invited")}}
          {{t "user-notifications.item.invited"}}
        {{else if (eq activity.verb "vote")}}
          {{t "user-notifications.item.liked-reaction" media=activity.target.media.computedTitle}}
        {{else if (eq activity.verb "aired")}}
          {{#if (and activity.subject (gt activity.subject.number 0))}}
            {{t "user-notifications.aired" type=activity.subject.modelType number=activity.subject.number media=activity.actor.computedTitle}}
          {{else}}
            {{t "user-notifications.aired-unknown" type=activity.actor.modelType media=activity.actor.computedTitle}}
          {{/if}}
        {{/if}}
      </p>
      <small class="media-secondary">{{moment-from-now activity.time interval=60000}}</small>
    </div>
  </a>
{{/if}}
