<h6 class="panel-heading">About Me</h6>
<p>{{user.about}}</p>
<ul class="about-me-stats">
  {{#if user.waifu}}
    <li class="about-stat">
      <span class="stat-icon">
        {{svg-jar "sm-heart"}}
      </span>
      <strong>{{or user.waifuOrHusbando "Waifu/Husbando"}}:</strong>
        <span class="waifu-wrapper">
          <img src={{image user.waifu.image}}>
        </span>
        <span class="waifu-name">{{user.waifu.name}}</span>
    </li>
  {{/if}}
  <li class="about-stat about--gender">
    <span class="stat-icon">
      {{svg-jar "gender"}}
    </span>
    <strong>Gender:</strong>
    <span>{{gender}}</span>
  </li>
  <li class="about-stat about--location">
    <span class="stat-icon">
      {{svg-jar "location"}}
    </span>
    <strong>Location:</strong>
    <span>
      {{#if user.location}}
        {{user.location}}
      {{else}}
        {{t "users.activity.about.empty"}}
      {{/if}}
    </span>
  </li>
  <li class="about-stat about--birthday">
    <span class="stat-icon">
      {{svg-jar "cake"}}
    </span>
    <strong>Birthday:</strong>
    <span>
      {{#if user.birthday}}
        {{moment-format user.birthday "MMMM Do" timeZone="UTC"}}
      {{else}}
        {{t "users.activity.about.empty"}}
      {{/if}}
    </span>
  </li>
  <li class="about-stat about--cal">
    <span class="stat-icon">
      {{svg-jar "cal"}}
    </span>
    <strong>Join Date:</strong>
    <span>{{moment-format user.createdAt "MMMM Do, YYYY"}} ({{createdHumanize}} ago)</span>
  </li>
</ul>
