{{#bootstrap/bs-modal id=modalId onClose=onClose as |modal|}}
  {{#modal.header}}
    <h3 class="text-xs-center">
      Delete Content by {{user.name}}
    </h3>
  {{/modal.header}}

  {{#modal.body}}
    <form>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="kind-posts"
          onclick={{action (mut kinds.posts) value="target.checked"}} checked={{kinds.posts}}>
        <label class="form-check-label" for="kind-posts">Posts</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="kind-comments"
          onclick={{action (mut kinds.comments) value="target.checked"}} checked={{kinds.comments}}>
        <label class="form-check-label" for="kind-comments">Comments</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="kind-reactions"
          onclick={{action (mut kinds.reactions) value="target.checked"}} checked={{kinds.reactions}}>
        <label class="form-check-label" for="kind-reactions">Reactions</label>
      </div>
    </form>
  {{/modal.body}}

  {{#modal.footer}}
    {{#if deleteContent.isRunning}}
      {{loading-spinner size="large"}}
    {{else}}
      <button class="button button--primary btn-lg btn-block" onclick={{action "deleteContent"}}>
        Delete
      </button>
    {{/if}}
  {{/modal.footer}}
{{/bootstrap/bs-modal}}
