<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">{{t "settings.exports.modal.header" site=siteName}}</h6>
    <p class="auth-section-helper">{{t "settings.exports.modal.helper" site=siteName}}</p>
    <form>
      <div class="form-group">
        {{one-way-text exporter.externalUserId
          update=(action (mut exporter.externalUserId))
          class="form-control"
          placeholder=(t "form-shared.placeholders.username")
          autofocus="autofocus"}}

        {{one-way-password exporter.token
          update=(action (mut exporter.token))
          class="form-control"
          placeholder=(t "form-shared.placeholders.password")
        }}
      </div>
      <div class="form-cta">
        <button class="button button--primary" disabled={{unless exporter.validations.isValid "disabled"}} {{action (perform createExport)}}>
          {{#if createExport.isRunning}}
            {{loading-spinner size="small"}}
          {{else}}
            {{t "settings.exports.modal.create" site=siteName}}
          {{/if}}
        </button>
      </div>
    </form>
  </div>
</div>
