{{! TODO: Move to component }}
<div class="user-cover no-edit">
  <div class="cover-photo" style={{coverImageStyle}}>
    <div class="container">
      <div class="row">
        <div class="cover-user-info">
          <div class="primary-info">
            <div class="cover-avatar avatar">
              <img src={{image user.avatar}} class="avatar-image avatar-image--large">
            </div>
            <div class="mini-bio">
              <h3 class="cover-username" data-test-selector="username">
                {{user.name}}
              </h3>
              <p>
                {{user.bio}}
              </p>
            </div>
          </div>
          <div class="cover-cta">
            {{#if isOwner}}
              <button class="button button--light-outline" data-toggle="modal" data-target="#edit-profile-modal" {{action (toggle "isEditing" this)}}>
                <span class="button-label button-defaultState js-buttonLabel">Edit</span>
              </button>
            {{/if}}
            {{#if (not (is-self user))}}
              {{follow-button user=user}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="dark-cover-overlay"></div>
  </div>
</div>

{{! TODO: Move to component }}
<nav class="cover-nav navbar navbar-light">
  <div class="container">
    <div class="row">
      <div class="nav navbar-nav">
        {{link-to (t "users.nav.activity") "users.index" class="nav-item nav-link"}}
        {{link-to (t "users.nav.library") "users.library" class="nav-item nav-link"}}
        {{link-to (t "users.nav.reviews") "users.reviews" class="nav-item nav-link"}}
        {{link-to (t "users.nav.followers") "users.followers" class="nav-item nav-link"}}
        {{link-to (t "users.nav.following") "users.following" class="nav-item nav-link"}}
      </div>
    </div>
  </div>
</nav>

{{! users/* templates rendered here }}
{{outlet}}

{{#if isEditing}}
  {{#ember-wormhole to="wormhole"}}
    {{modals/edit-profile
      modalId="edit-profile-modal"
      onClose=(toggle-action "isEditing" this)}}
  {{/ember-wormhole}}
{{/if}}
