<div class="modal-cover-photo" style="background-image: url(&quot;/images/default_cover.png&quot;)">
  <a class="modal-overlay-button">
    <span class="overlay-text">
      {{svg-jar "picture"}}
      <h6>{{t 'users.edit.editCover'}}</h6>
    </span>
  </a>
</div>
<div class="modal-user-avatar">
  <div class="modal-avatar-wrapper">
    <a class="modal-overlay-button">
      <span class="overlay-text">
        {{svg-jar "picture"}}
      </span>
    </a>
    <img src="http://localhost:32768/images/default_avatar.png" class="avatar-image avatar-image--medium">
  </div>
</div>
<nav class="cover-nav edit-nav navbar navbar-light">
  <div class="container">
    <div class="row">
      <div class="nav navbar-nav">
        <a class="nav-item nav-link" {{action "changeComponent" "about-me"}}>
          {{t 'users.edit.aboutMe'}}
        </a>
        <a class="nav-item nav-link" {{action "changeComponent" "linked-profiles"}}>
          {{t 'users.edit.linkedProfiles'}}
        </a>
        <a class="nav-item nav-link" {{action "changeComponent" "favorites"}}>
          {{t 'users.edit.favorites'}}
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="modal-wrapper">
  <h4 class="edit-heading">About Me</h4>

  <div class="form-group row">
    <label for="example-date-input" class="col-xs-2 col-form-label">Location</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value="" placeholder="Where do you live?"id="location-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-xs-2 col-form-label">Birthdate</label>
    <div class="col-xs-10">
      <input class="form-control" type="date" value="" id="birthday-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-xs-2 col-form-label">Gender</label>
    <div class="col-xs-10">
      <select class="form-control" id="exampleSelect1">
        <option>It's a secret</option>
        <option>Male</option>
        <option>Female</option>
        <option>Custom</option>
    </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-search-input" class="col-xs-2 col-form-label">Waifu</label>
    <div class="col-xs-10">
      <input class="form-control" type="search" value="" placeholder="Who is your waifu / husbando?" id="waifu-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-search-input" class="col-xs-2 col-form-label">Bio</label>
    <div class="col-xs-10">
      <textarea class="about" name="about" placeholder="Tell the world your story." rows="2"></textarea>
    </div>
  </div>
</div>

<section class="modal-footer">
  <p class="link-note">
    Visit your <a href="#">settings page</a> to change your username, email, notification settings, and more.
  </p>
  <button href="#" class="button button--save-edit button--primary">Update Profile</button>
</section>
