<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">{{t "onboarding.aozora-conflict.title"}}</h6>
    <p class="auth-section-helper">{{t "onboarding.aozora-conflict.info"}}</p>
    {{#if getConflicts.isRunning}}
      {{loading-spinner}}
    {{else}}
      {{#each-in conflicts as |site account|}}
        <a href="#" class="aozora-conflict-option" onclick={{perform choose site}}>
          <img src={{account.avatar}} class="avatar-image avatar-image--small">
          <span class="aozora-conflict-title">
            <span class="aozora-conflict-name">{{account.name}}</span>
            <span class="aozora-conflict-count">
              {{format-number account.library_entries}} Library Entries
            </span>
          </span>
          {{!-- We have to do this because the assets get fingerprinted --}}
          {{#if (eq site "aozora")}}
            <img src="/images/aozora.png" class="aozora-conflict-logo">
          {{else}}
            <img src="/images/kitsu.png" class="aozora-conflict-logo">
          {{/if}}
        </a>
      {{/each-in}}
    {{/if}}
  </div>
</div>
