<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">Okay, let's setup your {{siteName}} exporter</h6>
    <p class="auth-section-helper">Our {{siteName}} exporter will update your anime and manga lists on {{siteName}} every time you update them on Kitsu. Please not that we do <strong>not</strong>delete entries from your {{siteName}} library.</p>
    <div class="form-group">
      {{one-way-text username
        update=(action (mut username))
        class="form-control"
        placeholder="Username"
        autofocus="autofocus"
        data-test-selector="username"}}

      {{one-way-text password
        update=(action (mut password))
        class="form-control"
        placeholder="Password"
        type="password"
        data-test-selector="password"}}
    </div>
  </div>
  <div class="form-cta">
    <button type="button" class="button button--primary m-b-1" {{action "changeComponent" "import-select"}}>
      Back to Export Select
    </button>

    <button type="button" class="button button--primary" disabled={{if (or (is-empty username) (is-empty password)) "disabled"}} {{action "setupExport"}}>
      {{#if createImport.isRunning}}
        {{loading-spinner size="small"}}
      {{else}}
        Start {{siteName}} Export
      {{/if}}
    </button>
  </div>
</div>
