<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">{{t "onboarding.find-friends.title"}}</h6>
    <p class="auth-section-helper">{{t "onboarding.find-friends.info"}}</p>
  </div>
  <div class="onboarding-connect modal-actions">
    <section class="connect-item">
      <div class="connect-itemInfo">
        <h6 class="connect-itemTitle">{{t "onboarding.find-friends.connect"}}</h6>
      </div>
      <div class="connect-cta">
        {{! TODO/@Josh -- Disconnect buttons need cleanup here }}
        {{#if session.account.facebookId}}
          <button class="button button--facebook " title="Disconnect your Facebook account from Kitsu" aria-label="Disconnect your Facebook account from Kitsu" {{action (perform disconnectFacebook)}}>
            <span class="svgIcon">{{svg-jar "l-facebook"}}</span>
            <span class="button-label">{{t "onboarding.find-friends.disconnect"}}</span>
          </button>
        {{else}}
          <button class="button button--facebook " title="Connect your Facebook account to Kitsu" aria-label="Connect your Facebook account to Kitsu" {{action (perform connectFacebook)}}>
            <span class="svgIcon">{{svg-jar "l-facebook"}}</span>
            <span class="button-label">{{t "onboarding.find-friends.connect"}}</span>
          </button>
        {{/if}}
      </div>
      <p class="connect-itemDescription">{{t "onboarding.find-friends.description" htmlSafe=true}}</p>
    </section>
  </div>
  <div class="form-cta">
    <button type="button" class="button button--primary" disabled={{if tasks.isRunning "disabled"}} {{action (queue (perform importFriends) (action "close"))}}>
      {{#if tasks.isRunning}}
        {{loading-spinner}}
      {{else}}
        {{t "onboarding.find-friends.ready"}}
      {{/if}}
    </button>
  </div>
</div>
