<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">{{t "onboarding.import-progress.title"}}</h6>
    <p class="auth-section-helper">
      {{t "onboarding.import-progress.info"}}
      {{#unless componentData.justImport}}
        {{t "onboarding.import-progress.safe"}}
      {{/unless}}
      {{t "onboarding.import-progress.notification"}}
    </p>
  </div>
  <div class="form-cta">
    {{#if componentData.justImport}}
      <button type="button" class="button button--primary" {{action close}}>
        {{t "onboarding.import-progress.finish"}}
      </button>
    {{else}}
      <button type="button" class="button button--primary" {{action "changeComponent" "find-friends"}}>
        {{t "onboarding.import-progress.continue"}}
      </button>
    {{/if}}
  </div>
</div>
