<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">Okay, let's import your {{siteName}} account</h6>
    <p class="auth-section-helper">Our {{siteName}} importer can migrate your existing anime and manga data. <strong>Your lists <em>must</em> be publicly viewable for us to import!</strong></p>
    <div class="form-group">
      {{one-way-text username
        update=(action (mut username))
        class="form-control"
        placeholder="Username"
        autofocus="autofocus"
        data-test-username="true"}}
    </div>
  </div>
  <div class="form-cta">
    <button type="button" class="button button--primary m-b-1" disabled={{if createImport.isRunning "disabled"}} {{action "changeComponent" "import-select"}}>
      Back to Import Select
    </button>

    <button type="button" class="button button--primary" disabled={{if (is-empty username) "disabled"}} {{action "startImport"}}>
      {{#if createImport.isRunning}}
        {{loading-spinner size="small"}}
      {{else}}
        Start {{siteName}} Import
      {{/if}}
    </button>
  </div>
</div>
