<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">{{t "onboarding.import-select.title"}}</h6>
    <p class="auth-section-helper">{{t "onboarding.import-select.info"}}</p>
    <a href="#" class="import-option" {{action "changeComponent" "import-username" "MyAnimeList"}}>
      <span class="import-logo">
        <img src="/images/mal.png">
      </span>
      <span class="import-title">
        {{t "onboarding.import-select.mal"}}
      </span>
    </a>
    <a href="#" class="import-option" {{action "changeComponent" "import-username" "Anilist"}}>
      <span class="import-logo">
        <img src="/images/ani.png">
      </span>
      <span class="import-title">
        {{t "onboarding.import-select.anilist"}}
      </span>
    </a>
  </div>
  <div class="form-cta">
    {{#if componentData.justImport}}
      <button type="button" class="button button--primary" {{action close}}>
        {{t "onboarding.import-select.close"}}
      </button>
    {{else}}
      <button type="button" class="button button--primary" {{action "changeComponent" "rate-content"}}>
        {{t "onboarding.import-select.skip"}}
      </button>
    {{/if}}
  </div>
</div>
