<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">Do you have anime / manga data to import?</h6>
    <p class="auth-section-helper">If you currently track your anime and manga on another platform, we can quickly import your data to jumpstart your account.</p>
    <a href="#" class="import-option" {{action "changeComponent" "import-file" "MyAnimeList"}}>
      <span class="import-logo">
        <img src="/images/mal.png">
      </span>
      <span class="import-title">
        Import MyAnimeList Account
      </span>
    </a>
    <a href="#" class="import-option" {{action "changeComponent" "import-username" "Anilist"}}>
      <span class="import-logo">
        <img src="/images/ani.png">
      </span>
      <span class="import-title">
        Import Anilist Account
      </span>
    </a>
  </div>
  <div class="form-cta">
    {{#if componentData.justImport}}
      <button type="button" class="button button--primary" {{action close}}>
        Close
      </button>
    {{else}}
      <button type="button" class="button button--primary" {{action "changeComponent" "rate-content"}}>
        Nothing to import, skip this
      </button>
    {{/if}}
  </div>
</div>
