<div class="modal-wrapper">
  <form>
    <div class="auth-section {{if hasValidName "active"}}">
      <h6 class="auth-section-title">{{t "onboarding.sign-up.username.title"}}</h6>
      <p class="auth-section-helper">{{t "onboarding.sign-up.username.info"}}</p>
      <div class="form-group {{if hasInvalidName "has-warning"}} {{if hasValidName "has-success"}}">
        {{one-way-text user.name
          update=(action (mut user.name))
          class=(form-input-class hasInvalidName hasValidName)
          focusIn=(action "focused")
          placeholder=(t "onboarding.sign-up.username.placeholder")
          autofocus="autofocus"
          data-test-username="true"}}
        {{#if hasInvalidName}}
          <div class="form-control-feedback" data-test-validation-username>
            {{v-get user "name" "message"}}
          </div>
        {{/if}}
      </div>
    </div>

    <div class="auth-section {{if hasValidEmail "active"}}">
      <h6 class="auth-section-title">{{t "onboarding.sign-up.email.title"}}</h6>
      <p class="auth-section-helper">{{t "onboarding.sign-up.email.info"}}</p>
      <div class="form-group {{if hasInvalidEmail "has-warning"}} {{if hasValidEmail "has-success"}}">
        {{one-way-email user.email
          update=(action (mut user.email))
          class=(form-input-class hasInvalidEmail hasValidEmail)
          focusIn=(action "focused")
          placeholder=(t "onboarding.sign-up.email.placeholder")
          data-test-email="true"}}
        {{#if hasInvalidEmail}}
          <div class="form-control-feedback" data-test-validation-email>
            {{v-get user "email" "message"}}
          </div>
        {{/if}}
      </div>
    </div>

    <div class="auth-section">
      <h6 class="auth-section-title">{{t "onboarding.sign-up.password.title"}}</h6>
      <p class="auth-section-helper">{{t "onboarding.sign-up.password.info"}}</p>
      <div class="form-group password-form {{if hasInvalidPassword "has-warning"}} {{if hasValidPassword "has-success"}}">
        {{one-way-password user.password
          update=(action (mut user.password))
          class=(form-input-class hasInvalidPassword hasValidPassword)
          focusIn=(action "focused")
          placeholder=(t "onboarding.sign-up.password.placeholder")
          data-test-password="true"}}
        {{#if hasInvalidPassword}}
          <div class="form-control-feedback" data-test-validation-password>
            {{v-get user "password" "message"}}
          </div>
        {{/if}}
        <span class="password-step password-{{or passwordStrength.score 0}}" data-test-password-strength>
        </span>
      </div>
    </div>

    <div class="form-group form-cta">
      <button type="submit" class="button button--primary" data-test-create-account
              disabled={{if user.validations.isInvalid "disabled"}}
              {{action (perform createAccount)}}>
        {{#if createAccount.isRunning}}
          {{loading-spinner}}
        {{else}}
          {{t "onboarding.sign-up.submit" step=step}}
        {{/if}}
      </button>
    </div>
  </form>
</div>
