<div class="register-cover"></div>
<div class="modal-wrapper">
  <p class="register-intro">
    {{t "onboarding.social-auth.intro"}}
  </p>

  <div class="modal-actions">
    <button class="button button--facebook" title="Connect with Facebook" aria-label="Connect with Facebook" {{action (perform authenticateWithFacebook)}}>
      <span class="svgIcon">
        {{svg-jar "l-facebook"}}
      </span>
      <div class="button-labelSet">
        <span class="button-label button-label--multiLine">
          {{t "onboarding.social-auth.facebook"}}
        </span>
        <span class="button-label button-label--subText button-label--multiLineSubtext">
          <span class="u-fontSizeSmallest u-textColorTransparentWhiteDark">{{t "onboarding.social-auth.notice"}}</span>
        </span>
      </div>
    </button>
    <div class="secondary-links">
      <a href="#" {{action "changeComponent" "sign-up"}} data-test-sign-up-email>
        {{t "onboarding.social-auth.email"}}
      </a>
      <span class="pull-sm-right">
        {{t "onboarding.social-auth.account"}}
        <a href="#" class="text-sm-right" {{action "changeComponent" "sign-in"}} data-test-sign-in-email>
          {{t "onboarding.social-auth.login"}}
        </a>
      </span>
    </div>
    <div class="privacy-copy">
      <p>{{t "onboarding.social-auth.privacy"}}</p>
      <div>{{t "onboarding.social-auth.agreement" htmlSafe=true}}</div>
    </div>

  </div>
</div>
