<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">Okay, let's import your {{siteName}} account</h6>
    <p class="auth-section-helper">Our {{siteName}} importer can import your existing anime and manga data from an exported file.</p>
    <div class="form-group">
      {{file-select id="import-file" update=(action "updateFile")}}
      <button type="button" class="button button--primary m-b-1" disabled={{if createImport.isRunning "disabled"}} {{action "triggerClick" "import-file"}}>
        Select File
        {{#if file}}
          ({{truncate fileName 20}})
        {{/if}}
      </button>
    </div>
  </div>
  <div class="form-cta">
    <button type="button" class="button button--primary m-b-1" disabled={{if createImport.isRunning "disabled"}} {{action "changeComponent" "import-select"}}>
      Back to Import Select
    </button>

    <button type="button" class="button button--primary" disabled={{if (is-empty file) "disabled"}} {{action "startImport"}}>
      {{#if createImport.isRunning}}
        {{loading-spinner size="small"}}
      {{else}}
        Start {{siteName}} Import
      {{/if}}
    </button>
  </div>
</div>
