<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">Rate the content you've seen</h6>
    <p class="auth-section-helper">We use your 'Library' to track the media you've seen and look forward to. Let's get your library started by rating some of the anime and manga you've seen or read.</p>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#anime" role="tab" {{action "updateTab" "anime"}}>
        Anime
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#manga" role="tab" {{action "updateTab" "manga"}}>
        Manga
      </a>
    </li>
  </ul>

  <div class="onboarding-search">
    {{one-way-search searchQuery
      update=(perform updateSearchQuery)
      placeholder="Search by media title..."}}
  </div>

  <div class="tab-content container onboarding-media-wrapper">
    <div class="tab-pane active row" id="anime" role="tabpanel">
      <div class="modal-grid row">
        {{#if queryTask.isRunning}}
          <div class="m-t-1 text-xs-center w-100">
            {{loading-spinner size="large"}}
          </div>
        {{else}}
          {{#infinite-pagination onPagination=(action "onPagination")}}
            {{#each media as |anime|}}
              {{application/auth-onboarding/rate-content/item
                class="onboarding-media col-sm-4"
                item=anime
                onUpdate=(action 'libraryEntryDoingUpdate')
              }}
            {{/each}}
          {{/infinite-pagination}}
        {{/if}}
      </div>
    </div>

    <div class="tab-pane row" id="manga" role="tabpanel">
      <div class="modal-grid row">
        {{#if queryTask.isRunning}}
          <div class="m-t-1 text-xs-center w-100">
            {{loading-spinner size="large"}}
          </div>
        {{else}}
          {{#infinite-pagination onPagination=(action "onPagination")}}
            {{#each media as |manga|}}
              {{application/auth-onboarding/rate-content/item
                class="onboarding-media col-sm-3"
                item=manga
                onUpdate=(action 'libraryEntryDoingUpdate')
              }}
            {{/each}}
          {{/infinite-pagination}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="progress-section">
    <progress class="progress" value={{numRated}} max="5"></progress>
    <button type="button" class="button button--primary" disabled={{if (not-eq numRatedLeft 0) "disabled"}} {{action "changeComponent" "find-friends"}}>
      {{#if (not-eq numRatedLeft 0)}}
        Rate {{numRatedLeft}} more to continue
      {{else}}
        Continue
      {{/if}}
    </button>
  </div>
</div>
