{{#if model}}
  <ul class="media--episode-grid row">
    {{#each model as |episode|}}
      <li class="media--episode-block col-md-4 col-sm-2">
        <div class="thumbnail-wrapper">
          {{lazy-image url=(image episode.thumbnail) ratio=-2}}
        </div>
        <div class="thumbnail-description">
          <h6>{{t "media.routes.show.episodes.episode"}} {{episode.number}}</h6>
          <div class="info-emphasis thumb-caption">
            <span>{{episode.canonicalTitle}}</span>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  {{! TODO - @josh - empty state for episodes }}
  <p>no episodes.</p>
{{/if}}