{{#if model.taskInstance.isRunning}}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{loading-spinner size="large"}}
    <p>Loading Episodes...</p>
  </div>
{{else if model.taskInstance.error}}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{t "errors.load"}}
  </div>
{{else if model.taskInstance.value}}
  <ul class="media--episode-grid row">
    {{#each model.taskInstance.value as |episode|}}
      <li class="media--episode-block col-md-4 col-sm-2">
        <div class="thumbnail-wrapper">
          {{lazy-image url=(image episode.thumbnail)}}
        </div>
        <div class="thumbnail-description">
          <h6>{{t "media.routes.show.episodes.episode"}} {{episode.number}}</h6>
          <div class="info-emphasis thumb-caption">
            <span>{{episode.canonicalTitle}}</span>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>

  <div class="text-xs-center w-100">
    {{paginated-resource/infinite
      model=model.taskInstance.value
      update=(route-action "updateNextPage")
      loadingSize="large"
    }}
  </div>
{{else}}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{t "errors.contentEmpty"}}
  </div>
{{/if}}