{{! Kitsu Media Episodes Top }}
{{ad-unit unit="kitsu.media.episodes.top"
  targeting=(hash
    section="media"
    media=media.slug)
  sizes=(hash
    mobile=(array (array 300 250) (array 320 100) (array 320 50))
    desktop=(array 728 90))
}}

{{#if model.taskInstance.isRunning}}
  {{! @TODO: Episode loader }}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{loading-spinner size="large"}}
    <p>Loading Episodes...</p>
  </div>
{{else if model.taskInstance.error}}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{t "errors.load"}}
  </div>
{{else if taskValue}}
  {{#infinite-pagination onPagination=(route-action "onPagination")}}
    {{! @TODO: Componentsize }}
    <ul class="media--episode-grid row">
      {{#each taskValue as |episode|}}
        <li class="media--episode-block col-md-4 col-sm-2">
          <div class="thumbnail-wrapper">
            {{lazy-image src=(image episode.thumbnail)}}
          </div>
          <div class="thumbnail-description">
            <h6>{{t "media.show.episodes.episode"}} {{episode.number}}</h6>
            <div class="info-emphasis thumb-caption">
              <span>{{episode.canonicalTitle}}</span>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  {{/infinite-pagination}}
{{else}}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{t "errors.contentEmpty"}}
  </div>
{{/if}}

{{! Kitsu Media Episodes Bottom }}
{{ad-unit unit="kitsu.media.episodes.bottom"
  targeting=(hash
    section="media"
    media=media.slug)
  sizes=(hash
    mobile=(array (array 300 250) (array 320 100) (array 320 50))
    desktop=(array 728 90))
}}