<div class="media--franchise-header">
  <h2>{{t "media.show.franchise.header" title=media.computedTitle}}</h2>
</div>

{{#if model.taskInstance.isRunning}}
  {{! @TODO: loader }}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{loading-spinner size="large"}}
  </div>
{{else if taskValue}}
  {{#infinite-pagination onPagination=(route-action "onPagination")}}
    <div class="media--franchise-grid">
      {{#each taskValue as |franchise|}}
        {{#with franchise.destination as |destination|}}
          <div class="media--franchise-item">
            <div class="poster-wrapper">
              {{#media-popover media=destination}}
                <div class="grid-poster">
                  {{lazy-image src=(image destination.posterImage "medium")}}
                  <div class="poster-overlay">
                    <a href={{href-to (concat destination.modelType ".show") destination.slug}}></a>
                  </div>
                </div>
              {{/media-popover}}
            </div>
            <div class="media--franchise-item-meta">
              <span class="media-title">{{destination.computedTitle}}</span>
              <span class="media-era">
                <span class="media-type">{{capitalize destination.modelType}}</span>
                &middot;
                <span class="media-date">{{destination.year}}</span>
              </span>
              <span class="media-info">
                {{t (concat "media.show.franchise.roles." franchise.role)}}
              </span>
            </div>
          </div>
        {{/with}}
      {{/each}}
    </div>
  {{/infinite-pagination}}
{{else}}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{t "errors.contentEmpty"}}
  </div>
{{/if}}