<div class="row">
  <div class="col-sm-8">
    {{! Synopsis }}
    <section class="media-synopsis m-b-1">
      <p>{{media.synopsis}}</p>
    </section>

    {{! Ratings }}
    <section class="clearfix">
      {{media/media-rating
        entry=entry
        media=media
        update=(route-action "updateEntry" entry "rating")
      }}
    </section>

    {{! Genres }}
    <section class="media--tags">
      <ul>
        <li><strong>Tags:</strong></li>
        {{#each (sort-by "name" media.genres) as |genre|}}
          <li class="media--category-tag">
            <a href={{href-to (concat (model-type media) ".index") (query-params genres=genre.name)}}>
              {{genre.name}}
            </a>
          </li>
        {{/each}}
      </ul>
    </section>

    {{! Rankings }}
    <section class="media-rankings">
      <span class="ranking">
        {{svg-jar "heart-filled"}}
        Rank #33 (Most Popular Anime)
      </span>
      <span class="ranking">
        {{svg-jar "star"}}
        Rank #9 (Highest Rated Anime)
      </span>
    </section>

    {{! Installments }}
    <section class="media--related">
      <h5>
        Franchise
      </h5>
      <div class="related--panel">
        <div class="related--wrapper">
          <div class="related--title">
            Adaptation:
          </div>
          <div class="related--posters">
            <a href="#" class="related--item">
              <img class="media-object" src="https://myanimelist.cdn-dena.com/images/manga/3/117681.webp" alt="Generic placeholder image">
            </a>
          </div>
        </div>
      </div>

      <div class="related--panel">
        <div class="related--wrapper">
          <div class="related--title">
            Sequel:
          </div>
          <div class="related--posters">
            <a href="#" class="related--item">
              <img class="media-object" src="https://myanimelist.cdn-dena.com/images/anime/5/17407.webp" alt="Generic placeholder image">
            </a>
          </div>
        </div>
      </div>

      <div class="related--panel">
        <div class="related--wrapper">
          <div class="related--title">
            Side Story:
          </div>
          <div class="related--posters">
            <a href="#" class="related--item">
              <img class="media-object" src="https://myanimelist.cdn-dena.com/images/anime/6/76015.webp" alt="Generic placeholder image">
            </a>
            <a href="#" class="related--item">
              <img class="media-object" src="https://myanimelist.cdn-dena.com/images/anime/11/20921.webp" alt="Generic placeholder image">
            </a>
            <a href="#" class="related--item">
              <img class="media-object" src="https://myanimelist.cdn-dena.com/images/anime/12/11240.webp" alt="Generic placeholder image">
            </a>
            <a href="#" class="related--item">
              <img class="media-object" src="https://myanimelist.cdn-dena.com/images/anime/11/76016.webp" alt="Generic placeholder image">
            </a>
            <a href="#" class="related--item">
              <img class="media-object" src="https://myanimelist.cdn-dena.com/images/anime/10/11244.webp" alt="Generic placeholder image">
            </a>
            <a href="#" class="related--item">
              <img class="media-object" src="https://myanimelist.cdn-dena.com/images/anime/6/76017.webp" alt="Generic placeholder image">
            </a>
            <a href="#" class="related--item">
              <img class="media-object" src="https://myanimelist.cdn-dena.com/images/anime/11/27050.webp" alt="Generic placeholder image">
            </a>
          </div>
        </div>
      </div>
    </section>

    {{! Reviews }}
    <section class="m-b-1">
      <h5>Popular Reviews</h5>
      {{#if model.taskInstance.isRunning}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{loading-spinner size="large"}}
        </div>
      {{else if model.taskInstance.error}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{t "errors.load"}}
        </div>
      {{else if model.taskInstance.value}}
        <ul class="media-list w-100">
          {{#each model.taskInstance.value as |review|}}
            {{stream-feed/items/review review=review media=media hideImage=true}}
          {{/each}}
        </ul>
      {{else}}
        <div class="m-t-1 m-b-1">
          {{t "errors.contentEmpty"}}
        </div>
      {{/if}}
    </section>
  </div>

  {{! Secondary Content }}
  <div class="col-sm media--sidebar">
    {{! Trailer }}
    {{! TODO: Open in modal }}
    {{#if media.youtubeVideoId}}
      <div class="media-preview embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/{{media.youtubeVideoId}}" frameborder="0" allowfullscreen></iframe>
      </div>
    {{/if}}

    {{! Featured Characters }}
    {{media/featured-characters media=media}}

    {{! Media Information }}
    {{media/media-titles media=media}}
    {{media/media-information media=media}}
  </div>
</div>


{{! Feed }}
<section>
  <h5>Community Feed</h5>
  {{stream-feed/list
    streamType="media_aggr"
    streamId=(concat (capitalize (model-type media)) "-" media.id)
    streamFilter="user"
    readOnly=(not session.hasUser)
    media=media
  }}
</section>
