<div class="row">
  {{! Kitsu Media Summary Top }}
  <div class="col-sm-12 no-padding-right">
    {{ad-unit unit="kitsu.media.summary.top"
      targeting=(hash
        section="media"
        media=media.slug)
      sizes=(hash
        mobile=(array (array 300 250) (array 320 100) (array 320 50))
        desktop=(array 728 90))}}
  </div>

  <div class="col-sm-8">
    {{! Ratings }}
    {{media/media-rating media=media tagName="section" class="clearfix"}}

    {{! Synopsis }}
    <section class="media-synopsis m-b-1">
      {{text-clipper media.synopsis length=480
        expandText="read more"
        collapseText="read less"
        options=(hash maxLines=5)
        tagName="p"}}
    </section>

    {{! Genres }}
    {{! @TODO: Componentize }}
    <section class="media--tags">
      <ul>
        <li><strong>{{t "media.show.summary.tags"}}:</strong></li>
        {{#each (sort-by "name" media.genres) as |genre|}}
          <li class="media--category-tag">
            <a href={{href-to (concat media.modelType ".index") (query-params genres=genre.name)}}>
              {{genre.name}}
            </a>
          </li>
        {{/each}}
      </ul>
    </section>

    {{! Rankings }}
    {{media/media-rankings media=media}}

    {{! Installments }}
    {{#if media.mediaRelationships}}
       {{media/media-relationships media=media}}
    {{/if}}

    {{! Reviews }}
    {{! @TODO: Componentize }}
    <section class="m-b-1">
      <h5>{{t "media.show.summary.reviews.header"}}</h5>
      {{#if model.taskInstance.isRunning}}
        {{! @TODO: Replace with feed loader }}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{loading-spinner size="large"}}
        </div>
      {{else if model.taskInstance.error}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{t "errors.load"}}
        </div>
      {{else if model.taskInstance.value}}
        <ul class="media-list w-100">
          {{#each model.taskInstance.value as |review|}}
            {{stream-feed/items/review review=review media=media hideImage=true}}
          {{/each}}
        </ul>
      {{else}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{t "errors.contentEmpty"}}
        </div>
      {{/if}}
    </section>

    {{! Kitsu Media Summary Bottom }}
    {{ad-unit unit="kitsu.media.summary.bottom"
      targeting=(hash
        section="media"
        media=media.slug)
      sizes=(hash
        mobile=(array (array 300 250) (array 320 100) (array 320 50))
        tablet=(array (array 468 60) (array 300 250)))
    }}
  </div>

  {{! Secondary Content }}
  {{! @TODO: Componentize }}
  <div class="col-sm media--sidebar">
    {{! Trailer }}
    {{#if media.youtubeVideoId}}
      <div class="media-preview" {{action (toggle "trailerOpen" this)}}>
        <img src="https://img.youtube.com/vi/{{media.youtubeVideoId}}/mqdefault.jpg">
        <div class="media-preview--overlay">
          {{svg-jar "play"}}
        </div>
      </div>
      {{#if trailerOpen}}
        {{to-elsewhere named="modal" send=(component "modals/media-trailer"
          onClose=(toggle-action "trailerOpen" this)
          media=media
        )}}
      {{/if}}
    {{/if}}

    {{! Featured Characters }}
    {{media/featured-characters media=media}}

    {{! Kitsu Media Summary Sidebar }}
    {{ad-unit unit="kitsu.media.summary.sidebar"
      targeting=(hash
        section="media"
        media=media.slug)
      sizes=(hash
        mobile=(array (array 300 250) (array 320 100) (array 320 50))
        tablet=(array (array 336 280) (array 300 250)))
    }}

    {{! Media Information }}
    {{media/media-titles media=media}}
    {{media/media-information media=media}}
  </div>
</div>


{{! Feed }}
<section>
  <h5>{{t "media.show.summary.feed.header"}}</h5>
  {{stream-feed/list
    streamType="media_aggr"
    streamId=(concat (capitalize media.modelType) "-" media.id)
    streamFilter="user"
    readOnly=(cannot "write post")
    media=media
  }}
</section>
