{{! Ratings }}
<section>
  {{media/media-rating
    entry=entry
    media=media
    update=(route-action "updateEntry" entry "rating")
  }}
</section>

{{! Synopsis }}
<section class="media-synopsis m-b-1">
  <h5>Synopsis</h5>
  <p>{{media.synopsis}}</p>
</section>

{{! Reviews }}
<section class="m-b-1">
  <h5>Popular Reviews</h5>
  {{#if model.taskInstance.isRunning}}
    <div class="text-xs-center w-100 m-t-1 m-b-1">
      {{loading-spinner size="large"}}
    </div>
  {{else if model.taskInstance.error}}
    <div class="text-xs-center w-100 m-t-1 m-b-1">
      {{t "errors.load"}}
    </div>
  {{else if model.taskInstance.value}}
    <ul class="media-list w-100">
      {{#each model.taskInstance.value as |review|}}
        {{stream-feed/items/review review=review media=media hideImage=true}}
      {{/each}}
    </ul>
  {{else}}
    <div class="m-t-1 m-b-1">
      {{t "errors.contentEmpty"}}
    </div>
  {{/if}}
</section>

{{! Feed }}
<section>
  <h5>Community Feed</h5>
  {{stream-feed/list
    streamType="media_aggr"
    streamId=(concat (capitalize (model-type media)) "-" media.id)
    readOnly=(not session.hasUser)
    media=media
  }}
</section>
