{{! Kitsu Media Reviews Top }}
{{ad-unit unit="kitsu.media.reviews.top"
  targeting=(hash
    section="media"
    media=media.slug)
  sizes=(hash
    mobile=(array (array 300 250) (array 320 100) (array 320 50))
    desktop=(array 728 90))
}}

{{#if model.taskInstance.isRunning}}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{loading-spinner size="large"}}
    <p>Loading Reviews...</p>
  </div>
{{else if model.taskInstance.error}}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{t "errors.load"}}
  </div>
{{else if taskValue}}
  {{#infinite-pagination onPagination=(route-action "onPagination")}}
    <ul class="media-list w-100">
      {{! TODO @Josh - Reviews on the media page `/anime/sword-art-online/reviews` }}
      {{#each taskValue as |review|}}
        <div class="w-100">
          {{stream-feed/items/review review=review media=media hideImage=true}}
        </div>
      {{/each}}
    </ul>
  {{/infinite-pagination}}
{{else}}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{t "errors.contentEmpty"}}
  </div>
{{/if}}

{{! Kitsu Media Reviews Bottom }}
{{ad-unit unit="kitsu.media.reviews.bottom"
  targeting=(hash
    section="media"
    media=media.slug)
  sizes=(hash
    mobile=(array (array 300 250) (array 320 100) (array 320 50))
    desktop=(array 728 90))
}}
