<div class="library-entry container" data-test-selector="library-entry">
  <div class="entry-wrapper row">
    {{! Entry Title }}
    <div class="col-md-12 col-lg-7 entry-left">
      <div class="entry-poster">
        <img class="drop-thumb" src={{image media.posterImage}}>
      </div>
      <div class="entry-title" data-test-selector="library-entry-title">
        <span>{{media.canonicalTitle}}</span>
      </div>
    </div>

    <div class="col-md-12 col-lg-5 entry-right">
      {{! Entry Progress }}
      <div class="entry-progress">
        {{#if isOwner}}
          {{one-way-number entry.progress
            min=0
            max=media.unitCount
            update=(queue
              (action (mut entry.progress))
              (perform saveEntryDebounced)
            )
            sanitizeInput=(action "sanitizeNumber")
            placeholder="0"
          }}
          <span>
            <span class="sep">/</span>
            {{totalProgressText}}
          </span>
        {{else}}
          <span>
            {{entry.progress}} / {{totalProgressText}}
          </span>
        {{/if}}
      </div>

      {{! Entry Rating }}
      <div class="entry-rating">
        <span>{{ratingText}}</span>
      </div>

      {{! Entry Type }}
      <div class="entry-type">
        <span>{{typeText}}</span>
      </div>
    </div>
  </div>

  {{! Expanded Info }}
  {{#if isExpanded}}
    <div class="library-dropdown row">
      <div class="col-sm-12 arrow-wrapper">
        <div class="drop-arrow"></div>
      </div>

      {{! Poster Image }}
      <div class="col-lg-1 hidden-md-down columns no-padding-right">
        <img class="drop-thumb" src={{image media.posterImage}}>
      </div>

      {{! Media Info }}
      <div class="col-md-12 col-lg-7 columns">
        <h4 class="drop-title">
          <a href={{href-to (concat (media-type media) ".show") media}}>
            {{media.canonicalTitle}}
          </a>
        </h4>
        <p class="drop-description">
          {{truncate-text media.synopsis max=400}}
        </p>
        <div class="entry-notes">
          {{#if isOwner}}
            {{one-way-textarea entry.notes
              update=(queue
                (action (mut entry.notes))
                (perform saveEntryDebounced)
              )
              placeholder=(t "users.library.notes" title=media.canonicalTitle)
              class="personal-notes"
            }}
          {{else}} {{! Only show if the user has notes }}
            {{#if entry.notes}}
              {{one-way-text entry.notes
                  class="personal-notes"
                  readonly=true}}
            {{/if}}
          {{/if}}
        </div>
      </div>

      {{! Options }}
      <div class="col-md-12 col-lg-4 columns">
        <div class="drop-options">
          {{#if isOwner}}
            {{! Library Status }}
            <div class="status-select">
              {{library-dropdown
                entry=entry
                methods=(hash
                  update=(queue
                    (action (mut entry.status))
                    (perform saveEntry)
                  )
                  delete=(action "delete")
                )
              }}
            </div>
          {{/if}}

          <div class="dropdown-rating">
            {{! Privacy }}
            {{#if isOwner}}
              {{#bootstrap/bs-dropdown as |dropdown|}}
                {{#dropdown.button}}
                  {{if entry.private (t "users.library.private") (t "users.library.public")}}
                {{/dropdown.button}}
                {{#dropdown.menu}}
                  {{#dropdown.menu-item
                    onClick=(queue
                      (action (mut entry.private) (not entry.private))
                      (perform saveEntry)
                    )
                  }}
                    {{if entry.private (t "users.library.public") (t "users.library.private")}}
                  {{/dropdown.menu-item}}
                {{/dropdown.menu}}
              {{/bootstrap/bs-dropdown}}
            {{/if}}

            {{! Rating }}
            <div class="rating-options">
              {{star-rating entry.rating
                readOnly=(not isOwner)
                onClick=(queue
                  (action (mut entry.rating))
                  (perform saveEntry)
                )
              }}
            </div>
          </div>

          {{! Rewatch }}
          <div class="rewatch">
            {{#if isOwner}}
              <button type="button" class="button" {{action (queue
                (action (mut entry.reconsumeCount) (inc entry.reconsumeCount))
                (action (mut entry.progress) 0)
                (action (mut entry.status) "current")
                (perform saveEntry))}}>
                {{t (concat "users.library.reconsume." (media-type media))}}
              </button>
            {{/if}}

            <label>
              <span>{{t (concat "users.library.reconsumed." (media-type media))}}</span>
              {{#if isOwner}}
                {{one-way-number entry.reconsumeCount
                  update=(queue
                    (action (mut entry.reconsumeCount))
                    (perform saveEntryDebounced)
                  )
                  sanitizeInput=(action "sanitizeNumber")
                }}
              {{else}}
                <span>{{entry.reconsumeCount}}</span>
              {{/if}}
              <span>{{t "users.library.times"}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>
