<div class="modal-wrapper">
  <h4 class="edit-heading">
    {{t "users.edit.favorites"}}
  </h4>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs soft-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#anime" role="tab">
        {{t "users.edit.favorite.anime"}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#manga" role="tab">
        {{t "users.edit.favorite.manga"}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#characters" role="tab">
        {{t "users.edit.favorite.characters"}}
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="anime" role="tabpanel">
      {{#search-typeahead
        search=(perform search "anime")
        class="media-sort-search"
        placeholder=(t "users.edit.favorite.search") as |item|
      }}
        <div class="media-sort-item card">
          {{#link-to "anime.show" item class="media-sort-thumb-wrapper"}}
            <img class="media-sort-thumb" src={{image item.posterImage}}>
          {{/link-to}}
          <span class="media-sort-title">
            {{item.canonicalTitle}}
          </span>
          <span class="media-sort-action">
            <a class="hint--left hint--bounce hint--rounded" aria-label={{t "users.edit.favorite.add"}} {{action "addItem" item}}>
              {{svg-jar "cancel"}}
            </a>
          </span>
        </div>
      {{/search-typeahead}}

      {{#sortable-group
        onChange=(action "reorderItems")
        tagName="ul"
        class="media-sortable nav" as |group|}}
        {{! TODO: Replace with actual favorites when implemented on server }}
        {{#each (repeat 5) as |item|}}
          {{#sortable-item group=group tagName="li" class="media-sort-item card"}}
            <a class="media-sort-thumb-wrapper" href="#">
              <img class="media-sort-thumb" src="https://static.hummingbird.me/anime/poster_images/000/003/936/medium/gqt6iYB.png?1419000387">
            </a>
            <span class="media-sort-title">
              Fullmetal Alchemist: Brotherhood
            </span>
            <span class="media-sort-action">
              <a class="hint--left hint--bounce hint--rounded" aria-label={{t "users.edit.favorite.remove"}} {{action "removeItem" item}}>
                {{svg-jar "cancel"}}
              </a>
            </span>
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
    </div>

    <div class="tab-pane" id="manga" role="tabpanel">tab 2</div>
    <div class="tab-pane" id="characters" role="tabpanel">tab 3</div>
  </div>
</div>
