{{! Rate This }}
{{#library-entry/rating-button class="button button--secondary"
  rating=libraryEntry.rating
  swapToDropdown=true
  onClick=onRatingChange
}}
  {{t "library-entry.state.rate-this"}}
{{/library-entry/rating-button}}

{{#unless rateOnly}}
  {{! Write Reaction }}
  <button class="reaction-button button button--secondary seen-this" {{action onReaction}}>
    {{#if (and libraryEntry.mediaReaction (not libraryEntry.mediaReaction.isNew))}}
      {{t "library-entry.state.edit-reaction"}}
    {{else}}
      {{t "library-entry.state.post-reaction"}}
    {{/if}}
  </button>
{{/unless}}