{{! TODO/@Josh -- favorite dropdown -- Might need some styling -- we can display anything in the dropdown from the media. }}
{{#power-select
  search=(action "search")
  onchange=(action "addItem")
  renderInPlace=true
  as |item|
}}
  <strong>
    {{#if isCharacter}}
      {{item.name}}
    {{else}}
      {{item.canonicalTitle}}
    {{/if}}
  </strong>
{{/power-select}}

{{#if items}}
  {{#sortable-group
    onChange=(action "reorderItems")
    tagName="ul"
    class="media-sortable nav" as |group|}}
    {{#each items as |item|}}
      {{#sortable-item model=item group=group tagName="li" class="media-sort-item card"}}
        <a class="media-sort-thumb-wrapper" href="#">
          {{#if isCharacter}}
            {{lazy-image src=(image item.item.image) class="media-sort-thumb"}}
          {{else}}
            {{lazy-image src=(image item.item.posterImage "tiny") class="media-sort-thumb"}}
          {{/if}}
        </a>
        <span class="media-sort-title">
          {{#if isCharacter}}
            {{item.item.name}}
          {{else}}
            {{item.item.canonicalTitle}}
          {{/if}}
        </span>
        <span class="media-sort-action">
          <a class="hint--left hint--bounce hint--rounded" aria-label={{t "users.edit.favorite.remove"}} {{action "removeItem" item}}>
            {{svg-jar "cancel"}}
          </a>
        </span>
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}
  <div class="text-xs-center">
    {{paginated-resource/infinite model=items update=(action "updateNextPage")}}
  </div>
{{else}}
  {{#if isError}}
    {{! TODO/@Josh -- Case when there is an error loading the data }}
    <p>Error</p>
  {{else}}
    {{! TODO/@Josh -- Case when user has no favorites }}
    <p>You don't have any favorites! add them now!</p>
  {{/if}}
{{/if}}