{{#if isTruncated}}
  {{truncatedText}}
{{else}}
  {{text}}
{{/if}}

{{#if hasBlock}}
  {{yield (hash
    isTruncated=isTruncated
    wasTruncated=wasTruncated
    toggleVisibility=(action "toggleVisibility")
  )}}
{{else}}
  {{#if isTruncated}}
    <a class="d-inline-block" href="#" {{action "toggleVisibility"}}>{{expandText}}</a>
  {{else if wasTruncated}}
    <a class="d-inline-block" href="#" {{action "toggleVisibility"}}>{{collapseText}}</a>
  {{/if}}
{{/if}}