<td class="canon-title">
  <span class="canon-poster">
    <a href={{href-to (concat item.media.modelType ".show") item.media.slug}}>
      {{lazy-image src=(image item.media.posterImage "tiny")}}
    </a>
  </span>
  <a href={{href-to (concat item.media.modelType ".show") item.media.slug}}>
    {{item.media.computedTitle}}
  </a>
</td>
<td>{{t (concat "library-shared." item.status) type=item.media.modelType}}</td>
<td>{{item.progress}}</td>
<td>{{item.rating}}</td>
<td>{{item.reconsumeCount}}</td>
<td>{{t (concat "settings.exports.logs.action." item.actionPerformed)}}</td>
{{#if (eq item.syncStatus "success")}}
  <td class="success-state">
    <span class="success-info hint--top-left hint--bounce hint--rounded" aria-label={{t "settings.exports.logs.status.success"}}>
      {{svg-jar "success"}}
    </span>
  </td>
{{else if (eq item.syncStatus "pending")}}
  <td class="pending-state">
    <span class="pending-info hint--top-left hint--bounce hint--rounded" aria-label={{t "settings.exports.logs.status.pending"}}>
      {{svg-jar "more"}}
    </span>
  </td>
{{else}}
  <td class="error-state">
    <span class="error-info hint--top-left hint--bounce hint--rounded" aria-label={{item.errorMessage}}>
      {{svg-jar "error"}}
    </span>
  </td>
{{/if}}