<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">Sync with {{siteName}}</h6>
    <p class="auth-section-helper">We'll update your anime and manga lists on {{siteName}} every time you update them on Kitsu. Note that we won't delete entries from your {{siteName}} library.</p>
    <form>
      <div class="form-group">
        {{one-way-text exporter.externalUserId
          update=(action (mut exporter.externalUserId))
          class="form-control"
          placeholder="Username"
          autofocus="autofocus"}}

        {{one-way-password exporter.token
          update=(action (mut exporter.token))
          class="form-control"
          placeholder="Password"}}
      </div>
      <div class="form-cta">
        <button class="button button--primary" disabled={{unless exporter.validations.isValid "disabled"}} {{action (perform createExport)}}>
          {{#if createExport.isRunning}}
            {{loading-spinner size="small"}}
          {{else}}
            Sync to {{siteName}}
          {{/if}}
        </button>
      </div>
    </form>
  </div>
</div>
