<div class="card">
  <div class="card-header" role="tab">
    <h6 class="m-b-0">
      <a href="#export-tab-{{elementId}}" data-toggle="collapse">
        {{t "settings.exports.sync-header"}}
      </a>
    </h6>
  </div>

  <div id="export-tab-{{elementId}}">
    <div class="card-block">
      {{#if getExportLogsTask.isRunning}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{loading-spinner size="small"}}
        </div>
      {{else if getExportLogsTask.last.value}}
        {{#infinite-pagination loaderSize="small" onPagination=(action "onPagination")}}
          <table class="library-entry-logs table table-hover">
            <thead>
              <tr>
                <th class="canon-header">{{t "settings.exports.logs.header.media"}}</th>
                <th>{{t "settings.exports.logs.header.library-status"}}</th>
                <th>{{t "settings.exports.logs.header.progress"}}</th>
                <th>{{t "settings.exports.logs.header.rating"}}</th>
                <th>{{t "settings.exports.logs.header.reconsumes"}}</th>
                <th>{{t "settings.exports.logs.header.action"}}</th>
                <th>{{t "settings.exports.logs.header.status"}}</th>
              </tr>
            </thead>
            {{#each-in (group-by "formattedDate" exportLogs) as |date items|}}
              <tbody>
                <tr class="date-value">
                  <td colspan="100%">
                    {{format-date date timeZone="UTC" weekday="long" day="numeric" month="long" year="numeric"}}
                  </td>
                </tr>
                {{#each (sort-by (action "sortLogs") items) as |item|}}
                  {{settings/export/export-logs-item item=item tagName="tr" class="library-entry-log"}}
                {{/each}}
              </tbody>
            {{/each-in}}
          </table>
        {{/infinite-pagination}}
      {{else if account.disabledReason}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{t "settings.exports.disabled" reason=account.disabledReason htmlSafe=true}}
        </div>
      {{else}}
        <div class="text-xs-center w-100 m-t-1 m-b-1">
          {{t "settings.exports.no-logs"}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
