<div class="container">
  <div class="row">
    <div class="group-create-wrapper ticket-wrapper">
      <div class="card">
        <div class="group-result-header">
          <span class="result-filter-wrapper">
            {{search-input
              update=(action (mut query))
              placeholder=(t "groups.tickets.search")
              icon=true}}
          </span>
          <span class="result-sort-wrapper">
            {{#bootstrap/bs-dropdown as |dropdown|}}
              {{#dropdown.button type="button--dark-outline" class="button--small"}}
                {{t (concat "groups.tickets.filter." filter)}}
              {{/dropdown.button}}
              {{#dropdown.menu}}
                {{#each filterOptions as |_filter|}}
                  {{#dropdown.menu-item onClick=(action (mut filter) _filter)}}
                    {{t (concat "groups.tickets.filter." _filter)}}
                    {{#if (eq filter _filter)}}
                      <span class="dropdown-checkmark">
                        {{svg-jar "checkmark"}}
                      </span>
                    {{/if}}
                  {{/dropdown.menu-item}}
                {{/each}}
              {{/dropdown.menu}}
            {{/bootstrap/bs-dropdown}}
          </span>
        </div>

        <ul class="ticket-list">
          {{#if model.taskInstance.isRunning}}
            <div class="text-xs-center m-t-1 m-b-1">
              {{loading-spinner size="small"}}
            </div>
          {{else if model.taskInstance.value}}
            {{#infinite-pagination onPagination=(route-action "onPagination")}}
              {{#each tickets as |ticket|}}
                {{groups/tickets/ticket-item
                  ticket=ticket
                  tagName="li"}}
              {{/each}}
            {{/infinite-pagination}}
          {{else}}
            <div class="text-xs-center m-t-1 m-b-1">
              {{t "errors.contentEmpty"}}
            </div>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>