{{#if comment.isNew}}
  {{! TODO - @Josh - Loading effect for new comments }}
  <div class="text-xs-center w-100">
    {{loading-spinner size="small"}}
  </div>
{{else}}
  <div class="media-left">
    <a href={{href-to "users.index" comment.user}}>
      <img class="media-object" src={{image comment.user.avatar "small"}}>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <a href={{href-to "users.index" comment.user}}>
        {{comment.user.name}}
      </a>
    </h4>

    <span class="comment-body">
      {{#if isEditing}}
        {{expanding-textarea comment.content
          update=(action (mut comment.content))
          keyEvents=(hash 13=(action "updateComment"))
          class="form-control add-comment"}}
      {{else}}
        {{#if updateComment.isRunning}}
          {{loading-spinner size="small"}}
        {{else}}
          {{{comment.contentFormatted}}}
        {{/if}}
      {{/if}}
    </span>

    <div class="stream-item-activity">
      {{! likes }}
      {{likeable-resource
        resource=comment
        likesCount=comment.likesCount
        likesCountUpdate=(action (mut comment.likesCount))
        onCreate=(action "trackEngagement" "like")
      }}

      {{! TODO/@Josh -- style reply action }}
      <small class="comment-reply" {{action "showReply"}}>
        Reply
      </small>

      {{! comment timestamp }}
      <small class="comment-time">
        {{moment-from-now comment.createdAt interval=60000}}
        {{#if commentEdited}}
          &middot; edited {{moment-from-now comment.updatedAt interval=60000}}
        {{/if}}
      </small>

      {{! more dropdown }}
      <span class="more-wrapper">
        <a href="#" class="more-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{svg-jar "more"}}
        </a>
        <div class="dropdown-menu">
          {{! Edit/Delete Options }}
          {{#if (can-mutate comment.user comment)}}
            <a class="dropdown-item" href="#" {{action (toggle "isEditing" this)}}>Edit Comment</a>
            <a class="dropdown-item" href="#" {{action (toggle "deleteModalOpened" this)}}>Delete Comment</a>
            {{#if deleteModalOpened}}
              {{to-elsewhere named="modal" send=(component "modals/confirm-action"
                onConfirm=(action "deleteComment")
                onClose=(toggle-action "deleteModalOpened" this)
              )}}
            {{/if}}
          {{/if}}

          {{! Report/Blocking Options }}
          {{#if (and session.hasUser (not (is-self comment.user)))}}
            <a class="dropdown-item" href="#" {{action (toggle "reportingComment" this)}}>Report Comment</a>
            {{#if reportingComment}}
              {{to-elsewhere named="modal" send=(component "modals/report-content"
                content=comment
                onClose=(toggle-action "reportingComment" this)
              )}}
            {{/if}}

            <a class="dropdown-item" href="#" {{action (toggle "blockUserModal" this)}}>Block @{{comment.user.name}}</a>
              {{#if blockUserModal}}
                {{to-elsewhere named="modal" send=(component "modals/block-user"
                  user=comment.user
                  onClose=(toggle-action "blockUserModal" this)
                )}}
              {{/if}}
          {{/if}}
        </div>
      </span>
    </div>

    {{! comment replies }}
    {{#if isTopLevel}}
      {{#if getReplies.isRunning}}
        <div class="p-t-1 p-b-1 text-xs-center">
          {{loading-spinner size="small"}}
        </div>
      {{else}}
        {{#if (not-eq comment.repliesCount replies.length)}}
          <div class="comment-actions clearfix">
            <div class="pull-sm-left">
              {{! TODO: i18n }}
              {{#paginated-resource/manual
                model=replies
                modelName="comment"
                limit=10
                offset=replies.length
                update=(action "loadReplies") as |active|
              }}
                <a href="#">Show Previous Replies</a>
              {{/paginated-resource/manual}}
            </div>

            {{! Comment count }}
            <div class="pull-sm-right">
              {{! TODO: i18n / pad left }}
              {{replies.length}} of {{comment.repliesCount}}
            </div>
          </div>
        {{/if}}

        {{! TODO/@Josh -- Replies list }}
        {{#if (gt comment.repliesCount 0)}}
          <ul class="media-list reply-list">
            {{#each replies as |reply|}}
              {{stream-feed/items/post/comment
                comment=reply
                post=post
                onReply=(action "onReply")
                onDelete=(action "deletedReply")
                likesCountUpdate=(action (mut reply.likesCount))
                replyCountUpdate=(action (mut comment.repliesCount))
                trackEngagement=(action "trackEngagement")
                tagName="li"
                class="media new-comment"}} {{! HACK: Until we have transitions }}
            {{/each}}
          </ul>
        {{/if}}

        {{! Reply text box }}
        {{#if (and isReplying (not readOnly))}}
          {{expanding-textarea
            keyEvents=(hash 13=(action "createReply"))
            rows="1"
            placeholder="Add a reply..."
            class="form-control reply-comment"}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
{{/if}}
