{{#file-dropzone name=(concat "comment-uploads-" elementId) disabled=dropzoneDisabled as |dropzone queue|}}
  <div class="comment-box-row">
    {{expanding-textarea content
      update=(action (queue (action (mut content)) (action "processLinks")))
      keyEvents=(hash 13=(action "submit"))
      onpaste=(action "paste")
      disabled=onSubmit.isRunning
      rows="1"
      placeholder=(if dropzone.active
        (if dropzone.valid (t "feeds.uploads.drop") (t "feeds.uploads.invalid"))
        (if queue.files.length (t "feeds.uploads.uploading" number=queue.files.length progress=queue.progress) placeholder))
      class=className
    }}

    {{#unless (or upload embedUrl)}}
      {{#file-upload name=(concat "comment-uploads-" elementId)
        accept=accept
        multiple=false
        disabled=(or (gt queue.files.length 0) (not (is-empty embedUrl)))
        onfileadd=(action (perform uploadImageTask))
      }}
        {{svg-jar "picture"}}
      {{/file-upload}}
    {{/unless}}
  </div>

  {{#if upload}}
    <div class="comment-box-upload">
      <img src={{upload.content.original}} />
      <a href="#" {{action "removeUpload" upload}}>{{svg-jar "cancel"}}</a>
    </div>
  {{else if embedUrl}}
    <div class="embed-helper">
      <div class="embed-preview-action">
        {{t "feeds.embed.preview"}}
        <span class="hint--top hint--bounce hint--rounded" aria-label="Remove" {{action "removeEmbed"}}>
          {{svg-jar "close"}}
        </span>
      </div>
      {{#if previewEmbedTask.isRunning}}
        <div class="w-100 text-xs-center">
          {{loading-spinner size="small"}}
        </div>
      {{else}}
        {{stream-feed/items/post/embed embed=previewEmbedTask.last.value}}
      {{/if}}
    </div>
  {{/if}}
{{/file-dropzone}}
