{{#if post.topLevelCommentsCount}}
  {{#if getComments.isRunning}}
    <div class="p-t-1 p-b-1 text-xs-center">
      {{loading-spinner size="small"}}
    </div>
  {{else}}
    <div class="comments-header">
      {{! Viewing single comment }}
      {{#if comment}}
        <div class="comment-actions clearfix">
          <div class="pull-sm-left">
            <a href={{href-to "posts" post}}>View All Comments</a>
            {{#if isReply}}
              &mdash;
              <a href={{href-to "comments" comment.parent.id}}>View Parent Comment</a>
            {{/if}}
          </div>
        </div>
      {{else if comments}}
        {{! Sort dropdown }}
        <div class="comment-sort-dropdown">
          {{#bootstrap/bs-dropdown as |dropdown|}}
            {{#dropdown.button}}
              {{t (concat "feeds.post.sorts." sort)}}
            {{/dropdown.button}}
            {{#dropdown.menu}}
              {{#each sortOptions as |option|}}
                {{#dropdown.menu-item onClick=(action (mut sort) option)}}
                  {{t (concat "feeds.post.sorts." option)}}
                  {{#if (eq option sort)}}
                    <span class="dropdown-checkmark">{{svg-jar "checkmark"}}</span>
                  {{/if}}
                {{/dropdown.menu-item}}
              {{/each}}
            {{/dropdown.menu}}
          {{/bootstrap/bs-dropdown}}
        </div>
        {{! Comment Pagination }}
        {{#if hasNextPage}}
          <div class="comment-actions clearfix">
            {{! action }}
            <div class="pull-sm-left">
              {{#if isLoading}}
                {{loading-spinner size="small"}}
              {{else}}
                <a href="#" {{action "onPagination"}}>Show Previous Comments</a>
              {{/if}}
            </div>
            {{! Comment count }}
            <div class="pull-sm-right">
              {{comments.length}} of {{post.topLevelCommentsCount}}
            </div>
          </div>
        {{/if}}
      {{/if}}
    </div>

    {{! List of comments }}
    <ul class="media-list">
      {{#each comments as |comment|}}
        {{stream-feed/items/post/comment
          isTopLevel=true
          isReply=isReply
          comment=comment
          post=post
          readOnly=readOnly
          kitsuGroupMembership=kitsuGroupMembership
          onDelete=(action "deletedComment")
          likesCountUpdate=(action (mut comment.likesCount))
          replyCountUpdate=(action (mut comment.repliesCount))
          trackEngagement=(action "trackEngagement")
          updateFollow=updateFollow
          tagName="li"
          class="media new-comment"}} {{! HACK: Until we have transitions }}
      {{/each}}
    </ul>
  {{/if}}
{{/if}}

{{! Comment Box }}
{{#unless getComments.isRunning}}
  {{#if (and (not comment) (not readOnly))}}
    <div class="add-comment-wrapper">
      {{expanding-textarea
        keyEvents=(hash 13=(action "createComment"))
        disabled=createComment.isRunning
        rows="1"
        placeholder="Leave a comment..."
        class="form-control add-comment"
      }}
    </div>
  {{/if}}
{{/unless}}
