{{#if post.topLevelCommentsCount}}
    {{#if getComments.isRunning}}
      <div class="p-t-1 p-b-1 text-xs-center">
        {{loading-spinner size="small"}}
      </div>
    {{else}}
      {{#if (and (gt post.topLevelCommentsCount 2) (not-eq post.topLevelCommentsCount comments.length))}}
        <div class="comment-actions">
          <div class="d-inline-block">
            {{! TODO: i18n }}
            {{#paginated-resource/manual
              model=comments
              update=(action "loadComments") as |active|
            }}
              <a href="#">Show Previous Comments</a>
            {{/paginated-resource/manual}}
          </div>

          {{! Comment count }}
          <div class="pull-sm-right">
            {{! TODO: i18n / pad left }}
            {{comments.length}} of {{post.topLevelCommentsCount}}
          </div>
        </div>
      {{/if}}

      <ul class="media-list">
        {{#each comments as |comment|}}
          {{stream-feed/items/post/comment
            isTopLevel=true
            comment=comment
            post=post
            readOnly=readOnly
            likesCountUpdate=(action (mut comment.likesCount))
            replyCountUpdate=(action (mut comment.repliesCount))
            trackEngagement=(action "trackEngagement")
            tagName="li"
            class="media new-comment"}} {{! HACK: Until we have transitions }}
        {{/each}}
      </ul>
    {{/if}}
{{/if}}

{{#if (not readOnly)}}
  <div class="add-comment-wrapper">
    {{expanding-textarea
      keyEvents=(hash 13=(action "createComment"))
      placeholder="Leave a comment..."
      class="form-control add-comment"
    }}
  </div>
{{/if}}
