{{#photo-swipe bgOpacity=0.92 showAnimationDuration=0 hideAnimationDuration=0 history=false items=galleryItems
  class=(concat "stream-content-post-uploads " gridStyle) as |photoswipe|}}
  {{#each (take 5 galleryItems) as |img index|}}
    <a href="{{img.src}}" {{action photoswipe.actions.open (hash index=index shareEl=true shareButtons=(array (hash id="download" label="Download Image" url="{{raw_image_url}}" download=true)))}}>
      {{lazy-image src=img.thumbSrc}}
      {{#if (and (gt galleryItems.length 5) (eq index 4))}}
        <div class="uploads-overlay uploads-more">+{{dec 4 galleryItems.length}}</div>
      {{else if (eq img.type "image/gif")}}
        <div class="uploads-overlay uploads-gif">GIF</div>
      {{/if}}
    </a>
  {{/each}}
{{/photo-swipe}}
