<nav class="navbar navbar-fixed-top navbar-light primary-nav" role="navigation">
  <div class="container">
    <div class="row">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <div class="nav-item">
          <a href={{href-to "dashboard"}} class="navbar-brand nav-link">
            <span class="logo">Kitsu</span>
          </a>
    	  </div>
        <ul class="nav navbar-nav">
          {{#if sesison.isAuthenticated}}
            <li class="nav-item">
              {{link-to (t "header.library") "users.library" session.account.name class="nav-link"}}
            </li>
          {{/if}}
          <li class="nav-item">
            {{link-to (t "header.anime") "anime.index" class="nav-link"}}
          </li>
          <li class="nav-item">
            {{link-to (t "header.manga") "manga.index" class="nav-link"}}
          </li>
        </ul>

      <ul class="nav navbar-nav pull-sm-right">
        {{#if session.isAuthenticated}}
          <li class="nav-item">
            <a href="#" class="nav-link avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src={{image session.account.avatar}} class="avatar-image avatar-image--small">
            </a>
            <div class="dropdown-menu">
              <a href={{href-to "users.index" session.account.name}} class="dropdown-item">
                {{t "header.user.profile"}}
              </a>
              <a href={{href-to "settings"}} class="dropdown-item">
                {{t "header.user.settings"}}
              </a>
              <a href="#" {{action "invalidateSession"}} class="dropdown-item">
                {{t "header.user.logout"}}
              </a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="modal" data-target="#auth-modal" data-test-selector="sign-up-header" {{action (toggle "authOpened" this)}}>
              {{t "header.signUp"}}
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="modal" data-target="#auth-modal" data-test-selector="sign-up-header" {{action (toggle "authOpened" this)}}>
              {{t "header.signIn"}}
            </a>
          </li>
        {{/if}}
      </ul>
      </div>
    </div>
  </div>
</nav>


<!-- <div class="site-header" class="top-bar" data-test-selector="site-header">
  <div class="top-bar-wrapper">
    <div class="top-bar-left">
      <ul>
        <li>
          {{#link-to "dashboard"}}
            <div class="logo"></div>
          {{/link-to}}
        </li>
        <li class="primary-nav has-submenu">
          <a>{{t "header.shows"}}</a>
          <ul class="submenu menu vertical" data-submenu>
            <li>
              {{link-to (t "media.anime.name") "anime.index"}}
            </li>
          </ul>
        </li>
        <li class="primary-nav">
          {{link-to (t "media.manga.name") "manga.index"}}
        </li>
        <li class="primary-nav"><a href="https://forums.hummingbird.me">{{t "header.forums"}}</a></li>
        <li class="primary-nav"><a href="#">{{t "header.downloads"}}</a></li>
      </ul>
    </div>

    <div class="top-bar-right">
      {{! TODO: Implement guest state }}
      {{#if session.isAuthenticated}}
        <ul>
          <li>
            <a href="#" class="circle-button">
              {{fa-icon "search"}}
            </a>
          </li>
          <li>
            <a href="#" class="circle-button">
              {{fa-icon "bell-o"}}
            </a>
          </li>
          <li class="has-submenu">
            <a href="#" class="circle-button avatar">
              <img src={{image session.account.avatar}}>
            </a>
            <ul class="submenu menu vertical" data-submenu>
              <li>
                {{#link-to "users.index" session.account}}
                  {{t "header.user.profile"}}
                {{/link-to}}
              </li>
              <li>
                <a href="#" {{action "invalidateSession"}}>
                  {{t "header.user.logout"}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      {{else}}
        <ul class="menu">
          <li>
            <a href="#" class="circle-button">
              {{fa-icon "search"}}
            </a>
          </li>
          <li>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#auth-modal"
              data-test-selector="sign-up-header" {{action "toggleAuth" true}}>
              Sign Up / In
            </a>
          </li>
        </ul>
      {{/if}}
    </div>
  </div>
</div> -->

{{#if authOpened}}
  {{#ember-wormhole to="wormhole"}}
    {{modals/auth-onboarding
      modalId="auth-modal"
      onClose=(toggle-action "authOpened" this)}}
  {{/ember-wormhole}}
{{/if}}
