<th scope="row">
  {{lazy-image src=(image leader.user.avatar "small")}}
</th>
<td class="leader-name">
  <a href={{href-to "users.index" leader.user}}>
    {{leader.user.name}}
  </a>
</td>
{{#if isManaging}}
  <td class="edit-leader">
    <a href="#" {{action (toggle "showModal" this)}}>
      {{t "groups.leaders.list.edit-btn"}}
    </a>
  </td>
{{/if}}

{{#if showModal}}
  {{to-elsewhere named="modal" send=(component "groups/dashboard/leaders/leader-permissions-modal"
    leader=leader
    onClose=(toggle-action "showModal" this)
  )}}
{{/if}}
