{{head-layout}}

{{! header }}
{{application/site-header}}

{{! session error message }}
{{application/session-error}}

{{! loading indicator }}
{{#if routeIsLoading}}
  <div class="loading-bar"></div>
{{/if}}

{{! content }}
<div class="container global-container">
  <div class="row global-row">
    {{outlet}}
  </div>
</div>

{{! mobile banner }}
{{application/mobile-banner}}

{{from-elsewhere name="modal"}}
{{ember-notify messageStyle="bootstrap" closeAfter=3000}}

{{! staging }}
{{#if isStaging}}
  <div class="alert alert-info staging-alert">
  {{t "application.sandbox.alert" htmlSafe=true}}
  </div>
{{/if}}
