{{#if session.hasUser}}
  {{dashboard/quick-update}}

  <div class="feed-container row {{if session.hasUser "quick-update-enabled" "guest-banner-enabled"}}">
    {{! Kitsu Dashboard Top }}
    {{ad-unit unit="kitsu.dashboard.top"
      targeting=(hash section="dashboard")
      sizes=(hash
        mobile=(array (array 320 100) (array 320 50))
        tablet=(array 728 90)
        desktop=(array (array 970 90) (array 728 90))
      )}}

    {{! Feed Aside }}
    <div class="feed-aside">
      <div class="is-sticky">
        <ul>
          <li>
            <a href="#" class="timeline-link {{if (eq streamType "timeline") "active"}}" {{action "switchFeed" "timeline"}}>
              {{svg-jar "user"}}
              Following
            </a>
          </li>
          <li>
            <a href="#" class="timeline-link {{if (eq streamType "global") "active"}}" {{action "switchFeed" "global"}}>
              {{svg-jar "globe"}}
              Global
            </a>
          </li>
        </ul>

        {{! Groups }}
        {{dashboard/unread-groups class="sidebar-item"}}
      </div>
    </div>

    {{! Feed }}
    <div class="feed-stream col-sm">
      {{#if (and session.hasUser (and (eq streamType "global") (eq session.account.postsCount 0)))}}
        {{dashboard/onboarding/feed-notice}}
      {{/if}}

      {{stream-feed/list
        streamType=streamType
        streamId=streamId
        streamFilter=(if (eq streamType "global") "user" "all")
        readOnly=(cannot "write post")}}
      </div>

    <div class="feed-sidebar">
      <div class="is-sticky">
        {{! Onboarding }}
        {{#if (and session.hasUser (not session.account.feedCompleted))}}
          {{dashboard/onboarding/checklist-progress user=session.account class="sidebar-item"}}
        {{/if}}



        {{! Kitsu Dashboard Sidebar Ad }}
        {{! Hidden on mobile currently }}
        {{ad-unit unit="kitsu.dashboard.sidebar"
          targeting=(hash section="dashboard")
          sizes=(hash
            tablet=(array (array 336 280) (array 300 250))
          )}}

        {{! Footer }}
        {{sidebar-footer class="sidebar-item"}}
      </div>
    </div>
  </div>
{{else}}
  {{trending/trending-page}}
{{/if}}
