<style>
  .global-container {
    max-width: 100%;
  }
</style>

<div class="settings--header feedback">
  <div class="container">
    <div class="row">
      <h2>Feedback</h2>
      <ul class="settings--navigation">
        {{#link-to "feedback.bugs" tagName="li" class="list-item" current-when="feedback.bugs feedback.bugs-anything"}}
          <a href={{href-to "feedback.bugs"}}>
            {{t "feedback.bugs"}}
          </a>
        {{/link-to}}
        {{#link-to "feedback.feature-requests" tagName="li" class="list-item" current-when="feedback.feature-requests feedback.feature-requests-anything"}}
          <a href={{href-to "feedback.feature-requests"}}>
            {{t "feedback.features"}}
          </a>
        {{/link-to}}
        {{#link-to "feedback.database-requests" tagName="li" class="list-item" current-when="feedback.database-requests feedback.database-requests-anything"}}
          <a href={{href-to "feedback.database-requests"}}>
            {{t "feedback.database"}}
          </a>
        {{/link-to}}
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {{outlet}}
  </div>
</div>
