<div class="container group-invite">
  <div class="row">
    <div class="card col-sm-6">
      <div class="card-block">
        <h4 class="card-title">{{t "group-invite.header"}}</h4>
        <h6 class="card-subtitle m-b-2 text-muted">{{t "group-invite.subtitle" group=invite.group.name sender=invite.sender.name}}</h6>
        <p class="card-text">{{t "group-invite.text" group=invite.group.name}}</p>
        {{#if updateInviteTask.isRunning}}
          {{loading-spinner}}
        {{else}}
          {{#if invite.hasResponded}}
            {{#if invite.acceptedAt}}
              <span class="card-link accepted">{{t "group-invite.accepted"}}</span>
            {{else if invite.revokedAt}}
              <span class="card-link declined">{{t "group-invite.revoked"}}</span>
            {{else}}
              <span class="card-link declined">{{t "group-invite.declined"}}</span>
            {{/if}}
          {{else}}
            <a href="#" class="card-link" {{action "acceptInvite"}}>{{t "group-invite.accept"}}</a>
            <a href="#" class="card-link" {{action "declineInvite"}}>{{t "group-invite.decline"}}</a>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>