<div class="container group-invite">
  <div class="row">
    <div class="card col-sm-6">
      <div class="card-block">
        <h4 class="card-title">{{t "group-invite.header"}}</h4>
        <h6 class="card-subtitle m-b-2 text-muted">{{t "group-invite.subtitle" group=model.group.name sender=model.sender.name}}</h6>
        <p class="card-text">{{t "group-invite.text" group=model.group.name}}</p>
        {{#if updateInviteTask.isRunning}}
          {{loading-spinner}}
        {{else}}
          {{! @TODO(Groups): Hide if accepted/declined }}
          <a href="#" class="card-link" {{action "acceptInvite"}}>{{t "group-invite.accept"}}</a>
          <a href="#" class="card-link" {{action "declineInvite"}}>{{t "group-invite.decline"}}</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>