<div class="col-md-10 col-xs-12 centered">

  <div class="row">
    <div class="col-xs-12 col-md">
      {{media/media-reaction-card reaction=model media=model.media large=true}}

      <div class="more-reactions">
        <a href={{href-to "users.reactions" model.user}}>
          {{t "media-reactions.view-all" count=model.user.mediaReactionsCount user=model.user.name htmlSafe=true}}
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-5 permalink--author-card">
      {{users/user-card user=model.user short=true}}
      {{#unless session.hasUser}}
        <div class="guest-card">
          <p>{{t "head.users.description" user=model.user.name}}</p>
          <button class="button button--primary active" {{action "signUp"}}>
            <span class="button-label">{{t "media-reactions.create-account"}}</span>
          </button>
        </div>
      {{/unless}}
    </div>
  </div>

</div>
