<div class="col-md-8 col-xs-11 centered">
  <ul class="notification-list full-size">
    {{#if model.taskInstance.isRunning}}
      <div class="text-xs-center w-100">
        {{loading-spinner size="large"}}
      </div>
    {{else}}
      {{#infinite-pagination onPagination=(route-action "onPagination")}}
        {{#each notifications as |group|}}
          {{application/user-notifications/item tagName="li" class="notification-item" group=group}}
        {{else}}
          <div class="stream-error-wrapper">
            {{t "notifications.none"}}
          </div>
        {{/each}}
      {{/infinite-pagination}}
    {{/if}}
  </ul>
</div>
