{{#if (not (is-empty usableToken))}}
  {{! TODO - @Josh -- Password Reset (Password Entry) }}
  {{one-way-password
    update=(action (mut password))
    placeholder=(t "password-reset.password")
  }}

  {{one-way-password
    update=(action (mut passwordConfirm))
    placeholder=(t "password-reset.confirm")
  }}

  <p>{{t "password-reset.length"}}</p>

  <button class="button button--primary" disabled={{unless passwordValid "disabled"}} onclick={{action (perform resetPassword)}}>
    {{#if resetPassword.isRunning}}
      {{loading-spinner size="small"}}
    {{else}}
      {{t "password-reset.reset"}}
    {{/if}}
  </button>
{{else}}
  {{! TODO - @Josh -- Password Reset (Email Entry) }}
  {{one-way-email
    update=(action (mut email))
    placeholder=(t "password-reset.email")
  }}
  <button class="button button--primary" disabled={{unless validations.attrs.email.isValid "disabled"}} onclick={{action (perform sendEmail)}}>
    {{#if sendEmail.isRunning}}
      {{loading-spinner size="small"}}
    {{else}}
      {{t "password-reset.send"}}
    {{/if}}
  </button>
{{/if}}
