{{#if buyingTier}}
  {{to-elsewhere named="modal" send=(component "modals/buy-pro"
    tier=buyingTier
    onClose=(action (mut buyingTier) false)
  )}}
{{/if}}

<header class="pro-header">
  <div class="container">
    <div class="row">
      <div class="pro-header__text">
        <h2>Show your support for Kitsu,
          upgrade your account.</h2>
        <div class="pro-header__body">
          Kitsu is on a mission to build the world's best platform for anime and manga fans. With your Pro account, you'll be showing your support for the community. Plus you'll get some sweet perks for being so awesome.
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container pro-tiers">
  <section class="pro-tier">
    <header>
      <h3>{{svg-jar "pro"}} PRO</h3>
    </header>
    <div class="pro-tier__content">
      <dl>
        <dt>Fancy-pants 'PRO' badge</dt>
        <dd>We'll put a little badge by your name so that you can show the world you've helped keep us alive.</dd>
        <dt>No advertising</dt>
        <dd>Hide all ads from your Kitsu experience, doesn't apply to Hulu videos (we don't control those!)</dd>
        <dt>Early-access to new features</dt>
        <dd>You're helping us keep the lights on, you deserve a little VIP treatment. You'll get to test new stuff before everyone else!</dd>
      </dl>

      <div class="pro-tier__buybox">
        <div class="pro-tier__price">
          <span class="pro-tier__amount">
            $19
          </span>
          <span class="pro-tier__length">
            Per year
          </span>
          <span class="pro-tier__cycle">
            billed annually
          </span>
        </div>
        <button class="button button--pro" {{action "buyTier" "pro"}}>
          Upgrade to PRO
        </button>
      </div>
    </div>
  </section>

  <section class="pro-tier">
    <header>
      <h3>{{svg-jar "patron"}} PATRON</h3>
    </header>
    <div class="pro-tier__content">
      <dl>
        <dt>Everything in PRO</dt>
        <dd>The same sense of pride and perks as those who supported with PRO, but for going above and beyond you'll get a bit extra.</dd>
        <dt>Your name in the hall of fame</dt>
        <dd>You'll be featured as a supporter with a message of your choice in the hall of fame section below. Go ahead, flex a little.</dd>
        <dt>PATRON-exclusive discord access</dt>
        <dd>Weigh in and give feedback on some of the big decisions and upcoming features for Kitsu as a platform.</dd>
      </dl>

      <div class="pro-tier__buybox">
        <div class="pro-tier__price">
          <span class="pro-tier__amount">
            $49
          </span>
          <span class="pro-tier__length">
            Per year
          </span>
          <span class="pro-tier__cycle">
            billed annually
          </span>
        </div>
        <button class="button button--patron" {{action "buyTier" "patron"}}>
          Upgrade to PATRON
        </button>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="logo-rule">
    {{svg-jar "kitsu"}}
  </div>
</div>

<section class="container hall-of-fame">
  <header>
    <h3>The Hall Of Fame</h3>
    <div>
      The following users have upgraded to <span class="patron-badge">PATRON</span>, offering the
      pinnacle of financial support to keep our community alive.
    </div>
  </header>

  {{#if hallOfFame}}
    <ul>
      <li>
        silverwaterlilies
      </li>
    </ul>
  {{else}}
    <!-- @josh Hall of Fame empty state goes here-->
  {{/if}}
</section>
