<div class="settings--header">
  <div class="container">
    <div class="row">
      <div class="settings--avatar">
        <img src={{image session.account.avatar "small"}} class="avatar-image avatar-image--small">
      </div>
      <h2>{{t "settings.navigation.header"}}</h2>
      <ul class="settings--navigation">
        {{#link-to "settings.index" tagName="li" class="list-item"}}
          <a href={{href-to "settings.index"}}>{{t "settings.navigation.profile"}}</a>
        {{/link-to}}
        {{#link-to "settings.notifications" tagName="li" class="list-item"}}
          <a href={{href-to "settings.notifications"}}>{{t "settings.navigation.notifications"}}</a>
        {{/link-to}}
        {{#link-to "settings.password" tagName="li" class="list-item"}}
          <a href={{href-to "settings.password"}}>{{t "settings.navigation.password"}}</a>
        {{/link-to}}
        {{#link-to "settings.privacy" tagName="li" class="list-item"}}
          <a href={{href-to "settings.privacy"}}>{{t "settings.navigation.privacy"}}</a>
        {{/link-to}}
        {{#link-to "settings.linked-accounts" tagName="li" class="list-item"}}
          <a href={{href-to "settings.linked-accounts"}}>{{t "settings.navigation.linked-accounts"}}</a>
        {{/link-to}}
        {{#link-to "settings.imports" tagName="li" class="list-item"}}
          <a href={{href-to "settings.imports"}}>{{t "settings.navigation.import"}}</a>
        {{/link-to}}
        {{#link-to "settings.exports" tagName="li" class="list-item"}}
          <a href={{href-to "settings.exports"}}>{{t "settings.navigation.export"}}</a>
        {{/link-to}}
        {{#link-to "settings.blocking" tagName="li" class="list-item"}}
          <a href={{href-to "settings.blocking"}}>{{t "settings.navigation.blocking"}}</a>
        {{/link-to}}
        {{#link-to "settings.account" tagName="li" class="list-item"}}
          <a href={{href-to "settings.account"}}>{{t "settings.navigation.account"}}</a>
        {{/link-to}}
      </ul>
    </div>
  </div>
</div>


{{outlet}}
