<div class="settings--header">
  <div class="container">
    <div class="row">
      <div class="settings--avatar">
        <img src={{image session.account.avatar "small"}} class="avatar-image avatar-image--small">
      </div>
      <h2>Settings</h2>
      <ul class="settings--navigation">
        {{#link-to "settings.index" tagName="li" class="list-item"}}
          <a href={{href-to "settings.index"}}>Profile</a>
        {{/link-to}}
        {{#link-to "settings.notifications" tagName="li" class="list-item"}}
          <a href={{href-to "settings.notifications"}}>Notifications</a>
        {{/link-to}}
        {{#link-to "settings.password" tagName="li" class="list-item"}}
          <a href={{href-to "settings.password"}}>Password</a>
        {{/link-to}}
        {{#link-to "settings.privacy" tagName="li" class="list-item"}}
          <a href={{href-to "settings.privacy"}}>Privacy</a>
        {{/link-to}}
        {{#link-to "settings.linked-accounts" tagName="li" class="list-item"}}
          <a href={{href-to "settings.linked-accounts"}}>Linked Accounts</a>
        {{/link-to}}
        {{#link-to "settings.imports" tagName="li" class="list-item"}}
          <a href={{href-to "settings.imports"}}>Import</a>
        {{/link-to}}
        {{#link-to "settings.exports" tagName="li" class="list-item"}}
          <a href={{href-to "settings.exports"}}>Export</a>
        {{/link-to}}
        {{#link-to "settings.blocking" tagName="li" class="list-item"}}
          <a href={{href-to "settings.blocking"}}>Blocking</a>
        {{/link-to}}
        {{#link-to "settings.account" tagName="li" class="list-item"}}
          <a href={{href-to "settings.account"}}>Account</a>
        {{/link-to}}
      </ul>
    </div>
  </div>
</div>


{{outlet}}
