{{! TODO - @Josh -- Email Unsubscribe }}
{{one-way-email
  update=(action (mut email))
  value=email
  placeholder=(t "unsubscribe.email")
}}
<button class="button button--primary" onclick={{action (perform unsubscribeEmail)}}>
  {{#if sendEmail.isRunning}}
    {{loading-spinner size="small"}}
  {{else}}
    {{t "unsubscribe.unsubscribe"}}
  {{/if}}
</button>
