{{! @TODO: Componentize }}
<div class="user-cover no-edit">
  <div class="cover-photo" style={{coverImageStyle}}>
    <div class="container">
      <div class="row">
        <div class="cover-user-info">
          <div class="primary-info">
            <div class="cover-avatar avatar">
              <img src={{image user.avatar "large"}} class="avatar-image avatar-image--large">
            </div>
            <div class="mini-bio">
              <h3 class="cover-username" data-test-username>
                {{user.name}}
                {{user-badge user}}
              </h3>
              <div class="cover-cta">
                {{#if (not (is-self user))}}
                  {{follow-button user=user relationship=follow loading=fetchFollowTask.isRunning}}
                {{/if}}

                {{! edit button }}
                {{#if (can "edit user" user)}}
                  <button class="button button--light-outline" onclick={{action (toggle "isEditing" this)}}>
                    <span class="button-label button-defaultState">Edit</span>
                  </button>
                  {{#if isEditing}}
                    {{to-elsewhere named="modal" send=(component "users/edit-profile"
                      user=user
                      modalId="edit-profile-modal"
                      onClose=(toggle-action "isEditing" this))}}
                  {{/if}}
                {{/if}}

                {{#if (or follow (and session.hasUser (not (is-self user))))}}
                  {{users/user-actions user=user follow=follow}}
                {{/if}}

                {{! admin actions }}
                {{#if (can "view admin" user)}}
                  {{#bootstrap/bs-dropdown class="d-inline" as |dropdown|}}
                    {{#dropdown.button class="button button--light-outline"}}
                      Admin
                    {{/dropdown.button}}
                    {{#dropdown.menu}}
                      {{#dropdown.menu-item onClick=(action (toggle "isViewingPastNames" this))}}
                        View Past Names
                      {{/dropdown.menu-item}}
                      {{#if isViewingPastNames}}
                        {{to-elsewhere named="modal" send=(component "users/view-past-names"
                          user=user
                          modalId="view-past-names-modal"
                          onClose=(toggle-action "isViewingPastNames" this))}}
                      {{/if}}
                      {{#dropdown.menu-item onClick=(action (toggle "isViewingAltAccounts" this))}}
                        View Alt Accounts
                      {{/dropdown.menu-item}}
                      {{#if isViewingAltAccounts}}
                        {{to-elsewhere named="modal" send=(component "users/view-alt-accounts"
                          user=user
                          modalId="view-alt-accounts-modal"
                          onClose=(toggle-action "isViewingAltAccounts" this))}}
                      {{/if}}
                      {{#dropdown.menu-item onClick=(action (toggle "isDeletingContent" this))}}
                        Delete User-Created Content
                      {{/dropdown.menu-item}}
                      {{#if isDeletingContent}}
                        {{to-elsewhere named="modal" send=(component "users/delete-user-content"
                          user=user
                          modalId="delete-user-content-modal"
                          onClose=(toggle-action "isDeletingContent" this))}}
                      {{/if}}
                      {{#dropdown.menu-item onClick=(action (toggle "isBanningUser" this))}}
                        Ban
                      {{/dropdown.menu-item}}
                      {{#if isBanningUser}}
                        {{to-elsewhere named="modal" send=(component "users/ban-user"
                          user=user
                          modalId="ban-user-modal"
                          onClose=(toggle-action "isBanningUser" this))}}
                      {{/if}}
                    {{/dropdown.menu}}
                  {{/bootstrap/bs-dropdown}}
                {{/if}}
              </div>
            </div>
          </div>

          {{! profile link badges }}
          <div class="cover-profiles">
            <div class="about-me-profiles">
              {{users/profile-links user=user}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-cover-overlay"></div>
  </div>
</div>

{{! @TODO: Componentize }}
<nav class="cover-nav navbar navbar-light">
  <div class="container">
    <div class="row">
      <div class="nav navbar-nav">
        {{link-to (t "users.navigation.activity") "users.index" class="nav-item nav-link"}}
        {{link-to (t "users.navigation.library") "users.library" class="nav-item nav-link"}}
        {{#if (gt user.reviewsCount 0)}} {{! Legacy }}
          {{#link-to "users.reviews" class="nav-item nav-link"}}
            {{t "users.navigation.reviews"}}
          {{/link-to}}
        {{/if}}
        {{#link-to "users.reactions" class="nav-item nav-link"}}
          {{t "users.navigation.reactions"}}
          <span class="tag tag-default">{{user.mediaReactionsCount}}</span>
        {{/link-to}}
        {{#link-to "users.followers" class="nav-item nav-link"}}
          {{t "users.navigation.followers"}}
          <span class="tag tag-default">{{user.followersCount}}</span>
        {{/link-to}}
        {{#link-to "users.following" class="nav-item nav-link"}}
          {{t "users.navigation.following"}}
          <span class="tag tag-default">{{user.followingCount}}</span>
        {{/link-to}}
        {{link-to (t "users.navigation.groups") "users.groups" class="nav-item nav-link"}}
      </div>
    </div>
  </div>
</nav>

{{! users/* templates rendered here }}
{{outlet}}
