<div class="user-cover no-edit">
  <div class="cover-photo" style={{coverImageStyle}}>
    <div class="container">
      <div class="row">
        <div class="cover-user-info">
          <div class="primary-info">
            <div class="cover-avatar avatar">
              <img src={{image user.avatar "large"}} class="avatar-image avatar-image--large">
            </div>
            <div class="mini-bio">
              <h3 class="cover-username" data-test-selector="username">
                {{user.name}}
                {{user-badge user}}
              </h3>
              <div class="cover-cta">
                {{#if (not (is-self user))}}
                  {{follow-button user=user}}
                {{/if}}

                {{! edit button }}
                {{#if (can-mutate user user)}}
                  <button class="button button--light-outline" onclick={{action (toggle "isEditing" this)}}>
                    <span class="button-label button-defaultState">Edit</span>
                  </button>
                  {{#if isEditing}}
                    {{to-elsewhere named="modal" send=(component "users/edit-profile"
                      user=user
                      modalId="edit-profile-modal"
                      onClose=(toggle-action "isEditing" this))}}
                  {{/if}}
                {{/if}}

                {{! admin actions }}
                {{#if (has-role "admin" user)}}
                  {{! Previous names }}
                  {{#unless (is-empty user.pastNames)}}
                    {{#bootstrap/bs-dropdown class="d-inline" as |dropdown|}}
                      {{#dropdown.button class="button button--light-outline"}}
                        Previous Names
                      {{/dropdown.button}}
                      {{#dropdown.menu}}
                        {{#each user.pastNames as |name|}}
                          {{#dropdown.menu-item}}
                            {{name}}
                          {{/dropdown.menu-item}}
                        {{/each}}
                      {{/dropdown.menu}}
                    {{/bootstrap/bs-dropdown}}
                  {{/unless}}
                {{/if}}
              </div>
            </div>
          </div>

          {{! profile link badges }}
          <div class="cover-profiles">
            <div class="about-me-profiles">
              {{users/profile-links user=user}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-cover-overlay"></div>
  </div>
</div>

<nav class="cover-nav navbar navbar-light">
  <div class="container">
    <div class="row">
      <div class="nav navbar-nav">
        {{link-to (t "users.nav.activity") "users.index" class="nav-item nav-link"}}
        {{link-to (t "users.nav.library") "users.library" class="nav-item nav-link"}}
        {{#link-to "users.reviews" class="nav-item nav-link"}}
          {{t "users.nav.reviews"}}
          <span class="tag tag-default">{{user.reviewsCount}}</span>
        {{/link-to}}
        {{#link-to "users.followers" class="nav-item nav-link"}}
          {{t "users.nav.followers"}}
          <span class="tag tag-default">{{user.followersCount}}</span>
        {{/link-to}}
        {{#link-to "users.following" class="nav-item nav-link"}}
          {{t "users.nav.following"}}
          <span class="tag tag-default">{{user.followingCount}}</span>
        {{/link-to}}
      </div>
    </div>
  </div>
</nav>

{{! users/* templates rendered here }}
{{outlet}}