{{! @TODO: Componentize }}
<div class="media-browse col-sm-12">
  <div class="media-grid container">
    <div class="row">
      <div class="filter-options">
        <div class="filter-wrapper">
          {{! Year Filter }}
          <div class="filter-widget">
            <div class="filter-header">
              <label class="filter-title">
                {{t "media.index.filters.year"}}
              </label>
              <span class="filter-values">
                {{dirtyYear.firstObject}} -
                {{#if (eq dirtyYear.lastObject maxYear)}}
                  ∞
                {{else}}
                  {{dirtyYear.lastObject}}
                {{/if}}
              </span>
            </div>
            <div class="filter-slider--wrapper">
              {{ui/slider-input
                options=(hash range=(array 1907 maxYear) initial=year)
                onSlide=(action (mut dirtyYear))
                onSet=(action (mut year) dirtyYear)}}
            </div>
            <div class="filter-legend">
              <div class="low-value">1907</div>
              <div class="high-value">∞</div>
            </div>
          </div>

          {{! Rating Filter }}
          <div class="filter-widget">
            <div class="filter-header">
              <label class="filter-title">
                {{t "media.index.filters.score"}}
              </label>
              <span class="filter-values">
                {{dirtyRating.firstObject}} - {{dirtyRating.lastObject}}
              </span>
            </div>
            <div class="filter-slider--wrapper">
              {{ui/slider-input
                options=(hash range=(array 0.5 5.0) initial=averageRating step=0.1 decimal=1)
                onSlide=(action (mut dirtyRating))
                onSet=(action (mut averageRating) dirtyRating)}}
            </div>
            <div class="filter-legend">
              <div class="low-value">
                {{! @TODO - @Josh - half star svg }}
                {{svg-jar "star"}}
              </div>
              <div class="high-value">
                {{#each (repeat 5) as |empty|}}
                  {{svg-jar "star"}}
                {{/each}}
              </div>
            </div>
          </div>

          {{! Anime Options }}
          {{#if isAnime}}
            {{! Episode Filter }}
            <div class="filter-widget">
              <div class="filter-header">
                <label class="filter-title">
                  {{t "media.index.filters.episodes"}}
                </label>
                <span class="filter-values">
                  {{dirtyEpisodes.firstObject}}
                  -
                  {{#if (eq dirtyEpisodes.lastObject 100)}}
                    ∞
                  {{else}}
                    {{dirtyEpisodes.lastObject}}
                  {{/if}}
                </span>
              </div>
              <div class="filter-slider--wrapper">
                {{ui/slider-input
                  options=(hash range=(array 1 100) initial=episodeCount)
                  onSlide=(action (mut dirtyEpisodes))
                  onSet=(action (mut episodeCount) dirtyEpisodes)}}
              </div>
              <div class="filter-legend">
                <div class="low-value">1</div>
                <div class="high-value">∞</div>
              </div>
            </div>

            {{! Age Rating Filter }}
            <div class="filter-widget">
              <div class="filter-header">
                <label class="filter-title">
                  {{t "media.index.filters.rating"}}
                </label>
                <span class="filter-values">
                  {{#if (is-empty ageRating)}}
                    {{availableRatings.length}}
                  {{else}}
                    {{ageRating.length}}
                  {{/if}}
                </span>
              </div>
              {{#media/filter-widgets/multi-select
                class="rating-select"
                includeAll=true
                selected=ageRating
                selection=availableRatings
                onChange=(action (mut ageRating)) as |option|
              }}
                {{capitalize option}}
              {{/media/filter-widgets/multi-select}}
            </div>

            {{! Streamer Filter }}
            <div class="filter-widget">
              {{#if availableStreamers}}
                <div class="filter-header">
                  <label class="filter-title">
                    {{t "media.index.filters.streamers"}}
                  </label>
                  <span class="filter-values">
                    {{#if (is-empty streamers)}}
                      {{availableStreamers.length}}
                    {{else}}
                      {{streamers.length}}
                    {{/if}}
                  </span>
                </div>
                {{#media/filter-widgets/multi-select
                  class="box-select"
                  tooltip=true
                  tooltipClasses="hint--top hint--bounce hint--rounded"
                  selected=streamers
                  selection=(map-by "siteName" availableStreamers)
                  onChange=(action (mut streamers)) as |option|
                }}
                  {{svg-jar (to-lower option) class=(to-lower option) width="32" height="32" data-test-selector="filter-streamer"}}
                {{/media/filter-widgets/multi-select}}
              {{else}}
                <div class="filter-header">
                  <label class="filter-title">
                    {{t "media.index.filters.streamers"}}
                  </label>
                </div>
                <div class="text-xs-center m-t-1">
                  {{loading-spinner size="large" class="white"}}
                </div>
              {{/if}}
            </div>

            {{! Season Filter }}
            <div class="filter-widget category-filter">
              <div class="filter-header">
                <label class="filter-title">
                  {{t "media.index.filters.seasons"}}
                </label>
                <span class="filter-values">
                  {{#if (is-empty season)}}
                    {{availableSeasons.length}}
                  {{else}}
                    {{season.length}}
                  {{/if}}
                </span>
              </div>
              {{#media/filter-widgets/multi-select
                class="category-select"
                includeAll=true
                selected=season
                selection=availableSeasons
                onChange=(action (mut season)) as |option|
              }}
                <a href="#" data-test-selector="filter-season">{{capitalize option}}</a>
                <span class="exclude-genre hint--left hint--bounce hint--rounded" aria-label="Exclude?">{{svg-jar "close"}}</span>
                <span class="include-genre hint--left hint--bounce hint--rounded" aria-label="Include?">{{svg-jar "checkmark"}}</span>
              {{/media/filter-widgets/multi-select}}
            </div>
          {{/if}}

          {{! Genre Filter }}
          <div class="filter-widget category-filter">
            {{#if availableGenres}}
              <div class="filter-header">
                <label class="filter-title">
                  {{t "media.index.filters.genres"}}
                </label>
                <span class="filter-values">
                  {{#if (is-empty genres)}}
                    {{availableGenres.length}}
                  {{else}}
                    {{genres.length}}
                  {{/if}}
                </span>
              </div>
              {{#media/filter-widgets/multi-select
                class="category-select"
                includeAll=true
                selected=genres
                selection=(map-by "name" availableGenres)
                onChange=(action (mut genres)) as |option|
              }}
                <a href="#" data-test-selector="filter-genre">{{option}}</a>
                <span class="exclude-genre hint--left hint--bounce hint--rounded" aria-label="Exclude?">{{svg-jar "close"}}</span>
                <span class="include-genre hint--left hint--bounce hint--rounded" aria-label="Include?">{{svg-jar "checkmark"}}</span>
              {{/media/filter-widgets/multi-select}}
            {{else}}
              <div class="filter-header">
                <label class="filter-title">
                  {{t "media.index.filters.genres"}}
                </label>
              </div>
              <div class="text-xs-center m-t-1">
                {{loading-spinner size="large" class="white"}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="media-poster-header">
        {{! Search }}
        <div class="filter-container">
          {{!-- TODO/@vevix active filters
          <div class="active-filter">
            <span class="tag-name">Year</span>
            <a class="tag-remove"></a>
          --}}
          {{search-input
            class="search-media tag-input"
            inputClass="form-control"
            text=text
            update=(action (mut text))
            placeholder=(t "media.index.search")
          }}
        </div>
      </div>

      {{! Media List }}
      <div class="media-posters">
        <div class="row">
          {{#if model.taskInstance.isRunning}}
            <div class="text-xs-center w-100 m-t-1">
              {{loading-spinner size="large"}}
              <p>Loading Media...</p>
            </div>
          {{else if model.taskInstance.error}}
            <div class="text-xs-center w-100 m-t-1">
              {{t "errors.load"}}
            </div>
          {{else if taskValue}}
            {{#infinite-pagination onPagination=(route-action "onPagination")}}
              <div class="media-posters-list">
                {{#each taskValue as |media|}}
                  {{media/media-poster media=media}}
                {{/each}}
              </div>
            {{/infinite-pagination}}
          {{else}}
            <div class="text-xs-center w-100 m-t-1">
              No Results.
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>