<div class="media-cover-wrapper">
  <div class="user-cover no-edit">
    <div class="cover-photo" style={{coverImageStyle}}>
      <div class="container">
        <div class="row">
          <div class="cover-user-info cover-media-info">
            <div class="primary-info">
              {{! poster }}
              <div class="mini-bio--poster">
                {{lazy-image url=(image media.posterImage "large")}}
              </div>
              <div class="mini-bio">
                <h3 class="cover-username" data-test-selector="title">
                  {{media.computedTitle}}
                </h3>
                <div class="cover-cta media-follow">
                  {{media/media-follow media=media}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dark-cover-overlay"></div>
    </div>
  </div>

  <nav class="cover-nav navbar navbar-light">
    <div class="container">
      <div class="row">
        <div class="nav navbar-nav">
          {{link-to (t "media.routes.show.nav.summary") (concat (model-type media) ".show.index") class="nav-item nav-link"}}
          {{#if (eq (model-type media) "anime")}}
            {{link-to (t "media.routes.show.nav.episodes") (concat (model-type media) ".show.episodes") class="nav-item nav-link"}}
          {{/if}}
          {{link-to (t "media.routes.show.nav.characters") (concat (model-type media) ".show.characters") class="nav-item nav-link"}}
          {{link-to (t "media.routes.show.nav.reviews") (concat (model-type media) ".show.reviews") class="nav-item nav-link"}}
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="container sidebar-container">
  {{! sidebar }}
  <div class="media-sidebar">
    <div>
      {{! poster }}
      <span class="media-poster">{{lazy-image url=(image media.posterImage "large")}}</span>

      {{! library entry }}
      {{#if session.hasUser}}
        {{library-dropdown
          entry=entry
          type=(model-type media)
          methods=(hash
            create=(route-action "createEntry")
            update=(route-action "updateEntry" entry "status")
            delete=(route-action "deleteEntry" entry)
        )}}

        {{#if (and entry (not (is-promise entry)))}}
          {{media/user-library entry=entry media=media
            update=(route-action "updateEntry")
            debouncedUpdate=(route-action "saveEntryDebounced" entry)}}
        {{/if}}
      {{/if}}

      {{#if media.streamingLinks}}
        <div class="where-to-watch-widget">
          <h6>Where to Watch</h6>
          {{#if isStreamersLoaded}}
            <ul class="nav">
              {{#each media.streamingLinks as |link|}}
                <li>
                  <a href={{link.url}} class="hint--top hint--bounce hint--rounded" aria-label={{link.streamer.siteName}}>
                    {{svg-jar (to-lower link.streamer.siteName)}}
                  </a>
                </li>
              {{/each}}
            </ul>
          {{else}}
            {{loading-spinner size="small"}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="media-container row">
    {{outlet}}
  </div>
</div>
