<div class="media-cover-wrapper">
  <div class="user-cover no-edit">
    <div class="cover-photo" style={{coverImageStyle}}>
      <div class="container">
        <div class="row">
          <div class="cover-user-info">
            <div class="primary-info">
              <div class="media-sidebar">
                {{! poster  }}
                {{lazy-image src=(image media.posterImage)}}

                {{! trailer }}
                {{#if media.youtubeVideoId}}
                  <div class="trailer">
                    {{! TODO - @Josh - trailer button on media page -- might be good to overlay again like browse page }}
                    <button data-toggle="modal" data-target="#media-trailer" class="button button--primary" {{action (toggle "trailerOpen" this)}}>
                      Watch Trailer
                    </button>
                    {{#if trailerOpen}}
                      {{to-elsewhere named="modal" send=(component "modals/media-trailer"
                        modalId="media-trailer"
                        onClose=(toggle-action "trailerOpen" this)
                        media=media
                        entry=entry
                        methods=(hash
                          create=(route-action "createEntry")
                          update=(route-action "updateEntry" entry "status")
                          delete=(route-action "deleteEntry" entry)
                        )
                      )}}
                    {{/if}}
                  </div>
                {{/if}}

                {{! library entry }}
                {{#if session.hasUser}}
                  {{library-dropdown
                    entry=entry
                    type=(model-type media)
                    methods=(hash
                      create=(route-action "createEntry")
                      update=(route-action "updateEntry" entry "status")
                      delete=(route-action "deleteEntry" entry)
                    )}}

                  {{#if (and entry (not (is-promise entry)))}}
                    {{! progress }}
                    <div class="entry-progress--mini-wrapper">
                      <span>Progress</span>
                      <div class="entry-progress entry-progress--mini">
                        {{one-way-number entry.progress
                          min=0
                          max=media.unitCount
                          update=(queue
                            (action (mut entry.progress))
                            (route-action "saveEntryDebounced" entry)
                          )
                          sanitizeInput=(action "sanitizeNumber")
                          placeholder="0"
                        }}
                        <span>
                          <span class="sep">/</span>
                          {{totalProgressText}}
                        </span>
                      </div>
                    </div>

                    {{! review }}
                    {{! TODO - @Josh - review button on media page }}
                    {{#unless (and entry.review (not entry.review.isNew))}}
                      <div>
                        <button data-toggle="modal" data-target="#review-modal" class="button button--primary" {{action (toggle "reviewOpen" this)}}>
                          Write a review
                        </button>
                      </div>
                    {{/unless}}

                    {{#if reviewOpen}}
                      {{to-elsewhere named="modal" send=(component "modals/media-review"
                        modalId="review-modal"
                        onClose=(toggle-action "reviewOpen" this)
                        media=media
                        entry=entry
                        updateEntry=(route-action "updateEntry")
                      )}}
                    {{/if}}
                  {{/if}}
                {{/if}}

                {{#if media.streamingLinks}}
                  <div class="where-to-watch-widget">
                    <h6>Where to Watch</h6>
                    {{#if isStreamersLoaded}}
                      <ul class="nav">
                        {{#each media.streamingLinks as |link|}}
                          <li>
                            <a href={{link.url}} class="hint--top hint--bounce hint--rounded" aria-label={{link.streamer.siteName}}>
                              {{svg-jar (to-lower link.streamer.siteName)}}
                            </a>
                          </li>
                        {{/each}}
                      </ul>
                    {{else}}
                      {{loading-spinner size="small"}}
                    {{/if}}
                  </div>
                {{/if}}
              </div>
              <div class="mini-bio">
                <h3 class="cover-username" data-test-selector="title">
                  {{media.canonicalTitle}}
                </h3>
                <div class="media--meta">
                  <ul>
                    <li class="rating-content-type">
                      <span>{{media.ageRating}}</span>
                      <span>{{capitalize media.mediaType}}</span>
                    </li>
                    {{#each media.genres as |genre|}}
                      <li class="media--category-tag">
                        <a href={{href-to (concat (model-type media) ".index") (query-params genres=genre.name)}}>
                          {{genre.name}}
                        </a>
                      </li>
                    {{/each}}
                  </ul>
                  <ul class="media--secondary-meta">
                    {{#if media.startDate}}
                      <li class="media--airing-date">
                        <span>
                          {{moment-format media.startDate "MMM D, YYYY"}}
                          {{#if media.endDate}}
                            to {{moment-format media.endDate "MMM D, YYYY"}}
                          {{/if}}
                        </span>
                      </li>
                    {{/if}}
                    {{#if media.unitCount}}
                      <li class="media--content-length">
                        <span>
                          {{t (concat "media.routes.show.meta.unit." (model-type media)) count=media.unitCount}}
                          {{#if media.episodeLength}}
                            {{t "media.routes.show.meta.unit.length" total=totalTime length=media.episodeLength count=media.unitCount}}
                          {{/if}}
                        </span>
                      </li>
                    {{/if}}
                  </ul>
                </div>
              </div>
            </div>
            <div class="cover-cta media-follow">
              {{media/media-follow media=media}}
            </div>
          </div>
        </div>
      </div>
      <div class="dark-cover-overlay"></div>
    </div>
  </div>

  <nav class="cover-nav navbar navbar-light">
    <div class="container">
      <div class="row">
        <div class="nav navbar-nav">
          {{link-to (t "media.routes.show.nav.summary") (concat (model-type media) ".show.index") class="nav-item nav-link"}}
          {{#if (eq (model-type media) "anime")}}
            {{link-to (t "media.routes.show.nav.episodes") (concat (model-type media) ".show.episodes") class="nav-item nav-link"}}
          {{/if}}
          {{link-to (t "media.routes.show.nav.cast") (concat (model-type media) ".show.cast") class="nav-item nav-link"}}
          {{link-to (t "media.routes.show.nav.installments") (concat (model-type media) ".show.installments") class="nav-item nav-link"}}
          {{#link-to (concat (model-type media) ".show.reviews") class="nav-item nav-link"}}
            {{t "media.routes.show.nav.reviews"}}
          {{/link-to}}
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <div class="media-container row">
    {{outlet}}
  </div>
</div>
