{{! Cover Image }}
<div class="media-cover-wrapper">
  <div class="user-cover no-edit">
    <div class="cover-photo" style={{coverImageStyle}}>
      <div class="container">
        <div class="row">
          <div class="cover-user-info cover-media-info">
            <div class="primary-info">
              <div class="mini-bio">
                {{! media reaction ticker}}
                {{media/reaction-ticker media=media}}
                {{! media follow button}}
                <div class="cover-cta media-follow">
                  {{media/media-follow media=media}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dark-cover-overlay"></div>
    </div>
  </div>

  {{! Media navigation }}
  <nav class="cover-nav navbar navbar-light">
    <div class="container">
      <div class="row">
        <div class="nav navbar-nav">
          {{link-to (t "media.show.navigation.summary") (concat media.modelType ".show.index") class="nav-item nav-link"}}
          {{#if (eq media.modelType "anime")}}
            {{link-to (t "media.show.navigation.episodes") (concat media.modelType ".show.episodes") class="nav-item nav-link"}}
          {{/if}}
          {{link-to (t "media.show.navigation.characters") (concat media.modelType ".show.characters") class="nav-item nav-link"}}
          {{link-to (t "media.show.navigation.reactions") (concat media.modelType ".show.reactions") class="nav-item nav-link"}}
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  {{! sidebar }}
  <div class="is-sticky media-sidebar--sticky">
    {{media/media-sidebar media=media entry=entry}}
  </div>

  {{! media/* content }}
  <div class="media-container row">
    {{outlet}}
  </div>
</div>