<div class="modal-wrapper">
  <h4 class="edit-heading">
    {{t "users.edit-modal.favorites.header"}}
  </h4>
  <ul class="nav nav-tabs soft-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link {{if (eq tab "anime") "active"}}" data-toggle="tab" href="#edit-favorite-anime" role="tab" {{action (action (mut tab) "anime")}}>
        {{t "users.edit-modal.favorites.anime"}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{if (eq tab "manga") "active"}}" data-toggle="tab" href="#edit-favorite-manga" role="tab" {{action (action (mut tab) "manga")}}>
        {{t "users.edit-modal.favorites.manga"}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{if (eq tab "characters") "active"}}" data-toggle="tab" href="#edit-favorite-characters" role="tab" {{action (action (mut tab) "characters")}}>
        {{t "users.edit-modal.favorites.characters"}}
      </a>
    </li>
  </ul>

  <div class="tab-content edit-favorite-content">
    {{! Anime }}
    <div id="edit-favorite-anime" class="tab-pane {{if (eq tab "anime") "active"}}" role="tabpanel">
      {{users/edit-profile/body/favorites/list
        type="anime"
        addRecord=(action addRecord)
        removeRecord=(action removeRecord)}}
    </div>

    {{! Manga }}
    <div id="edit-favorite-manga" class="tab-pane {{if (eq tab "manga") "active"}}" role="tabpanel">
      {{users/edit-profile/body/favorites/list
        type="manga"
        addRecord=(action addRecord)
        removeRecord=(action removeRecord)}}
    </div>

    {{! Characters }}
    <div id="edit-favorite-characters" class="tab-pane {{if (eq tab "characters") "active"}}" role="tabpanel">
      {{users/edit-profile/body/favorites/list
        type="character"
        addRecord=(action addRecord)
        removeRecord=(action removeRecord)}}
    </div>
  </div>
</div>
