<div class="modal-wrapper">
  <h4 class="edit-heading">{{t 'users.edit-modal.profile-links.header'}}</h4>
  {{#if getSites.isRunning}}
    {{! @TODO: Custom Loader }}
    <div class="text-xs-center w-100">
      {{loading-spinner size="large"}}
    </div>
  {{else}}
    {{! dynamic badges }}
    <ul class="profile-links nav" role="tablist">
      {{#each availableLinks as |link|}}
        <li class="profile-item nav-item">
          <a href="#" class="nav-link hint--top hint--bounce hint--rounded {{if (eq link.site.name currentLink.site.name) "active"}} {{if (and link.url (not link.isNew)) "filled"}}" aria-label={{link.site.name}} {{action (mut currentLink) link}}>
            {{svg-jar (profile-link-to-svg link.site.name)}}
            <span class="fill-mark">{{svg-jar "success"}}</span>
          </a>
        </li>
      {{/each}}
    </ul>

    {{! selected content }}
    <div class="profile-link-active m-t-2">
      {{users/edit-profile/body/profile-links/link
        link=currentLink
        update=(action "updateProfileLink")
        remove=(action "removeProfileLink")
      }}
    </div>
  {{/if}}
</div>
