{{#bootstrap/bs-modal onClose=onClose as |modal|}}
  {{#modal.body}}
    <div class="report-content">
      <div class="card">
        <h3 class="card-header">Reported Content</h3>
        <div class="card-block">
          <p class="card-text">
            {{#if (eq (model-type report.naughty "review"))}}
              {{#if report.naughty.legacy}}
                 {{text-clipper report.naughty.content length=480 options=(hash html=true)}}
              {{else}}
                 {{text-clipper report.naughty.contentFormatted length=480 options=(hash html=true)}}
              {{/if}}
            {{else}}
              {{text-clipper report.naughty.contentFormatted length=480 options=(hash html=true)}}
            {{/if}}
          </p>
        </div>
      </div>
    </div>

    <div class="report-item">
      <div class="card">
        <h3 class="card-header">Explanation by {{report.user.name}}</h3>
        <div class="card-block">
          <p class="card-text">{{or report.explanation "No Explanation Provided."}}</p>
        </div>
      </div>
    </div>
  {{/modal.body}}

  {{#modal.footer}}
    <div class="pull-sm-right">
      <button class="button button--primary" disabled={{if reportTask.isRunning "disabled"}} onclick={{perform resolveReport}}>
        {{#if reportTask.isRunning}}
          {{loading-spinner size="small"}}
        {{else}}
          Resolve
        {{/if}}
      </button>

      <button class="button button--primary" disabled={{if reportTask.isRunning "disabled"}} onclick={{perform declineReport}}>
        {{#if reportTask.isRunning}}
          {{loading-spinner size="small"}}
        {{else}}
          Decline
        {{/if}}
      </button>
    </div>
  {{/modal.footer}}
{{/bootstrap/bs-modal}}