{{! Kitsu Media Units Top }}
{{ad-unit unit="kitsu.media.units.top"
  targeting=(hash
    section="media"
    media=media.slug)
  sizes=(hash
    mobile=(array (array 300 250) (array 320 100) (array 320 50))
    desktop=(array 728 90))
}}

{{#if model.taskInstance.isRunning}}
  {{! @TODO: Unit loader }}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{loading-spinner size="large"}}
    <p>{{t "loading" subject=(if (eq media.modelType "anime") "episodes" "chapters")}}</p>
  </div>
{{else if model.taskInstance.error}}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{t "errors.load"}}
  </div>
{{else if taskValue}}
  {{#infinite-pagination onPagination=(route-action "onPagination")}}
    {{! @TODO: Componentsize }}
    <ul class="media--unit-grid row">
      {{#each taskValue as |unit|}}
        <li class="col-lg-4 col-sm-6">
          <a href={{href-to (concat media.modelType ".show." (if (eq media.modelType "anime") "episodes" "chapters") ".show") unit}}>
            {{media/units/unit-thumbnail unit=unit}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{/infinite-pagination}}
{{else}}
  <div class="text-xs-center w-100 m-t-1 m-b-1">
    {{t "errors.contentEmpty"}}
  </div>
{{/if}}

{{! Kitsu Media Episodes Bottom }}
{{ad-unit unit="kitsu.media.episodes.bottom"
  targeting=(hash
    section="media"
    media=media.slug)
  sizes=(hash
    mobile=(array (array 300 250) (array 320 100) (array 320 50))
    desktop=(array 728 90))
}}