<div class="unit-summary">
  <div class="unit-thumbnail col-lg-4 col-sm-6">
    <div class="thumbnail-wrapper">
      <span class="completion-status">Watched</span>
      {{lazy-image src=(image model.thumbnail)}}
    </div>

    <span class="unit-number">
      {{t "media.show.units.unit" type=model.modelType}}
      {{model.number}}
    </span>
    <span class="info-emphasis thumb-caption">{{model.canonicalTitle}}</span>
  </div>

  <div class="unit-info">
    {{#if humanizedLength}}
      <div class="unit-length">
        {{humanizedLength}}
      </div>
    {{/if}}

    {{#if (or model.airdate model.published)}}
      <div class="unit-date">
        {{#if (eq model.modelType "episode")}}
          {{t "media.show.units.date" type="episode" }}: {{moment-format model.airdate "MMM D, YYYY"}}
        {{else}}
          {{t "media.show.units.date" type="chapter" }}: {{moment-format model.published "MMM D, YYYY"}}
        {{/if}}
      </div>
    {{/if}}
  </div>

  {{#if model.synopsis}}
    <div class="unit-synopsis">
      {{model.synopsis}}
    </div>
  {{/if}}
</div>

<section>
  <h5>{{t "media.show.units.feed.header" type=model.modelType}}</h5>
  {{stream-feed/list
    streamType=(concat model.modelType "_aggr")
    streamId=model.id
    streamFilter="user"
    readOnly=(not (can "write post"))
    media=media
    unitNumber=model.number
    forceUnit=true
  }}
</section>
